In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',7000)

In [2]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-2-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [3]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [4]:
ksch_bas =kcensus.iloc[:,:51]
ksch_bas.head()

,School Name,Emis code,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,Take a photograph,GPS Coordinate,_GPS Coordinate_latitude,_GPS Coordinate_longitude,_GPS Coordinate_altitude,_GPS Coordinate_precision,Specific Location,Is the school a Boarding school?,The school is located in a Rural or Urban area,Write down the school's primary contact phone number,Write down the school's primary email,Level of school,Level of school/Early Childhood Education,"Level of school/Primary (Lower Basic, Grade 1-6)","Level of school/Junior High (Upper Basic, Grades 7-9)","Level of school/Senior High (secondary, Grades 10-12)",Level of school/Alternative Learning program,Level of school/Technical and Vocational Education Education and Training,WAEC code for High School,WAEC code for Junior High School,Type of school,Has the school obtained a permit for operation from the Ministry of Education?,How is the school accessible?,How is the school accessible?/Car,How is the school accessible?/Motorcycle,How is the school accessible?/Canoe,How is the school accessible?/Walking,What year was the school established?,Which session or sessions does your school operate,Which session or sessions does your school operate/Morning,Which session or sessions does your school operate/Afternoon,Which session or sessions does your school operate/Evening
0,0,0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,1612438402621.jpg,5.4817706 -9.5931384 37.1497802734375 4.744,5.481771,-9.593138,37.14978,4.744,Timbo Community,No,Urban,0,0,Early Childhood Education,1,0,0,0,0,0,NaN,NaN,Private,No,Car Motorcycle Walking,1.0,1.0,0.0,1.0,1/2/2021,Morning,1.0,0.0,0.0
1,886881810,120361,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1615201439302.jpg,6.2717714 -10.7370897 0.0 1799.999,6.271771,-10.737090,0.00000,1799.999,Miaplay Bonnah Town,No,Rural,886881810,NaN,Early Childhood Education Primary (Lower Basic...,1,1,0,0,0,0,NaN,NaN,Public,NaN,Car Canoe Walking,1.0,0.0,1.0,1.0,NaN,Morning,1.0,0.0,0.0
2,\nWarlike Elementary,140085,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1616149456781.jpg,NaN,NaN,NaN,NaN,NaN,Tienpo warliken,No,Rural,881097821,NaN,Early Childhood Education Primary (Lower Basic...,1,1,0,0,0,0,NaN,NaN,Public,NaN,Walking,0.0,0.0,0.0,1.0,1/2/1968,Morning,1.0,0.0,0.0
3,FAITH AREPARATORY DAY.CARE AND ELEMENTARY S...,183582,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,1617805644745.jpg,NaN,NaN,NaN,NaN,NaN,BERNARD PARM BEHIND AA GAS STATION MON TSE...,No,Urban,886546677,Faithpreparatory2016@gmail,Early Childhood Education Primary (Lower Basic...,1,1,0,0,0,0,NaN,NaN,Private,Yes,Car Motorcycle Walking,1.0,1.0,0.0,1.0,1/2/2016,Morning,1.0,0.0,0.0
4,GLORIOUS KIDS FOUNDATION DAY CARE and ELEMENT...,NaN,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,1615305864296.jpg,NaN,NaN,NaN,NaN,NaN,SINKOR OLD ROAD NIPPY TOWN COMMUNITY,No,Urban,777509342,NaN,Early Childhood Education Primary (Lower Basic...,1,1,0,0,0,0,NaN,NaN,Private,Yes,Car Motorcycle Walking,1.0,1.0,0.0,1.0,1/2/2015,Morning,1.0,0.0,0.0

In [5]:
ksch_bas_dist = ksch_bas.iloc[:,3:19]
ksch_bas_dist.head()

,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo
1,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN

In [6]:
kece_student =kcensus.iloc[:,51:141]

kece_age = kece_student.iloc[:,46:87]



pd.concat([k_1, kece_age, ksch_bas_dist], axis = 1).head()

NameError: name 'k_1' is not defined

In [ ]:
k_1 = ksch_bas.iloc[:,[2]]

In [ ]:
kece_age.melt().groupby('variable').sum()

In [ ]:
nu1 = kece_age.melt().groupby('variable').sum().iloc[[0,2,5,8,11,14,17,20,23,26, 39]].sum()
nu1

In [ ]:
nu2 =kece_age.melt().groupby('variable').sum().iloc[26:36:2].sum()
nu2

In [7]:
kece_age.melt().groupby('variable').sum().iloc[36:]

                                                     value
variable
How many MALE students Above AGE 8 YEARS OLD ar...  3158.0
How many MALE students above AGE 8 YEARS OLD ar...  3863.0
How many MALE students below AGE 3 YEARS OLD ar...   726.0
How many MALE students below AGE 3 YEARS OLD ar...  5312.0
How many MALE students below AGE 3 YEARS OLD ar...  1361.0

In [8]:
nu1 + nu2

NameError: name 'nu1' is not defined