In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',7000)

In [2]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-2-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [3]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [4]:
kece_student =kcensus.iloc[:,51:141]
kece_student.head()

,What is the total number of students in ECE?,What is the total number of nursery students that are Males?,What is the total number of nursery students that are females?,What is the total number of pre-kindergarten students that are males?,What is the total number of pre-kindergarten students that are females?,What is the total number of kindergarten students that are Males?,What is the total number of kindergarten students that are Females?,What is the total number of ECE teachers?,What is the total number of nursery teachers that are Males?,What is the total number of nursery teachers that are Females?,What is the total number of pre-kindergarten teachers that are Males?,What is the total number of pre-kindergarten teachers that are Females?,What is the total number of kindergarten teachers that are males?,What is the total number of kindergarten teachers that are females?,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?,How many teachers are teaching only one grade at the ECE level that are MALES?,How many teachers are teaching only one grade at the ECE level that are FEMALES?,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?,What is total intake in Nursery?,What is total intake in Pre-Kindergarten?,What is total intake in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,112.0,32.0,20.0,11.0,20.0,11.0,17.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0,52.0,32.0,28.0
2,31.0,5.0,3.0,4.0,4.0,6.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0,8.0,8.0,15.0
3,149.0,54.0,30.0,15.0,20.0,12.0,8.0,7.0,0.0,7.0,0.0,7.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0,25.0,84.0,30.0
4,62.0,27.0,35.0,8.0,12.0,5.0,20.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0,NaN,NaN,NaN

In [5]:
kece_age = kece_student.iloc[:,46:87]
kece_age.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [6]:
kece_student_dic = pd.Series(kece_student.columns)
kece_student_dic.to_csv('kece_student_dic.csv', index = False)

# Table 1: ECE Enrollment by Ownership and Gender

In [7]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]
kece_s.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [8]:
kece_og = pd.concat([kece_o, kece_s],axis=1).groupby('Type of school').sum()
kece_og.sum(1)

Type of school
Community        9927.0
Faith-based     43330.0
Private         76586.0
Public         120300.0
dtype: float64

In [9]:
kece_ogm =kece_og.iloc[:,[0,2,4]].append([kece_og.iloc[:,6:13],kece_og.iloc[:,20:27],kece_og.iloc[:,[34,35]]]).groupby('Type of school').sum().sum(1)
kece_ogm

Type of school
Community       4139.0
Faith-based    18356.0
Private        32796.0
Public         54309.0
dtype: float64

In [10]:
kece_ogf = kece_og.sum(1)-kece_ogm
kece_ogf

Type of school
Community       5788.0
Faith-based    24974.0
Private        43790.0
Public         65991.0
dtype: float64

# Table 2: ECE Enrollment by Grade and Gender

In [11]:
kece_gg = kece_og.sum()
kece_gg

How many MALE students below AGE 3 YEARS OLD are in Nursery?                 5312.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?               6100.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?        1361.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?      1319.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?             726.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?           841.0
How many MALE students AGE 3 YEARS OLD are in Nursery?                      12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?                      12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?                      11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?                       8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?                       5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?                       3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?                 3158.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?                   12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?                   12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?                   10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?                    7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?                    5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?                    3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?              2855.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?              3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?              6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?              8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?              7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?              5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?              4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?        3863.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?           3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?           6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?           8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?           7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?           5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?           3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?     3669.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?                  1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?                  4110.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?               7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?               8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?               8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?               6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?         7206.0
dtype: float64

In [12]:
kece_ggn = kece_gg[:2].append(kece_gg[6:20])
kece_ggn.sum()

122436.0

In [13]:
kece_ggnm = kece_ggn[[0]].append(kece_ggn[2:8])
kece_ggnm.sum()

58710.0

In [14]:
kece_ggp =kece_gg[2:4].append(kece_gg[20:34])
kece_ggp.sum()

81774.0

In [15]:
kece_ggmp = kece_ggp[[0]].append(kece_ggp[2:8])
kece_ggmp.sum()

37491.0

In [16]:
kece_ggk = kece_gg[4:6].append(kece_gg[34:])
kece_ggk.sum()

45933.0

In [17]:
kece_ggmk = kece_ggk[[0]].append(kece_ggk[[2,3]])
kece_ggmk.sum()

6378.0

In [18]:
kcensus.iloc[:,51:58].sum()

What is the total number of students in ECE?                               289266.0
What is the total number of nursery students that are Males?                86178.0
What is the total number of nursery students that are females?              78265.0
What is the total number of pre-kindergarten students that are males?       43938.0
What is the total number of pre-kindergarten students that are females?     42689.0
What is the total number of kindergarten students that are Males?           44743.0
What is the total number of kindergarten students that are Females?         44802.0
dtype: float64

# Table 3: Number of ECE Students by County and Grade

In [19]:
kece_cos = pd.concat([kece_c, kece_o, kece_s], axis = 1).groupby(['County']).sum()
kece_cos.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
County,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,62.0,69.0,10.0,0.0,0.0,0.0,327.0,444.0,367.0,180.0,107.0,42.0,62.0,345.0,363.0,292.0,192.0,79.0,43.0,37.0,44.0,153.0,203.0,173.0,86.0,73.0,56.0,38.0,119.0,167.0,160.0,75.0,60.0,52.0,15.0,116.0,144.0,137.0,146.0,137.0,124.0
Bong,264.0,299.0,84.0,53.0,34.0,43.0,629.0,968.0,1147.0,958.0,755.0,578.0,529.0,588.0,1001.0,1030.0,891.0,606.0,459.0,421.0,167.0,354.0,458.0,595.0,534.0,420.0,474.0,153.0,337.0,428.0,532.0,495.0,395.0,488.0,125.0,249.0,381.0,428.0,459.0,444.0,657.0
Gbarpolu,45.0,45.0,27.0,11.0,10.0,14.0,312.0,450.0,449.0,368.0,303.0,173.0,113.0,293.0,415.0,420.0,411.0,291.0,150.0,139.0,54.0,126.0,196.0,309.0,233.0,141.0,132.0,53.0,107.0,133.0,261.0,208.0,148.0,146.0,32.0,58.0,101.0,135.0,225.0,210.0,237.0
Grand Bassa,48.0,46.0,43.0,58.0,23.0,6.0,331.0,437.0,484.0,389.0,299.0,191.0,152.0,328.0,446.0,407.0,358.0,240.0,204.0,158.0,71.0,199.0,432.0,460.0,441.0,293.0,367.0,64.0,191.0,422.0,406.0,446.0,410.0,272.0,61.0,270.0,274.0,470.0,463.0,430.0,529.0
Grand Cape Mount,230.0,245.0,121.0,68.0,32.0,23.0,718.0,715.0,679.0,501.0,287.0,127.0,103.0,670.0,679.0,620.0,495.0,326.0,195.0,89.0,177.0,288.0,347.0,358.0,270.0,162.0,148.0,209.0,266.0,342.0,371.0,295.0,196.0,144.0,70.0,173.0,260.0,361.0,356.0,265.0,247.0

In [20]:
kece_cosn = pd.concat([kece_cos.iloc[:,0:2],kece_cos.iloc[:,6:20]], axis=1)
kece_cosn.sum(1)

County
Bomi                 3011.0
Bong                11123.0
Gbarpolu             4377.0
Grand Bassa          4518.0
Grand Cape Mount     6679.0
Grand Gedeh          4326.0
Grand Kru            3129.0
Lofa                 3313.0
Margibi              6201.0
Maryland              844.0
Montserrado 1       23133.0
Montserrado 2       19636.0
Nimba               21872.0
River Gee            2946.0
Rivercess            1913.0
Sinoe                5415.0
dtype: float64

In [21]:
kece_cosp = pd.concat([kece_cos.iloc[:,2:4],kece_cos.iloc[:,20:34]], axis=1)
kece_cosp.sum(1)

County
Bomi                 1469.0
Bong                 5967.0
Gbarpolu             2285.0
Grand Bassa          4575.0
Grand Cape Mount     3762.0
Grand Gedeh          3533.0
Grand Kru            2513.0
Lofa                 4219.0
Margibi              3857.0
Maryland              422.0
Montserrado 1       14417.0
Montserrado 2       12161.0
Nimba               15572.0
River Gee            2128.0
Rivercess            1268.0
Sinoe                3626.0
dtype: float64

In [22]:
kece_cosk = pd.concat([kece_cos.iloc[:,4:6],kece_cos.iloc[:,34:]], axis = 1)
kece_cosk.sum(1)

County
Bomi                 819.0
Bong                2820.0
Gbarpolu            1022.0
Grand Bassa         2526.0
Grand Cape Mount    1787.0
Grand Gedeh         2288.0
Grand Kru           1308.0
Lofa                2403.0
Margibi             2191.0
Maryland             432.0
Montserrado 1       8647.0
Montserrado 2       7967.0
Nimba               8233.0
River Gee           1171.0
Rivercess            600.0
Sinoe               1719.0
dtype: float64

In [23]:
#pd.concat([kece_c, kece_o, kece_s], axis = 1).groupby(['County', 'Type of school']).sum().sum(1)

# Table 4: ECE Students by County and Gender

In [24]:
kece_cg = pd.concat([kece_c, kece_s], axis = 1).groupby(['County']).sum()
kece_cg.sum(1)

County
Bomi                 5299.0
Bong                19910.0
Gbarpolu             7684.0
Grand Bassa         11619.0
Grand Cape Mount    12228.0
Grand Gedeh         10147.0
Grand Kru            6950.0
Lofa                 9935.0
Margibi             12249.0
Maryland             1698.0
Montserrado 1       46197.0
Montserrado 2       39764.0
Nimba               45677.0
River Gee            6245.0
Rivercess            3781.0
Sinoe               10760.0
dtype: float64

In [25]:
pd.concat([kece_cg.iloc[:,[0,2,4]],
kece_cg.iloc[:,6:13],
kece_cg.iloc[:,20:27],kece_cg.iloc[:,-7:-5]]).groupby('County').sum().sum(1)#.sum()

County
Bomi                 2520.0
Bong                 9322.0
Gbarpolu             3531.0
Grand Bassa          4991.0
Grand Cape Mount     5506.0
Grand Gedeh          4470.0
Grand Kru            3170.0
Lofa                 4360.0
Margibi              5267.0
Maryland              779.0
Montserrado 1       19935.0
Montserrado 2       16602.0
Nimba               19914.0
River Gee            2726.0
Rivercess            1698.0
Sinoe                4809.0
dtype: float64

# Table 5: ECE Enrollment by County and Ownership

In [26]:
pd.concat([kece_c, kece_o, kece_s], axis = 1).groupby(['County', 'Type of school']).sum().sum(1)

County            Type of school
Bomi              Community            90.0
                  Faith-based         801.0
                  Private             835.0
                  Public             3573.0
Bong              Community           964.0
                  Faith-based        2476.0
                  Private            3440.0
                  Public            13030.0
Gbarpolu          Community            39.0
                  Faith-based         281.0
                  Private             203.0
                  Public             7161.0
Grand Bassa       Community           824.0
                  Faith-based         725.0
                  Private            2913.0
                  Public             7157.0
Grand Cape Mount  Community           605.0
                  Faith-based        1297.0
                  Private            1728.0
                  Public             8598.0
Grand Gedeh       Community           505.0
                  Faith-based         960.0
                  Private            3072.0
                  Public             5610.0
Grand Kru         Faith-based         606.0
                  Private             123.0
                  Public             6221.0
Lofa              Community           295.0
                  Faith-based         262.0
                  Private             849.0
                  Public             8529.0
Margibi           Community          1209.0
                  Faith-based        2179.0
                  Private            4308.0
                  Public             4553.0
Maryland          Private             312.0
                  Public             1386.0
Montserrado 1     Community          2261.0
                  Faith-based       14203.0
                  Private           27692.0
                  Public             2041.0
Montserrado 2     Community           530.0
                  Faith-based       11729.0
                  Private           22619.0
                  Public             4886.0
Nimba             Community          2463.0
                  Faith-based        4841.0
                  Private            7129.0
                  Public            31244.0
River Gee         Faith-based        1097.0
                  Private             118.0
                  Public             5030.0
Rivercess         Community            35.0
                  Faith-based         262.0
                  Private             145.0
                  Public             3339.0
Sinoe             Community           107.0
                  Faith-based        1611.0
                  Private            1100.0
                  Public             7942.0
dtype: float64

# Table 6: ECE Enrollment by District and Gender

In [27]:
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]

In [28]:
kece_cds = pd.concat([kece_c, kece_d, kece_s], axis = 1)
kece_cds.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],
      dtype='object')

In [29]:
kece_melt =kece_cds.melt(id_vars=['County','How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],var_name = 'district',value_name='count')
kece_melt.head()

,County,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0,District in Bong County,NaN
2,River Gee,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0,District in Bong County,NaN
3,Montserrado 1,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0,District in Bong County,NaN
4,Montserrado 1,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0,District in Bong County,NaN

## Districts in Bomi County

In [30]:
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Senji')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Dewoin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Klay')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Suehn-Mecca')].sum()

k_a = k_s[1:-2]
k_a.sum()

1609.0

In [31]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

745.0

## Districts in Bong County

In [32]:
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Zota')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Salala')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Fuamah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Suakoko')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Sanoyea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Panta-Kpaai')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Kokoyah')].sum()

k_a = k_s[1:-2]
k_a.sum()

3162.0

In [33]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

1482.0

## Districts in Gbarpolu

In [34]:
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gorwalali')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bopolu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Belle')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bokomu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Kongba')].sum()

k_a = k_s[1:-2]
k_a.sum()

1068.0

In [35]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

465.0

## Districts in Grand Bassa

In [36]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 4')].sum()
k_a = k_s[1:-2]
k_a.sum()

2148.0

In [37]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

842.0

## Districts in Grand Cape Mount

In [38]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tewor')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Gola Konneh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Porkpa')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Garwular')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tallah Tombay')].sum()

k_a = k_s[1:-2]
k_a.sum()

1056.0

In [39]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

463.0

## Districts in Grand Gedeh

In [40]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Konobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Putu')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Gbarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Tchien')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Cavalla')].sum()
k_a = k_s[1:-2]
k_a.sum()

2578.0

In [41]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

1089.0

## Districts in Grand Kru

In [42]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Barclayville')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Trehn')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Buah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Grand Cess')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Dorbor')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Jloh')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Sass Town')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Wedabo')].sum()

k_a = k_s[1:-2]
k_a.sum()

806.0

In [43]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

360.0

## Districts in Lofa

In [44]:
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Foya')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Salayea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Vahun')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Voinjama')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Zorzor')].sum()

k_a = k_s[1:-2]
k_a.sum()

1271.0

In [45]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

538.0

## Districts in Margibi

In [46]:
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Marshall')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Farmington')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Mama kaba')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Gibi')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

1473.0

In [47]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

537.0

## Districts in Maryland

In [48]:
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Sodoken')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Pleebo')].sum()

k_a = k_s[1:-2]
k_a.sum()

0.0

In [49]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

0.0

## Districts in Montserrado 1

In [50]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 3')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 4')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 6')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2D')].sum()

k_a = k_s[1:-2]
k_a.sum()

3420.0

In [51]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

1422.0

## Districts in Montserrado 2

In [52]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank  1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Careysburg')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Todee')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 3')].sum()

k_a = k_s[1:-2]
k_a.sum()

2975.0

In [53]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

1354.0

## Districts in Nimba

In [54]:
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Saclepea 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Zoe-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tuwah River')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Gbelay-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarpea Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Buuyao')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain-Garr 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain- Garr 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

2918.0

In [55]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

1275.0

## Districts in River Gee

In [56]:
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Sarbo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Tienpo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Chedepo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Putupo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Gbeapo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Webbo')].sum()

k_a = k_s[1:-2]
k_a.sum()

2090.0

In [57]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

891.0

## Districts in River Cess

In [58]:
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Timobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Morwah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Yarnee')].sum()

k_a = k_s[1:-2]
k_a.sum()

774.0

In [59]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

340.0

## Districts in Sinoe

In [60]:
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Upper Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Juarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Lower Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Butaw')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Tarjuwon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Jeadea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Sanquin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Greenville')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Central Kpanyan')].sum()

k_a = k_s[1:-2]
k_a.sum()

831.0

In [61]:
k_m =  k_a[:7:2].append([k_a[7:13],k_a[20:27],k_a[34:36]])
k_m.sum()

402.0

# Table 7: Enrollment by District and Grade

In [62]:
#kece_cds.columns

In [63]:
#pd.set_option('display.max_rows',2000)

#kece_cds['District in Nimba'].dropna() #[kece_cds['District in Montserrado 2']=='Left Bank 1B']

## Districts in Bomi County

In [64]:
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Senji')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Dewoin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Klay')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Suehn-Mecca')].sum()
k_a = k_s[1:-2]
k_a.sum()

1609.0

In [65]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

1010.0

In [66]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

415.0

In [67]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

184.0

## Districts in Bong County

In [68]:
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Zota')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Salala')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Fuamah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Suakoko')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Sanoyea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Panta-Kpaai')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Kokoyah')].sum()
k_a = k_s[1:-2]
k_a.sum()

3162.0

In [69]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

1671.0

In [70]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

1032.0

In [71]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

459.0

## Districts in Gbarpolu

In [72]:
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gorwalali')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bopolu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Belle')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bokomu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Kongba')].sum()

k_a = k_s[1:-2]
k_a.sum()

1068.0

In [73]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

595.0

In [74]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

325.0

In [75]:
ka_k = k_a[4:6].append(k_a[34:])
#ka_k
ka_k.sum()

148.0

## Districts in Grand Bassa

In [76]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 4')].sum()
k_a = k_s[1:-2]
k_a.sum()

2148.0

In [77]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

594.0

In [78]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

930.0

In [79]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

624.0

## Districts in Grand Cape Mount

In [80]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tewor')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Gola Konneh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Porkpa')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Garwular')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tallah Tombay')].sum()
k_a = k_s[1:-2]
k_a.sum()

1056.0

In [81]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

597.0

In [82]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

291.0

In [83]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

168.0

## Districts in Grand Gedeh

In [84]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Konobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Putu')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Gbarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Tchien')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Cavalla')].sum()

k_a = k_s[1:-2]
k_a.sum()

2578.0

In [85]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

995.0

In [86]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

941.0

In [87]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

642.0

## Districts in Grand Kru

In [88]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Barclayville')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Trehn')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Buah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Grand Cess')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Dorbor')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Jloh')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Sass Town')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Wedabo')].sum()

k_a = k_s[1:-2]
k_a.sum()

806.0

In [89]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

356.0

In [90]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

303.0

In [91]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

147.0

## Districts in Lofa

In [92]:
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Foya')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Salayea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Vahun')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Voinjama')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Zorzor')].sum()
k_a = k_s[1:-2]
k_a.sum()

1271.0

In [93]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

131.0

In [94]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

820.0

In [95]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

320.0

## Districts in Margibi

In [96]:
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Marshall')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Farmington')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Mama kaba')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Gibi')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 2')].sum()
k_a = k_s[1:-2]
k_a.sum()

1473.0

In [97]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

661.0

In [98]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

476.0

In [99]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

336.0

## Districts in Maryland

In [100]:
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Sodoken')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Pleebo')].sum()
k_a = k_s[1:-2]
k_a.sum()

0.0

In [101]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

0.0

In [102]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

0.0

In [103]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

0.0

## Districts in Montserrado 1

In [104]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 3')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 4')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 6')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2D')].sum()
k_a = k_s[1:-2]
k_a.sum()

3420.0

In [105]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

1529.0

In [106]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

1222.0

In [107]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

669.0

## Districts in Montserrado 2

In [108]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank  1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Careysburg')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Todee')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 3')].sum()
k_a = k_s[1:-2]
k_a.sum()

2975.0

In [109]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

1468.0

In [110]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

954.0

In [111]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

553.0

## Districts in Nimba

In [112]:
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 2')].sum()
#k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Saclepea 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Zoe-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tuwah River')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Gbelay-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarpea Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Buuyao')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain-Garr 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain- Garr 2')].sum()
k_a = k_s[1:-2]
k_a.sum()

2918.0

In [113]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

1583.0

In [114]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

805.0

In [115]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

530.0

## Districts in River Gee

In [116]:
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Sarbo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Tienpo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Chedepo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Putupo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Gbeapo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Webbo')].sum()
k_a = k_s[1:-2]
k_a.sum()

2090.0

In [117]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

994.0

In [118]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

708.0

In [119]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

388.0

## Districts in River Cess

In [120]:
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Timobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Morwah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Yarnee')].sum()
k_a = k_s[1:-2]
k_a.sum()

774.0

In [121]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

326.0

In [122]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

282.0

In [123]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

166.0

## Districts in Sinoe

In [124]:
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Upper Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Juarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Lower Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Butaw')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Tarjuwon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Jeadea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Sanquin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Greenville')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Central Kpanyan')].sum()
k_a = k_s[1:-2]
k_a.sum()

831.0

In [125]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur
ka_nur.sum()

459.0

In [126]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk
ka_pk.sum()

277.0

In [127]:
ka_k = k_a[4:6].append(k_a[34:])
ka_k
ka_k.sum()

95.0

# Table 8: Enrollment by District and Ownership

In [128]:
#kece_c.head()

In [129]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]

In [130]:
kece_cdso = pd.concat([kece_c, kece_o, kece_d, kece_s], axis = 1)
kece_cdso.columns

Index(['County', 'Type of school', 'District in Bong County',
       'District in Gbarpolu', 'District in River Gee', 'District in Sinoe',
       'District in Lofa', 'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],
      dtype='object')

In [131]:
kece_melto =kece_cdso.melt(id_vars=['County', 'Type of school','How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],var_name = 'district',value_name='count')
#kece_melto.head()

In [132]:
#k_so = kece_melto[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].head(2).groupby('Type of school').sum()#.sum(1)
#k_so
#k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
#k_so

## Districts in Bomi County

In [133]:
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Senji')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Dewoin')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Klay')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Suehn-Mecca')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1609.0
Type of school
Private      85.0
Public     1524.0
dtype: float64

## Districts in Bong County

In [134]:
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Gbarnga 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Gbarnga 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Zota')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Salala')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Fuamah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Suakoko')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Sanoyea')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Panta-Kpaai')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Kokoyah')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3162.0
Type of school
Community       190.0
Faith-based      76.0
Private         320.0
Public         2576.0
dtype: float64

## Districts in Gbarpolu

In [135]:
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Gorwalali')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Bopolu')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Gbarma')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Belle')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Bokomu')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Kongba')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1068.0
Type of school
Public    1068.0
dtype: float64

## Districts in Grand Bassa

In [136]:
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 5')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 5B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 3A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 3B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 4')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

2148.0
Type of school
Community      690.0
Faith-based    209.0
Private        286.0
Public         963.0
dtype: float64

## Districts in Grand Cape Mount

In [137]:
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Tewor')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Gola Konneh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Porkpa')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Garwular')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Tallah Tombay')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1056.0
Type of school
Community       29.0
Faith-based    292.0
Private        140.0
Public         595.0
dtype: float64

## Districts in Grand Gedeh

In [138]:
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Konobo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Putu')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Gbarzon')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Tchien')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Cavalla')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

2578.0
Type of school
Community       121.0
Faith-based     261.0
Private         906.0
Public         1290.0
dtype: float64

## Districts in Grand Kru

In [139]:
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Barclayville')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Trehn')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Buah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Grand Cess')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Dorbor')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Jloh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Sass Town')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Wedabo')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

806.0
Type of school
Faith-based     87.0
Public         719.0
dtype: float64

## Districts in Lofa

In [140]:
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Foya')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Kolahun 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Kolahun 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Salayea')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Vahun')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Voinjama')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Zorzor')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1271.0
Type of school
Faith-based      21.0
Private         104.0
Public         1146.0
dtype: float64

## Districts in Margibi

In [141]:
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Marshall')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Farmington')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Mama kaba')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Gibi')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Kakata 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Kakata 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1473.0
Type of school
Community      361.0
Faith-based    194.0
Private        425.0
Public         493.0
dtype: float64

## Districts in Maryland

In [142]:
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Harper 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Harper 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Barrobo 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Barrobo 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Sodoken')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Karleway 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Karleway 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Pleebo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

0.0
Series([], dtype: float64)

## Districts in Montserrado 1

In [143]:
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 3')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 4')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 5')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 6')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1C')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1D')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1E')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2C')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2D')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3420.0
Type of school
Community      1075.0
Faith-based     624.0
Private        1536.0
Public          185.0
dtype: float64

## Districts in Montserrado 2

In [144]:
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left Bank 1A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left bank 1B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left bank  1C')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left Bank 1D')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left Bank 2A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left bank 2B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Careysburg')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Todee')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Right Bank 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Right Bank 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Right Bank 3')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

2975.0
Type of school
Faith-based     322.0
Private        1733.0
Public          920.0
dtype: float64

## Districts in Nimba

In [145]:
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Tappita 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Tappita 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Saclepea 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Sanniquellie Mah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Zoe-Geh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Tuwah River')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Gbelay-Geh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Yarpea Mah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Yarwein Mensonoh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Buuyao')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Bain-Garr 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Bain- Garr 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

2918.0
Type of school
Community       209.0
Faith-based     140.0
Private        1050.0
Public         1519.0
dtype: float64

## Districts in River Gee

In [146]:
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Sarbo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Tienpo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Chedepo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Putupo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Gbeapo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Webbo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

2090.0
Type of school
Public    2090.0
dtype: float64

## Districts in River Cess

In [147]:
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Timobo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Central Rivercess 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Central Rivercess 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Morwah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Yarnee')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

774.0
Type of school
Faith-based     13.0
Public         761.0
dtype: float64

## Districts in Sinoe

In [151]:
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Upper Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Juarzon')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Lower Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Butaw')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Tarjuwon')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Jeadea')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Sanquin')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Central Kpanyan')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

831.0
Type of school
Public    831.0
dtype: float64

In [ ]:
k

# ECE Disability by Ownership

In [210]:
kece_disa=kcensus.iloc[:,73:97]
eceo=kece_disao.iloc[:,0]
eceo.head()
kece_disa.head()
kece_disao=pd.concat([kece_o,kece_disa], axis =1)

,Type of school,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?
0,Private,NaN,NaN,NaN,NaN,NaN,NaN
1,Public,0.0,0.0,0.0,0.0,0.0,0.0
2,Public,NaN,NaN,NaN,NaN,NaN,NaN
3,Private,NaN,NaN,NaN,NaN,NaN,NaN
4,Private,0.0,0.0,0.0,0.0,0.0,0.0

In [215]:
ecev=kece_disao.iloc[:,:7]
ecev.groupby('Type of school').sum().sum(1)

Type of school
Community       24.0
Faith-based     25.0
Private        107.0
Public         171.0
dtype: float64

In [217]:
eceh=kece_disao.iloc[:,7:13]
eceh1=pd.concat([eceo,eceh], axis=1)
eceh1.groupby('Type of school').sum().sum(1)

Type of school
Community       26.0
Faith-based     97.0
Private         98.0
Public         270.0
dtype: float64

In [219]:
ecep=kece_disao.iloc[:,13:19]
ecep1=pd.concat([eceo,ecep], axis=1)
ecep1.groupby('Type of school').sum().sum(1)

Type of school
Community       15.0
Faith-based     63.0
Private        109.0
Public         204.0
dtype: float64

In [221]:
ecel=kece_disao.iloc[:,19:]
ecel1=pd.concat([eceo,ecel], axis =1)
ecel1.groupby('Type of school').sum().sum(1)

Type of school
Community       47.0
Faith-based    141.0
Private        131.0
Public         196.0
dtype: float64

# Table 10: ECE Disability by Gender

In [2114]:
dd.sum().sum()

1724.0

In [2113]:
dd_v = dd.iloc[:,:6]
dd_v.sum().sum()

327.0

In [825]:
dd_vm = dd_v.iloc[:,[0,3,5]]
dd_vm.sum().sum()

164.0

In [2115]:
dd_h = dd.iloc[:,6:12]
dd_h.sum().sum()

491.0

In [2116]:
dd_hm = dd_h.iloc[:,[0,3,4]]
dd_hm.sum().sum()

247.0

In [2117]:
dd_p = dd.iloc[:,12:18]
dd_p.sum().sum()

391.0

In [2118]:
dd_pm = dd_p.iloc[:,[0,3,4]]
dd_pm.sum().sum()

224.0

In [2119]:
dd_l = dd.iloc[:,18:]
dd_l.sum().sum()

515.0

In [2120]:
dd_lm = dd_l.iloc[:,[0,2,4]]
dd_lm.sum().sum()

269.0

# Table 11: ECE Disability by Grade

In [839]:
dd_s = dd.sum()
dd_s

How many MALE students in nursery are Visually impaired ?                                              79.0
How many female students in Nursery are Visually impaired ?                                            54.0
How many FEMALE students in Pre-Kindergarten are Visually impaired ?                                   46.0
How many MALE students in pre-Kindergarten are Visually impaired ?                                     46.0
How many FEMALE students in kindergarten are Visually impaired ?                                       63.0
How many MALE students in kindergarten are Visually impaired ?                                         39.0
How many MALE students in  nursery have hearing impairment?                                           109.0
How many FEMALE students in nursery have hearing impairment?                                           89.0
How many FEMALE students in pre- kindergarten are hearing impairment?                                  95.0
How many MALE students in pre-kindergarten have hearing impairment?                                    84.0
How many MALE students in kindergarten have hearing impairment?                                        54.0
How many FEMALE students in  Kindergarten have hearing impairment?                                     60.0
How many MALE students in Nursery have other physical disabilities?                                   109.0
How many FEMALE students in Nursery have other physical disabilities ?                                 57.0
How many FEMALE students in  Pre-Kindergarten have other physical disabilities?                        42.0
How many MALE students in  Pre-Kindergarten have other physical disabilities?                          64.0
How many MALE students in  Kindergarten have other physical disabilities?                              51.0
How many FEMALE students in  Kindergarten have other physical disabilities?                            68.0
How many MALE students in Nursery have other mental disability or learning difficulty?                124.0
How many FEMALE students in Nursery have other mental disability or learning difficulty?               93.0
How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?       68.0
How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?     90.0
How many MALE students in  Kindergarten have other mental disability or learning difficulty?           77.0
How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?         63.0
dtype: float64

In [844]:
dd_s[:2]#.sum()

133.0

In [845]:
dd_s[2:4]#.sum()

92.0

In [846]:
dd_s[4:6]#.sum()

102.0

In [850]:
dd_s[6:8]#.sum()

198.0

In [851]:
dd_s[8:10]#.sum()

179.0

In [852]:
dd_s[10:12]#.sum()

114.0

In [856]:
dd_s[12:14]#.sum()

166.0

In [857]:
dd_s[14:16]#.sum()

106.0

In [858]:
dd_s[16:18]#.sum()

119.0

In [862]:
dd_s[18:20]#.sum()

217.0

In [863]:
dd_s[20:22]#.sum()

158.0

In [864]:
dd_s[22:]#.sum()

140.0

# Table 12: ECE by Enrollment by Disability and County

In [117]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]
kece_disa = kece_student.iloc[:,22:46]
kece_disa.head()

,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
kece_cdd = pd.concat([kece_c, kece_d, kece_disa], axis = 1)
kece_cdd.columns
kece_cdd.head()

,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
dd = kece_cdd.groupby('County').sum()
dd

,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?
County,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,2.0,2.0,2.0,0.0,0.0,1.0,22.0,9.0,4.0,5.0,7.0,3.0,3.0,0.0,0.0,1.0,2.0,0.0,5.0,6.0,3.0,4.0,4.0,5.0
Bong,13.0,3.0,1.0,0.0,0.0,8.0,7.0,3.0,6.0,8.0,13.0,6.0,7.0,5.0,0.0,7.0,0.0,0.0,5.0,1.0,2.0,1.0,1.0,1.0
Gbarpolu,3.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,1.0
Grand Bassa,2.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0
Grand Cape Mount,4.0,2.0,1.0,1.0,2.0,3.0,12.0,4.0,3.0,3.0,4.0,3.0,2.0,5.0,1.0,3.0,3.0,2.0,5.0,4.0,2.0,18.0,11.0,2.0
Grand Gedeh,2.0,2.0,1.0,1.0,2.0,3.0,3.0,2.0,8.0,1.0,2.0,2.0,3.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
Grand Kru,5.0,3.0,1.0,1.0,8.0,8.0,5.0,2.0,1.0,2.0,1.0,1.0,14.0,1.0,4.0,0.0,5.0,5.0,12.0,12.0,13.0,10.0,6.0,2.0
Lofa,8.0,13.0,24.0,23.0,2.0,1.0,6.0,8.0,16.0,1.0,2.0,4.0,3.0,1.0,1.0,8.0,11.0,1.0,6.0,5.0,3.0,2.0,10.0,4.0
Margibi,1.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,9.0,1.0,0.0,0.0,2.0,0.0,3.0,3.0,0.0,0.0,7.0,3.0,3.0,9.0,3.0,1.0
Maryland,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,1.0,2.0
Montserrado 1,10.0,3.0,2.0,9.0,36.0,9.0,10.0,16.0,10.0,9.0,14.0,28.0,14.0,10.0,14.0,4.0,6.0,30.0,45.0,34.0,12.0,13.0,5.0,11.0
Montserrado 2,3.0,7.0,2.0,2.0,6.0,1.0,14.0,7.0,20.0,23.0,3.0,2.0,20.0,2.0,4.0,18.0,14.0,5.0,22.0,19.0,12.0,21.0,11.0,18.0
Nimba,23.0,14.0,11.0,5.0,3.0,3.0,20.0,11.0,13.0,7.0,6.0,8.0,30.0,11.0,13.0,16.0,5.0,24.0,10.0,1.0,16.0,11.0,22.0,14.0
River Gee,1.0,1.0,1.0,2.0,0.0,0.0,2.0,22.0,3.0,23.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Rivercess,2.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
Sinoe,0.0,1.0,0.0,2.0,0.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,5.0,1.0,0.0,2.0,0.0,1.0,3.0,0.0,0.0,1.0,0.0

In [120]:
#k_od = kece_cdd[(kece_cdd['district']== 'District in Sinoe') & (kece_cdd['count']== 'Greenville')].groupby('Type of school').sum()#.sum(1)

In [121]:
dd.iloc[:,:6].sum(1).sum() 
dd.iloc[:,6:12].sum(1).sum()
dd.iloc[:,12:18].sum(1).sum()  
dd.iloc[:,18:].sum(1).sum()

515.0

In [759]:
kece_meltdd.iloc[:,18:]#.sum(1).sum()

,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,County,Rivercess
1,0.0,0.0,0.0,0.0,0.0,0.0,County,Nimba
2,NaN,NaN,NaN,NaN,NaN,NaN,County,River Gee
3,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1
4,0.0,0.0,0.0,0.0,0.0,0.0,County,Montserrado 1
...,...,...,...,...,...,...,...,...
70817,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN
70818,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN
70819,NaN,NaN,NaN,NaN,NaN,NaN,Districts in River Cess,NaN
70820,NaN,NaN,NaN,NaN,NaN,NaN,Districts in River Cess,NaN
70821,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN

# Table 12: ECE Disability Enrollment by County

In [865]:
dd.head()

,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?
County,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,2.0,2.0,2.0,0.0,0.0,1.0,22.0,9.0,4.0,5.0,7.0,3.0,3.0,0.0,0.0,1.0,2.0,0.0,5.0,6.0,3.0,4.0,4.0,5.0
Bong,13.0,3.0,1.0,0.0,0.0,8.0,7.0,3.0,6.0,8.0,13.0,6.0,7.0,5.0,0.0,7.0,0.0,0.0,5.0,1.0,2.0,1.0,1.0,1.0
Gbarpolu,3.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,1.0
Grand Bassa,2.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0
Grand Cape Mount,4.0,2.0,1.0,1.0,2.0,3.0,12.0,4.0,3.0,3.0,4.0,3.0,2.0,5.0,1.0,3.0,3.0,2.0,5.0,4.0,2.0,18.0,11.0,2.0

In [869]:
dd.iloc[:,:6].sum(1)

County
Bomi                 7.0
Bong                25.0
Gbarpolu             3.0
Grand Bassa          4.0
Grand Cape Mount    13.0
Grand Gedeh         11.0
Grand Kru           26.0
Lofa                71.0
Margibi              5.0
Maryland             1.0
Montserrado 1       69.0
Montserrado 2       21.0
Nimba               59.0
River Gee            5.0
Rivercess            3.0
Sinoe                4.0
dtype: float64

In [871]:
dd.iloc[:,6:12].sum(1)

County
Bomi                50.0
Bong                43.0
Gbarpolu             2.0
Grand Bassa          2.0
Grand Cape Mount    29.0
Grand Gedeh         18.0
Grand Kru           12.0
Lofa                37.0
Margibi             12.0
Maryland             2.0
Montserrado 1       87.0
Montserrado 2       69.0
Nimba               65.0
River Gee           50.0
Rivercess            4.0
Sinoe                9.0
dtype: float64

In [1010]:
dd.iloc[:,12:18].sum(1)

County
Bomi                 6.0
Bong                19.0
Gbarpolu             5.0
Grand Bassa          6.0
Grand Cape Mount    16.0
Grand Gedeh         16.0
Grand Kru           29.0
Lofa                25.0
Margibi              8.0
Maryland             3.0
Montserrado 1       78.0
Montserrado 2       63.0
Nimba               99.0
River Gee            3.0
Rivercess            5.0
Sinoe               10.0
dtype: float64

In [1012]:
dd.iloc[:,18:].sum(1)

County
Bomi                 27.0
Bong                 11.0
Gbarpolu              5.0
Grand Bassa           5.0
Grand Cape Mount     42.0
Grand Gedeh           2.0
Grand Kru            55.0
Lofa                 30.0
Margibi              26.0
Maryland              7.0
Montserrado 1       120.0
Montserrado 2       103.0
Nimba                74.0
River Gee             0.0
Rivercess             3.0
Sinoe                 5.0
dtype: float64

In [1013]:
district_dic =pd.Series(kece_cdso.columns[2:18])
district_dic.to_csv('district_dic.csv', index = False)

In [1014]:
d_2 = dd.iloc[:,:6].sum()
d_2

How many MALE students in nursery are Visually impaired ?               79.0
How many female students in Nursery are Visually impaired ?             54.0
How many FEMALE students in Pre-Kindergarten are Visually impaired ?    46.0
How many MALE students in pre-Kindergarten are Visually impaired ?      46.0
How many FEMALE students in kindergarten are Visually impaired ?        63.0
How many MALE students in kindergarten are Visually impaired ?          39.0
dtype: float64

In [1005]:
#d_2[[0,3,5]].sum()

In [1004]:
#d_2.sum()

In [1003]:
#dd.iloc[:,6:12].sum()[[0,3,4]].sum()

In [1002]:
#dd.iloc[:,6:12].sum().sum()

In [1001]:
#dd.iloc[:,12:18].sum()[[0,3,4]].sum()

In [1000]:
#dd.iloc[:,12:18].sum().sum()

In [999]:
#dd.iloc[:,18:].sum()[[0,2,4]].sum()

In [998]:
#dd.iloc[:,18:].sum().sum()

In [997]:
#dd

In [996]:
#dd.iloc[:].sum()[[22,23]].sum()

In [995]:
#kece_cdso.head()

In [994]:
#ece_vi_c=kece_cdso.iloc[:,[0,2,3,4,5,6,7]]
#ece_vi_c

In [993]:
#ece_vi_c.groupby('County').sum().sum(1)

In [992]:
#ece_hp_c=kece_cdso.iloc[:,[0,8,9,10,11,12,13]]
#ece_hp_c.groupby('County').sum().sum(1)

In [991]:
#ece_p_c=kece_cdso.iloc[:,[0,14,15,16,17,18,19]]
#ece_p_c.groupby('County').sum().sum(1)

In [990]:
#ece_m_c=kece_cdso.iloc[:,[0,20,21,22,23,24,25]]
#ece_m_c.groupby('County').sum().sum(1)

# Table 13: ECE Enrollment by Disability and Districts

In [122]:
kece_cdd.shape

(4166, 41)

In [123]:
kece_meltdd =kece_cdd.melt(id_vars=['How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kece_meltdd.head()

,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Rivercess
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,County,Nimba
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,River Gee
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,County,Montserrado 1

## Districts in Bomi County

In [124]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Senji')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Dewoin')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Klay')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Suehn-Mecca')]
k_dd.sum(1).sum()

53.0

In [2054]:
k_dd.iloc[:,:6]#.sum().sum()

,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?
17078,0.0,0.0,0.0,0.0,0.0,0.0
17234,0.0,0.0,0.0,0.0,0.0,0.0
17540,0.0,0.0,0.0,0.0,0.0,0.0
18746,0.0,0.0,0.0,0.0,0.0,0.0
18871,0.0,0.0,0.0,0.0,0.0,0.0
19036,0.0,0.0,0.0,0.0,0.0,0.0
19434,0.0,0.0,0.0,0.0,0.0,0.0
19457,0.0,0.0,0.0,0.0,0.0,0.0
19535,0.0,0.0,0.0,0.0,0.0,0.0
19654,0.0,0.0,0.0,0.0,0.0,0.0
19920,0.0,0.0,0.0,0.0,0.0,0.0
19963,0.0,0.0,0.0,0.0,0.0,0.0
20234,0.0,0.0,0.0,0.0,0.0,0.0
20405,0.0,0.0,0.0,0.0,0.0,0.0
20547,0.0,0.0,0.0,0.0,0.0,0.0
20553,0.0,0.0,0.0,0.0,0.0,0.0
20676,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
k_dd.iloc[:,6:12].sum().sum()

22.0

In [127]:
k_dd.iloc[:,12:18].sum().sum()

3.0

In [128]:
k_dd.iloc[:,18:24].sum().sum()

21.0

## Districts in Bong County

In [140]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Gbarnga 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Gbarnga 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Zota')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Salala')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Fuamah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Suakoko')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Sanoyea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Panta-Kpaai')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Kokoyah')]
k_dd.sum(1).sum()

14.0

In [141]:
k_dd.iloc[:,:6].sum().sum()

2.0

In [142]:
k_dd.iloc[:,6:12].sum().sum()

4.0

In [143]:
k_dd.iloc[:,12:18].sum().sum()

8.0

In [145]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Gbarpolu

In [185]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Gorwalali')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Bopolu')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Gbarma')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Belle')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Bokomu')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Kongba')]
k_dd.sum(1).sum()

2.0

In [186]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [187]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [188]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [189]:
k_dd.iloc[:,18:24].sum().sum()

1.0

## Districts in Grand Bassa

In [230]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 5')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 5B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 3A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 3B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 4')]
#k_so
k_dd.sum(1).sum()

0.0

In [231]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [232]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [233]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [234]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Grand Cape Mount

In [258]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Tewor')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Gola Konneh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Porkpa')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Garwular')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Tallah Tombay')]
#k_so
k_dd.sum(1).sum()

14.0

In [259]:
k_dd.iloc[:,:6].sum().sum()

4.0

In [260]:
k_dd.iloc[:,6:12].sum().sum()

4.0

In [261]:
k_dd.iloc[:,12:18].sum().sum()

4.0

In [262]:
k_dd.iloc[:,18:24].sum().sum()

2.0

## Districts in Grand Gedeh

In [308]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Konobo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Putu')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Gbarzon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Tchien')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Cavalla')]
#k_so
k_dd.sum(1).sum()

9.0

In [309]:
k_dd.iloc[:,:6].sum().sum()

4.0

In [310]:
k_dd.iloc[:,6:12].sum().sum()

2.0

In [311]:
k_dd.iloc[:,12:18].sum().sum()

2.0

In [312]:
k_dd.iloc[:,18:24].sum().sum()

1.0

## Districts in Grand Kru

In [348]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Barclayville')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Trehn')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Buah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Grand Cess')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Dorbor')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Jloh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Sass Town')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Wedabo')]
#k_so
k_dd.sum(1).sum()

8.0

In [349]:
k_dd.iloc[:,:6].sum().sum()

3.0

In [350]:
k_dd.iloc[:,6:12].sum().sum()

1.0

In [351]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [352]:
k_dd.iloc[:,18:24].sum().sum()

3.0

## Districts in Lofa

In [383]:
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Foya')].groupby('Type of school').sum().sum(1)
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Kolahun 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Kolahun 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Salayea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Vahun')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Voinjama')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Zorzor')]
#k_so
k_dd.sum(1).sum()

17.0

In [384]:
k_dd.iloc[:,:6].sum().sum()

15.0

In [385]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [386]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [387]:
k_dd.iloc[:,18:24].sum().sum()

1.0

## Districts in Margibi

In [434]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Marshall')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Farmington')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Mama kaba')]
#k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Gibi')]
#k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Kakata 1')]
#k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Kakata 2')]
#k_so
k_dd.sum(1).sum()

1.0

In [435]:
k_dd.iloc[:,:6].sum().sum()

1.0

In [436]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [437]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [438]:
k_dd.iloc[:,18:24].sum().sum()

0.0

#####

## Districts in Maryland

In [474]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Harper 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Harper 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Barrobo 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Barrobo 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Sodoken')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Karleway 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Karleway 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Pleebo')]

k_so
k_dd.sum(1).sum()

0.0

In [475]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [476]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [477]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [478]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Montserrado 1

In [550]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 3')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 4')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 5')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 6')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1D')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1E')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2D')]

k_so
k_dd.sum(1).sum()

21.0

In [551]:
k_dd.iloc[:,:6].sum().sum()

2.0

In [552]:
k_dd.iloc[:,6:12].sum().sum()

9.0

In [553]:
k_dd.iloc[:,12:18].sum().sum()

8.0

In [549]:
k_dd.iloc[:,18:24].sum().sum()

1.0

## Districts in Montserrado 2

In [613]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 1A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank 1B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank  1C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 1D')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 2A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank 2B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Careysburg')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Todee')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 3')]

k_so
k_dd.sum(1).sum()

31.0

In [614]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [615]:
k_dd.iloc[:,6:12].sum().sum()

2.0

In [616]:
k_dd.iloc[:,12:18].sum().sum()

24.0

In [617]:
k_dd.iloc[:,18:24].sum().sum()

5.0

## Districts in Nimba

In [673]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tappita 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tappita 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Saclepea 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Sanniquellie Mah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Zoe-Geh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tuwah River')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Gbelay-Geh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Yarpea Mah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Yarwein Mensonoh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Buuyao')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Bain-Garr 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Bain- Garr 2')]
k_so

k_dd.sum(1).sum()

10.0

In [674]:
k_dd.iloc[:,:6].sum().sum()

1.0

In [675]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [676]:
k_dd.iloc[:,12:18].sum().sum()

8.0

In [677]:
k_dd.iloc[:,18:24].sum().sum()

1.0

## Districts in River Gee

In [701]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Sarbo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Tienpo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Chedepo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Putupo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Gbeapo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Webbo')]

k_dd.sum(1).sum()

6.0

In [702]:
k_dd.iloc[:,:6].sum().sum()

1.0

In [707]:
k_dd.iloc[:,6:12].sum().sum()

4.0

In [704]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [705]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in River Cess

In [729]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Timobo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Central Rivercess 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Central Rivercess 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Morwah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Yarnee')]
k_so
k_dd.sum(1).sum()

7.0

In [730]:
k_dd.iloc[:,:6].sum().sum()

2.0

In [731]:
k_dd.iloc[:,6:12].sum().sum()

3.0

In [732]:
k_dd.iloc[:,12:18].sum().sum()

2.0

In [733]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Sinoe

In [775]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Upper Kpanyan')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Juarzon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Lower Kpanyan')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Butaw')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Tarjuwon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Jeadea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Sanquin')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Greenville')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Central Kpanyan')]
#k_so
k_dd.sum(1).sum()

1.0

In [776]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [777]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [778]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [779]:
k_dd.iloc[:,18:24].sum().sum()

0.0

In [975]:
#k_od = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Central Kpanyan')].sum()#.sum(1)#.groupby('Type of school').sum()#.sum(1)
#kdis=k_od[1:-2]
#kdis

In [391]:
#visual
#kdis[:6].sum()

0.0

In [392]:
#hearing
#kdis[6:12].sum()

0.0

In [393]:
#physical
#kdis[12:18].sum()

1.0

In [394]:
#mental
#kdis[18:24].sum()

0.0

In [976]:
#kece_c = kcensus.iloc[:,[2]]
#kece_o = kcensus.iloc[:,[39]]
#kece_s = kece_student.iloc[:,46:87]
#kece_c = kcensus.iloc[:,[2]]
#kece_d = kcensus.iloc[:,3:19]
#kece_s = kece_student.iloc[:,46:87]
#kece_disa = kece_student.iloc[:,22:46]

In [977]:
#kece_cdd = pd.concat([kece_c, kece_d, kece_disa], axis = 1)
#kece_cdd.columns

In [978]:
#kece_cdd.head()

In [981]:
kece_meltdd =kece_cdd.melt(id_vars=['County','How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
#kdd_1 = kece_meltdd
#kdd_1['district'].unique()
#kdd_1['count'].unique()

In [982]:
#d15 = kdd_1[(kdd_1['district']=='District in Montserrado 1') &(kdd_1['count']== 'Paynesville 1')].sum()
#dk15 = d15[1:-2]
#dk15

In [1170]:
#dk15[:6].sum()

2.0

In [983]:
#dk15[6:12].sum()

In [985]:
#dk15[12:18].sum()

In [1173]:
#dk15[18:].sum()

0.0

In [986]:
#kece_cdso.head()

In [987]:
#h = kece_cdso.iloc[:,:26].groupby('County').sum()
#h.iloc[:,18:].sum(1)

In [988]:
kece_meltdd =kece_cdd.melt(id_vars=['County', 'How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
#kece_meltdd.head()

In [989]:
#count_di = pd.Series(kece_meltdd['count'].unique())
#count_dic = count_di[1:]
#count_dic.to_csv('count_dic.csv', index = False)

# Table 14 ECE Enrollment by Age and Grade

In [226]:
kece_s = kece_student.iloc[:,46:87].sum()

kece_s

How many MALE students below AGE 3 YEARS OLD are in Nursery?                 5312.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?               6100.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?        1361.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?      1319.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?             726.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?           841.0
How many MALE students AGE 3 YEARS OLD are in Nursery?                      12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?                      12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?                      11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?                       8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?                       5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?                       3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?                 3158.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?                   12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?                   12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?                   10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?                    7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?                    5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?                    3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?              2855.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?              3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?              6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?              8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?              7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?              5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?              4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?        3863.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?           3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?           6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?           8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?           7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?           5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?           3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?     3669.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?                  1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?                  4110.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?               7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?               8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?               8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?               6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?         7206.0
dtype: float64

In [227]:
#nur 
knur = kece_s[:2].append(kece_s[6:20])
knur

#knur.sum()

How many MALE students below AGE 3 YEARS OLD are in Nursery?        5312.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?      6100.0
How many MALE students AGE 3 YEARS OLD are in Nursery?             12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?             12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?             11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?              8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?              5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?              3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?        3158.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?           7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?           5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?           3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?     2855.0
dtype: float64

In [243]:
print(knur[:2].sum())
print(knur[[2,9]].sum())
print(knur[[3,10]].sum())
print(knur[[4,11]].sum())
print(knur[[5,12]].sum())
print(knur[[6,13]].sum())
print(knur[[7,14]].sum())
print(knur[[8,15]].sum())

11412.0
24680.0
25439.0
21842.0
16062.0
10398.0
6590.0
6013.0

In [229]:
#prk 
prk = kece_s[2:4].append(kece_s[20:34])
prk
#prk.sum()#[:2].sum()
#prk[[2,9]].sum()
#prk[[8,15]].sum()

How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?       1361.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?     1319.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?             3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?             6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?             8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?             7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?             5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?             4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?       3863.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?          3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?          6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?          7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?          5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?          3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?    3669.0
dtype: float64

In [244]:
print(prk[:2].sum())
print(prk[[2,9]].sum())
print(prk[[3,10]].sum())
print(prk[[4,11]].sum())
print(prk[[5,12]].sum())
print(prk[[6,13]].sum())
print(prk[[7,14]].sum())
print(prk[[8,15]].sum())

2680.0
6286.0
13897.0
16668.0
15122.0
11462.0
8127.0
7532.0

In [263]:
kk = kece_s[4:6].append(kece_s[34:])
kk
#kk[:2].sum()

How many MALE students below AGE 3 YEARS OLD are in Kindergarten?        726.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?      841.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?             1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?             4110.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?          7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?          8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?          8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?          6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?    7206.0
dtype: float64

In [285]:
print((kk[:2]).sum())
print(kk[[2]].sum())
print(kk[[3]].sum())
print(kk[[4]].sum())
print(kk[[5]].sum())
print(kk[[6]].sum())
print(kk[[7]].sum())
print(kk[[8]].sum())

1567.0
1542.0
4110.0
7889.0
8751.0
8069.0
6799.0
7206.0

# Table 15 ECE Enrollment by Age, Grade and Gender

In [286]:
#knur_male
#knur = kece_s[:2].append(kece_s[6:20])
knur_m=knur[[0]].append(knur[2:9])
knur_m
#knur_m[:]

How many MALE students below AGE 3 YEARS OLD are in Nursery?     5312.0
How many MALE students AGE 3 YEARS OLD are in Nursery?          12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?          12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?          11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?           8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?           5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?           3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?     3158.0
dtype: float64

In [287]:
#knur_female
#knur = kece_s[:2].append(kece_s[6:20])
knur_f=knur[[1]].append(knur[9:])
knur_f
#knur_f[:]

How many FEMALE students below AGE 3 YEARS OLD are in Nursery?      6100.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?           7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?           5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?           3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?     2855.0
dtype: float64

In [288]:
#kpk_male
#prk = kece_s[2:4].append(kece_s[20:34])
prk_m=prk[[0]].append(prk[2:9])
prk_m

How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?    1361.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?          3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?          6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?          8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?          7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?          5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?          4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?    3863.0
dtype: float64

In [289]:
#kpk_female
#prk = kece_s[2:4].append(kece_s[20:34])
prk_f=prk[[1]].append(prk[9:])
prk_f

How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?     1319.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?          3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?          6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?          7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?          5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?          3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?    3669.0
dtype: float64

In [290]:
#kk_male
#kk = kece_s[4:6].append(kece_s[34:])
kk_m = kk[[0,2,3]]
kk_m

How many MALE students below AGE 3 YEARS OLD are in Kindergarten?     726.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?          1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?          4110.0
dtype: float64

In [291]:
#kk_female
kk = kece_s[4:6].append(kece_s[34:])
kk_f = kk[[1,4,5,6,7,8]]#.sum()
kk_f

How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?      841.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?          7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?          8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?          8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?          6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?    7206.0
dtype: float64

In [239]:
# ece enrollment disagregated by age and county
#kece_s.head()

In [240]:
#kece_st = kece_student.iloc[:,46:87]

In [241]:
#ece_asc=pd.concat([kcensus.iloc[:,[2]],kece_st],axis=1).groupby("County").sum()
#ece_asc.head()

# Table 16: ECE Repeater by School Types

In [293]:
kece_r = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,65:71]], axis=1).groupby('Type of school').sum()
kece_r

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
Type of school,,,,,,
Community,146.0,220.0,156.0,155.0,156.0,196.0
Faith-based,915.0,937.0,433.0,393.0,389.0,457.0
Private,1473.0,1429.0,819.0,874.0,847.0,825.0
Public,4649.0,4231.0,2816.0,2946.0,2607.0,2514.0

In [294]:
kece_r.iloc[:,:2]

,How many male students in nursery are repeaters,How many female students in nursery are repeaters
Type of school,,
Community,146.0,220.0
Faith-based,915.0,937.0
Private,1473.0,1429.0
Public,4649.0,4231.0

In [295]:
kece_r.iloc[:,2:4]

,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?
Type of school,,
Community,156.0,155.0
Faith-based,433.0,393.0
Private,819.0,874.0
Public,2816.0,2946.0

In [296]:
kece_r.iloc[:,4:]

,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
Type of school,,
Community,156.0,196.0
Faith-based,389.0,457.0
Private,847.0,825.0
Public,2607.0,2514.0

# Table 17: ECE Repeaters by County, Gender and Grade

In [297]:
kece_rc = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,65:71]], axis=1).groupby('County').sum()
kece_rc

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
County,,,,,,
Bomi,263.0,248.0,83.0,102.0,64.0,58.0
Bong,755.0,675.0,346.0,358.0,288.0,264.0
Gbarpolu,405.0,363.0,175.0,183.0,121.0,127.0
Grand Bassa,334.0,355.0,415.0,464.0,381.0,373.0
Grand Cape Mount,744.0,701.0,271.0,283.0,290.0,273.0
Grand Gedeh,244.0,186.0,141.0,169.0,198.0,177.0
Grand Kru,239.0,226.0,162.0,145.0,141.0,141.0
Lofa,288.0,268.0,344.0,363.0,290.0,320.0
Margibi,266.0,258.0,174.0,94.0,130.0,110.0
Maryland,73.0,66.0,47.0,42.0,103.0,98.0
Montserrado 1,514.0,522.0,230.0,242.0,230.0,269.0
Montserrado 2,706.0,738.0,317.0,331.0,392.0,422.0
Nimba,1657.0,1543.0,1149.0,1232.0,1066.0,1044.0
River Gee,176.0,166.0,117.0,112.0,98.0,101.0
Rivercess,134.0,129.0,62.0,65.0,43.0,51.0
Sinoe,385.0,373.0,191.0,183.0,164.0,164.0

In [967]:
kece_rc.iloc[:,:2]

,How many male students in nursery are repeaters,How many female students in nursery are repeaters
County,,
Bomi,263.0,248.0
Bong,755.0,675.0
Gbarpolu,405.0,363.0
Grand Bassa,334.0,355.0
Grand Cape Mount,744.0,701.0
Grand Gedeh,244.0,186.0
Grand Kru,239.0,226.0
Lofa,288.0,268.0
Margibi,266.0,258.0
Maryland,73.0,66.0
Montserrado 1,514.0,522.0
Montserrado 2,706.0,738.0
Nimba,1657.0,1543.0
River Gee,176.0,166.0
Rivercess,134.0,129.0
Sinoe,385.0,373.0

In [970]:
kece_rc.iloc[:,2:4]

,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?
County,,
Bomi,83.0,102.0
Bong,346.0,358.0
Gbarpolu,175.0,183.0
Grand Bassa,415.0,464.0
Grand Cape Mount,271.0,283.0
Grand Gedeh,141.0,169.0
Grand Kru,162.0,145.0
Lofa,344.0,363.0
Margibi,174.0,94.0
Maryland,47.0,42.0
Montserrado 1,230.0,242.0
Montserrado 2,317.0,331.0
Nimba,1149.0,1232.0
River Gee,117.0,112.0
Rivercess,62.0,65.0
Sinoe,191.0,183.0

In [971]:
kece_rc.iloc[:,4:]

,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
County,,
Bomi,64.0,58.0
Bong,288.0,264.0
Gbarpolu,121.0,127.0
Grand Bassa,381.0,373.0
Grand Cape Mount,290.0,273.0
Grand Gedeh,198.0,177.0
Grand Kru,141.0,141.0
Lofa,290.0,320.0
Margibi,130.0,110.0
Maryland,103.0,98.0
Montserrado 1,230.0,269.0
Montserrado 2,392.0,422.0
Nimba,1066.0,1044.0
River Gee,98.0,101.0
Rivercess,43.0,51.0
Sinoe,164.0,164.0