In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',7000)

In [2]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-2-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [3]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [4]:
kpri_student =kcensus.iloc[:,141:397]
kpri_student.head()

,Which session or sessions does the school operate for Primary?,Which session or sessions does the school operate for Primary?/Morning,Which session or sessions does the school operate for Primary?/Afternoon,Which session or sessions does the school operate for Primary?/Evening,What is the total number of Primary school students?,What is the total number of Primary students that are Females?,What is the total number of primary students that are Males?,What is the total number of Primary teachers that are Males?,What is the total number of Primary teachers that are Females?,How many teachers are teaching only one grade at Primary level that are MALES?,How many teachers are teaching only one grade at the Primary level that are FEMALES?,How many additional teachers does the school need at the Primary level?,How many MALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 2 are Repeaters?,How many MALE students in Grade 2 are Repeaters?,How many MALE students in Grade 3 are Repeaters?,How many FEMALE students in Grade 3 are Repeaters?,How many MALE students in Grade 4 are Repeaters?,How many FEMALE students in Grade 4 are Repeaters?,How many MALE students in Grade 5 are Repeaters?,How many FEMALE students in Grade 5 are Repeaters?,How many MALE students in Grade 6 are Repeaters?,How many FEMALE students in Grade 6 are Repeaters?,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?,How many students enrolled in Grade 1 are MALES?,How many students enrolled in Grade 2 are MALES?,How many students enrolled in Grade 3 are MALES?,How many students enrolled in Grade 4 are MALES?,How many students enrolled in Grade 5 are MALES?,How many students enrolled in Grade 6 are MALES?,How many students enrolled in Grade 1 are FEMALES?,How many students enrolled in Grade 2 are FEMALES?,How many students enrolled in Grade 3 are FEMALES?,How many students enrolled in Grade 4 are FEMALES?,How many students enrolled in Grade 5 are FEMALES?,How many students enrolled in Grade 6 are FEMALES?,How many Sections do Grade 1 has?,How many Sections do Grade 2 has?,How many Sections do Grade 3 has?,How many Sections do Grade 4 has?,How many Sections do Grade 5 has?,How many Sections do Grade 6 has?,How many students repeating Grade 1 are MALES?,How many students repeating Grade 2 are MALES?,How many students repeating Grade 3 are MALES?,How many students repeating Grade 4 are MALES?,How many students repeating Grade 6 are MALES?,How many students repeating Grade 5 are MALES?,How many students repeating Grade 1 are FEMALES?,How many students repeating Grade 2 are FEMALES?,How many students repeating Grade 3 are FEMALES?,How many students repeating Grade 4 are FEMALES?,How many students repeating Grade 5 are FEMALES?,How many students repeating Grade 6 are FEMALES?,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?,How many students who graduated from Grade 6 last Academic year are MALES,How many students who graduated from Grade 6 last Academic year are FEMALES?,What is total intake in Grade 1?,What is total intake in Grade 2?,What is total intake in Grade 3?,What is total intake in Grade 4?,What is total intake in Grade 5?,What is total intake in Grade 6?,How many male student graduated from Grade 6 last academic year?,How many female student graduated from Grade 6 last academic year?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Morning,1.0,0.0,0.0,93.0,48.0,44.0,4.0,3.0,0.0,0.0,4.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,9.0,8.0,5.0,7.0,2.0,10.0,16.0,20.0,13.0,13.0,8.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,2.0,23.0,16.0,20.0,13.0,13.0,8.0,6.0,2.0
2,Morning,1.0,0.0,0.0,32.0,11.0,21.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,9.0,4.0,0.0,0.0,0.0,5.0,3.0,3.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,13.0,12.0,7.0,0.0,0.0,0.0,NaN,NaN
3,Morning,1.0,0.0,0.0,139.0,60.0,79.0,1.0,3.0,NaN,1.0,NaN,2.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.0,21.0,25.0,15.0,17.0,16.0,20.0,24.0,25.0,18.0,25.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,10.0,32.0,35.0,45.0,54.0,33.0,42.0,9.0,10.0

In [5]:
kpri_dic = pd.Series(kpri_student.columns)
kpri_dic.to_csv('kpri_dic.csv', index = False)

In [663]:
kpri_age = kpri_student.iloc[:,102:246]
kpri_age.head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Table 1: Primary Enrollment by Ownership and Gender

In [7]:
kpri_c = kcensus.iloc[:,[2]]
kpri_o = kcensus.iloc[:,[39]]
kpri_s = kpri_student.iloc[:,102:246]
kpri_s.head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
kpri_og = pd.concat([kpri_o, kpri_s],axis=1).groupby('Type of school').sum()
kpri_og.sum(1)

Type of school
Community       14528.0
Faith-based     71740.0
Private        126444.0
Public         176477.0
dtype: float64

In [9]:
kpri_ogm = pd.concat([kpri_og.iloc[:,:6],
kpri_og.iloc[:,12:18],
kpri_og.iloc[:,24:30],
kpri_og.iloc[:,36:42],
kpri_og.iloc[:,48:54],
kpri_og.iloc[:,60:66],
kpri_og.iloc[:,72:78],
kpri_og.iloc[:,84:90],
kpri_og.iloc[:,96:102],
kpri_og.iloc[:,108:114],
kpri_og.iloc[:,120:126],
kpri_og.iloc[:,132:138]],axis = 1)
kpri_ogm.sum(1)

Type of school
Community       7419.0
Faith-based    34428.0
Private        61606.0
Public         96240.0
dtype: float64

In [10]:
kpri_ogf = kpri_og.sum(1)-kpri_ogm.sum(1)
kpri_ogf

Type of school
Community       7109.0
Faith-based    37312.0
Private        64838.0
Public         80237.0
dtype: float64

In [ ]:
kpri_age = kpri_student.iloc[:,102:246]
kpri_age.head()
kpri_gg = kpri_og.sum()
kpri_gg.sum()

# Table 2: Primary Enrollment by Grade and Gender

In [11]:
kpri_gg = kpri_og.sum()
kpri_gg.sum()

389189.0

In [12]:
kpri_gg1 = kpri_gg[::6]
print(kpri_gg1.sum())
print(kpri_gg1[::2].sum())
print(kpri_gg1[1::2].sum())

79028.0
41823.0
37205.0

In [13]:
kpri_gg2 = kpri_gg[1::6]
kpri_gg2.sum()
kpri_gg2[::2].sum()
kpri_gg2[1::2].sum()

34667.0

In [14]:
kpri_gg3 = kpri_gg[2::6]
kpri_gg3.sum()
kpri_gg3[::2].sum()
kpri_gg3[1::2].sum()

33364.0

In [15]:
kpri_gg4 = kpri_gg[3::6]
kpri_gg4.sum()
kpri_gg4[::2].sum()
kpri_gg4[1::2].sum()

30806.0

In [16]:
kpri_gg5 = kpri_gg[4::6]
kpri_gg5.sum()
kpri_gg5[::2].sum()
kpri_gg5[1::2].sum()

28150.0

In [17]:
kpri_gg6 = kpri_gg[5::6]
kpri_gg6.sum()
kpri_gg6[::2].sum()
kpri_gg6[1::2].sum()

25304.0

# Table 3: Number of Primary Students by County and Grade

In [805]:
kpri_cos = pd.concat([kpri_c, kpri_o, kpri_s], axis = 1).groupby(['County']).sum()
kpri_cos.sum(1).sum()

389189.0

In [806]:
kpri_cos.iloc[:,::6].sum(1).sum()

79028.0

In [813]:
kpri_cos.iloc[:,1::6].sum(1).sum()

71060.0

In [808]:
kpri_cos.iloc[:,2::6].sum(1).sum()

67709.0

In [809]:
kpri_cos.iloc[:,3::6].sum(1).sum()

62587.0

In [810]:
kpri_cos.iloc[:,4::6].sum(1).sum()

57210.0

In [811]:
kpri_cos.iloc[:,5::6].sum(1).sum()

51595.0

# Table 4: Primary Students by County and Gender

In [787]:
kpri_cg = pd.concat([kpri_c, kpri_s], axis = 1).groupby(['County']).sum()
kpri_cg#.sum(1)

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
County,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,38.0,18.0,7.0,7.0,4.0,4.0,53.0,13.0,11.0,4.0,7.0,5.0,53.0,13.0,5.0,2.0,0.0,0.0,41.0,15.0,1.0,1.0,0.0,0.0,73.0,43.0,18.0,11.0,5.0,2.0,71.0,50.0,20.0,6.0,2.0,3.0,75.0,65.0,60.0,25.0,3.0,11.0,82.0,61.0,41.0,18.0,10.0,4.0,116.0,101.0,57.0,27.0,2.0,3.0,86.0,69.0,70.0,22.0,7.0,3.0,117.0,104.0,87.0,30.0,11.0,6.0,112.0,98.0,70.0,42.0,10.0,7.0,60.0,87.0,65.0,59.0,27.0,4.0,94.0,68.0,53.0,68.0,23.0,12.0,51.0,85.0,86.0,91.0,81.0,27.0,49.0,80.0,93.0,74.0,69.0,19.0,49.0,61.0,62.0,69.0,109.0,41.0,31.0,26.0,76.0,74.0,79.0,31.0,22.0,23.0,47.0,60.0,71.0,53.0,0.0,22.0,38.0,66.0,80.0,53.0,18.0,15.0,30.0,47.0,60.0,61.0,11.0,9.0,28.0,37.0,52.0,45.0,9.0,4.0,9.0,25.0,42.0,70.0,11.0,5.0,3.0,20.0,41.0,59.0
Bong,73.0,35.0,100.0,35.0,58.0,22.0,77.0,47.0,35.0,30.0,14.0,12.0,209.0,84.0,50.0,36.0,30.0,22.0,198.0,84.0,42.0,36.0,16.0,20.0,351.0,234.0,124.0,61.0,54.0,23.0,268.0,190.0,88.0,55.0,41.0,32.0,396.0,273.0,158.0,101.0,54.0,40.0,378.0,228.0,143.0,89.0,49.0,25.0,407.0,295.0,202.0,123.0,65.0,53.0,358.0,298.0,178.0,120.0,68.0,27.0,432.0,406.0,284.0,157.0,108.0,62.0,371.0,305.0,262.0,146.0,128.0,53.0,386.0,403.0,284.0,212.0,138.0,109.0,294.0,313.0,261.0,177.0,116.0,60.0,319.0,343.0,377.0,296.0,186.0,130.0,288.0,323.0,350.0,250.0,130.0,118.0,254.0,285.0,345.0,359.0,224.0,148.0,165.0,259.0,305.0,325.0,232.0,138.0,194.0,249.0,298.0,357.0,365.0,270.0,44.0,218.0,264.0,306.0,351.0,301.0,119.0,184.0,218.0,289.0,367.0,366.0,105.0,124.0,166.0,206.0,269.0,357.0,131.0,156.0,230.0,337.0,431.0,515.0,102.0,144.0,170.0,253.0,349.0,477.0
Gbarpolu,15.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10.0,1.0,0.0,49.0,14.0,5.0,5.0,5.0,4.0,27.0,8.0,6.0,4.0,3.0,3.0,144.0,37.0,35.0,9.0,3.0,2.0,84.0,27.0,5.0,2.0,0.0,0.0,159.0,60.0,38.0,30.0,3.0,7.0,109.0,70.0,61.0,18.0,1.0,1.0,146.0,113.0,71.0,37.0,24.0,10.0,116.0,80.0,47.0,32.0,17.0,5.0,181.0,126.0,98.0,61.0,20.0,10.0,159.0,93.0,65.0,33.0,19.0,9.0,125.0,135.0,105.0,61.0,30.0,11.0,129.0,102.0,65.0,35.0,20.0,6.0,139.0,161.0,132.0,74.0,41.0,25.0,114.0,117.0,94.0,65.0,32.0,11.0,90.0,118.0,134.0,83.0,53.0,53.0,68.0,105.0,109.0,86.0,36.0,29.0,50.0,65.0,89.0,80.0,80.0,53.0,1.0,63.0,77.0,63.0,45.0,37.0,34.0,46.0,71.0,88.0,81.0,69.0,45.0,38.0,63.0,61.0,55.0,59.0,83.0,85.0,150.0,130.0,148.0,125.0,66.0,64.0,116.0,109.0,107.0,142.0
Grand Bassa,5.0,1.0,0.0,8.0,8.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,65.0,23.0,11.0,8.0,14.0,12.0,64.0,48.0,6.0,4.0,4.0,6.0,197.0,61.0,38.0,10.0,9.0,8.0,179.0,76.0,28.0,6.0,6.0,9.0,236.0,151.0,59.0,12.0,10.0,6.0,187.0,144.0,63.0,11.0,6.0,6.0,247.0,173.0,144.0,38.0,18.0,10.0,179.0,161.0,103.0,24.0,9.0,10.0,282.0,235.0,179.0,117.0,42.0,25.0,235.0,156.0,136.0,98.0,32.0,10.0,215.0,182.0,154.0,142.0,94.0,41.0,162.0,167.0,113.0,111.0,88.0,30.0,172.0,202.0,186.0,145.0,115.0,96.0,161.0,209.0,149.0,109.0,91.0,70.0,137.0,160.0,210.0,158.0,119.0,104.0,107.0,172.0,179.0,135.0,107.0,67.0,135.0,137.0,174.0,172.0,143.0,112.0,2.0,131.0,141.0,138.0,135.0,113.0,65.0,93.0,128.0,166.0,180.0,131.0,40.0,77.0,122.0,107.0,123.0,120.0,49.0,60.0,127.0,176.0,208.0,319.0,55.0,53.0,103.0,133.0,177.0,236.0
Grand Cape Mount,41.0,23.0,27.0,7.0,4.0,1.0,112.0,28.0,18.0,6.0,2.0,1.0,185.0,74.0,40.0,10.0,5.0,2.0,139.0,70.0,36.0,9.0,10.0,4.0,259.0,143.0,89.0,47.0,23.0,17.0,202.0,137.0,74.0,43.0,8.0,6.0,296.0,174.0,125.0,57.0,28.0,25.0,259.0,161.0,126.0,52.0,28.0,22.0,283.0,185.0,135.0,107.0,48.0,26.0,224.0,220.0,156.0,75.0,34.0,20.0,248.0,209.0,224.0,157.0,85.0,31.0,269.0,197.0,160.0,98.0,66.0,31.0,177.0,199.0,157.0,142.0,106.0,56.0,145.0,157.0,163.0,132.0,61.0,48.0,158.0,169.0,189.0,173.0,139.0,83.0,144.0,167.0,168.0,132.0,92.0,79.0,61.0,101.0,132.0,164.0,175.0,99.0,90.0,142.0,143.0,164.0,159.0,105.0,47.0,71.0,100.0,158.0,151.0,123.0,11.0,81.0,125.0,137.0,156.0,120.0,13.0,44.0,71.0,89.0,135.0,138.0,24.0,46.0,82.0,84.0,137.0,121.0,16.0,28.0,39.0,73.0,134.0,168.0,11.0,15.0,51.0,83.0,110.0,146.0
Grand Gedeh,75.0,30.0,24.0,12.0,14.0,21.0,97.0,35.0,17.0,19.0,16.0,13.0,193.0,79.0,17.0,1.0,0.0,0.0,164.0,70.0,19.0,9.0,0.0,1.0,263.0,175.0,91.0,29.0,9.0,8.0,325.0,130.0,80.0,16.0,6.0,2.0,338.0,196.0,122.0,60.0,7.0,6.0,304.0,180.0,112.0,96.0,9.0,2.0,299.0,263.0,130.0,136.0,45.0,8.0,277.0,211.0,149.0,84.0,65.0,12.0,257.0,283.0,191.0,142.0,95.0,38.0,253.0,264.0,192.0,145.0,90.0,32.0,170.0,203.0,275.0,199.0,108.0,80.0,164.0,198.0,231.0,197.0,112.0,83.0,119.0,215.0,230.0,198.0,162.0,166.0,105.0,187.0,196.0,215.0,157.0,132.0,52.0,146.0,222.0,255.0,236.0,160.0,65.0,120.0,203.0,283.0,193.0,175.0,40.0,68.0,156.0,254.0,260.0,229.0,0.0,54.0,116.0,226.0,248.0,240.0,28.0,28.0,74.0,120.0,140.0,229.0,21.0,34.0,54.0,111.0,192.0,205.0,12.0,43.0,56.0,124.0,204.0,250.0,14.0,38.0,77.0,105.0,175.0,230.0
Grand Kru,30.0,15.0,8.0,11.0,5.0,7.0,22.0,63.0,9.0,9.0,2.0,6.0,105.0,32.0,11.0,12.0,5.0,4.0,74.0,20.0,9.0,10.0,6.0,5.0,218.0,116.0,45.0,23.0,8.0,4.0,179.0,72.0,26.0,15.0,9.0,4.0,271.0,196.0,72.0,35.0,31.0,10.0,240.0,149.0,53.0,31.0,14.0,19.0,188.0,190.0,118.0,60.0,27.0,14.0,158.0,154.0,97.0,38.0,14.0,9.0,136.0,159.0,183.0,110.0,27.0,10.0,118.0,132.0,158.0,77.0,20.0,13.0,76.0,121.0,139.0,146.0,93.0,54.0,80.0,88.0,100.0,116.0,59.0,35.0,66.0,93.0,103.0,113.0,69.0,53.0,38.0,74.0,122.0,121.0,41.0,29.0,37.0,71.0,120.0,130.0,120.0,79.0,27.0,56.0,85.0,120.0,128.0,61.0,11.0,32.0,61.0,100.0,139.0,96.0,0.0,26.0,72.0,87.0,128.0,86.0,6.0,11.0,41.0,83.0,125.0,125.0,3.0,7.0,30.0,52.0,102.0,68.0,2.0,3.0,26.0,57.0,56.0,158.0,1.0,1.0,16.0,42.0,62.0,136.0
Lofa,73.0,46.0,76.0,19.0,15.0,20.0,67.0,16.0,4.0,9.0,7.0,15.0,156.0,78.0,29.0,12.0,7.0,3.0,158.0,68.0,19.0,7.0,8.0,6.0,270.0,197.0,87.0,29.0,6.0,8.0,263.0,155.0,53.0,20.0,10.0,8.0,332.0,209.0,136.0,77.0,33.0,14.0,239.0,210.0,123.0,90.0,19.0,4.0,287.0,298.0,186.0,122.0,111.0,51.0,238.0,223.0,153.0,108.0,54.0,14.0,274.0,237.0,262.0,186.0,102.0,54.0,259.0,198.0,242.0,165.0,93.0,28.0,193.0,203.0,220.0,150.0,88.0,73.0,190.0,192.0,179.0,112.0,96.0,41.0,186.0,219.0,182.0,359.0,126.0,59.0,129.0,168.0,195.0,201.0,130.0,83.0,108.0,131.0,204.0,197.0,161.0,110.0,94.0,131.0,174.0,170.0,125.0,93.0,50.0,91.0,137.0,169.0,192.0,134.0,13.0,73.0,103.0,146.0,147.0,112.0,29.0,68.0,91.0,127.0,180.0,146.0,26.0,33.0,70.0,90.0,163.0,159.0,16.0,34.0,65.0,121.0,198.0,307.0,26.0,13.0,42.0,83.0,188.0,269.0
Margibi,47.0,13.0,15.0,7.0,3.0,86.0,60.0,10.0,1.0,6.0,19.0,14.0,178.0,60.0,37.0,6.0,11.0,8.0,191.0,89.0,43.0,6.0,7.0,4.0,277.0,204.0,89.0,40.0,21.0,12.0,308.0,224.0,75.0,36.0,13.0,8.0,286.0,253.0,169.0,82.0,45.0,13.0,312.0,230.0,175.0,55.0,38.0,17.0,256.0,232.0,169.0,129.0,45.0,27.0,243.0,263.0,204.0,131.0,53.0,47.0,298.0,233.0,216.0,201.0,127.0,55.0,285.0,252.0,233.0,186.0,128.0,66.0,219.0,203.0,252.0,214.0,165.0,97.0,208.0,202.0,276.0,210.0,141.0,95.0,185.0,191.0,231.0,235.0,219.0,181.0,172.0,226.0,266.0,252.0,231.0,158.0,93.0,178.0,216.0,247.0,257.0,193.0,136.0,169.0,181.0,269.0,259.0,217.0,66.0,119.0,155.0,252.0,234.0,232.0,23.0,126.0,159.0,227.0,255.0,269.0,34.0,102.0,132.0,211.0,225.0,254.0,44.0,73.0,126.0,181.0,234.0,242.0,38.0,73.0,90.0,193.0,316.0,385.0,43.0,52.0,79.0,162.0,277.0,383.0
Maryland,43.0,9.0,1.0,3.0,3.0,0.0,9.0,5.0,2.0,4.0,0.0,0.0,20.0,5.0,0.0,1.0,0.0,8.0,16.0,5.0,1.0,9.0,8.0,0.0,21.0,24.0,9.0,1.0,2.0,1.0,21.0,12.0,7.0,3.0,0.0,0.0,39.0,31.0,14.0,16.0,7.0,2.0,20.0,28.0,20.0,17.0,13.0,0.0,42.0,60.0,21.0,12.0,18.0,12.0,21.0,23.0,19.0,16.0,8.0,1.0,30.0,40.0,17.0,21.0,23.0,15.0,25.0,19.0,19.0,32.0,17.0,4.0,19.0,12.0,19.0,11.0,12.0,35.0,16.0,13.0,13.0,6.0,14.0,7.0,9.0,16.0,42.0,16.0,11.0,21.0,14.0,17.0,25.0,7.0,6.0,13.0,7.0,13.0,33.0,27.0,27.0,22.0,10.0,16.0,27.0,43.0,22.0,16.0,7.0,7.0,22.0,38.0,25.0,15.0,0.0,5.0,12.0,24.0,34.0,12.0,9.0,3.0,14.0,16.0,17.0,31.0,9.0,2.0,5.0,19.0,16.0,30.0,11.0,10.0,13.0,20.0,8.0,30.0,9.0,9.0,16.0,14.0,14.0,51.0
Montserrado 1,516.0,291.0,159.0,102.0,72.0,82.0,572.0,236.0,147.0,117.0,99.0,67.0,1710.0,585.0,212.0,132.0,152.0,98.0,1870.0,686.0,378.0,149.0,178.0,119.0,1480.0,1586.0,708.0,315.0,190.0,108.0,1593.0,1724.0,698.0,379.0,181.0,142.0,1314.0,1335.0,1537.0,555.0,304.0,153.0,1312.0,1503.0,1584.0,739.0,313.0,173.0,938.0,1182.0,1265.0,1222.0,574.0,297.0,971.0,1187.0,1295.0,1393.0,625.0,278.0,648.0,894.0,1120.0,1134.0,1267.0,442.0,746.0,1032.0,1185.0,1111.0,1177.0,450.0,379.0,591.0,807.0,1042.0,1051.0,937.0,393.0,619.0,983.0,1138.0,1107.0,1017.0,294.0,354.0,623.0,994.0,1099.0,997.0,317.0,512.0,761.0,1113.0,1293.0,1084.0,178.0,225.0,405.0,659.0,962.0,1055.0,159.0,282.0,559.0,779.0,1104.0,1079.0,68.0,113.0,301.0,468.0,687.0,992.0,24.0,137.0,314.0,606.0,806.0,1093.0,123.0,59.0,129.0,203.0,540.0,765.0,63.0,75.0,159.0,274.0,575.0,852.0,54.0,55.0,73.0,148.0,299.0,721.0,52.0,64.0,105.0,165.0,274.0,774.0
Montserrado 2,342.0,200.0,104.0,104.0,65.0,93.0,379.0,256.0,121.0,84.0,318.0,75.0,2189.0,446.0,244.0,114.0,90.0,70.0,1148.0,422.0,219.0,126.0,85.0,79.0,1229.0,1036.0,454.0,237.0,151.0,79.0,1332.0,1140.0,473.0,215.0,142.0,82.0,1045.0,1038.0,878.0,461.0,257.0,148.0,1099.0,1027.0,1078.0,529.0,296.0,153.0,771.0,923.0,959.0,798.0,420.0,296.0,831.0,915.0,1094.0,831.0,444.0,256.0,646.0,718.0,789.0,932.0,686.0,479.0,610.0,773.0,930.0,965.0,821.0,449.0,443.0,548.0,743.0,803.0,719.0,687.0,465.0,621.0,880.0,973.0,912.0,710.0,303.0,446.0,634.0,761.0,799.0,752.0,286.0,474.0,698.0,884.0,922.0,901.0,172.0,263.0,467.0,614.0,835.0,741.0,185.0,238.0,498.0,660.0,841.0,827.0,122.0,154.0,251.0,444.0,700.0,922.0,24.0,155.0,254.0,506.0,776.0,1027.0,93.0,58.0,120.0,284.0,449.0,707.0,82.0,87.0,156.0,336.0,500.0,768.0,84.0,83.0,111.0,231.0,360.0,791.0,76.0,84.0,104.0,172.0,315.0,592.0
Nimba,146.0,56.0,33.0,9.0,8.0,3.0,108.0,51.0,26.0,45.0,14.0,10.0,599.0,210.0,117.0,66.0,38.0,42.0,530.0,238.0,107.0,71.0,21.0,33.0,799.0,527.0,289.0,125.0,119.0,68.0,684.0,490.0,260.0,126.0,82.0,116.0,819.0,677.0,492.0,267.0,170.0,91.0,788.0,587.0,443.0,223.0,171.0,81.0,993.0,712.0,507.0,391.0,452.0,162.0,819.0,618.0,474.0,385.0,155.0,125.0,1089.0,752.0,612.0,452.0,313.0,161.0,863.0,698.0,558.0,369.0,286.0,169.0,822.0,700.0,587.0,428.0,359.0,230.0,680.0,677.0,547.0,412.0,337.0,235.0,772.0,777.0,686.0,576.0,505.0,296.0,649.0,710.0,692.0,617.0,418.0,247.0,547.0,605.0,750.0,668.0,502.0,386.0,437.0,560.0,606.0,583.0,435.0,376.0,348.0,457.0,624.0,706.0,602.0,524.0,9.0,398.0,512.0,632.0,533.0,495.0,246.0,333.0,484.0,650.0,669.0,673.0,208.0,281.0,455.0,560.0,586.0,622.0,245.0,301.0,362.0,639.0,837.0,1122.0,188.0,203.0,280.0,529.0,645.0,883.0
River Gee,41.0,27.0,24.0,10.0,5.0,10.0,51.0,28.0,11.0,11.0,14.0,9.0,114.0,58.0,21.0,12.0,0.0,2.0,95.0,63.0,12.0,8.0,0.0,10.0,155.0,103.0,86.0,21.0,6.0,1.0,158.0,87.0,52.0,27.0,4.0,2.0,170.0,150.0,114.0,69.0,24.0,10.0,133.0,114.0,84.0,55.0,25.0,7.0,138.0,101.0,120.0,69.0,32.0,16.0,109.0,90.0,77.0,43.0,28.0,15.0,157.0,119.0,92.0,66.0,39.0,36.0,120.0,116.0,98.0,58.0,33.0,28.0,93.0,113.0,105.0,61.0,59.0,33.0,80.0,82.0,71.0,65.0,66.0,15.0,134.0,187.0,96.0,86.0,66.0,45.0,99.0,86.0,117.0,75.0,60.0,45.0,55.0,89.0,107.0,93.0,63.0,39.0,38.0,72.0,88.0,75.0,51.0,51.0,23.0,45.0,60.0,89.0,68.0,79.0,0.0,22.0,61.0,61.0,54.0,64.0,13.0,23.0,52.0,51.0,65.0,69.0,19.0,13.0,21.0,41.0,66.0,55.0,12.0,17.0,29.0,48.0,91.0,105.0,3.0,4.0,16.0,46.0,68.0,68.0

In [21]:
pd.concat([kpri_c, kpri_o, kpri_s], axis = 1).groupby(['County','Type of school']).sum().sum(1)

County            Type of school
Bomi              Community           113.0
                  Faith-based         955.0
                  Private            1039.0
                  Public             3590.0
Bong              Community          1235.0
                  Faith-based        3528.0
                  Private            4997.0
                  Public            18152.0
Gbarpolu          Community           115.0
                  Faith-based         198.0
                  Private             346.0
                  Public             7509.0
Grand Bassa       Community           286.0
                  Faith-based         789.0
                  Private            4227.0
                  Public             8613.0
Grand Cape Mount  Community           646.0
                  Faith-based        1586.0
                  Private            2334.0
                  Public             9886.0
Grand Gedeh       Community           874.0
                  Faith-based        2329.0
                  Private            4958.0
                  Public             9659.0
Grand Kru         Faith-based        1206.0
                  Private             445.0
                  Public             7993.0
Lofa              Community           328.0
                  Faith-based         711.0
                  Private            1238.0
                  Public            14561.0
Margibi           Community          2646.0
                  Faith-based        3556.0
                  Private            5953.0
                  Public             9137.0
Maryland          Private             406.0
                  Public             1783.0
Montserrado 1     Community          3953.0
                  Faith-based       25773.0
                  Private           49639.0
                  Public            10884.0
Montserrado 2     Community           879.0
                  Faith-based       18966.0
                  Private           38415.0
                  Public            15711.0
Nimba             Community          3453.0
                  Faith-based        7297.0
                  Private           10242.0
                  Public            39453.0
River Gee         Faith-based        2099.0
                  Private             246.0
                  Public             6129.0
Rivercess         Community             0.0
                  Faith-based         314.0
                  Private             251.0
                  Public             3438.0
Sinoe             Community             0.0
                  Faith-based        2433.0
                  Private            1708.0
                  Public             9979.0
dtype: float64

# Table 5: Primary  Enrollment by County and Ownership

In [26]:
pd.concat([kpri_c, kpri_o, kpri_s], axis = 1).groupby(['County', 'Type of school']).sum().sum(1)

County            Type of school
Bomi              Community            90.0
                  Faith-based         801.0
                  Private             835.0
                  Public             3573.0
Bong              Community           964.0
                  Faith-based        2476.0
                  Private            3440.0
                  Public            13030.0
Gbarpolu          Community            39.0
                  Faith-based         281.0
                  Private             203.0
                  Public             7161.0
Grand Bassa       Community           824.0
                  Faith-based         725.0
                  Private            2913.0
                  Public             7157.0
Grand Cape Mount  Community           605.0
                  Faith-based        1297.0
                  Private            1728.0
                  Public             8598.0
Grand Gedeh       Community           505.0
                  Faith-based         960.0
                  Private            3072.0
                  Public             5610.0
Grand Kru         Faith-based         606.0
                  Private             123.0
                  Public             6221.0
Lofa              Community           295.0
                  Faith-based         262.0
                  Private             849.0
                  Public             8529.0
Margibi           Community          1209.0
                  Faith-based        2179.0
                  Private            4308.0
                  Public             4553.0
Maryland          Private             312.0
                  Public             1386.0
Montserrado 1     Community          2261.0
                  Faith-based       14203.0
                  Private           27692.0
                  Public             2041.0
Montserrado 2     Community           530.0
                  Faith-based       11729.0
                  Private           22619.0
                  Public             4886.0
Nimba             Community          2463.0
                  Faith-based        4841.0
                  Private            7129.0
                  Public            31244.0
River Gee         Faith-based        1097.0
                  Private             118.0
                  Public             5030.0
Rivercess         Community            35.0
                  Faith-based         262.0
                  Private             145.0
                  Public             3339.0
Sinoe             Community           107.0
                  Faith-based        1611.0
                  Private            1100.0
                  Public             7942.0
dtype: float64

# Table 6: Primary Enrollment by District and Gender

In [22]:
kpri_c = kcensus.iloc[:,[2]]
kpri_d = kcensus.iloc[:,3:19]
#kece_s = kece_student.iloc[:,46:87]

In [23]:
kpri_cds = pd.concat([kpri_c, kpri_d, kpri_s], axis = 1)
kpri_cds.columns.tolist()

['County',
 'District in Bong County',
 'District in Gbarpolu',
 'District in River Gee',
 'District in Sinoe',
 'District in Lofa',
 'District in Nimba',
 'District in Grand Cape Mount',
 'District in Maryland',
 'District in Margibi',
 'District in Bomi',
 'District in Grand Bassa',
 'District in Montserrado 2',
 'District in Montserrado 1',
 'Districts in Grand Kru',
 'Districts in Grand Gedeh',
 'Districts in River Cess',
 'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?']

In [24]:
kpri_melt =kpri_cds.melt(id_vars=['County',
 'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?'],var_name = 'district',value_name='count')
kpri_melt.head()

,County,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,District in Bong County,NaN
2,River Gee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN

## Districts in Bomi County

In [25]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Senji')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Dewoin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Klay')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Suehn-Mecca')].sum()

k_a = k_s[1:-2]
k_a.sum()

1202.0

In [26]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

675.0

## Districts in Bong County

In [27]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Zota')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Salala')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Fuamah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Suakoko')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Sanoyea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Panta-Kpaai')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Kokoyah')].sum()

k_a = k_s[1:-2]
k_a.sum()

4516.0

In [28]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

2566.0

## Districts in Gbarpolu

In [29]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gorwalali')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bopolu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gbarma')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Belle')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bokomu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Kongba')].sum()

k_a = k_s[1:-2]
k_a.sum()

865.0

In [30]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

481.0

## Districts in Grand Bassa

In [31]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 4')].sum()
k_a = k_s[1:-2]
k_a.sum()

1888.0

In [32]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1134.0

## Districts in Grand Cape Mount

In [33]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tewor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Gola Konneh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Porkpa')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Garwular')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tallah Tombay')].sum()

k_a = k_s[1:-2]
k_a.sum()

1368.0

In [34]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

738.0

## Districts in Grand Gedeh

In [35]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Konobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Putu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Gbarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Tchien')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Cavalla')].sum()
k_a = k_s[1:-2]
k_a.sum()

5092.0

In [36]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

2584.0

## Districts in Grand Kru

In [37]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Barclayville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Trehn')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Buah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Grand Cess')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Dorbor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Jloh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Sass Town')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Wedabo')].sum()

k_a = k_s[1:-2]
k_a.sum()

1528.0

In [38]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

848.0

## Districts in Lofa

In [39]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Foya')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Salayea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Vahun')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Voinjama')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Zorzor')].sum()

k_a = k_s[1:-2]
k_a.sum()

2433.0

In [40]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1343.0

## Districts in Margibi

In [41]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Marshall')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Farmington')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Mama kaba')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Gibi')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

3776.0

In [42]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1659.0

## Districts in Maryland

In [43]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Sodoken')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Pleebo')].sum()

k_a = k_s[1:-2]
k_a.sum()

0.0

In [44]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

0.0

## Districts in Montserrado 1

In [45]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 3')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 4')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 6')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2D')].sum()

k_a = k_s[1:-2]
k_a.sum()

8315.0

In [46]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

4104.0

## Districts in Montserrado 2

In [47]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank  1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Careysburg')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Todee')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 3')].sum()

k_a = k_s[1:-2]
k_a.sum()

6299.0

In [48]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

3359.0

## Districts in Nimba

In [49]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Saclepea 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Zoe-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tuwah River')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Gbelay-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarpea Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Buuyao')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain-Garr 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain- Garr 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

3950.0

In [50]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

2017.0

## Districts in River Gee

In [51]:
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Sarbo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Tienpo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Chedepo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Putupo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Gbeapo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Webbo')].sum()

k_a = k_s[1:-2]
k_a.sum()

2280.0

In [52]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1277.0

## Districts in River Cess

In [53]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Timobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Morwah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Yarnee')].sum()

k_a = k_s[1:-2]
k_a.sum()

1545.0

In [54]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

843.0

## Districts in Sinoe

In [55]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Upper Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Juarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Lower Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Butaw')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Tarjuwon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Jeadea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Sanquin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Greenville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Central Kpanyan')].sum()

k_a = k_s[1:-2]
k_a.sum()

904.0

In [56]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

513.0

# Table 7: Enrollment by District and Grade

In [57]:
#kece_cds.columns

In [58]:
#pd.set_option('display.max_rows',2000)

#kece_cds['District in Nimba'].dropna() #[kece_cds['District in Montserrado 2']=='Left Bank 1B']

## Districts in Bomi County

## Districts in Bomi County

In [59]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Senji')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Dewoin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Klay')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Suehn-Mecca')].sum()

In [60]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1202.0
334.0
245.0
208.0
181.0
148.0
86.0

## Districts in Bong County

In [61]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Zota')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Salala')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Fuamah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Suakoko')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Sanoyea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Panta-Kpaai')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Kokoyah')].sum()

In [62]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

4516.0
1040.0
961.0
847.0
677.0
553.0
438.0

## Districts in Gbarpolu

In [63]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gorwalali')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bopolu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gbarma')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Belle')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bokomu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Kongba')].sum()

In [64]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

865.0
226.0
191.0
176.0
123.0
78.0
71.0

## Districts in Grand Bassa

In [65]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 4')].sum()

In [66]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1888.0
487.0
387.0
367.0
270.0
200.0
177.0

## Districts in Grand Cape Mount

In [67]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tewor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Gola Konneh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Porkpa')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Garwular')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tallah Tombay')].sum()

In [68]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1368.0
299.0
268.0
229.0
230.0
190.0
152.0

## Districts in Grand Gedeh

In [69]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Konobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Putu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Gbarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Tchien')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Cavalla')].sum()

In [70]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

5092.0
954.0
882.0
848.0
917.0
741.0
750.0

## Districts in Grand Kru

In [71]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Barclayville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Trehn')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Buah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Grand Cess')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Dorbor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Jloh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Sass Town')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Wedabo')].sum()

In [72]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1528.0
359.0
328.0
272.0
278.0
177.0
114.0

## Districts in Lofa

In [73]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Foya')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Salayea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Vahun')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Voinjama')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Zorzor')].sum()

In [74]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

2433.0
549.0
539.0
456.0
338.0
319.0
232.0

## Districts in Margibi

In [75]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Marshall')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Farmington')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Mama kaba')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Gibi')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 2')].sum()

In [76]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

3776.0
716.0
650.0
602.0
640.0
575.0
593.0

## Districts in Maryland

In [77]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Sodoken')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Pleebo')].sum()

In [78]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

0.0
0.0
0.0
0.0
0.0
0.0
0.0

## Districts in Montserrado 1

In [79]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 3')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 4')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 6')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2D')].sum()

In [80]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

8315.0
1342.0
1346.0
1499.0
1373.0
1502.0
1253.0

## Districts in Montserrado 2

In [81]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank  1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Careysburg')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Todee')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 3')].sum()

In [82]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

6299.0
1129.0
1067.0
1017.0
1079.0
1099.0
908.0

## Districts in Nimba

In [83]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Saclepea 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Zoe-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tuwah River')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Gbelay-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarpea Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Buuyao')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain-Garr 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain- Garr 2')].sum()

In [84]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

3950.0
890.0
791.0
678.0
646.0
507.0
438.0

## Districts in River Gee

In [85]:
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Sarbo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Tienpo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Chedepo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Putupo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Gbeapo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Webbo')].sum()

In [86]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

2280.0
574.0
478.0
469.0
304.0
239.0
216.0

## Districts in River Cess

In [87]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Timobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Morwah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Yarnee')].sum()

In [88]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1545.0
394.0
365.0
237.0
197.0
172.0
180.0

## Districts in Sinoe

In [89]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Upper Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Juarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Lower Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Butaw')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Tarjuwon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Jeadea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Sanquin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Greenville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Central Kpanyan')].sum()

In [90]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

904.0
245.0
163.0
171.0
120.0
124.0
81.0

# Table 8: Enrollment by District and Ownership

In [91]:
#kece_c.head()

In [92]:
kpri_c = kcensus.iloc[:,[2]]
kpri_o = kcensus.iloc[:,[39]]
kpri_d = kcensus.iloc[:,3:19]
kpri_s.head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
kpri_cdso = pd.concat([kpri_c, kpri_o, kpri_d, kpri_s], axis = 1)
kpri_cdso.columns.tolist()

['County',
 'Type of school',
 'District in Bong County',
 'District in Gbarpolu',
 'District in River Gee',
 'District in Sinoe',
 'District in Lofa',
 'District in Nimba',
 'District in Grand Cape Mount',
 'District in Maryland',
 'District in Margibi',
 'District in Bomi',
 'District in Grand Bassa',
 'District in Montserrado 2',
 'District in Montserrado 1',
 'Districts in Grand Kru',
 'Districts in Grand Gedeh',
 'Districts in River Cess',
 'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?']

In [94]:
kpri_melto =kpri_cdso.melt(id_vars=['County', 
'Type of school',
'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?'],var_name = 'district',value_name='count')
kpri_melto.head()

,County,Type of school,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?,district,count
0,Rivercess,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,District in Bong County,NaN
2,River Gee,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,Private,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN

In [95]:
#k_so = kece_melto[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].head(2).groupby('Type of school').sum()#.sum(1)
#k_so
#k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
#k_so

## Districts in Bomi County

In [96]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Senji')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Dewoin')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Klay')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Suehn-Mecca')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1202.0
Type of school
Private      38.0
Public     1164.0
dtype: float64

## Districts in Bong County

In [97]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Gbarnga 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Gbarnga 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Zota')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Salala')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Fuamah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Suakoko')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Sanoyea')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Panta-Kpaai')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Kokoyah')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

4516.0
Type of school
Community       370.0
Faith-based     229.0
Private         408.0
Public         3509.0
dtype: float64

## Districts in Gbarpolu

In [98]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Gorwalali')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Bopolu')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Gbarma')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Belle')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Bokomu')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Kongba')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

865.0
Type of school
Public    865.0
dtype: float64

## Districts in Grand Bassa

In [99]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 5')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 5B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 3A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 3B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 4')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1888.0
Type of school
Community       172.0
Faith-based     190.0
Private         140.0
Public         1386.0
dtype: float64

## Districts in Grand Cape Mount

In [100]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Tewor')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Gola Konneh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Porkpa')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Garwular')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Tallah Tombay')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1368.0
Type of school
Community       45.0
Faith-based    164.0
Private        177.0
Public         982.0
dtype: float64

## Districts in Grand Gedeh

In [101]:
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Konobo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Putu')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Gbarzon')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Tchien')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Cavalla')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

5092.0
Type of school
Community       274.0
Faith-based     977.0
Private        1327.0
Public         2514.0
dtype: float64

## Districts in Grand Kru

In [102]:
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Barclayville')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Trehn')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Buah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Grand Cess')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Dorbor')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Jloh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Sass Town')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Wedabo')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1528.0
Type of school
Faith-based     119.0
Public         1409.0
dtype: float64

## Districts in Lofa

In [103]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Foya')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Kolahun 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Kolahun 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Salayea')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Vahun')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Voinjama')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Zorzor')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

2433.0
Type of school
Faith-based      34.0
Private         107.0
Public         2292.0
dtype: float64

## Districts in Margibi

In [104]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Marshall')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Farmington')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Mama kaba')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Gibi')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Kakata 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Kakata 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3776.0
Type of school
Community      1066.0
Faith-based     274.0
Private         664.0
Public         1772.0
dtype: float64

## Districts in Maryland

In [105]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Harper 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Harper 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Barrobo 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Barrobo 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Sodoken')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Karleway 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Karleway 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Pleebo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

0.0
Series([], dtype: float64)

## Districts in Montserrado 1

In [106]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 3')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 4')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 5')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 6')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1C')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1D')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1E')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2C')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2D')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

8315.0
Type of school
Community      2219.0
Faith-based    1042.0
Private        3401.0
Public         1653.0
dtype: float64

## Districts in Montserrado 2

In [107]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left Bank 1A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left bank 1B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left bank  1C')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left Bank 1D')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left Bank 2A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left bank 2B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Careysburg')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Todee')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Right Bank 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Right Bank 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Right Bank 3')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

6299.0
Type of school
Faith-based     819.0
Private        3401.0
Public         2079.0
dtype: float64

## Districts in Nimba

In [108]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Tappita 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Tappita 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Saclepea 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Sanniquellie Mah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Zoe-Geh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Tuwah River')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Gbelay-Geh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Yarpea Mah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Yarwein Mensonoh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Buuyao')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Bain-Garr 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Bain- Garr 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3950.0
Type of school
Community       310.0
Faith-based     259.0
Private        1473.0
Public         1908.0
dtype: float64

## Districts in River Gee

In [109]:
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Sarbo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Tienpo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Chedepo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Putupo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Gbeapo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Webbo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

2280.0
Type of school
Public    2280.0
dtype: float64

## Districts in River Cess

In [110]:
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Timobo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Central Rivercess 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Central Rivercess 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Morwah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Yarnee')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1545.0
Type of school
Faith-based     103.0
Public         1442.0
dtype: float64

## Districts in Sinoe

In [111]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Upper Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Juarzon')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Lower Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Butaw')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Tarjuwon')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Jeadea')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Sanquin')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Central Kpanyan')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

904.0
Type of school
Public    904.0
dtype: float64

# Table 9: Primary Enrollment by Disability and Ownership

In [112]:
kpri_disa=kpri_student.iloc[:,24:72]
kpri_o=kcensus.iloc[:,[39]]

kpri_disao = pd.concat([kpri_o,kpri_disa], axis =1).groupby('Type of school').sum()
kpri_disao

,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,5.0,1.0,11.0,0.0,1.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,4.0,7.0,3.0,7.0,2.0,1.0,0.0,2.0,1.0,2.0,1.0,1.0,2.0,0.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,10.0,2.0,16.0,5.0,6.0,1.0,12.0,1.0,2.0,5.0,2.0,9.0,4.0,2.0,4.0
Faith-based,9.0,5.0,6.0,11.0,23.0,6.0,7.0,2.0,12.0,3.0,3.0,10.0,7.0,17.0,9.0,10.0,15.0,6.0,23.0,22.0,20.0,20.0,19.0,28.0,14.0,20.0,4.0,5.0,3.0,4.0,6.0,3.0,10.0,5.0,13.0,4.0,4.0,13.0,4.0,21.0,9.0,8.0,25.0,4.0,4.0,12.0,18.0,5.0
Private,27.0,22.0,29.0,8.0,21.0,10.0,26.0,16.0,29.0,48.0,34.0,39.0,21.0,8.0,13.0,27.0,1.0,19.0,16.0,11.0,19.0,12.0,21.0,27.0,27.0,12.0,19.0,10.0,96.0,12.0,3.0,37.0,4.0,11.0,14.0,12.0,16.0,14.0,35.0,22.0,14.0,24.0,17.0,16.0,23.0,28.0,26.0,16.0
Public,32.0,22.0,17.0,21.0,20.0,10.0,35.0,25.0,16.0,9.0,13.0,11.0,28.0,31.0,25.0,28.0,30.0,37.0,14.0,20.0,26.0,17.0,10.0,13.0,30.0,24.0,103.0,17.0,26.0,32.0,21.0,27.0,8.0,16.0,37.0,15.0,55.0,51.0,35.0,40.0,24.0,34.0,31.0,55.0,52.0,36.0,49.0,37.0

In [113]:
kpri_v = kpri_disao.iloc[:,:12]
print(kpri_v.sum(1).sum())
print(kpri_v.sum(1))

660.0
Type of school
Community       23.0
Faith-based     97.0
Private        309.0
Public         231.0
dtype: float64

In [114]:
kpri_h = kpri_disao.iloc[:,12:24]
print(kpri_h.sum(1).sum())
print(kpri_h.sum(1))

701.0
Type of school
Community       31.0
Faith-based    196.0
Private        195.0
Public         279.0
dtype: float64

In [115]:
kpri_p = kpri_disao.iloc[:,24:36]
print(kpri_p.sum(1).sum())
print(kpri_p.sum(1))

740.0
Type of school
Community       36.0
Faith-based     91.0
Private        257.0
Public         356.0
dtype: float64

In [116]:
kpri_l = kpri_disao.iloc[:,36:]
print(kpri_l.sum(1).sum())
print(kpri_l.sum(1))

930.0
Type of school
Community       53.0
Faith-based    127.0
Private        251.0
Public         499.0
dtype: float64

# Table 10: Primary Disability by Gender

In [117]:
dd = kpri_disao.sum()
dd

How many MALE students in Grade 1 are Visually impaired ?                                     73.0
How many FEMALE students in Grade 1 are Visually impaired?                                    50.0
How many MALE students in Grade 2 are Visually impaired ?                                     63.0
How many FEMALE students in Grade 2 are Visually impaired?                                    40.0
How many MALE students in Grade 3 are Visually impaired ?                                     65.0
How many FEMALE students in Grade 3 are Visually impaired?                                    26.0
How many MALE students in Grade 4 are Visually impaired ?                                     69.0
How many FEMALE students in Grade 4 are Visually impaired?                                    45.0
How many MALE students in Grade 5 are Visually impaired ?                                     59.0
How many FEMALE students in Grade 5 are Visually impaired?                                    60.0
How many MALE students in Grade 6 are Visually impaired ?                                     50.0
How many FEMALE students in Grade 6 are Visually impaired?                                    60.0
How many MALE students in  Grade 1 have hearing impairment?                                   60.0
How many FEMALE students in Grade 1 have hearing impairment?                                  63.0
How many MALE students in  Grade 2 have hearing impairment?                                   50.0
How many FEMALE students in Grade 2 have hearing impairment?                                  72.0
How many MALE students in  Grade 3 have hearing impairment?                                   48.0
How many FEMALE students in Grade 3 have hearing impairment?                                  63.0
How many MALE students in  Grade 4 have hearing impairment?                                   53.0
How many FEMALE students in Grade 4 have hearing impairment?                                  55.0
How many MALE students in  Grade 5 have hearing impairment?                                   66.0
How many FEMALE students in Grade 5 have hearing impairment?                                  51.0
How many FEMALE students in Grade 6 have hearing impairment?                                  51.0
How many MALE students in  Grade 6 have hearing impairment?                                   69.0
How many MALE students in  Grade 1 have other physical disabilities?                          73.0
How many FEMALE students in  Grade 1 have other physical disabilities?                        56.0
How many MALE students in  Grade 2 have other physical disabilities?                         128.0
How many FEMALE students in  Grade 2 have other physical disabilities?                        33.0
How many MALE students in  Grade 3 have other physical disabilities?                         126.0
How many FEMALE students in  Grade 3 have other physical disabilities?                        50.0
How many MALE students in  Grade 4 have other physical disabilities?                          30.0
How many FEMALE students in  Grade 4 have other physical disabilities?                        67.0
How many MALE students in  Grade 5 have other physical disabilities?                          22.0
How many FEMALE students in  Grade 5 have other physical disabilities?                        42.0
How many MALE students in  Grade 6 have other physical disabilities?                          66.0
How many FEMALE students in  Grade 6 have other physical disabilities?                        47.0
How many MALE students in  Grade 1 have other mental disability or learning difficulty?       80.0
How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?     84.0
How many MALE students in  Grade 2 have other mental disability or learning difficulty?       75.0
How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?     95.0
How many MALE students in  Grade 3 have other mental disability or learning difficulty?       48.0
How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?     68.0
How many MALE students in  Grade 4 have other mental disability or learning difficulty?       78.0
How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?     77.0
How many MALE students in  Grade 5 have other mental disability or learning difficulty?       88.0
How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?     80.0
How many MALE students in  Grade 6 have other mental disability or learning difficulty?       95.0
How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?     62.0
dtype: float64

In [118]:
dd_v = dd[:12]
dd_v.sum()

660.0

In [119]:
dd_vm = dd_v[::2]
dd_vm.sum()

379.0

In [120]:
dd_vf = dd_v[1::2]
dd_vf.sum()

281.0

In [121]:
dd_h = dd[12:24]
dd_h.sum()

701.0

In [122]:
dd_hm = dd_h[::2]
dd_hm.sum()

328.0

In [123]:
dd_hf = dd_h[1::2]
dd_hf.sum()

373.0

In [124]:
dd_p = dd[24:36]
dd_p.sum()

740.0

In [125]:
dd_pm = dd_p[: :2]
dd_pm.sum()

445.0

In [126]:
dd_pf = dd_p[1: :2]
dd_pf.sum()

295.0

In [127]:
dd_l = dd[36:]
dd_l.sum()

930.0

In [128]:
dd_lm = dd_l[::2]
dd_lm.sum()

464.0

In [129]:
dd_lm = dd_l[1::2]
dd_lm.sum()

466.0

# Table 11: ECE Disability by Grade

In [130]:
dd

How many MALE students in Grade 1 are Visually impaired ?                                     73.0
How many FEMALE students in Grade 1 are Visually impaired?                                    50.0
How many MALE students in Grade 2 are Visually impaired ?                                     63.0
How many FEMALE students in Grade 2 are Visually impaired?                                    40.0
How many MALE students in Grade 3 are Visually impaired ?                                     65.0
How many FEMALE students in Grade 3 are Visually impaired?                                    26.0
How many MALE students in Grade 4 are Visually impaired ?                                     69.0
How many FEMALE students in Grade 4 are Visually impaired?                                    45.0
How many MALE students in Grade 5 are Visually impaired ?                                     59.0
How many FEMALE students in Grade 5 are Visually impaired?                                    60.0
How many MALE students in Grade 6 are Visually impaired ?                                     50.0
How many FEMALE students in Grade 6 are Visually impaired?                                    60.0
How many MALE students in  Grade 1 have hearing impairment?                                   60.0
How many FEMALE students in Grade 1 have hearing impairment?                                  63.0
How many MALE students in  Grade 2 have hearing impairment?                                   50.0
How many FEMALE students in Grade 2 have hearing impairment?                                  72.0
How many MALE students in  Grade 3 have hearing impairment?                                   48.0
How many FEMALE students in Grade 3 have hearing impairment?                                  63.0
How many MALE students in  Grade 4 have hearing impairment?                                   53.0
How many FEMALE students in Grade 4 have hearing impairment?                                  55.0
How many MALE students in  Grade 5 have hearing impairment?                                   66.0
How many FEMALE students in Grade 5 have hearing impairment?                                  51.0
How many FEMALE students in Grade 6 have hearing impairment?                                  51.0
How many MALE students in  Grade 6 have hearing impairment?                                   69.0
How many MALE students in  Grade 1 have other physical disabilities?                          73.0
How many FEMALE students in  Grade 1 have other physical disabilities?                        56.0
How many MALE students in  Grade 2 have other physical disabilities?                         128.0
How many FEMALE students in  Grade 2 have other physical disabilities?                        33.0
How many MALE students in  Grade 3 have other physical disabilities?                         126.0
How many FEMALE students in  Grade 3 have other physical disabilities?                        50.0
How many MALE students in  Grade 4 have other physical disabilities?                          30.0
How many FEMALE students in  Grade 4 have other physical disabilities?                        67.0
How many MALE students in  Grade 5 have other physical disabilities?                          22.0
How many FEMALE students in  Grade 5 have other physical disabilities?                        42.0
How many MALE students in  Grade 6 have other physical disabilities?                          66.0
How many FEMALE students in  Grade 6 have other physical disabilities?                        47.0
How many MALE students in  Grade 1 have other mental disability or learning difficulty?       80.0
How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?     84.0
How many MALE students in  Grade 2 have other mental disability or learning difficulty?       75.0
How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?     95.0
How many MALE students in  Grade 3 have other mental disability or learning difficulty?       48.0
How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?     68.0
How many MALE students in  Grade 4 have other mental disability or learning difficulty?       78.0
How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?     77.0
How many MALE students in  Grade 5 have other mental disability or learning difficulty?       88.0
How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?     80.0
How many MALE students in  Grade 6 have other mental disability or learning difficulty?       95.0
How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?     62.0
dtype: float64

In [131]:
dd_1 = dd[0:2].append([dd[12:14],dd[24:26],dd[36:38]])
dd_1.sum()

539.0

In [132]:
print(dd_1[:2].sum())
print(dd_1[2:4].sum())
print(dd_1[4:6].sum())
print(dd_1[6:].sum())

123.0
123.0
129.0
164.0

In [133]:
dd_2 = dd[2:4].append([dd[14:16],dd[26:28],dd[38:40]])
dd_2.sum()

556.0

In [134]:
print(dd_2[:2].sum())
print(dd_2[2:4].sum())
print(dd_2[4:6].sum())
print(dd_2[6:].sum())

103.0
122.0
161.0
170.0

In [135]:
dd_3 = dd[4:6].append([dd[16:18],dd[28:30],dd[40:42]])
dd_3.sum()

494.0

In [136]:
print(dd_3[:2].sum())
print(dd_3[2:4].sum())
print(dd_3[4:6].sum())
print(dd_3[6:].sum())

91.0
111.0
176.0
116.0

In [137]:
dd_4 = dd[6:8].append([dd[18:20],dd[30:32],dd[42:44]])
dd_4.sum()

474.0

In [138]:
print(dd_4[:2].sum())
print(dd_4[2:4].sum())
print(dd_4[4:6].sum())
print(dd_4[6:].sum())

114.0
108.0
97.0
155.0

In [139]:
dd_5 = dd[8:10].append([dd[20:22],dd[32:34],dd[44:46]])
dd_5.sum()

468.0

In [140]:
print(dd_5[:2].sum())
print(dd_5[2:4].sum())
print(dd_5[4:6].sum())
print(dd_5[6:].sum())

119.0
117.0
64.0
168.0

In [141]:
dd_6 = dd[10:12].append([dd[22:24],dd[34:36],dd[46:]])
dd_6.sum()

500.0

In [142]:
print(dd_6[:2].sum())
print(dd_6[2:4].sum())
print(dd_6[4:6].sum())
print(dd_6[6:].sum())

110.0
120.0
113.0
157.0

# Table 12: ECE by Enrollment by Disability and County

In [143]:
kpri_c = kcensus.iloc[:,[2]]
kpri_o = kcensus.iloc[:,[39]]
kpri_d = kcensus.iloc[:,3:19]

In [144]:
kpri_cdd = pd.concat([kpri_c, kpri_d, kpri_disa], axis = 1)
kpri_cdd.columns
kpri_cdd.head()

,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [145]:
dc = kpri_cdd.groupby('County').sum()
dc.sum(1).sum()

3031.0

In [146]:
dc.iloc[:,:12].sum(1)

County
Bomi                  9.0
Bong                 36.0
Gbarpolu             10.0
Grand Bassa          20.0
Grand Cape Mount     35.0
Grand Gedeh          21.0
Grand Kru            22.0
Lofa                 12.0
Margibi              30.0
Maryland              1.0
Montserrado 1        92.0
Montserrado 2       238.0
Nimba               110.0
River Gee             4.0
Rivercess             0.0
Sinoe                20.0
dtype: float64

In [147]:
dc.iloc[:,12:24].sum(1)

County
Bomi                 49.0
Bong                 34.0
Gbarpolu              9.0
Grand Bassa          13.0
Grand Cape Mount     60.0
Grand Gedeh          34.0
Grand Kru            18.0
Lofa                 11.0
Margibi              60.0
Maryland              8.0
Montserrado 1       154.0
Montserrado 2       121.0
Nimba               113.0
River Gee             3.0
Rivercess             1.0
Sinoe                13.0
dtype: float64

In [148]:
dc.iloc[:,24:36].sum(1)

County
Bomi                  5.0
Bong                 36.0
Gbarpolu              6.0
Grand Bassa          15.0
Grand Cape Mount     57.0
Grand Gedeh          52.0
Grand Kru            17.0
Lofa                 25.0
Margibi              22.0
Maryland              4.0
Montserrado 1       182.0
Montserrado 2        68.0
Nimba               220.0
River Gee             9.0
Rivercess             1.0
Sinoe                21.0
dtype: float64

In [149]:
dc.iloc[:,36:].sum(1)

County
Bomi                 40.0
Bong                 33.0
Gbarpolu             10.0
Grand Bassa           6.0
Grand Cape Mount     82.0
Grand Gedeh          29.0
Grand Kru            93.0
Lofa                 21.0
Margibi              13.0
Maryland              2.0
Montserrado 1       201.0
Montserrado 2       142.0
Nimba               151.0
River Gee            64.0
Rivercess            12.0
Sinoe                31.0
dtype: float64

# Table 13: Primary Enrollment by Disability and Districts

In [150]:
kpri_cdd.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students in Grade 1 are Visually impaired ?',
       'How many FEMALE students in Grade 1 are Visually impaired?',
       'How many MALE students in Grade 2 are Visually impaired ?',
       'How many FEMALE students in Grade 2 are Visually impaired?',
       'How many MALE students in Grade 3 are Visually impaired ?',
       'How many FEMALE students in Grade 3 are Visually impaired?',
       'How many MALE students in Grade 4 are Visually impaired ?',
       'How many FEMALE students in Grade 4 are Visually impaired?',
       'How many MALE students in Grade 5 are Visually impaired ?',
       'How many FEMALE students in Grade 5 are Visually impaired?',
       'How many MALE students in Grade 6 are Visually impaired ?',
       'How many FEMALE students in Grade 6 are Visually impaired?',
       'How many MALE students in  Grade 1 have hearing impairment?',
       'How many FEMALE students in Grade 1 have hearing impairment?',
       'How many MALE students in  Grade 2 have hearing impairment?',
       'How many FEMALE students in Grade 2 have hearing impairment?',
       'How many MALE students in  Grade 3 have hearing impairment?',
       'How many FEMALE students in Grade 3 have hearing impairment?',
       'How many MALE students in  Grade 4 have hearing impairment?',
       'How many FEMALE students in Grade 4 have hearing impairment?',
       'How many MALE students in  Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 1 have other physical disabilities?',
       'How many FEMALE students in  Grade 1 have other physical disabilities?',
       'How many MALE students in  Grade 2 have other physical disabilities?',
       'How many FEMALE students in  Grade 2 have other physical disabilities?',
       'How many MALE students in  Grade 3 have other physical disabilities?',
       'How many FEMALE students in  Grade 3 have other physical disabilities?',
       'How many MALE students in  Grade 4 have other physical disabilities?',
       'How many FEMALE students in  Grade 4 have other physical disabilities?',
       'How many MALE students in  Grade 5 have other physical disabilities?',
       'How many FEMALE students in  Grade 5 have other physical disabilities?',
       'How many MALE students in  Grade 6 have other physical disabilities?',
       'How many FEMALE students in  Grade 6 have other physical disabilities?',
       'How many MALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 6 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?'],
      dtype='object')

In [151]:
kpri_meltdd =kpri_cdd.melt(id_vars=['How many MALE students in Grade 1 are Visually impaired ?',
       'How many FEMALE students in Grade 1 are Visually impaired?',
       'How many MALE students in Grade 2 are Visually impaired ?',
       'How many FEMALE students in Grade 2 are Visually impaired?',
       'How many MALE students in Grade 3 are Visually impaired ?',
       'How many FEMALE students in Grade 3 are Visually impaired?',
       'How many MALE students in Grade 4 are Visually impaired ?',
       'How many FEMALE students in Grade 4 are Visually impaired?',
       'How many MALE students in Grade 5 are Visually impaired ?',
       'How many FEMALE students in Grade 5 are Visually impaired?',
       'How many MALE students in Grade 6 are Visually impaired ?',
       'How many FEMALE students in Grade 6 are Visually impaired?',
       'How many MALE students in  Grade 1 have hearing impairment?',
       'How many FEMALE students in Grade 1 have hearing impairment?',
       'How many MALE students in  Grade 2 have hearing impairment?',
       'How many FEMALE students in Grade 2 have hearing impairment?',
       'How many MALE students in  Grade 3 have hearing impairment?',
       'How many FEMALE students in Grade 3 have hearing impairment?',
       'How many MALE students in  Grade 4 have hearing impairment?',
       'How many FEMALE students in Grade 4 have hearing impairment?',
       'How many MALE students in  Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 1 have other physical disabilities?',
       'How many FEMALE students in  Grade 1 have other physical disabilities?',
       'How many MALE students in  Grade 2 have other physical disabilities?',
       'How many FEMALE students in  Grade 2 have other physical disabilities?',
       'How many MALE students in  Grade 3 have other physical disabilities?',
       'How many FEMALE students in  Grade 3 have other physical disabilities?',
       'How many MALE students in  Grade 4 have other physical disabilities?',
       'How many FEMALE students in  Grade 4 have other physical disabilities?',
       'How many MALE students in  Grade 5 have other physical disabilities?',
       'How many FEMALE students in  Grade 5 have other physical disabilities?',
       'How many MALE students in  Grade 6 have other physical disabilities?',
       'How many FEMALE students in  Grade 6 have other physical disabilities?',
       'How many MALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 6 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kpri_meltdd.head()

,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Rivercess
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,County,Nimba
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,River Gee
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1
4,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,County,Montserrado 1

## Districts in Bomi County

In [152]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Senji')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Dewoin')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Klay')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Suehn-Mecca')]

In [153]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

48.0

In [154]:
k_dd2[:12].sum().sum()

9.0

In [155]:
k_dd2[12:24].sum().sum()

7.0

In [156]:
k_dd2[24:36].sum().sum()

4.0

In [157]:
k_dd2[36:48].sum().sum()

28.0

## Districts in Bong County

In [158]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Gbarnga 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Gbarnga 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Zota')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Salala')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Fuamah')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Suakoko')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Sanoyea')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Panta-Kpaai')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Kokoyah')]

In [159]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

10.0

In [160]:
k_dd2[:12].sum().sum()

3.0

In [161]:
k_dd2[12:24].sum().sum()

2.0

In [162]:
k_dd2[24:36].sum().sum()

5.0

In [163]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Gbarpolu

In [164]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Gorwalali')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Bopolu')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Gbarma')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Belle')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Bokomu')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Kongba')]

In [165]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

8.0

In [166]:
k_dd2[:12].sum().sum()

0.0

In [167]:
k_dd2[12:24].sum().sum()

0.0

In [168]:
k_dd2[24:36].sum().sum()

0.0

In [169]:
k_dd2[36:48].sum().sum()

8.0

## Districts in Grand Bassa

In [170]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 5')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 5B')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 3A')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 3B')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 4')]

In [171]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

12.0

In [172]:
k_dd2[:12].sum().sum()

0.0

In [173]:
k_dd2[12:24].sum().sum()

3.0

In [174]:
k_dd2[24:36].sum().sum()

9.0

In [175]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Grand Cape Mount

In [176]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Tewor')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Gola Konneh')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Porkpa')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Garwular')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Tallah Tombay')]

In [177]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

6.0

In [178]:
k_dd2[:12].sum().sum()

1.0

In [179]:
k_dd2[12:24].sum().sum()

2.0

In [180]:
k_dd2[24:36].sum().sum()

2.0

In [181]:
k_dd2[36:48].sum().sum()

1.0

## Districts in Grand Gedeh

In [182]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Konobo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Putu')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Gbarzon')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Tchien')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Cavalla')]

In [183]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

57.0

In [184]:
k_dd2[:12].sum().sum()

10.0

In [185]:
k_dd2[12:24].sum().sum()

20.0

In [186]:
k_dd2[24:36].sum().sum()

18.0

In [187]:
k_dd2[36:48].sum().sum()

9.0

## Districts in Grand Kru

In [188]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Barclayville')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Trehn')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Buah')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Grand Cess')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Dorbor')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Jloh')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Sass Town')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Wedabo')]

In [189]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

15.0

In [190]:
k_dd2[:12].sum().sum()

5.0

In [191]:
k_dd2[12:24].sum().sum()

3.0

In [192]:
k_dd2[24:36].sum().sum()

3.0

In [193]:
k_dd2[36:48].sum().sum()

4.0

## Districts in Lofa

In [194]:
k_dd = kpri_meltdd[(kpri_melto['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Foya')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Kolahun 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Kolahun 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Salayea')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Vahun')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Voinjama')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Zorzor')]

In [195]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

8.0

In [196]:
k_dd2[:12].sum().sum()

1.0

In [197]:
k_dd2[12:24].sum().sum()

1.0

In [198]:
k_dd2[24:36].sum().sum()

3.0

In [199]:
k_dd2[36:48].sum().sum()

3.0

## Districts in Margibi

In [230]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Marshall')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Farmington')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Mama kaba')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Gibi')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Kakata 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Kakata 2')]

In [231]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

11.0

In [232]:
k_dd2[:12].sum().sum()

1.0

In [233]:
k_dd2[12:24].sum().sum()

5.0

In [234]:
k_dd2[24:36].sum().sum()

4.0

In [235]:
k_dd2[36:48].sum().sum()

1.0

#####

## Districts in Maryland

In [279]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Harper 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Harper 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Barrobo 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Barrobo 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Sodoken')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Karleway 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Karleway 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Pleebo')]

In [280]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

0.0

In [281]:
k_dd2[:12].sum().sum()

0.0

In [282]:
k_dd2[12:24].sum().sum()

0.0

In [283]:
k_dd2[24:36].sum().sum()

0.0

In [284]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Montserrado 1

In [375]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Paynesville 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Paynesville 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Paynesville 3')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Paynesville 4')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Paynesville 5')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Paynesville 6')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 1A')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 1B')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 1C')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 1D')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 1E')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 2A')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 2B')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 2C')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 1') & (kpri_meltdd['count']== 'Greater Monrovia 2D')]

In [376]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

13.0

In [377]:
k_dd2[:12].sum().sum()

0.0

In [378]:
k_dd2[12:24].sum().sum()

0.0

In [379]:
k_dd2[24:36].sum().sum()

0.0

In [380]:
k_dd2[36:48].sum().sum()

13.0

## Districts in Montserrado 2

In [441]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Left Bank 1A')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Left bank 1B')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Left bank  1C')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Left Bank 1D')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Left Bank 2A')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Left bank 2B')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Careysburg')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Todee')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Right Bank 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Right Bank 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Montserrado 2') & (kpri_meltdd['count']== 'Right Bank 3')]

In [442]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

12.0

In [443]:
k_dd2[:12].sum().sum()

5.0

In [444]:
k_dd2[12:24].sum().sum()

1.0

In [445]:
k_dd2[24:36].sum().sum()

2.0

In [446]:
k_dd2[36:48].sum().sum()

4.0

## Districts in Nimba

In [534]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Tappita 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Tappita 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Saclepea 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Sanniquellie Mah')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Zoe-Geh')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Tuwah River')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Gbelay-Geh')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Yarpea Mah')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Yarwein Mensonoh')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Buuyao')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Bain-Garr 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Nimba') & (kpri_meltdd['count']== 'Bain- Garr 2')]

In [535]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

11.0

In [536]:
k_dd2[:12].sum().sum()

1.0

In [537]:
k_dd2[12:24].sum().sum()

9.0

In [538]:
k_dd2[24:36].sum().sum()

1.0

In [539]:
k_dd2[36:48].sum().sum()

0.0

## Districts in River Gee

In [571]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in River Gee') & (kpri_meltdd['count']== 'Sarbo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in River Gee') & (kpri_meltdd['count']== 'Tienpo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in River Gee') & (kpri_meltdd['count']== 'Chedepo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in River Gee') & (kpri_meltdd['count']== 'Putupo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in River Gee') & (kpri_meltdd['count']== 'Gbeapo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in River Gee') & (kpri_meltdd['count']== 'Webbo')]

In [572]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

7.0

In [573]:
k_dd2[:12].sum().sum()

0.0

In [574]:
k_dd2[12:24].sum().sum()

1.0

In [575]:
k_dd2[24:36].sum().sum()

6.0

In [576]:
k_dd2[36:48].sum().sum()

0.0

## Districts in River Cess

In [602]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in River Cess') & (kpri_meltdd['count']== 'Timobo')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in River Cess') & (kpri_meltdd['count']== 'Central Rivercess 1')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in River Cess') & (kpri_meltdd['count']== 'Central Rivercess 2')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in River Cess') & (kpri_meltdd['count']== 'Morwah')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in River Cess') & (kpri_meltdd['count']== 'Yarnee')]

In [603]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

1.0

In [604]:
k_dd2[:12].sum().sum()

0.0

In [605]:
k_dd2[12:24].sum().sum()

1.0

In [606]:
k_dd2[24:36].sum().sum()

0.0

In [607]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Sinoe

In [656]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Upper Kpanyan')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Juarzon')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Lower Kpanyan')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Butaw')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Tarjuwon')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Jeadea')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Sanquin')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Greenville')]
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Sinoe') & (kpri_meltdd['count']== 'Central Kpanyan')]

In [657]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

0.0

In [658]:
k_dd2[:12].sum().sum()

0.0

In [659]:
k_dd2[12:24].sum().sum()

0.0

In [660]:
k_dd2[24:36].sum().sum()

0.0

In [661]:
k_dd2[36:48].sum().sum()

0.0

# Table 14: Primary Student Enrollment by Age and Grade

In [692]:
kpri_gg = kpri_og.sum()
#pri_gg#.sum()

In [706]:
kpri_gg1 = kpri_gg[::6]
kpri_gg1.sum()

79028.0

In [705]:
print(kpri_gg1[:2].sum())
print(kpri_gg1[2:4].sum())
print(kpri_gg1[4:6].sum())
print(kpri_gg1[6:8].sum())
print(kpri_gg1[8:10].sum())
print(kpri_gg1[10:12].sum())
print(kpri_gg1[12:14].sum())
print(kpri_gg1[14:16].sum())
print(kpri_gg1[16:18].sum())
print(kpri_gg1[18:20].sum())
print(kpri_gg1[20:22].sum())
print(kpri_gg1[22:24].sum())

3161.0
10700.0
11732.0
11855.0
10341.0
9915.0
7019.0
5963.0
3778.0
1451.0
1645.0
1468.0

In [707]:
kpri_gg2 = kpri_gg[1::6]
kpri_gg2.sum()

71060.0

In [719]:
print(kpri_gg2[:2].sum())
print(kpri_gg2[2:4].sum())
print(kpri_gg2[4:6].sum())
print(kpri_gg2[6:8].sum())
print(kpri_gg2[8:10].sum())
print(kpri_gg2[10:12].sum())
print(kpri_gg2[12:14].sum())
print(kpri_gg2[14:16].sum())
print(kpri_gg2[16:18].sum())
print(kpri_gg2[18:20].sum())
print(kpri_gg2[20:22].sum())
print(kpri_gg2[22:24].sum())

1602.0
3726.0
9159.0
9782.0
9766.0
9400.0
7703.0
7459.0
5184.0
3397.0
2109.0
1773.0

In [720]:
kpri_gg3 = kpri_gg[2::6]
kpri_gg3.sum()

67709.0

In [732]:
print(kpri_gg3[:2].sum())
print(kpri_gg3[2:4].sum())
print(kpri_gg3[4:6].sum())
print(kpri_gg3[6:8].sum())
print(kpri_gg3[8:10].sum())
print(kpri_gg3[10:12].sum())
print(kpri_gg3[12:14].sum())
print(kpri_gg3[14:16].sum())
print(kpri_gg3[16:18].sum())
print(kpri_gg3[18:20].sum())
print(kpri_gg3[20:22].sum())
print(kpri_gg3[22:24].sum())

1000.0
1722.0
4169.0
8237.0
8469.0
9055.0
8252.0
8246.0
7152.0
5173.0
3476.0
2758.0

In [733]:
kpri_gg4 = kpri_gg[3::6]
kpri_gg4.sum()

62587.0

In [745]:
print(kpri_gg4[:2].sum())
print(kpri_gg4[2:4].sum())
print(kpri_gg4[4:6].sum())
print(kpri_gg4[6:8].sum())
print(kpri_gg4[8:10].sum())
print(kpri_gg4[10:12].sum())
print(kpri_gg4[12:14].sum())
print(kpri_gg4[14:16].sum())
print(kpri_gg4[16:18].sum())
print(kpri_gg4[18:20].sum())
print(kpri_gg4[20:22].sum())
print(kpri_gg4[22:24].sum())

705.0
867.0
1935.0
3909.0
6663.0
7483.0
7688.0
8626.0
7955.0
7070.0
5110.0
4576.0

In [746]:
kpri_gg5 = kpri_gg[4::6]
kpri_gg5.sum()

57210.0

In [758]:
print(kpri_gg5[:2].sum())
print(kpri_gg5[2:4].sum())
print(kpri_gg5[4:6].sum())
print(kpri_gg5[6:8].sum())
print(kpri_gg5[8:10].sum())
print(kpri_gg5[10:12].sum())
print(kpri_gg5[12:14].sum())
print(kpri_gg5[14:16].sum())
print(kpri_gg5[16:18].sum())
print(kpri_gg5[18:20].sum())
print(kpri_gg5[20:22].sum())
print(kpri_gg5[22:24].sum())

779.0
713.0
1131.0
1997.0
3501.0
5979.0
6331.0
7541.0
7943.0
7928.0
6773.0
6594.0

In [759]:
kpri_gg6 = kpri_gg[5::6]
kpri_gg6.sum()

51595.0

In [771]:
print(kpri_gg6[:2].sum())
print(kpri_gg6[2:4].sum())
print(kpri_gg6[4:6].sum())
print(kpri_gg6[6:8].sum())
print(kpri_gg6[8:10].sum())
print(kpri_gg6[10:12].sum())
print(kpri_gg6[12:14].sum())
print(kpri_gg6[14:16].sum())
print(kpri_gg6[16:18].sum())
print(kpri_gg6[18:20].sum())
print(kpri_gg6[20:22].sum())
print(kpri_gg6[22:24].sum())

580.0
565.0
771.0
1077.0
1826.0
2837.0
4950.0
6072.0
6720.0
8205.0
7869.0
10123.0

# Table 15 : Primary Student Enrollment by Age, Grade and Gender

In [772]:
kpri_gg1

How many students  below Age 6 in Grade 1 are MALES?               1514.0
How many students  below Age 6 in Grade 1 are FEMALES?             1647.0
How many students  Age 6 years old in Grade 1 are MALES?           5906.0
How many students  Age 6 years old in Grade 1 are FEMALES?         4794.0
How many students  Age 7 years old in Grade 1 are MALES?           5925.0
How many students  Age 7 years old in Grade 1 are FEMALES?         5807.0
How many students  Age 8 years old  in Grade 1 are MALES?          6082.0
How many students  Age 8 years old  in Grade 1 are FEMALES?        5773.0
How many students   Age 9 years old in Grade 1 are MALES?          5440.0
How many students  Age 9 years old in Grade 1 are FEMALES?         4901.0
How many students  Age 10 years old in Grade 1 are MALES?          5151.0
How many students  Age 10 years old in Grade 1 are FEMALES?        4764.0
How many students   Age 11 years old in Grade 1 are MALES?         3652.0
How many students   Age 11 years old in Grade 1 are FEMALES?       3367.0
How many students  Age 12 years old in Grade 1 are MALES?          3163.0
How many students  Age 12 years old in Grade 1 are FEMALES?        2800.0
How many students  Age 13 years old in Grade 1 are MALES?          2010.0
How many students  Age 13 years old in Grade 1 are FEMALES?        1768.0
How many students Age 14 years old in Grade 1 are MALES?           1298.0
How many students  Age 14 years old in Grade 1 are FEMALES?         153.0
How many students  Age 15 years old in Grade 1 are MALES?           889.0
How many students  Age 15 years old in Grade 1 are FEMALES?         756.0
How many students above age 15 Years old  in Grade 1 are MALES?     793.0
How many students  above Age 15 in Grade 1 are FEMALES?             675.0
dtype: float64

In [773]:
kpri_gg2

How many students  below Age 6 in Grade 2 are MALES?                794.0
How many students  below Age 6 in Grade 2 are FEMALES?              808.0
How many students  Age 6 years old in Grade 2 are MALES?           1802.0
How many students  Age 6 years old in Grade 2 are FEMALES?         1924.0
How many students  Age 7 years old in Grade 2 are MALES?           4578.0
How many students  Age 7 years old in Grade 2 are FEMALES?         4581.0
How many students  Age 8 years old  in Grade 2 are MALES?          4972.0
How many students  Age 8 years old  in Grade 2 are FEMALES?        4810.0
How many students   Age 9 years old in Grade 2 are MALES?          5081.0
How many students  Age 9 years old in Grade 2 are FEMALES?         4685.0
How many students  Age 10 years old in Grade 2 are MALES?          4827.0
How many students  Age 10 years old in Grade 2 are FEMALES?        4573.0
How many students   Age 11 years old in Grade 2 are MALES?         3973.0
How many students   Age 11 years old in Grade 2 are FEMALES?       3730.0
How many students  Age 12 years old in Grade 2 are MALES?          3822.0
How many students  Age 12 years old in Grade 2 are FEMALES?        3637.0
How many students  Age 13 years old in Grade 2 are MALES?          2636.0
How many students  Age 13 years old in Grade 2 are FEMALES?        2548.0
How many students Age 14 years old in Grade 2 are MALES?           1768.0
How many students  Age 14 years old in Grade 2 are FEMALES?        1629.0
How many students  Age 15 years old in Grade 2 are MALES?          1143.0
How many students  Age 15 years old in Grade 2 are FEMALES?         966.0
How many students above age 15 Years old  in Grade 2 are MALES?     997.0
How many students  above Age 15 in Grade 2 are FEMALES?             776.0
dtype: float64

In [774]:
kpri_gg3

How many students  below Age 6 in Grade 3 are MALES?                593.0
How many students  below Age 6 in Grade 3 are FEMALES?              407.0
How many students  Age 6 years old in Grade 3 are MALES?            822.0
How many students  Age 6 years old in Grade 3 are FEMALES?          900.0
How many students  Age 7 years old in Grade 3 are MALES?           2208.0
How many students  Age 7 years old in Grade 3 are FEMALES?         1961.0
How many students  Age 8 years old  in Grade 3 are MALES?          4062.0
How many students  Age 8 years old  in Grade 3 are FEMALES?        4175.0
How many students   Age 9 years old in Grade 3 are MALES?          4211.0
How many students  Age 9 years old in Grade 3 are FEMALES?         4258.0
How many students  Age 10 years old in Grade 3 are MALES?          4570.0
How many students   Age 10 years old in Grade 3 are FEMALES?       4485.0
How many students   Age 11 years old in Grade 3 are MALES?         4104.0
How many students   Age 11 years old in Grade 3 are FEMALES?       4148.0
How many students  Age 12 years old in Grade 3 are MALES?          4076.0
How many students  Age 12 years old in Grade 3 are FEMALES?        4170.0
How many students  Age 13 years old in Grade 3 are MALES?          3670.0
How many students  Age 13 years old in Grade 3 are FEMALES?        3482.0
How many students Age 14 years old in Grade 3 are MALES?           2722.0
How many students  Age 14 years old in Grade 3 are FEMALES?        2451.0
How many students  Age 15 years old in Grade 3 are MALES?          1811.0
How many students  Age 15 years old in Grade 3 are FEMALES?        1665.0
How many students above age 15 Years old  in Grade 3 are MALES?    1496.0
How many students  above Age 15 in Grade 3 are FEMALES?            1262.0
dtype: float64

In [775]:
kpri_gg4

How many students  below Age 6 in Grade 4 are MALES?                348.0
How many students  below Age 6 in Grade 4 are FEMALES?              357.0
How many students  Age 6 years old in Grade 4 are MALES?            417.0
How many students  Age 6 years old in Grade 4 are FEMALES?          450.0
How many students  Age 7 years old in Grade 4 are MALES?            972.0
How many students  Age 7 years old in Grade 4 are FEMALES?          963.0
How many students  Age 8 years old  in Grade 4 are MALES?          1864.0
How many students  Age 8 years old  in Grade 4 are FEMALES?        2045.0
How many students   Age 9 years old in Grade 4 are MALES?          3319.0
How many students  Age 9 years old in Grade 4 are FEMALES?         3344.0
How many students  Age 10 years old in Grade 4 are MALES?          3864.0
How many students   Age 10 years old in Grade 4 are FEMALES?       3619.0
How many students   Age 11 years old in Grade 4 are MALES?         3804.0
How many students   Age 11 years old in Grade 4 are FEMALES?       3884.0
How many students  Age 12 years old in Grade 4 are MALES?          4328.0
How many students   12 years old in Grade 4 are FEMALES?           4298.0
How many students  Age 13 years old in Grade 4 are MALES?          3992.0
How many students  Age 13 years old in Grade 4 are FEMALES?        3963.0
How many students Age 14 years old in Grade 4 are MALES?           3621.0
How many students  Age 14 years old in Grade 4 are FEMALES?        3449.0
How many students  Age 15 years old in Grade 4 are MALES?          2754.0
How many students  Age 15 years old in Grade 4 are FEMALES?        2356.0
How many students above age 15 Years old  in Grade 4 are MALES?    2498.0
How many students  above Age 15 in Grade 4 are FEMALES?            2078.0
dtype: float64

In [776]:
kpri_gg5

How many students  below Age 6 in Grade 5 are MALES?                266.0
How many students  below Age 6 in Grade 5 are FEMALES?              513.0
How many students  Age 6 years old in Grade 5 are MALES?            366.0
How many students  Age 6 years old in Grade 5 are FEMALES?          347.0
How many students  Age 7 years old in Grade 5 are MALES?            619.0
How many students  Age 7 years old in Grade 5 are FEMALES?          512.0
How many students  Age 8 years old  in Grade 5 are MALES?           992.0
How many students  Age 8 years old  in Grade 5 are FEMALES?        1005.0
How many students   Age 9 years old in Grade 5 are MALES?          1903.0
How many students  Age 9 years old in Grade 5 are FEMALES?         1598.0
How many students  Age 10 years old in Grade 5 are MALES?          3001.0
How many students   Age 10 years old in Grade 5 are FEMALES?       2978.0
How many students   Age 11 years old in Grade 5 are MALES?         3103.0
How many students   Age 11 years old in Grade 5 are FEMALES?       3228.0
How many students  Age 12 years old in Grade 5 are MALES?          3747.0
How many students  Age 12 years old in Grade 5 are FEMALES?        3794.0
How many students  Age 13 years old in Grade 5 are MALES?          4028.0
How many students  Age 13 years old in Grade 5 are FEMALES?        3915.0
How many students Age 14 years old in Grade 5 are MALES?           3978.0
How many students  Age 14 years old in Grade 5 are FEMALES?        3950.0
How many students  Age 15 years old in Grade 5 are MALES?          3479.0
How many students  age 15 Years old  in Grade 5 are FEMALES?       3294.0
How many students above age 15 Years old  in Grade 5 are MALES?    3578.0
How many students  above Age 15 in Grade 5 are FEMALES?            3016.0
dtype: float64

In [777]:
kpri_gg6

How many students  below Age 6 in Grade 6 are MALES?                353.0
How many students  below Age 6 in Grade 6 are FEMALES?              227.0
How many students  Age 6 years old in Grade 6 are MALES?            275.0
How many students  Age 6 years old in Grade 6 are FEMALES?          290.0
How many students  Age 7 years old in Grade 6 are MALES?            350.0
How many students  Age 7 years old in Grade 6 are FEMALES?          421.0
How many students  Age 8 years old  in Grade 6 are MALES?           549.0
How many students  Age 8 years old  in Grade 6 are FEMALES?         528.0
How many students   Age 9 years old in Grade 6 are MALES?           995.0
How many students  Age 9 years old in Grade 6 are FEMALES?          831.0
How many students  Age 10 years old in Grade 6 are MALES?          1451.0
How many students   Age 10 years old in Grade 6 are FEMALES?       1386.0
How many students   Age 11 years old in Grade 6 are MALES?         2511.0
How many students   Age 11 years old in Grade 6 are FEMALES?       2439.0
How many students  Age 12 years old in Grade 6 are MALES?          3013.0
How many students  Age 12 years old in Grade 6 are FEMALES?        3059.0
How many students  Age 13 years old in Grade 6 are MALES?          3357.0
How many students  Age 13 years old in Grade 6 are FEMALES?        3363.0
How many students Age 14 years old in Grade 6 are MALES?           4030.0
How many students  Age 14 years old in Grade 6 are FEMALES?        4175.0
How many students  Age 15 years old in Grade 6 are MALES?          3995.0
How many students  age 15 Years old  in Grade 6 are FEMALES?       3874.0
How many students above age 15 Years old  in Grade 6 are MALES?    5412.0
How many students  above Age 15 in Grade 6 are FEMALES?            4711.0
dtype: float64

# Table 16: Primary Repeater by School Types, Gender and Grade

In [778]:
kece_r = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,153:165]], axis=1).groupby('Type of school').sum()
kece_r

,How many MALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 2 are Repeaters?,How many MALE students in Grade 2 are Repeaters?,How many MALE students in Grade 3 are Repeaters?,How many FEMALE students in Grade 3 are Repeaters?,How many MALE students in Grade 4 are Repeaters?,How many FEMALE students in Grade 4 are Repeaters?,How many MALE students in Grade 5 are Repeaters?,How many FEMALE students in Grade 5 are Repeaters?,How many MALE students in Grade 6 are Repeaters?,How many FEMALE students in Grade 6 are Repeaters?
Type of school,,,,,,,,,,,,
Community,146.0,119.0,111.0,85.0,79.0,87.0,77.0,53.0,49.0,60.0,44.0,37.0
Faith-based,400.0,350.0,245.0,241.0,211.0,276.0,207.0,199.0,169.0,173.0,171.0,190.0
Private,663.0,685.0,536.0,631.0,521.0,713.0,463.0,515.0,451.0,497.0,436.0,453.0
Public,2678.0,2259.0,1789.0,1806.0,1599.0,1451.0,1413.0,1222.0,985.0,883.0,845.0,805.0

# Table 17: Primary Repeaters by County, Gender and Grade

In [786]:
kece_rc = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,153:165]], axis=1).groupby('County').sum()
kece_rc

,How many MALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 2 are Repeaters?,How many MALE students in Grade 2 are Repeaters?,How many MALE students in Grade 3 are Repeaters?,How many FEMALE students in Grade 3 are Repeaters?,How many MALE students in Grade 4 are Repeaters?,How many FEMALE students in Grade 4 are Repeaters?,How many MALE students in Grade 5 are Repeaters?,How many FEMALE students in Grade 5 are Repeaters?,How many MALE students in Grade 6 are Repeaters?,How many FEMALE students in Grade 6 are Repeaters?
County,,,,,,,,,,,,
Bomi,54.0,56.0,29.0,39.0,29.0,29.0,28.0,27.0,16.0,20.0,15.0,13.0
Bong,348.0,347.0,199.0,207.0,190.0,182.0,176.0,143.0,117.0,94.0,88.0,85.0
Gbarpolu,142.0,121.0,63.0,79.0,74.0,58.0,58.0,44.0,29.0,33.0,28.0,37.0
Grand Bassa,248.0,213.0,165.0,152.0,189.0,145.0,127.0,139.0,86.0,95.0,83.0,74.0
Grand Cape Mount,332.0,246.0,220.0,234.0,159.0,176.0,131.0,133.0,98.0,83.0,100.0,96.0
Grand Gedeh,173.0,176.0,140.0,140.0,118.0,236.0,124.0,125.0,87.0,103.0,120.0,130.0
Grand Kru,147.0,126.0,80.0,111.0,81.0,76.0,90.0,59.0,50.0,46.0,46.0,37.0
Lofa,245.0,234.0,176.0,159.0,173.0,149.0,113.0,119.0,93.0,75.0,54.0,49.0
Margibi,143.0,148.0,129.0,135.0,123.0,113.0,112.0,93.0,90.0,86.0,81.0,84.0
Maryland,68.0,25.0,47.0,45.0,15.0,31.0,60.0,34.0,22.0,13.0,19.0,13.0
Montserrado 1,319.0,283.0,247.0,209.0,206.0,222.0,198.0,201.0,217.0,194.0,200.0,159.0
Montserrado 2,358.0,332.0,253.0,297.0,239.0,321.0,256.0,280.0,253.0,301.0,228.0,289.0
Nimba,930.0,800.0,705.0,710.0,584.0,564.0,504.0,430.0,364.0,336.0,325.0,307.0
River Gee,129.0,89.0,71.0,83.0,66.0,50.0,52.0,31.0,32.0,25.0,21.0,18.0
Rivercess,48.0,44.0,30.0,30.0,30.0,31.0,28.0,16.0,19.0,14.0,21.0,28.0
Sinoe,203.0,173.0,127.0,133.0,134.0,144.0,103.0,115.0,81.0,95.0,67.0,66.0