In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',7000)

In [2]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-2-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [3]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [4]:
kpri_student =kcensus.iloc[:,141:397]
kpri_student.head()

,Which session or sessions does the school operate for Primary?,Which session or sessions does the school operate for Primary?/Morning,Which session or sessions does the school operate for Primary?/Afternoon,Which session or sessions does the school operate for Primary?/Evening,What is the total number of Primary school students?,What is the total number of Primary students that are Females?,What is the total number of primary students that are Males?,What is the total number of Primary teachers that are Males?,What is the total number of Primary teachers that are Females?,How many teachers are teaching only one grade at Primary level that are MALES?,How many teachers are teaching only one grade at the Primary level that are FEMALES?,How many additional teachers does the school need at the Primary level?,How many MALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 1 are Repeaters?,How many FEMALE students in Grade 2 are Repeaters?,How many MALE students in Grade 2 are Repeaters?,How many MALE students in Grade 3 are Repeaters?,How many FEMALE students in Grade 3 are Repeaters?,How many MALE students in Grade 4 are Repeaters?,How many FEMALE students in Grade 4 are Repeaters?,How many MALE students in Grade 5 are Repeaters?,How many FEMALE students in Grade 5 are Repeaters?,How many MALE students in Grade 6 are Repeaters?,How many FEMALE students in Grade 6 are Repeaters?,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?,How many students enrolled in Grade 1 are MALES?,How many students enrolled in Grade 2 are MALES?,How many students enrolled in Grade 3 are MALES?,How many students enrolled in Grade 4 are MALES?,How many students enrolled in Grade 5 are MALES?,How many students enrolled in Grade 6 are MALES?,How many students enrolled in Grade 1 are FEMALES?,How many students enrolled in Grade 2 are FEMALES?,How many students enrolled in Grade 3 are FEMALES?,How many students enrolled in Grade 4 are FEMALES?,How many students enrolled in Grade 5 are FEMALES?,How many students enrolled in Grade 6 are FEMALES?,How many Sections do Grade 1 has?,How many Sections do Grade 2 has?,How many Sections do Grade 3 has?,How many Sections do Grade 4 has?,How many Sections do Grade 5 has?,How many Sections do Grade 6 has?,How many students repeating Grade 1 are MALES?,How many students repeating Grade 2 are MALES?,How many students repeating Grade 3 are MALES?,How many students repeating Grade 4 are MALES?,How many students repeating Grade 6 are MALES?,How many students repeating Grade 5 are MALES?,How many students repeating Grade 1 are FEMALES?,How many students repeating Grade 2 are FEMALES?,How many students repeating Grade 3 are FEMALES?,How many students repeating Grade 4 are FEMALES?,How many students repeating Grade 5 are FEMALES?,How many students repeating Grade 6 are FEMALES?,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?,How many students who graduated from Grade 6 last Academic year are MALES,How many students who graduated from Grade 6 last Academic year are FEMALES?,What is total intake in Grade 1?,What is total intake in Grade 2?,What is total intake in Grade 3?,What is total intake in Grade 4?,What is total intake in Grade 5?,What is total intake in Grade 6?,How many male student graduated from Grade 6 last academic year?,How many female student graduated from Grade 6 last academic year?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Morning,1.0,0.0,0.0,93.0,48.0,44.0,4.0,3.0,0.0,0.0,4.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,9.0,8.0,5.0,7.0,2.0,10.0,16.0,20.0,13.0,13.0,8.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,2.0,23.0,16.0,20.0,13.0,13.0,8.0,6.0,2.0
2,Morning,1.0,0.0,0.0,32.0,11.0,21.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,9.0,4.0,0.0,0.0,0.0,5.0,3.0,3.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,13.0,12.0,7.0,0.0,0.0,0.0,NaN,NaN
3,Morning,1.0,0.0,0.0,139.0,60.0,79.0,1.0,3.0,NaN,1.0,NaN,2.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,15.0,21.0,25.0,15.0,17.0,16.0,20.0,24.0,25.0,18.0,25.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,10.0,32.0,35.0,45.0,54.0,33.0,42.0,9.0,10.0

In [12]:
kpri_dic = pd.Series(kpri_student.columns)
kpri_dic.to_csv('kpri_dic.csv', index = False)

In [14]:
kpri_age = kpri_student.iloc[:,102:246]
kpri_age.head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Table 1: Primary Enrollment by Ownership and Gender

In [15]:
kpri_c = kcensus.iloc[:,[2]]
kpri_o = kcensus.iloc[:,[39]]
kpri_s = kpri_student.iloc[:,102:246]
kpri_s.head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
kpri_og = pd.concat([kpri_o, kpri_s],axis=1).groupby('Type of school').sum()
kpri_og.sum(1)

Type of school
Community       14528.0
Faith-based     71740.0
Private        126444.0
Public         176477.0
dtype: float64

In [37]:
kpri_ogm = pd.concat([kpri_og.iloc[:,:6],
kpri_og.iloc[:,12:18],
kpri_og.iloc[:,24:30],
kpri_og.iloc[:,36:42],
kpri_og.iloc[:,48:54],
kpri_og.iloc[:,60:66],
kpri_og.iloc[:,72:78],
kpri_og.iloc[:,84:90],
kpri_og.iloc[:,96:102],
kpri_og.iloc[:,108:114],
kpri_og.iloc[:,120:126],
kpri_og.iloc[:,132:138]],axis = 1)
kpri_ogm.sum(1)

Type of school
Community       7419.0
Faith-based    34428.0
Private        61606.0
Public         96240.0
dtype: float64

In [39]:
kpri_ogf = kpri_og.sum(1)-kpri_ogm.sum(1)
kpri_ogf

Type of school
Community       7109.0
Faith-based    37312.0
Private        64838.0
Public         80237.0
dtype: float64

# Table 2: Primary Enrollment by Grade and Gender

In [81]:
kpri_gg = kpri_og.sum()
kpri_gg.sum()

389189.0

In [58]:
kpri_gg1 = kpri_gg[::6]
print(kpri_gg1.sum())
print(kpri_gg1[::2].sum())
print(kpri_gg1[1::2].sum())

79028.0
41823.0
37205.0

In [66]:
kpri_gg2 = kpri_gg[1::6]
kpri_gg2.sum()
kpri_gg2[::2].sum()
kpri_gg2[1::2].sum()

34667.0

In [71]:
kpri_gg3 = kpri_gg[2::6]
kpri_gg3.sum()
kpri_gg3[::2].sum()
kpri_gg3[1::2].sum()

33364.0

In [74]:
kpri_gg4 = kpri_gg[3::6]
kpri_gg4.sum()
kpri_gg4[::2].sum()
kpri_gg4[1::2].sum()

30806.0

In [77]:
kpri_gg5 = kpri_gg[4::6]
kpri_gg5.sum()
kpri_gg5[::2].sum()
kpri_gg5[1::2].sum()

28150.0

In [80]:
kpri_gg6 = kpri_gg[5::6]
kpri_gg6.sum()
kpri_gg6[::2].sum()
kpri_gg6[1::2].sum()

25304.0

# Table 3: Number of Primary Students by County and Grade

In [85]:
kpri_cos = pd.concat([kpri_c, kpri_o, kpri_s], axis = 1).groupby(['County']).sum()
kpri_cos.sum(1)

County
Bomi                 5697.0
Bong                27912.0
Gbarpolu             8168.0
Grand Bassa         13915.0
Grand Cape Mount    14452.0
Grand Gedeh         17820.0
Grand Kru            9644.0
Lofa                16838.0
Margibi             21292.0
Maryland             2189.0
Montserrado 1       90249.0
Montserrado 2       73971.0
Nimba               60445.0
River Gee            8474.0
Rivercess            4003.0
Sinoe               14120.0
dtype: float64

In [83]:
kpri_cosm = pd.concat(
[kpri_cos.iloc[:,:6],
kpri_cos.iloc[:,12:18],
kpri_cos.iloc[:,24:30],
kpri_cos.iloc[:,36:42],
kpri_cos.iloc[:,48:54],
kpri_cos.iloc[:,60:66],
kpri_cos.iloc[:,72:78],
kpri_cos.iloc[:,84:90],
kpri_cos.iloc[:,96:102],
kpri_cos.iloc[:,108:114],
kpri_cos.iloc[:,120:126],
kpri_cos.iloc[:,132:138]],axis = 1)
kpri_cosm.sum(1)

County
Bomi                 2983.0
Bong                15091.0
Gbarpolu             4618.0
Grand Bassa          7669.0
Grand Cape Mount     7518.0
Grand Gedeh          9168.0
Grand Kru            5311.0
Lofa                 9226.0
Margibi             10637.0
Maryland             1219.0
Montserrado 1       43129.0
Montserrado 2       36185.0
Nimba               32384.0
River Gee            4681.0
Rivercess            2291.0
Sinoe                7583.0
dtype: float64

# Table 4: Primary Students by County and Gender

In [86]:
kpri_cg = pd.concat([kpri_c, kpri_s], axis = 1).groupby(['County']).sum()
kpri_cg.sum(1)

County
Bomi                 5697.0
Bong                27912.0
Gbarpolu             8168.0
Grand Bassa         13915.0
Grand Cape Mount    14452.0
Grand Gedeh         17820.0
Grand Kru            9644.0
Lofa                16838.0
Margibi             21292.0
Maryland             2189.0
Montserrado 1       90249.0
Montserrado 2       73971.0
Nimba               60445.0
River Gee            8474.0
Rivercess            4003.0
Sinoe               14120.0
dtype: float64

In [91]:
pd.concat([kpri_c, kpri_o, kpri_s], axis = 1).groupby(['County','Type of school']).sum().sum(1)

County            Type of school
Bomi              Community           113.0
                  Faith-based         955.0
                  Private            1039.0
                  Public             3590.0
Bong              Community          1235.0
                  Faith-based        3528.0
                  Private            4997.0
                  Public            18152.0
Gbarpolu          Community           115.0
                  Faith-based         198.0
                  Private             346.0
                  Public             7509.0
Grand Bassa       Community           286.0
                  Faith-based         789.0
                  Private            4227.0
                  Public             8613.0
Grand Cape Mount  Community           646.0
                  Faith-based        1586.0
                  Private            2334.0
                  Public             9886.0
Grand Gedeh       Community           874.0
                  Faith-based        2329.0
                  Private            4958.0
                  Public             9659.0
Grand Kru         Faith-based        1206.0
                  Private             445.0
                  Public             7993.0
Lofa              Community           328.0
                  Faith-based         711.0
                  Private            1238.0
                  Public            14561.0
Margibi           Community          2646.0
                  Faith-based        3556.0
                  Private            5953.0
                  Public             9137.0
Maryland          Private             406.0
                  Public             1783.0
Montserrado 1     Community          3953.0
                  Faith-based       25773.0
                  Private           49639.0
                  Public            10884.0
Montserrado 2     Community           879.0
                  Faith-based       18966.0
                  Private           38415.0
                  Public            15711.0
Nimba             Community          3453.0
                  Faith-based        7297.0
                  Private           10242.0
                  Public            39453.0
River Gee         Faith-based        2099.0
                  Private             246.0
                  Public             6129.0
Rivercess         Community             0.0
                  Faith-based         314.0
                  Private             251.0
                  Public             3438.0
Sinoe             Community             0.0
                  Faith-based        2433.0
                  Private            1708.0
                  Public             9979.0
dtype: float64

# Table 5: Primary Enrollment by District and Gender

In [93]:
kpri_c = kcensus.iloc[:,[2]]
kpri_d = kcensus.iloc[:,3:19]
#kece_s = kece_student.iloc[:,46:87]

In [97]:
kpri_cds = pd.concat([kpri_c, kpri_d, kpri_s], axis = 1)
kpri_cds.columns.tolist()

['County',
 'District in Bong County',
 'District in Gbarpolu',
 'District in River Gee',
 'District in Sinoe',
 'District in Lofa',
 'District in Nimba',
 'District in Grand Cape Mount',
 'District in Maryland',
 'District in Margibi',
 'District in Bomi',
 'District in Grand Bassa',
 'District in Montserrado 2',
 'District in Montserrado 1',
 'Districts in Grand Kru',
 'Districts in Grand Gedeh',
 'Districts in River Cess',
 'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?']

In [98]:
kpri_melt =kpri_cds.melt(id_vars=['County',
 'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?'],var_name = 'district',value_name='count')
kpri_melt.head()

,County,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,District in Bong County,NaN
2,River Gee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN

## Districts in Bomi County

In [132]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Senji')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Dewoin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Klay')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Suehn-Mecca')].sum()

k_a = k_s[1:-2]
k_a.sum()

1202.0

In [133]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

675.0

## Districts in Bong County

In [151]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Zota')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Salala')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Fuamah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Suakoko')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Sanoyea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Panta-Kpaai')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Kokoyah')].sum()

k_a = k_s[1:-2]
k_a.sum()

4516.0

In [152]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

2566.0

## Districts in Gbarpolu

In [162]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gorwalali')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bopolu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gbarma')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Belle')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bokomu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Kongba')].sum()

k_a = k_s[1:-2]
k_a.sum()

865.0

In [163]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

481.0

## Districts in Grand Bassa

In [176]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 4')].sum()
k_a = k_s[1:-2]
k_a.sum()

1888.0

In [177]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1134.0

## Districts in Grand Cape Mount

In [188]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tewor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Gola Konneh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Porkpa')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Garwular')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tallah Tombay')].sum()

k_a = k_s[1:-2]
k_a.sum()

1368.0

In [189]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

738.0

## Districts in Grand Gedeh

In [198]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Konobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Putu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Gbarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Tchien')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Cavalla')].sum()
k_a = k_s[1:-2]
k_a.sum()

5092.0

In [199]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

2584.0

## Districts in Grand Kru

In [214]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Barclayville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Trehn')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Buah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Grand Cess')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Dorbor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Jloh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Sass Town')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Wedabo')].sum()

k_a = k_s[1:-2]
k_a.sum()

1528.0

In [215]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

848.0

## Districts in Lofa

In [228]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Foya')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Salayea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Vahun')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Voinjama')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Zorzor')].sum()

k_a = k_s[1:-2]
k_a.sum()

2433.0

In [229]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1343.0

## Districts in Margibi

In [240]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Marshall')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Farmington')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Mama kaba')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Gibi')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

3776.0

In [241]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1659.0

## Districts in Maryland

In [256]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Sodoken')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Pleebo')].sum()

k_a = k_s[1:-2]
k_a.sum()

0.0

In [257]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

0.0

## Districts in Montserrado 1

In [286]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 3')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 4')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 6')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2D')].sum()

k_a = k_s[1:-2]
k_a.sum()

8315.0

In [287]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

4104.0

## Districts in Montserrado 2

In [308]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank  1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Careysburg')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Todee')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 3')].sum()

k_a = k_s[1:-2]
k_a.sum()

6299.0

In [309]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

3359.0

## Districts in Nimba

In [343]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Saclepea 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Zoe-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tuwah River')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Gbelay-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarpea Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Buuyao')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain-Garr 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain- Garr 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

3950.0

In [344]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

2017.0

## Districts in River Gee

In [355]:
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Sarbo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Tienpo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Chedepo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Putupo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Gbeapo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Webbo')].sum()

k_a = k_s[1:-2]
k_a.sum()

2280.0

In [356]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

1277.0

## Districts in River Cess

In [365]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Timobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Morwah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Yarnee')].sum()

k_a = k_s[1:-2]
k_a.sum()

1545.0

In [366]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

843.0

## Districts in Sinoe

In [384]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Upper Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Juarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Lower Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Butaw')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Tarjuwon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Jeadea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Sanquin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Greenville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Central Kpanyan')].sum()

k_a = k_s[1:-2]
k_a.sum()

904.0

In [385]:
k_m = k_a[:6].append([
k_a[12:18],
k_a[24:30],
k_a[36:42],
k_a[48:54],
k_a[60:66],
k_a[72:78],
k_a[84:90],
k_a[96:102],
k_a[108:114],
k_a[120:126],
k_a[132:138]])
k_m.sum()

513.0

# Table 6: Enrollment by District and Grade

In [62]:
#kece_cds.columns

In [63]:
#pd.set_option('display.max_rows',2000)

#kece_cds['District in Nimba'].dropna() #[kece_cds['District in Montserrado 2']=='Left Bank 1B']

## Districts in Bomi County

## Districts in Bomi County

In [409]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Senji')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Dewoin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Klay')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bomi') & (kpri_melt['count']== 'Suehn-Mecca')].sum()

In [411]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1202.0
334.0
245.0
208.0
181.0
148.0
86.0

## Districts in Bong County

In [428]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Gbarnga 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Zota')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Salala')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Fuamah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Suakoko')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Sanoyea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Panta-Kpaai')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Bong County') & (kpri_melt['count']== 'Kokoyah')].sum()

In [429]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

4516.0
1040.0
961.0
847.0
677.0
553.0
438.0

## Districts in Gbarpolu

In [440]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gorwalali')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bopolu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Gbarma')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Belle')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Bokomu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Gbarpolu') & (kpri_melt['count']== 'Kongba')].sum()

In [441]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

865.0
226.0
191.0
176.0
123.0
78.0
71.0

## Districts in Grand Bassa

In [455]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 5B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 3B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Bassa') & (kpri_melt['count']== 'District 4')].sum()

In [456]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1888.0
487.0
387.0
367.0
270.0
200.0
177.0

## Districts in Grand Cape Mount

In [465]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tewor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Gola Konneh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Porkpa')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Garwular')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Grand Cape Mount') & (kpri_melt['count']== 'Tallah Tombay')].sum()

In [466]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1368.0
299.0
268.0
229.0
230.0
190.0
152.0

## Districts in Grand Gedeh

In [475]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Konobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Putu')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Gbarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Tchien')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Gedeh') & (kpri_melt['count']== 'Cavalla')].sum()

In [476]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

5092.0
954.0
882.0
848.0
917.0
741.0
750.0

## Districts in Grand Kru

In [491]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Barclayville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Trehn')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Buah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Grand Cess')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Dorbor')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Jloh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Sass Town')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in Grand Kru') & (kpri_melt['count']== 'Wedabo')].sum()

In [492]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1528.0
359.0
328.0
272.0
278.0
177.0
114.0

## Districts in Lofa

In [505]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Foya')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Kolahun 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Salayea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Vahun')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Voinjama')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Lofa') & (kpri_melt['count']== 'Zorzor')].sum()

In [506]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

2433.0
549.0
539.0
456.0
338.0
319.0
232.0

## Districts in Margibi

In [519]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Marshall')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Farmington')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Mama kaba')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Gibi')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Margibi') & (kpri_melt['count']== 'Kakata 2')].sum()

In [520]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

3776.0
716.0
650.0
602.0
640.0
575.0
593.0

## Districts in Maryland

In [535]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Harper 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Barrobo 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Sodoken')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Karleway 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Maryland') & (kpri_melt['count']== 'Pleebo')].sum()

In [536]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

0.0
0.0
0.0
0.0
0.0
0.0
0.0

## Districts in Montserrado 1

In [565]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 3')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 4')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 5')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 6')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Greater Monrovia 2D')].sum()

In [566]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

8315.0
1342.0
1346.0
1499.0
1373.0
1502.0
1253.0

## Districts in Montserrado 2

In [587]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 1B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank  1C')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 1D')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left Bank 2A')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Left bank 2B')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Careysburg')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Todee')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Montserrado 2') & (kpri_melt['count']== 'Right Bank 3')].sum()

In [588]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

6299.0
1129.0
1067.0
1017.0
1079.0
1099.0
908.0

## Districts in Nimba

In [615]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tappita 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Saclepea 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Zoe-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Tuwah River')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Gbelay-Geh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarpea Mah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Buuyao')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain-Garr 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Nimba') & (kpri_melt['count']== 'Bain- Garr 2')].sum()

In [616]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

3950.0
890.0
791.0
678.0
646.0
507.0
438.0

## Districts in River Gee

In [627]:
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Sarbo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Tienpo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Chedepo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Putupo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Gbeapo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in River Gee') & (kpri_melt['count']== 'Webbo')].sum()

In [628]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

2280.0
574.0
478.0
469.0
304.0
239.0
216.0

## Districts in River Cess

In [637]:
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Timobo')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 1')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Central Rivercess 2')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Morwah')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'Districts in River Cess') & (kpri_melt['count']== 'Yarnee')].sum()

In [638]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

1545.0
394.0
365.0
237.0
197.0
172.0
180.0

## Districts in Sinoe

In [655]:
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Upper Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Juarzon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Lower Kpanyan')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Butaw')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Tarjuwon')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Jeadea')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Sanquin')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Greenville')].sum()
k_s = kpri_melt[(kpri_melt['district']== 'District in Sinoe') & (kpri_melt['count']== 'Central Kpanyan')].sum()

In [656]:
k_a = k_s[1:-2]
kpri_gg1 = k_a[::6]
kpri_gg2 = k_a[1::6]

kpri_gg3 = k_a[2::6]

kpri_gg4 = k_a[3::6]

kpri_gg5 = k_a[4::6]

kpri_gg6 = k_a[5::6]

print(k_a.sum())

print(kpri_gg1.sum())

print(kpri_gg2.sum())

print(kpri_gg3.sum())

print(kpri_gg4.sum())

print(kpri_gg5.sum())

print(kpri_gg6.sum())

904.0
245.0
163.0
171.0
120.0
124.0
81.0

# Table 7: Enrollment by District and Ownership

In [128]:
#kece_c.head()

In [658]:
kpri_c = kcensus.iloc[:,[2]]
kpri_o = kcensus.iloc[:,[39]]
kpri_d = kcensus.iloc[:,3:19]
kpri_s.head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [660]:
kpri_cdso = pd.concat([kpri_c, kpri_o, kpri_d, kpri_s], axis = 1)
kpri_cdso.columns.tolist()

['County',
 'Type of school',
 'District in Bong County',
 'District in Gbarpolu',
 'District in River Gee',
 'District in Sinoe',
 'District in Lofa',
 'District in Nimba',
 'District in Grand Cape Mount',
 'District in Maryland',
 'District in Margibi',
 'District in Bomi',
 'District in Grand Bassa',
 'District in Montserrado 2',
 'District in Montserrado 1',
 'Districts in Grand Kru',
 'Districts in Grand Gedeh',
 'Districts in River Cess',
 'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?']

In [661]:
kpri_melto =kpri_cdso.melt(id_vars=['County', 
'Type of school',
'How many students  below Age 6 in Grade 1 are MALES?',
 'How many students  below Age 6 in Grade 2 are MALES?',
 'How many students  below Age 6 in Grade 3 are MALES?',
 'How many students  below Age 6 in Grade 4 are MALES?',
 'How many students  below Age 6 in Grade 5 are MALES?',
 'How many students  below Age 6 in Grade 6 are MALES?',
 'How many students  below Age 6 in Grade 1 are FEMALES?',
 'How many students  below Age 6 in Grade 2 are FEMALES?',
 'How many students  below Age 6 in Grade 3 are FEMALES?',
 'How many students  below Age 6 in Grade 4 are FEMALES?',
 'How many students  below Age 6 in Grade 5 are FEMALES?',
 'How many students  below Age 6 in Grade 6 are FEMALES?',
 'How many students  Age 6 years old in Grade 1 are MALES?',
 'How many students  Age 6 years old in Grade 2 are MALES?',
 'How many students  Age 6 years old in Grade 3 are MALES?',
 'How many students  Age 6 years old in Grade 4 are MALES?',
 'How many students  Age 6 years old in Grade 5 are MALES?',
 'How many students  Age 6 years old in Grade 6 are MALES?',
 'How many students  Age 6 years old in Grade 1 are FEMALES?',
 'How many students  Age 6 years old in Grade 2 are FEMALES?',
 'How many students  Age 6 years old in Grade 3 are FEMALES?',
 'How many students  Age 6 years old in Grade 4 are FEMALES?',
 'How many students  Age 6 years old in Grade 5 are FEMALES?',
 'How many students  Age 6 years old in Grade 6 are FEMALES?',
 'How many students  Age 7 years old in Grade 1 are MALES?',
 'How many students  Age 7 years old in Grade 2 are MALES?',
 'How many students  Age 7 years old in Grade 3 are MALES?',
 'How many students  Age 7 years old in Grade 4 are MALES?',
 'How many students  Age 7 years old in Grade 5 are MALES?',
 'How many students  Age 7 years old in Grade 6 are MALES?',
 'How many students  Age 7 years old in Grade 1 are FEMALES?',
 'How many students  Age 7 years old in Grade 2 are FEMALES?',
 'How many students  Age 7 years old in Grade 3 are FEMALES?',
 'How many students  Age 7 years old in Grade 4 are FEMALES?',
 'How many students  Age 7 years old in Grade 5 are FEMALES?',
 'How many students  Age 7 years old in Grade 6 are FEMALES?',
 'How many students  Age 8 years old  in Grade 1 are MALES?',
 'How many students  Age 8 years old  in Grade 2 are MALES?',
 'How many students  Age 8 years old  in Grade 3 are MALES?',
 'How many students  Age 8 years old  in Grade 4 are MALES?',
 'How many students  Age 8 years old  in Grade 5 are MALES?',
 'How many students  Age 8 years old  in Grade 6 are MALES?',
 'How many students  Age 8 years old  in Grade 1 are FEMALES?',
 'How many students  Age 8 years old  in Grade 2 are FEMALES?',
 'How many students  Age 8 years old  in Grade 3 are FEMALES?',
 'How many students  Age 8 years old  in Grade 4 are FEMALES?',
 'How many students  Age 8 years old  in Grade 5 are FEMALES?',
 'How many students  Age 8 years old  in Grade 6 are FEMALES?',
 'How many students   Age 9 years old in Grade 1 are MALES?',
 'How many students   Age 9 years old in Grade 2 are MALES?',
 'How many students   Age 9 years old in Grade 3 are MALES?',
 'How many students   Age 9 years old in Grade 4 are MALES?',
 'How many students   Age 9 years old in Grade 5 are MALES?',
 'How many students   Age 9 years old in Grade 6 are MALES?',
 'How many students  Age 9 years old in Grade 1 are FEMALES?',
 'How many students  Age 9 years old in Grade 2 are FEMALES?',
 'How many students  Age 9 years old in Grade 3 are FEMALES?',
 'How many students  Age 9 years old in Grade 4 are FEMALES?',
 'How many students  Age 9 years old in Grade 5 are FEMALES?',
 'How many students  Age 9 years old in Grade 6 are FEMALES?',
 'How many students  Age 10 years old in Grade 1 are MALES?',
 'How many students  Age 10 years old in Grade 2 are MALES?',
 'How many students  Age 10 years old in Grade 3 are MALES?',
 'How many students  Age 10 years old in Grade 4 are MALES?',
 'How many students  Age 10 years old in Grade 5 are MALES?',
 'How many students  Age 10 years old in Grade 6 are MALES?',
 'How many students  Age 10 years old in Grade 1 are FEMALES?',
 'How many students  Age 10 years old in Grade 2 are FEMALES?',
 'How many students   Age 10 years old in Grade 3 are FEMALES?',
 'How many students   Age 10 years old in Grade 4 are FEMALES?',
 'How many students   Age 10 years old in Grade 5 are FEMALES?',
 'How many students   Age 10 years old in Grade 6 are FEMALES?',
 'How many students   Age 11 years old in Grade 1 are MALES?',
 'How many students   Age 11 years old in Grade 2 are MALES?',
 'How many students   Age 11 years old in Grade 3 are MALES?',
 'How many students   Age 11 years old in Grade 4 are MALES?',
 'How many students   Age 11 years old in Grade 5 are MALES?',
 'How many students   Age 11 years old in Grade 6 are MALES?',
 'How many students   Age 11 years old in Grade 1 are FEMALES?',
 'How many students   Age 11 years old in Grade 2 are FEMALES?',
 'How many students   Age 11 years old in Grade 3 are FEMALES?',
 'How many students   Age 11 years old in Grade 4 are FEMALES?',
 'How many students   Age 11 years old in Grade 5 are FEMALES?',
 'How many students   Age 11 years old in Grade 6 are FEMALES?',
 'How many students  Age 12 years old in Grade 1 are MALES?',
 'How many students  Age 12 years old in Grade 2 are MALES?',
 'How many students  Age 12 years old in Grade 3 are MALES?',
 'How many students  Age 12 years old in Grade 4 are MALES?',
 'How many students  Age 12 years old in Grade 5 are MALES?',
 'How many students  Age 12 years old in Grade 6 are MALES?',
 'How many students  Age 12 years old in Grade 1 are FEMALES?',
 'How many students  Age 12 years old in Grade 2 are FEMALES?',
 'How many students  Age 12 years old in Grade 3 are FEMALES?',
 'How many students   12 years old in Grade 4 are FEMALES?',
 'How many students  Age 12 years old in Grade 5 are FEMALES?',
 'How many students  Age 12 years old in Grade 6 are FEMALES?',
 'How many students  Age 13 years old in Grade 1 are MALES?',
 'How many students  Age 13 years old in Grade 2 are MALES?',
 'How many students  Age 13 years old in Grade 3 are MALES?',
 'How many students  Age 13 years old in Grade 4 are MALES?',
 'How many students  Age 13 years old in Grade 5 are MALES?',
 'How many students  Age 13 years old in Grade 6 are MALES?',
 'How many students  Age 13 years old in Grade 1 are FEMALES?',
 'How many students  Age 13 years old in Grade 2 are FEMALES?',
 'How many students  Age 13 years old in Grade 3 are FEMALES?',
 'How many students  Age 13 years old in Grade 4 are FEMALES?',
 'How many students  Age 13 years old in Grade 5 are FEMALES?',
 'How many students  Age 13 years old in Grade 6 are FEMALES?',
 'How many students Age 14 years old in Grade 1 are MALES?',
 'How many students Age 14 years old in Grade 2 are MALES?',
 'How many students Age 14 years old in Grade 3 are MALES?',
 'How many students Age 14 years old in Grade 4 are MALES?',
 'How many students Age 14 years old in Grade 5 are MALES?',
 'How many students Age 14 years old in Grade 6 are MALES?',
 'How many students  Age 14 years old in Grade 1 are FEMALES?',
 'How many students  Age 14 years old in Grade 2 are FEMALES?',
 'How many students  Age 14 years old in Grade 3 are FEMALES?',
 'How many students  Age 14 years old in Grade 4 are FEMALES?',
 'How many students  Age 14 years old in Grade 5 are FEMALES?',
 'How many students  Age 14 years old in Grade 6 are FEMALES?',
 'How many students  Age 15 years old in Grade 1 are MALES?',
 'How many students  Age 15 years old in Grade 2 are MALES?',
 'How many students  Age 15 years old in Grade 3 are MALES?',
 'How many students  Age 15 years old in Grade 4 are MALES?',
 'How many students  Age 15 years old in Grade 5 are MALES?',
 'How many students  Age 15 years old in Grade 6 are MALES?',
 'How many students  Age 15 years old in Grade 1 are FEMALES?',
 'How many students  Age 15 years old in Grade 2 are FEMALES?',
 'How many students  Age 15 years old in Grade 3 are FEMALES?',
 'How many students  Age 15 years old in Grade 4 are FEMALES?',
 'How many students  age 15 Years old  in Grade 5 are FEMALES?',
 'How many students  age 15 Years old  in Grade 6 are FEMALES?',
 'How many students above age 15 Years old  in Grade 1 are MALES?',
 'How many students above age 15 Years old  in Grade 2 are MALES?',
 'How many students above age 15 Years old  in Grade 3 are MALES?',
 'How many students above age 15 Years old  in Grade 4 are MALES?',
 'How many students above age 15 Years old  in Grade 5 are MALES?',
 'How many students above age 15 Years old  in Grade 6 are MALES?',
 'How many students  above Age 15 in Grade 1 are FEMALES?',
 'How many students  above Age 15 in Grade 2 are FEMALES?',
 'How many students  above Age 15 in Grade 3 are FEMALES?',
 'How many students  above Age 15 in Grade 4 are FEMALES?',
 'How many students  above Age 15 in Grade 5 are FEMALES?',
 'How many students  above Age 15 in Grade 6 are FEMALES?'],var_name = 'district',value_name='count')
kpri_melto.head()

,County,Type of school,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?,district,count
0,Rivercess,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,District in Bong County,NaN
2,River Gee,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,Private,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN

In [132]:
#k_so = kece_melto[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].head(2).groupby('Type of school').sum()#.sum(1)
#k_so
#k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
#k_so

## Districts in Bomi County

In [669]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Senji')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Dewoin')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Klay')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bomi') & (kpri_melto['count']== 'Suehn-Mecca')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1202.0
Type of school
Private      38.0
Public     1164.0
dtype: float64

## Districts in Bong County

In [679]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Gbarnga 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Gbarnga 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Zota')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Salala')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Fuamah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Suakoko')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Sanoyea')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Panta-Kpaai')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Bong County') & (kpri_melto['count']== 'Kokoyah')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

4516.0
Type of school
Community       370.0
Faith-based     229.0
Private         408.0
Public         3509.0
dtype: float64

## Districts in Gbarpolu

In [685]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Gorwalali')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Bopolu')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Gbarma')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Belle')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Bokomu')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Gbarpolu') & (kpri_melto['count']== 'Kongba')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

865.0
Type of school
Public    865.0
dtype: float64

## Districts in Grand Bassa

In [693]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 5')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 5B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 3A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 3B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Bassa') & (kpri_melto['count']== 'District 4')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1888.0
Type of school
Community       172.0
Faith-based     190.0
Private         140.0
Public         1386.0
dtype: float64

## Districts in Grand Cape Mount

In [698]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Tewor')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Gola Konneh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Porkpa')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Garwular')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Grand Cape Mount') & (kpri_melto['count']== 'Tallah Tombay')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1368.0
Type of school
Community       45.0
Faith-based    164.0
Private        177.0
Public         982.0
dtype: float64

## Districts in Grand Gedeh

In [704]:
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Konobo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Putu')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Gbarzon')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Tchien')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Gedeh') & (kpri_melto['count']== 'Cavalla')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

5092.0
Type of school
Community       274.0
Faith-based     977.0
Private        1327.0
Public         2514.0
dtype: float64

## Districts in Grand Kru

In [714]:
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Barclayville')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Trehn')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Buah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Grand Cess')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Dorbor')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Jloh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Sass Town')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in Grand Kru') & (kpri_melto['count']== 'Wedabo')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

1528.0
Type of school
Faith-based     119.0
Public         1409.0
dtype: float64

## Districts in Lofa

In [721]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Foya')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Kolahun 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Kolahun 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Salayea')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Vahun')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Voinjama')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Lofa') & (kpri_melto['count']== 'Zorzor')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

2433.0
Type of school
Faith-based      34.0
Private         107.0
Public         2292.0
dtype: float64

## Districts in Margibi

In [727]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Marshall')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Farmington')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Mama kaba')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Gibi')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Kakata 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Margibi') & (kpri_melto['count']== 'Kakata 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3776.0
Type of school
Community      1066.0
Faith-based     274.0
Private         664.0
Public         1772.0
dtype: float64

## Districts in Maryland

In [734]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Harper 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Harper 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Barrobo 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Barrobo 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Sodoken')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Karleway 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Karleway 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Maryland') & (kpri_melto['count']== 'Pleebo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

0.0
Series([], dtype: float64)

## Districts in Montserrado 1

In [749]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melt['count']== 'Paynesville 3')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 4')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 5')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Paynesville 6')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1C')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1D')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 1E')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2C')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 1') & (kpri_melto['count']== 'Greater Monrovia 2D')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

8315.0
Type of school
Community      2219.0
Faith-based    1042.0
Private        3401.0
Public         1653.0
dtype: float64

## Districts in Montserrado 2

In [760]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left Bank 1A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left bank 1B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left bank  1C')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left Bank 1D')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left Bank 2A')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Left bank 2B')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Careysburg')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Todee')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Right Bank 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Right Bank 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Montserrado 2') & (kpri_melto['count']== 'Right Bank 3')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

6299.0
Type of school
Faith-based     819.0
Private        3401.0
Public         2079.0
dtype: float64

## Districts in Nimba

In [774]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Tappita 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Tappita 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Saclepea 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Sanniquellie Mah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Zoe-Geh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Tuwah River')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Gbelay-Geh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Yarpea Mah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Yarwein Mensonoh')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Buuyao')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Bain-Garr 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Nimba') & (kpri_melto['count']== 'Bain- Garr 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3950.0
Type of school
Community       310.0
Faith-based     259.0
Private        1473.0
Public         1908.0
dtype: float64

## Districts in River Gee

In [780]:
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Sarbo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Tienpo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Chedepo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Putupo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Gbeapo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in River Gee') & (kpri_melto['count']== 'Webbo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

2280.0
Type of school
Public    2280.0
dtype: float64

## Districts in River Cess

In [785]:
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Timobo')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Central Rivercess 1')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Central Rivercess 2')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Morwah')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'Districts in River Cess') & (kpri_melto['count']== 'Yarnee')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1545.0
Type of school
Faith-based     103.0
Public         1442.0
dtype: float64

## Districts in Sinoe

In [795]:
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Upper Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Juarzon')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Lower Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Butaw')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Tarjuwon')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Jeadea')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Sanquin')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
k_so = kpri_melto[(kpri_melto['district']== 'District in Sinoe') & (kpri_melto['count']== 'Central Kpanyan')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

904.0
Type of school
Public    904.0
dtype: float64

# Table 8: Primary Enrollment by Disability and Ownership

In [821]:
kpri_disa=kpri_student.iloc[:,24:72]
kpri_o=kcensus.iloc[:,[39]]

kpri_disao = pd.concat([kpri_o,kpri_disa], axis =1).groupby('Type of school').sum()
kpri_disao

,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,5.0,1.0,11.0,0.0,1.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,4.0,7.0,3.0,7.0,2.0,1.0,0.0,2.0,1.0,2.0,1.0,1.0,2.0,0.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,10.0,2.0,16.0,5.0,6.0,1.0,12.0,1.0,2.0,5.0,2.0,9.0,4.0,2.0,4.0
Faith-based,9.0,5.0,6.0,11.0,23.0,6.0,7.0,2.0,12.0,3.0,3.0,10.0,7.0,17.0,9.0,10.0,15.0,6.0,23.0,22.0,20.0,20.0,19.0,28.0,14.0,20.0,4.0,5.0,3.0,4.0,6.0,3.0,10.0,5.0,13.0,4.0,4.0,13.0,4.0,21.0,9.0,8.0,25.0,4.0,4.0,12.0,18.0,5.0
Private,27.0,22.0,29.0,8.0,21.0,10.0,26.0,16.0,29.0,48.0,34.0,39.0,21.0,8.0,13.0,27.0,1.0,19.0,16.0,11.0,19.0,12.0,21.0,27.0,27.0,12.0,19.0,10.0,96.0,12.0,3.0,37.0,4.0,11.0,14.0,12.0,16.0,14.0,35.0,22.0,14.0,24.0,17.0,16.0,23.0,28.0,26.0,16.0
Public,32.0,22.0,17.0,21.0,20.0,10.0,35.0,25.0,16.0,9.0,13.0,11.0,28.0,31.0,25.0,28.0,30.0,37.0,14.0,20.0,26.0,17.0,10.0,13.0,30.0,24.0,103.0,17.0,26.0,32.0,21.0,27.0,8.0,16.0,37.0,15.0,55.0,51.0,35.0,40.0,24.0,34.0,31.0,55.0,52.0,36.0,49.0,37.0

In [824]:
kpri_v = kpri_disao.iloc[:,:12]
print(kpri_v.sum(1).sum())
print(kpri_v.sum(1))

660.0

Type of school
Community       23.0
Faith-based     97.0
Private        309.0
Public         231.0
dtype: float64

In [825]:
kpri_h = kpri_disao.iloc[:,12:24]
print(kpri_h.sum(1).sum())
print(kpri_h.sum(1))

701.0
Type of school
Community       31.0
Faith-based    196.0
Private        195.0
Public         279.0
dtype: float64

In [826]:
kpri_p = kpri_disao.iloc[:,24:36]
print(kpri_p.sum(1).sum())
print(kpri_p.sum(1))

740.0
Type of school
Community       36.0
Faith-based     91.0
Private        257.0
Public         356.0
dtype: float64

In [827]:
kpri_l = kpri_disao.iloc[:,36:]
print(kpri_l.sum(1).sum())
print(kpri_l.sum(1))

930.0
Type of school
Community       53.0
Faith-based    127.0
Private        251.0
Public         499.0
dtype: float64

# Table 9: Primary Disability by Gender

In [831]:
dd = kpri_disao.sum()
dd

How many MALE students in Grade 1 are Visually impaired ?                                     73.0
How many FEMALE students in Grade 1 are Visually impaired?                                    50.0
How many MALE students in Grade 2 are Visually impaired ?                                     63.0
How many FEMALE students in Grade 2 are Visually impaired?                                    40.0
How many MALE students in Grade 3 are Visually impaired ?                                     65.0
How many FEMALE students in Grade 3 are Visually impaired?                                    26.0
How many MALE students in Grade 4 are Visually impaired ?                                     69.0
How many FEMALE students in Grade 4 are Visually impaired?                                    45.0
How many MALE students in Grade 5 are Visually impaired ?                                     59.0
How many FEMALE students in Grade 5 are Visually impaired?                                    60.0
How many MALE students in Grade 6 are Visually impaired ?                                     50.0
How many FEMALE students in Grade 6 are Visually impaired?                                    60.0
How many MALE students in  Grade 1 have hearing impairment?                                   60.0
How many FEMALE students in Grade 1 have hearing impairment?                                  63.0
How many MALE students in  Grade 2 have hearing impairment?                                   50.0
How many FEMALE students in Grade 2 have hearing impairment?                                  72.0
How many MALE students in  Grade 3 have hearing impairment?                                   48.0
How many FEMALE students in Grade 3 have hearing impairment?                                  63.0
How many MALE students in  Grade 4 have hearing impairment?                                   53.0
How many FEMALE students in Grade 4 have hearing impairment?                                  55.0
How many MALE students in  Grade 5 have hearing impairment?                                   66.0
How many FEMALE students in Grade 5 have hearing impairment?                                  51.0
How many FEMALE students in Grade 6 have hearing impairment?                                  51.0
How many MALE students in  Grade 6 have hearing impairment?                                   69.0
How many MALE students in  Grade 1 have other physical disabilities?                          73.0
How many FEMALE students in  Grade 1 have other physical disabilities?                        56.0
How many MALE students in  Grade 2 have other physical disabilities?                         128.0
How many FEMALE students in  Grade 2 have other physical disabilities?                        33.0
How many MALE students in  Grade 3 have other physical disabilities?                         126.0
How many FEMALE students in  Grade 3 have other physical disabilities?                        50.0
How many MALE students in  Grade 4 have other physical disabilities?                          30.0
How many FEMALE students in  Grade 4 have other physical disabilities?                        67.0
How many MALE students in  Grade 5 have other physical disabilities?                          22.0
How many FEMALE students in  Grade 5 have other physical disabilities?                        42.0
How many MALE students in  Grade 6 have other physical disabilities?                          66.0
How many FEMALE students in  Grade 6 have other physical disabilities?                        47.0
How many MALE students in  Grade 1 have other mental disability or learning difficulty?       80.0
How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?     84.0
How many MALE students in  Grade 2 have other mental disability or learning difficulty?       75.0
How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?     95.0
How many MALE students in  Grade 3 have other mental disability or learning difficulty?       48.0
How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?     68.0
How many MALE students in  Grade 4 have other mental disability or learning difficulty?       78.0
How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?     77.0
How many MALE students in  Grade 5 have other mental disability or learning difficulty?       88.0
How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?     80.0
How many MALE students in  Grade 6 have other mental disability or learning difficulty?       95.0
How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?     62.0
dtype: float64

In [851]:
dd_v = dd[:12]
dd_v.sum()

660.0

In [852]:
dd_vm = dd_v[::2]
dd_vm.sum()

379.0

In [853]:
dd_vf = dd_v[1::2]
dd_vf.sum()

281.0

In [854]:
dd_h = dd[12:24]
dd_h.sum()

701.0

In [855]:
dd_hm = dd_h[::2]
dd_hm.sum()

328.0

In [856]:
dd_hf = dd_h[1::2]
dd_hf.sum()

373.0

In [857]:
dd_p = dd[24:36]
dd_p.sum()

740.0

In [858]:
dd_pm = dd_p[: :2]
dd_pm.sum()

445.0

In [859]:
dd_pf = dd_p[1: :2]
dd_pf.sum()

295.0

In [860]:
dd_l = dd[36:]
dd_l.sum()

930.0

In [861]:
dd_lm = dd_l[::2]
dd_lm.sum()

464.0

In [862]:
dd_lm = dd_l[1::2]
dd_lm.sum()

466.0

# Table 10: ECE Disability by Grade

In [864]:
dd

How many MALE students in Grade 1 are Visually impaired ?                                     73.0
How many FEMALE students in Grade 1 are Visually impaired?                                    50.0
How many MALE students in Grade 2 are Visually impaired ?                                     63.0
How many FEMALE students in Grade 2 are Visually impaired?                                    40.0
How many MALE students in Grade 3 are Visually impaired ?                                     65.0
How many FEMALE students in Grade 3 are Visually impaired?                                    26.0
How many MALE students in Grade 4 are Visually impaired ?                                     69.0
How many FEMALE students in Grade 4 are Visually impaired?                                    45.0
How many MALE students in Grade 5 are Visually impaired ?                                     59.0
How many FEMALE students in Grade 5 are Visually impaired?                                    60.0
How many MALE students in Grade 6 are Visually impaired ?                                     50.0
How many FEMALE students in Grade 6 are Visually impaired?                                    60.0
How many MALE students in  Grade 1 have hearing impairment?                                   60.0
How many FEMALE students in Grade 1 have hearing impairment?                                  63.0
How many MALE students in  Grade 2 have hearing impairment?                                   50.0
How many FEMALE students in Grade 2 have hearing impairment?                                  72.0
How many MALE students in  Grade 3 have hearing impairment?                                   48.0
How many FEMALE students in Grade 3 have hearing impairment?                                  63.0
How many MALE students in  Grade 4 have hearing impairment?                                   53.0
How many FEMALE students in Grade 4 have hearing impairment?                                  55.0
How many MALE students in  Grade 5 have hearing impairment?                                   66.0
How many FEMALE students in Grade 5 have hearing impairment?                                  51.0
How many FEMALE students in Grade 6 have hearing impairment?                                  51.0
How many MALE students in  Grade 6 have hearing impairment?                                   69.0
How many MALE students in  Grade 1 have other physical disabilities?                          73.0
How many FEMALE students in  Grade 1 have other physical disabilities?                        56.0
How many MALE students in  Grade 2 have other physical disabilities?                         128.0
How many FEMALE students in  Grade 2 have other physical disabilities?                        33.0
How many MALE students in  Grade 3 have other physical disabilities?                         126.0
How many FEMALE students in  Grade 3 have other physical disabilities?                        50.0
How many MALE students in  Grade 4 have other physical disabilities?                          30.0
How many FEMALE students in  Grade 4 have other physical disabilities?                        67.0
How many MALE students in  Grade 5 have other physical disabilities?                          22.0
How many FEMALE students in  Grade 5 have other physical disabilities?                        42.0
How many MALE students in  Grade 6 have other physical disabilities?                          66.0
How many FEMALE students in  Grade 6 have other physical disabilities?                        47.0
How many MALE students in  Grade 1 have other mental disability or learning difficulty?       80.0
How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?     84.0
How many MALE students in  Grade 2 have other mental disability or learning difficulty?       75.0
How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?     95.0
How many MALE students in  Grade 3 have other mental disability or learning difficulty?       48.0
How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?     68.0
How many MALE students in  Grade 4 have other mental disability or learning difficulty?       78.0
How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?     77.0
How many MALE students in  Grade 5 have other mental disability or learning difficulty?       88.0
How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?     80.0
How many MALE students in  Grade 6 have other mental disability or learning difficulty?       95.0
How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?     62.0
dtype: float64

In [901]:
dd_1 = dd[0:2].append([dd[12:14],dd[24:26],dd[36:38]])
dd_1.sum()

539.0

In [902]:
print(dd_1[:2].sum())
print(dd_1[2:4].sum())
print(dd_1[4:6].sum())
print(dd_1[6:].sum())

123.0
123.0
129.0
164.0

In [903]:
dd_2 = dd[2:4].append([dd[14:16],dd[26:28],dd[38:40]])
dd_2.sum()

556.0

In [904]:
print(dd_2[:2].sum())
print(dd_2[2:4].sum())
print(dd_2[4:6].sum())
print(dd_2[6:].sum())

103.0
122.0
161.0
170.0

In [905]:
dd_3 = dd[4:6].append([dd[16:18],dd[28:30],dd[40:42]])
dd_3.sum()

494.0

In [906]:
print(dd_3[:2].sum())
print(dd_3[2:4].sum())
print(dd_3[4:6].sum())
print(dd_3[6:].sum())

91.0
111.0
176.0
116.0

In [907]:
dd_4 = dd[6:8].append([dd[18:20],dd[30:32],dd[42:44]])
dd_4.sum()

474.0

In [908]:
print(dd_4[:2].sum())
print(dd_4[2:4].sum())
print(dd_4[4:6].sum())
print(dd_4[6:].sum())

114.0
108.0
97.0
155.0

In [909]:
dd_5 = dd[8:10].append([dd[20:22],dd[32:34],dd[44:46]])
dd_5.sum()

468.0

In [910]:
print(dd_5[:2].sum())
print(dd_5[2:4].sum())
print(dd_5[4:6].sum())
print(dd_5[6:].sum())

119.0
117.0
64.0
168.0

In [911]:
dd_6 = dd[10:12].append([dd[22:24],dd[34:36],dd[46:]])
dd_6.sum()

500.0

In [912]:
print(dd_6[:2].sum())
print(dd_6[2:4].sum())
print(dd_6[4:6].sum())
print(dd_6[6:].sum())

110.0
120.0
113.0
157.0

# Table 11: ECE by Enrollment by Disability and County

In [893]:
kpri_c = kcensus.iloc[:,[2]]
kpri_o = kcensus.iloc[:,[39]]
kpri_d = kcensus.iloc[:,3:19]

In [895]:
kpri_cdd = pd.concat([kpri_c, kpri_d, kpri_disa], axis = 1)
kpri_cdd.columns
kpri_cdd.head()

,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [914]:
dc = kpri_cdd.groupby('County').sum()
dc.sum(1).sum()

3031.0

In [915]:
dc.iloc[:,:12].sum(1)

County
Bomi                  9.0
Bong                 36.0
Gbarpolu             10.0
Grand Bassa          20.0
Grand Cape Mount     35.0
Grand Gedeh          21.0
Grand Kru            22.0
Lofa                 12.0
Margibi              30.0
Maryland              1.0
Montserrado 1        92.0
Montserrado 2       238.0
Nimba               110.0
River Gee             4.0
Rivercess             0.0
Sinoe                20.0
dtype: float64

In [916]:
dc.iloc[:,12:24].sum(1)

County
Bomi                 49.0
Bong                 34.0
Gbarpolu              9.0
Grand Bassa          13.0
Grand Cape Mount     60.0
Grand Gedeh          34.0
Grand Kru            18.0
Lofa                 11.0
Margibi              60.0
Maryland              8.0
Montserrado 1       154.0
Montserrado 2       121.0
Nimba               113.0
River Gee             3.0
Rivercess             1.0
Sinoe                13.0
dtype: float64

In [917]:
dc.iloc[:,24:36].sum(1)

County
Bomi                  5.0
Bong                 36.0
Gbarpolu              6.0
Grand Bassa          15.0
Grand Cape Mount     57.0
Grand Gedeh          52.0
Grand Kru            17.0
Lofa                 25.0
Margibi              22.0
Maryland              4.0
Montserrado 1       182.0
Montserrado 2        68.0
Nimba               220.0
River Gee             9.0
Rivercess             1.0
Sinoe                21.0
dtype: float64

In [918]:
dc.iloc[:,36:].sum(1)

County
Bomi                 40.0
Bong                 33.0
Gbarpolu             10.0
Grand Bassa           6.0
Grand Cape Mount     82.0
Grand Gedeh          29.0
Grand Kru            93.0
Lofa                 21.0
Margibi              13.0
Maryland              2.0
Montserrado 1       201.0
Montserrado 2       142.0
Nimba               151.0
River Gee            64.0
Rivercess            12.0
Sinoe                31.0
dtype: float64

In [120]:
#k_od = kece_cdd[(kece_cdd['district']== 'District in Sinoe') & (kece_cdd['count']== 'Greenville')].groupby('Type of school').sum()#.sum(1)

In [121]:
dd.iloc[:,:6].sum(1).sum() 
dd.iloc[:,6:12].sum(1).sum()
dd.iloc[:,12:18].sum(1).sum()  
dd.iloc[:,18:].sum(1).sum()

515.0

In [759]:
kece_meltdd.iloc[:,18:]#.sum(1).sum()

,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,County,Rivercess
1,0.0,0.0,0.0,0.0,0.0,0.0,County,Nimba
2,NaN,NaN,NaN,NaN,NaN,NaN,County,River Gee
3,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1
4,0.0,0.0,0.0,0.0,0.0,0.0,County,Montserrado 1
...,...,...,...,...,...,...,...,...
70817,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN
70818,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN
70819,NaN,NaN,NaN,NaN,NaN,NaN,Districts in River Cess,NaN
70820,NaN,NaN,NaN,NaN,NaN,NaN,Districts in River Cess,NaN
70821,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN

In [1013]:
district_dic =pd.Series(kece_cdso.columns[2:18])
district_dic.to_csv('district_dic.csv', index = False)

In [1014]:
d_2 = dd.iloc[:,:6].sum()
d_2

How many MALE students in nursery are Visually impaired ?               79.0
How many female students in Nursery are Visually impaired ?             54.0
How many FEMALE students in Pre-Kindergarten are Visually impaired ?    46.0
How many MALE students in pre-Kindergarten are Visually impaired ?      46.0
How many FEMALE students in kindergarten are Visually impaired ?        63.0
How many MALE students in kindergarten are Visually impaired ?          39.0
dtype: float64

In [1005]:
#d_2[[0,3,5]].sum()

In [1004]:
#d_2.sum()

In [1003]:
#dd.iloc[:,6:12].sum()[[0,3,4]].sum()

In [1002]:
#dd.iloc[:,6:12].sum().sum()

In [1001]:
#dd.iloc[:,12:18].sum()[[0,3,4]].sum()

In [1000]:
#dd.iloc[:,12:18].sum().sum()

In [999]:
#dd.iloc[:,18:].sum()[[0,2,4]].sum()

In [998]:
#dd.iloc[:,18:].sum().sum()

In [997]:
#dd

In [996]:
#dd.iloc[:].sum()[[22,23]].sum()

In [995]:
#kece_cdso.head()

In [994]:
#ece_vi_c=kece_cdso.iloc[:,[0,2,3,4,5,6,7]]
#ece_vi_c

In [993]:
#ece_vi_c.groupby('County').sum().sum(1)

In [992]:
#ece_hp_c=kece_cdso.iloc[:,[0,8,9,10,11,12,13]]
#ece_hp_c.groupby('County').sum().sum(1)

In [991]:
#ece_p_c=kece_cdso.iloc[:,[0,14,15,16,17,18,19]]
#ece_p_c.groupby('County').sum().sum(1)

In [990]:
#ece_m_c=kece_cdso.iloc[:,[0,20,21,22,23,24,25]]
#ece_m_c.groupby('County').sum().sum(1)

# Table 12: Primary Enrollment by Disability and Districts

In [920]:
kpri_cdd.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students in Grade 1 are Visually impaired ?',
       'How many FEMALE students in Grade 1 are Visually impaired?',
       'How many MALE students in Grade 2 are Visually impaired ?',
       'How many FEMALE students in Grade 2 are Visually impaired?',
       'How many MALE students in Grade 3 are Visually impaired ?',
       'How many FEMALE students in Grade 3 are Visually impaired?',
       'How many MALE students in Grade 4 are Visually impaired ?',
       'How many FEMALE students in Grade 4 are Visually impaired?',
       'How many MALE students in Grade 5 are Visually impaired ?',
       'How many FEMALE students in Grade 5 are Visually impaired?',
       'How many MALE students in Grade 6 are Visually impaired ?',
       'How many FEMALE students in Grade 6 are Visually impaired?',
       'How many MALE students in  Grade 1 have hearing impairment?',
       'How many FEMALE students in Grade 1 have hearing impairment?',
       'How many MALE students in  Grade 2 have hearing impairment?',
       'How many FEMALE students in Grade 2 have hearing impairment?',
       'How many MALE students in  Grade 3 have hearing impairment?',
       'How many FEMALE students in Grade 3 have hearing impairment?',
       'How many MALE students in  Grade 4 have hearing impairment?',
       'How many FEMALE students in Grade 4 have hearing impairment?',
       'How many MALE students in  Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 1 have other physical disabilities?',
       'How many FEMALE students in  Grade 1 have other physical disabilities?',
       'How many MALE students in  Grade 2 have other physical disabilities?',
       'How many FEMALE students in  Grade 2 have other physical disabilities?',
       'How many MALE students in  Grade 3 have other physical disabilities?',
       'How many FEMALE students in  Grade 3 have other physical disabilities?',
       'How many MALE students in  Grade 4 have other physical disabilities?',
       'How many FEMALE students in  Grade 4 have other physical disabilities?',
       'How many MALE students in  Grade 5 have other physical disabilities?',
       'How many FEMALE students in  Grade 5 have other physical disabilities?',
       'How many MALE students in  Grade 6 have other physical disabilities?',
       'How many FEMALE students in  Grade 6 have other physical disabilities?',
       'How many MALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 6 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?'],
      dtype='object')

In [921]:
kpri_meltdd =kpri_cdd.melt(id_vars=['How many MALE students in Grade 1 are Visually impaired ?',
       'How many FEMALE students in Grade 1 are Visually impaired?',
       'How many MALE students in Grade 2 are Visually impaired ?',
       'How many FEMALE students in Grade 2 are Visually impaired?',
       'How many MALE students in Grade 3 are Visually impaired ?',
       'How many FEMALE students in Grade 3 are Visually impaired?',
       'How many MALE students in Grade 4 are Visually impaired ?',
       'How many FEMALE students in Grade 4 are Visually impaired?',
       'How many MALE students in Grade 5 are Visually impaired ?',
       'How many FEMALE students in Grade 5 are Visually impaired?',
       'How many MALE students in Grade 6 are Visually impaired ?',
       'How many FEMALE students in Grade 6 are Visually impaired?',
       'How many MALE students in  Grade 1 have hearing impairment?',
       'How many FEMALE students in Grade 1 have hearing impairment?',
       'How many MALE students in  Grade 2 have hearing impairment?',
       'How many FEMALE students in Grade 2 have hearing impairment?',
       'How many MALE students in  Grade 3 have hearing impairment?',
       'How many FEMALE students in Grade 3 have hearing impairment?',
       'How many MALE students in  Grade 4 have hearing impairment?',
       'How many FEMALE students in Grade 4 have hearing impairment?',
       'How many MALE students in  Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 5 have hearing impairment?',
       'How many FEMALE students in Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 6 have hearing impairment?',
       'How many MALE students in  Grade 1 have other physical disabilities?',
       'How many FEMALE students in  Grade 1 have other physical disabilities?',
       'How many MALE students in  Grade 2 have other physical disabilities?',
       'How many FEMALE students in  Grade 2 have other physical disabilities?',
       'How many MALE students in  Grade 3 have other physical disabilities?',
       'How many FEMALE students in  Grade 3 have other physical disabilities?',
       'How many MALE students in  Grade 4 have other physical disabilities?',
       'How many FEMALE students in  Grade 4 have other physical disabilities?',
       'How many MALE students in  Grade 5 have other physical disabilities?',
       'How many FEMALE students in  Grade 5 have other physical disabilities?',
       'How many MALE students in  Grade 6 have other physical disabilities?',
       'How many FEMALE students in  Grade 6 have other physical disabilities?',
       'How many MALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 1 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 2 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 3 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 4 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 5 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 6 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 6 have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kpri_meltdd.head()

,How many MALE students in Grade 1 are Visually impaired ?,How many FEMALE students in Grade 1 are Visually impaired?,How many MALE students in Grade 2 are Visually impaired ?,How many FEMALE students in Grade 2 are Visually impaired?,How many MALE students in Grade 3 are Visually impaired ?,How many FEMALE students in Grade 3 are Visually impaired?,How many MALE students in Grade 4 are Visually impaired ?,How many FEMALE students in Grade 4 are Visually impaired?,How many MALE students in Grade 5 are Visually impaired ?,How many FEMALE students in Grade 5 are Visually impaired?,How many MALE students in Grade 6 are Visually impaired ?,How many FEMALE students in Grade 6 are Visually impaired?,How many MALE students in Grade 1 have hearing impairment?,How many FEMALE students in Grade 1 have hearing impairment?,How many MALE students in Grade 2 have hearing impairment?,How many FEMALE students in Grade 2 have hearing impairment?,How many MALE students in Grade 3 have hearing impairment?,How many FEMALE students in Grade 3 have hearing impairment?,How many MALE students in Grade 4 have hearing impairment?,How many FEMALE students in Grade 4 have hearing impairment?,How many MALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 5 have hearing impairment?,How many FEMALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 6 have hearing impairment?,How many MALE students in Grade 1 have other physical disabilities?,How many FEMALE students in Grade 1 have other physical disabilities?,How many MALE students in Grade 2 have other physical disabilities?,How many FEMALE students in Grade 2 have other physical disabilities?,How many MALE students in Grade 3 have other physical disabilities?,How many FEMALE students in Grade 3 have other physical disabilities?,How many MALE students in Grade 4 have other physical disabilities?,How many FEMALE students in Grade 4 have other physical disabilities?,How many MALE students in Grade 5 have other physical disabilities?,How many FEMALE students in Grade 5 have other physical disabilities?,How many MALE students in Grade 6 have other physical disabilities?,How many FEMALE students in Grade 6 have other physical disabilities?,How many MALE students in Grade 1 have other mental disability or learning difficulty?,How many FEMALE students in Grade 1 have other mental disability or learning difficulty?,How many MALE students in Grade 2 have other mental disability or learning difficulty?,How many FEMALE students in Grade 2 have other mental disability or learning difficulty?,How many MALE students in Grade 3 have other mental disability or learning difficulty?,How many FEMALE students in Grade 3 have other mental disability or learning difficulty?,How many MALE students in Grade 4 have other mental disability or learning difficulty?,How many FEMALE students in Grade 4 have other mental disability or learning difficulty?,How many MALE students in Grade 5 have other mental disability or learning difficulty?,How many FEMALE students in Grade 5 have other mental disability or learning difficulty?,How many MALE students in Grade 6 have other mental disability or learning difficulty?,How many FEMALE students in Grade 6 have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Rivercess
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,County,Nimba
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,River Gee
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1
4,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,County,Montserrado 1

## Districts in Bomi County

In [965]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Senji')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Dewoin')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Klay')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bomi') & (kpri_meltdd['count']== 'Suehn-Mecca')]

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Bong County

In [966]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Gbarnga 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Gbarnga 2')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Zota')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Salala')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Fuamah')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Suakoko')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Sanoyea')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Panta-Kpaai')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Bong County') & (kpri_meltdd['count']== 'Kokoyah')]

NameError: name 'kece_meltdd' is not defined

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Gbarpolu

In [185]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Gorwalali')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Bopolu')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Gbarma')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Belle')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Bokomu')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Gbarpolu') & (kpri_meltdd['count']== 'Kongba')]

2.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Grand Bassa

In [230]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 5')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 5B')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 2')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 3A')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 3B')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Bassa') & (kpri_meltdd['count']== 'District 4')]

0.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Grand Cape Mount

In [258]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Tewor')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Gola Konneh')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Porkpa')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Garwular')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Grand Cape Mount') & (kpri_meltdd['count']== 'Tallah Tombay')]

14.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Grand Gedeh

In [308]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Konobo')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Putu')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Gbarzon')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Tchien')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Gedeh') & (kpri_meltdd['count']== 'Cavalla')]

9.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Grand Kru

In [348]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Barclayville')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Trehn')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Buah')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Grand Cess')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Dorbor')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Jloh')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Sass Town')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'Districts in Grand Kru') & (kpri_meltdd['count']== 'Wedabo')]

8.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Lofa

In [383]:
k_so = kpri_meltdd[(kpri_melto['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Foya')].groupby('Type of school').sum().sum(1)
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Kolahun 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Kolahun 2')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Salayea')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Vahun')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Voinjama')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Lofa') & (kpri_meltdd['count']== 'Zorzor')]

17.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Margibi

In [434]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Marshall')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Farmington')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Mama kaba')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Gibi')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Kakata 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Margibi') & (kpri_meltdd['count']== 'Kakata 2')]

1.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

#####

## Districts in Maryland

In [474]:
k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Harper 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Harper 2')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Barrobo 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Barrobo 2')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Sodoken')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Karleway 1')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Karleway 2')]
#k_dd = kpri_meltdd[(kpri_meltdd['district']== 'District in Maryland') & (kpri_meltdd['count']== 'Pleebo')]

0.0

## Districts in Montserrado 1

In [550]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 3')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 4')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 5')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 6')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1D')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1E')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2D')]

21.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Montserrado 2

In [613]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 1A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank 1B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank  1C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 1D')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 2A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank 2B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Careysburg')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Todee')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 3')]

31.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Nimba

In [673]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tappita 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tappita 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Saclepea 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Sanniquellie Mah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Zoe-Geh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tuwah River')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Gbelay-Geh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Yarpea Mah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Yarwein Mensonoh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Buuyao')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Bain-Garr 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Bain- Garr 2')]

10.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in River Gee

In [701]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Sarbo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Tienpo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Chedepo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Putupo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Gbeapo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Webbo')]

6.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in River Cess

In [729]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Timobo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Central Rivercess 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Central Rivercess 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Morwah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Yarnee')]

7.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

## Districts in Sinoe

In [775]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Upper Kpanyan')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Juarzon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Lower Kpanyan')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Butaw')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Tarjuwon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Jeadea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Sanquin')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Greenville')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Central Kpanyan')]

1.0

In [ ]:
k_dd1 = k_dd.sum()
k_dd2 = k_dd1[:-2]
k_dd2.sum()

In [961]:
k_dd2[:12].sum().sum()

0.0

In [962]:
k_dd2[12:24].sum().sum()

42.0

In [963]:
k_dd2[24:36].sum().sum()

1.0

In [964]:
k_dd2[36:48].sum().sum()

0.0

In [981]:
kece_meltdd =kece_cdd.melt(id_vars=['County','How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
#kdd_1 = kece_meltdd
#kdd_1['district'].unique()
#kdd_1['count'].unique()

In [982]:
#d15 = kdd_1[(kdd_1['district']=='District in Montserrado 1') &(kdd_1['count']== 'Paynesville 1')].sum()
#dk15 = d15[1:-2]
#dk15

In [1170]:
#dk15[:6].sum()

2.0

In [983]:
#dk15[6:12].sum()

In [985]:
#dk15[12:18].sum()

In [1173]:
#dk15[18:].sum()

0.0

In [986]:
#kece_cdso.head()

In [987]:
#h = kece_cdso.iloc[:,:26].groupby('County').sum()
#h.iloc[:,18:].sum(1)

In [988]:
kece_meltdd =kece_cdd.melt(id_vars=['County', 'How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
#kece_meltdd.head()

In [989]:
#count_di = pd.Series(kece_meltdd['count'].unique())
#count_dic = count_di[1:]
#count_dic.to_csv('count_dic.csv', index = False)

# Table 14 ECE Enrollment by Age and Grade

In [226]:
kece_s = kece_student.iloc[:,46:87].sum()

kece_s

How many MALE students below AGE 3 YEARS OLD are in Nursery?                 5312.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?               6100.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?        1361.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?      1319.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?             726.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?           841.0
How many MALE students AGE 3 YEARS OLD are in Nursery?                      12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?                      12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?                      11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?                       8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?                       5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?                       3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?                 3158.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?                   12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?                   12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?                   10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?                    7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?                    5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?                    3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?              2855.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?              3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?              6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?              8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?              7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?              5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?              4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?        3863.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?           3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?           6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?           8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?           7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?           5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?           3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?     3669.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?                  1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?                  4110.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?               7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?               8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?               8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?               6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?         7206.0
dtype: float64

In [227]:
#nur 
knur = kece_s[:2].append(kece_s[6:20])
knur

#knur.sum()

How many MALE students below AGE 3 YEARS OLD are in Nursery?        5312.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?      6100.0
How many MALE students AGE 3 YEARS OLD are in Nursery?             12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?             12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?             11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?              8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?              5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?              3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?        3158.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?           7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?           5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?           3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?     2855.0
dtype: float64

In [243]:
print(knur[:2].sum())
print(knur[[2,9]].sum())
print(knur[[3,10]].sum())
print(knur[[4,11]].sum())
print(knur[[5,12]].sum())
print(knur[[6,13]].sum())
print(knur[[7,14]].sum())
print(knur[[8,15]].sum())

11412.0
24680.0
25439.0
21842.0
16062.0
10398.0
6590.0
6013.0

In [229]:
#prk 
prk = kece_s[2:4].append(kece_s[20:34])
prk
#prk.sum()#[:2].sum()
#prk[[2,9]].sum()
#prk[[8,15]].sum()

How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?       1361.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?     1319.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?             3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?             6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?             8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?             7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?             5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?             4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?       3863.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?          3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?          6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?          7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?          5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?          3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?    3669.0
dtype: float64

In [244]:
print(prk[:2].sum())
print(prk[[2,9]].sum())
print(prk[[3,10]].sum())
print(prk[[4,11]].sum())
print(prk[[5,12]].sum())
print(prk[[6,13]].sum())
print(prk[[7,14]].sum())
print(prk[[8,15]].sum())

2680.0
6286.0
13897.0
16668.0
15122.0
11462.0
8127.0
7532.0

In [263]:
kk = kece_s[4:6].append(kece_s[34:])
kk
#kk[:2].sum()

How many MALE students below AGE 3 YEARS OLD are in Kindergarten?        726.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?      841.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?             1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?             4110.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?          7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?          8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?          8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?          6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?    7206.0
dtype: float64

In [285]:
print((kk[:2]).sum())
print(kk[[2]].sum())
print(kk[[3]].sum())
print(kk[[4]].sum())
print(kk[[5]].sum())
print(kk[[6]].sum())
print(kk[[7]].sum())
print(kk[[8]].sum())

1567.0
1542.0
4110.0
7889.0
8751.0
8069.0
6799.0
7206.0

# Table 15 ECE Enrollment by Age, Grade and Gender

In [286]:
#knur_male
#knur = kece_s[:2].append(kece_s[6:20])
knur_m=knur[[0]].append(knur[2:9])
knur_m
#knur_m[:]

How many MALE students below AGE 3 YEARS OLD are in Nursery?     5312.0
How many MALE students AGE 3 YEARS OLD are in Nursery?          12524.0
How many MALE students AGE 4 YEARS OLD are in Nursery?          12679.0
How many MALE students AGE 5 YEARS OLD are in Nursery?          11270.0
How many MALE students AGE 6 YEARS OLD are in Nursery?           8257.0
How many MALE students AGE 7 YEARS OLD are in Nursery?           5279.0
How many MALE students AGE 8 YEARS OLD are in Nursery?           3389.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?     3158.0
dtype: float64

In [287]:
#knur_female
#knur = kece_s[:2].append(kece_s[6:20])
knur_f=knur[[1]].append(knur[9:])
knur_f
#knur_f[:]

How many FEMALE students below AGE 3 YEARS OLD are in Nursery?      6100.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          12156.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          12760.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          10572.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?           7805.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?           5119.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?           3201.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?     2855.0
dtype: float64

In [288]:
#kpk_male
#prk = kece_s[2:4].append(kece_s[20:34])
prk_m=prk[[0]].append(prk[2:9])
prk_m

How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?    1361.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?          3087.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?          6988.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?          8395.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?          7724.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?          5803.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?          4133.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?    3863.0
dtype: float64

In [289]:
#kpk_female
#prk = kece_s[2:4].append(kece_s[20:34])
prk_f=prk[[1]].append(prk[9:])
prk_f

How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?     1319.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?          3199.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?          6909.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          8273.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?          7398.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?          5659.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?          3994.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?    3669.0
dtype: float64

In [290]:
#kk_male
#kk = kece_s[4:6].append(kece_s[34:])
kk_m = kk[[0,2,3]]
kk_m

How many MALE students below AGE 3 YEARS OLD are in Kindergarten?     726.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?          1542.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?          4110.0
dtype: float64

In [291]:
#kk_female
kk = kece_s[4:6].append(kece_s[34:])
kk_f = kk[[1,4,5,6,7,8]]#.sum()
kk_f

How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?      841.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?          7889.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?          8751.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?          8069.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?          6799.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?    7206.0
dtype: float64

In [239]:
# ece enrollment disagregated by age and county
#kece_s.head()

In [240]:
#kece_st = kece_student.iloc[:,46:87]

In [241]:
#ece_asc=pd.concat([kcensus.iloc[:,[2]],kece_st],axis=1).groupby("County").sum()
#ece_asc.head()

# Table 16: ECE Repeater by School Types

In [293]:
kece_r = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,65:71]], axis=1).groupby('Type of school').sum()
kece_r

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
Type of school,,,,,,
Community,146.0,220.0,156.0,155.0,156.0,196.0
Faith-based,915.0,937.0,433.0,393.0,389.0,457.0
Private,1473.0,1429.0,819.0,874.0,847.0,825.0
Public,4649.0,4231.0,2816.0,2946.0,2607.0,2514.0

In [294]:
kece_r.iloc[:,:2]

,How many male students in nursery are repeaters,How many female students in nursery are repeaters
Type of school,,
Community,146.0,220.0
Faith-based,915.0,937.0
Private,1473.0,1429.0
Public,4649.0,4231.0

In [295]:
kece_r.iloc[:,2:4]

,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?
Type of school,,
Community,156.0,155.0
Faith-based,433.0,393.0
Private,819.0,874.0
Public,2816.0,2946.0

In [296]:
kece_r.iloc[:,4:]

,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
Type of school,,
Community,156.0,196.0
Faith-based,389.0,457.0
Private,847.0,825.0
Public,2607.0,2514.0

# Table 17: ECE Repeaters by County, Gender and Grade

In [297]:
kece_rc = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,65:71]], axis=1).groupby('County').sum()
kece_rc

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
County,,,,,,
Bomi,263.0,248.0,83.0,102.0,64.0,58.0
Bong,755.0,675.0,346.0,358.0,288.0,264.0
Gbarpolu,405.0,363.0,175.0,183.0,121.0,127.0
Grand Bassa,334.0,355.0,415.0,464.0,381.0,373.0
Grand Cape Mount,744.0,701.0,271.0,283.0,290.0,273.0
Grand Gedeh,244.0,186.0,141.0,169.0,198.0,177.0
Grand Kru,239.0,226.0,162.0,145.0,141.0,141.0
Lofa,288.0,268.0,344.0,363.0,290.0,320.0
Margibi,266.0,258.0,174.0,94.0,130.0,110.0
Maryland,73.0,66.0,47.0,42.0,103.0,98.0
Montserrado 1,514.0,522.0,230.0,242.0,230.0,269.0
Montserrado 2,706.0,738.0,317.0,331.0,392.0,422.0
Nimba,1657.0,1543.0,1149.0,1232.0,1066.0,1044.0
River Gee,176.0,166.0,117.0,112.0,98.0,101.0
Rivercess,134.0,129.0,62.0,65.0,43.0,51.0
Sinoe,385.0,373.0,191.0,183.0,164.0,164.0

In [967]:
kece_rc.iloc[:,:2]

,How many male students in nursery are repeaters,How many female students in nursery are repeaters
County,,
Bomi,263.0,248.0
Bong,755.0,675.0
Gbarpolu,405.0,363.0
Grand Bassa,334.0,355.0
Grand Cape Mount,744.0,701.0
Grand Gedeh,244.0,186.0
Grand Kru,239.0,226.0
Lofa,288.0,268.0
Margibi,266.0,258.0
Maryland,73.0,66.0
Montserrado 1,514.0,522.0
Montserrado 2,706.0,738.0
Nimba,1657.0,1543.0
River Gee,176.0,166.0
Rivercess,134.0,129.0
Sinoe,385.0,373.0

In [970]:
kece_rc.iloc[:,2:4]

,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?
County,,
Bomi,83.0,102.0
Bong,346.0,358.0
Gbarpolu,175.0,183.0
Grand Bassa,415.0,464.0
Grand Cape Mount,271.0,283.0
Grand Gedeh,141.0,169.0
Grand Kru,162.0,145.0
Lofa,344.0,363.0
Margibi,174.0,94.0
Maryland,47.0,42.0
Montserrado 1,230.0,242.0
Montserrado 2,317.0,331.0
Nimba,1149.0,1232.0
River Gee,117.0,112.0
Rivercess,62.0,65.0
Sinoe,191.0,183.0

In [971]:
kece_rc.iloc[:,4:]

,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
County,,
Bomi,64.0,58.0
Bong,288.0,264.0
Gbarpolu,121.0,127.0
Grand Bassa,381.0,373.0
Grand Cape Mount,290.0,273.0
Grand Gedeh,198.0,177.0
Grand Kru,141.0,141.0
Lofa,290.0,320.0
Margibi,130.0,110.0
Maryland,103.0,98.0
Montserrado 1,230.0,269.0
Montserrado 2,392.0,422.0
Nimba,1066.0,1044.0
River Gee,98.0,101.0
Rivercess,43.0,51.0
Sinoe,164.0,164.0