In [78]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',7000)

In [79]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-79-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [80]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [81]:
kece_student =kcensus.iloc[:,51:141]
kece_student.head()

,What is the total number of students in ECE?,What is the total number of nursery students that are Males?,What is the total number of nursery students that are females?,What is the total number of pre-kindergarten students that are males?,What is the total number of pre-kindergarten students that are females?,What is the total number of kindergarten students that are Males?,What is the total number of kindergarten students that are Females?,What is the total number of ECE teachers?,What is the total number of nursery teachers that are Males?,What is the total number of nursery teachers that are Females?,What is the total number of pre-kindergarten teachers that are Males?,What is the total number of pre-kindergarten teachers that are Females?,What is the total number of kindergarten teachers that are males?,What is the total number of kindergarten teachers that are females?,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?,How many teachers are teaching only one grade at the ECE level that are MALES?,How many teachers are teaching only one grade at the ECE level that are FEMALES?,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?,What is total intake in Nursery?,What is total intake in Pre-Kindergarten?,What is total intake in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,112.0,32.0,20.0,11.0,20.0,11.0,17.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,6.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0,52.0,32.0,28.0
2,31.0,5.0,3.0,4.0,4.0,6.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0,8.0,8.0,15.0
3,149.0,54.0,30.0,15.0,20.0,12.0,8.0,7.0,0.0,7.0,0.0,7.0,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0,25.0,84.0,30.0
4,62.0,27.0,35.0,8.0,12.0,5.0,20.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0,NaN,NaN,NaN

In [82]:
kece_age = kece_student.iloc[:,46:87]
kece_age.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [83]:
kece_student_dic = pd.Series(kece_student.columns)
kece_student_dic.to_csv('kece_student_dic.csv', index = False)

In [84]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]

In [85]:
pd.concat([kece_c, kece_o, kece_s], axis = 1).groupby(['County', 'Type of school']).sum().sum(1)

County            Type of school
Bomi              Community            90.0
                  Faith-based         801.0
                  Private             835.0
                  Public             3573.0
Bong              Community           964.0
                  Faith-based        2476.0
                  Private            3440.0
                  Public            13832.0
Gbarpolu          Community            39.0
                  Faith-based         281.0
                  Private             203.0
                  Public             7161.0
Grand Bassa       Community           824.0
                  Faith-based         708.0
                  Private            2913.0
                  Public             7206.0
Grand Cape Mount  Community           605.0
                  Faith-based        1297.0
                  Private            1728.0
                  Public             8598.0
Grand Gedeh       Community           505.0
                  Faith-based         977.0
                  Private            3072.0
                  Public             5716.0
Grand Kru         Faith-based         606.0
                  Private             123.0
                  Public             6221.0
Lofa              Community           295.0
                  Faith-based         262.0
                  Private             849.0
                  Public            10316.0
Margibi           Community          1209.0
                  Faith-based        3181.0
                  Private            4507.0
                  Public             4553.0
Maryland          Private             312.0
                  Public             1386.0
Montserrado 1     Community          2261.0
                  Faith-based       14420.0
                  Private           27554.0
                  Public             2103.0
Montserrado 2     Community           530.0
                  Faith-based       11512.0
                  Private           22882.0
                  Public             4824.0
Nimba             Community          2873.0
                  Faith-based        4841.0
                  Private            7129.0
                  Public            31528.0
River Gee         Faith-based        1097.0
                  Private             118.0
                  Public             5030.0
Rivercess         Community            35.0
                  Faith-based         262.0
                  Private             145.0
                  Public             3339.0
Sinoe             Community           107.0
                  Faith-based        1611.0
                  Private            1100.0
                  Public             7942.0
dtype: float64

# ECE Enrollment by District and Gender

In [86]:
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]

In [87]:
kece_cds = pd.concat([kece_c, kece_d, kece_s], axis = 1)
kece_cds.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],
      dtype='object')

In [88]:
kece_melt =kece_cds.melt(id_vars=['County','How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],var_name = 'district',value_name='count')
kece_melt.head()

,County,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0,District in Bong County,NaN
2,River Gee,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0,District in Bong County,NaN
3,Montserrado 1,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0,District in Bong County,NaN
4,Montserrado 1,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0,District in Bong County,NaN

In [89]:
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Senji')].sum()

In [90]:
k_a = k_s[1:-2]
k_a

How many MALE students below AGE 3 YEARS OLD are in Nursery?                 32.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?               32.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?         0.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?       0.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?             0.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?           0.0
How many MALE students AGE 3 YEARS OLD are in Nursery?                      178.0
How many MALE students AGE 4 YEARS OLD are in Nursery?                      241.0
How many MALE students AGE 5 YEARS OLD are in Nursery?                      180.0
How many MALE students AGE 6 YEARS OLD are in Nursery?                       55.0
How many MALE students AGE 7 YEARS OLD are in Nursery?                       28.0
How many MALE students AGE 8 YEARS OLD are in Nursery?                        8.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?                  9.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?                   206.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?                   216.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?                   129.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?                    73.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?                    20.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?                    10.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?               7.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?              31.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?             100.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?             143.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?             104.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?              22.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?              15.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?         5.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?           31.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?           84.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          112.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?           93.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?           28.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?           19.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?      3.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?                  11.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?                  97.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?               86.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?               81.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?               66.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?               75.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?         37.0
dtype: object

In [91]:
k_a#.sum()

How many MALE students below AGE 3 YEARS OLD are in Nursery?                 32.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?               32.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?         0.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?       0.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?             0.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?           0.0
How many MALE students AGE 3 YEARS OLD are in Nursery?                      178.0
How many MALE students AGE 4 YEARS OLD are in Nursery?                      241.0
How many MALE students AGE 5 YEARS OLD are in Nursery?                      180.0
How many MALE students AGE 6 YEARS OLD are in Nursery?                       55.0
How many MALE students AGE 7 YEARS OLD are in Nursery?                       28.0
How many MALE students AGE 8 YEARS OLD are in Nursery?                        8.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?                  9.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?                   206.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?                   216.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?                   129.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?                    73.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?                    20.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?                    10.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?               7.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?              31.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?             100.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?             143.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?             104.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?              22.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?              15.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?         5.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?           31.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?           84.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          112.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?           93.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?           28.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?           19.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?      3.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?                  11.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?                  97.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?               86.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?               81.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?               66.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?               75.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?         37.0
dtype: object

In [92]:
k_m1 =  k_a[:7:2].sum()
k_m2 =k_a[7:13].sum()
k_m3 = k_a[20:27].sum()
#k_m4 =
k_a[34:36]#.sum()

How many MALE students AGE 3 YEARS OLD are in Kindergarten?    11.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?    97.0
dtype: object

In [93]:
#k_m1 + k_m2 + k_m3 + k_m4

In [94]:
#kece_cds.columns

In [95]:
pd.set_option('display.max_rows',2000)

kece_cds['District in Nimba'].dropna() #[kece_cds['District in Montserrado 2']=='Left Bank 1B']

1                Zoe-Geh
9           Bain- Garr 2
21          Bain- Garr 2
52            Saclepea 1
57      Sanniquellie Mah
58      Sanniquellie Mah
67           Bain-Garr 1
83      Sanniquellie Mah
86           Bain-Garr 1
101     Sanniquellie Mah
125         Bain- Garr 2
129     Sanniquellie Mah
130     Sanniquellie Mah
131     Sanniquellie Mah
132     Sanniquellie Mah
161              Zoe-Geh
162              Zoe-Geh
163              Zoe-Geh
164              Zoe-Geh
169           Saclepea 1
170     Sanniquellie Mah
184           Saclepea 1
185            Tappita 1
186           Saclepea 1
196               Buuyao
199     Sanniquellie Mah
202          Bain-Garr 1
217              Zoe-Geh
220               Buuyao
222           Saclepea 1
226               Buuyao
229            Tappita 2
234               Buuyao
239          Tuwah River
240            Tappita 2
244           Saclepea 1
245     Sanniquellie Mah
246           Saclepea 1
263           Saclepea 1
264           Gbelay-Geh
267          Tuwah River
268          Tuwah River
269          Tuwah River
278           Saclepea 1
280     Sanniquellie Mah
296     Sanniquellie Mah
300               Buuyao
301               Buuyao
302              Zoe-Geh
311           Saclepea 1
315     Sanniquellie Mah
316           Gbelay-Geh
336           Saclepea 1
339           Yarpea Mah
340              Zoe-Geh
342          Tuwah River
351           Saclepea 1
355           Saclepea 1
357               Buuyao
359     Sanniquellie Mah
360           Yarpea Mah
361           Yarpea Mah
362          Tuwah River
377            Tappita 2
387     Yarwein Mensonoh
392     Sanniquellie Mah
402               Buuyao
403          Tuwah River
404            Tappita 2
405     Sanniquellie Mah
413           Yarpea Mah
423     Yarwein Mensonoh
453              Zoe-Geh
455               Buuyao
459           Saclepea 1
460           Saclepea 1
462         Bain- Garr 2
468           Gbelay-Geh
497         Bain- Garr 2
534     Sanniquellie Mah
557              Zoe-Geh
606         Bain- Garr 2
616     Sanniquellie Mah
617               Buuyao
621           Saclepea 1
634          Bain-Garr 1
635           Saclepea 1
641          Bain-Garr 1
643            Tappita 1
653               Buuyao
658           Gbelay-Geh
670           Saclepea 1
671           Saclepea 1
672           Saclepea 1
673           Saclepea 1
674           Saclepea 1
689     Sanniquellie Mah
695            Tappita 1
702           Saclepea 1
712            Tappita 1
713            Tappita 1
714            Tappita 1
722               Buuyao
723           Saclepea 1
724     Sanniquellie Mah
725     Yarwein Mensonoh
731               Buuyao
742          Tuwah River
747     Sanniquellie Mah
754           Saclepea 1
759           Saclepea 1
760              Zoe-Geh
762          Tuwah River
776           Gbelay-Geh
777              Zoe-Geh
783           Gbelay-Geh
798            Tappita 2
806         Bain- Garr 2
807               Buuyao
808               Buuyao
809           Gbelay-Geh
813               Buuyao
837            Tappita 1
855            Tappita 1
867     Yarwein Mensonoh
870            Tappita 1
879            Tappita 1
884           Gbelay-Geh
886              Zoe-Geh
888           Saclepea 1
892            Tappita 2
899           Yarpea Mah
900           Yarpea Mah
901           Yarpea Mah
902           Saclepea 1
903           Yarpea Mah
907           Gbelay-Geh
910            Tappita 1
922              Zoe-Geh
923           Gbelay-Geh
936     Sanniquellie Mah
975     Sanniquellie Mah
1026         Bain-Garr 1
1038           Tappita 1
1041              Buuyao
1053          Saclepea 1
1064    Yarwein Mensonoh
1101             Zoe-Geh
1118          Saclepea 1
1126          Yarpea Mah
1127          Saclepea 1
1128          Saclepea 1
1132         Bain-Garr 1
1139         Bain-Garr 1
1143           Tappita 1
1148          Gbelay-Geh
1165           Tappita 1
1169              Buuyao
1170         Bain-Garr 1
1172           Tappita 1
1182         Bain-Garr 1
1202          Saclepea 1
1207          Saclepea 1
1208             Zoe-Geh
1211           Tappita 1
1212    Yarwein Mensonoh
1213        Bain- Garr 2
1218           Tappita 1
1222         Tuwah River
1223         Tuwah River
1224         Tuwah River
1225         Tuwah River
1226    Yarwein Mensonoh
1236          Yarpea Mah
1239           Tappita 2
1248         Tuwah River
1249    Sanniquellie Mah
1253          Saclepea 1
1264          Saclepea 1
1266          Gbelay-Geh
1268          Saclepea 1
1283    Sanniquellie Mah
1284           Tappita 2
1294          Saclepea 1
1297        Bain- Garr 2
1298          Saclepea 1
1299          Saclepea 1
1300         Tuwah River
1301         Tuwah River
1302         Tuwah River
1303          Yarpea Mah
1304          Yarpea Mah
1305         Tuwah River
1306         Tuwah River
1310    Sanniquellie Mah
1311          Saclepea 1
1312         Tuwah River
1316             Zoe-Geh
1317             Zoe-Geh
1318        Bain- Garr 2
1327             Zoe-Geh
1328             Zoe-Geh
1329              Buuyao
1331           Tappita 1
1333         Bain-Garr 1
1334           Tappita 1
1335              Buuyao
1336           Tappita 1
1338    Sanniquellie Mah
1339    Sanniquellie Mah
1348    Sanniquellie Mah
1351         Tuwah River
1352         Tuwah River
1360         Tuwah River
1361          Saclepea 1
1367    Yarwein Mensonoh
1370    Yarwein Mensonoh
1388         Bain-Garr 1
1394        Bain- Garr 2
1401           Tappita 1
1413          Saclepea 1
1415        Bain- Garr 2
1416              Buuyao
1417           Tappita 1
1420          Gbelay-Geh
1424    Yarwein Mensonoh
1425    Yarwein Mensonoh
1441          Gbelay-Geh
1442           Tappita 2
1445        Bain- Garr 2
1452    Sanniquellie Mah
1453    Sanniquellie Mah
1471          Saclepea 1
1478          Saclepea 1
1479    Yarwein Mensonoh
1484        Bain- Garr 2
1497    Sanniquellie Mah
1499          Saclepea 1
1507             Zoe-Geh
1514          Yarpea Mah
1515          Saclepea 1
1520         Bain-Garr 1
1537        Bain- Garr 2
1538    Sanniquellie Mah
1546          Saclepea 1
1580           Tappita 1
1582              Buuyao
1585              Buuyao
1586         Tuwah River
1587          Saclepea 1
1591             Zoe-Geh
1596    Yarwein Mensonoh
1601             Zoe-Geh
1603             Zoe-Geh
1621         Bain-Garr 1
1663         Bain-Garr 1
1689           Tappita 1
1693           Tappita 1
1738         Bain-Garr 1
1739         Bain-Garr 1
1740         Bain-Garr 1
1745           Tappita 2
1752    Sanniquellie Mah
1755         Bain-Garr 1
1759    Yarwein Mensonoh
1769    Yarwein Mensonoh
1771          Saclepea 1
1772         Bain-Garr 1
1777         Bain-Garr 1
1887    Sanniquellie Mah
1890         Bain-Garr 1
1893           Tappita 2
1894          Saclepea 1
1895          Saclepea 1
1952              Buuyao
1954           Tappita 2
1955    Yarwein Mensonoh
1977          Gbelay-Geh
1978          Gbelay-Geh
1979          Gbelay-Geh
1980              Buuyao
1982          Gbelay-Geh
1983          Gbelay-Geh
1984          Yarpea Mah
1986              Buuyao
1989         Tuwah River
1990             Zoe-Geh
1998           Tappita 2
2002         Tuwah River
2003           Tappita 2
2009          Gbelay-Geh
2013          Gbelay-Geh
2019           Tappita 1
2064    Sanniquellie Mah
2067         Bain-Garr 1
2068          Gbelay-Geh
2069             Zoe-Geh
2074    Sanniquellie Mah
2078    Sanniquellie Mah
2098         Bain-Garr 1
2123           Tappita 1
2130             Zoe-Geh
2133        Bain- Garr 2
2138          Saclepea 1
2140         Tuwah River
2157           Tappita 2
2160          Saclepea 1
2162          Yarpea Mah
2166          Saclepea 1
2167          Saclepea 1
2168          Saclepea 1
2169         Tuwah River
2171           Tappita 1
2176          Saclepea 1
2177          Saclepea 1
2178          Saclepea 1
2181          Gbelay-Geh
2189          Saclepea 1
2190    Yarwein Mensonoh
2205    Yarwein Mensonoh
2206           Tappita 2
2208           Tappita 1
2213    Yarwein Mensonoh
2219           Tappita 2
2222          Gbelay-Geh
2223          Gbelay-Geh
2224          Gbelay-Geh
2236         Tuwah River
2239              Buuyao
2240          Saclepea 1
2242          Saclepea 1
2243        Bain- Garr 2
2253    Sanniquellie Mah
2256    Sanniquellie Mah
2275           Tappita 1
2282         Bain-Garr 1
2302        Bain- Garr 2
2304           Tappita 1
2315           Tappita 1
2316          Gbelay-Geh
2321           Tappita 2
2341          Gbelay-Geh
2347          Gbelay-Geh
2351           Tappita 1
2352         Tuwah River
2353         Bain-Garr 1
2354    Sanniquellie Mah
2358          Saclepea 1
2373         Tuwah River
2377    Sanniquellie Mah
2397         Bain-Garr 1
2398    Sanniquellie Mah
2399           Tappita 1
2418         Tuwah River
2420         Tuwah River
2422              Buuyao
2423              Buuyao
2424             Zoe-Geh
2439          Gbelay-Geh
2448          Yarpea Mah
2454          Saclepea 1
2456    Yarwein Mensonoh
2466        Bain- Garr 2
2469           Tappita 1
2470    Sanniquellie Mah
2472           Tappita 1
2473           Tappita 2
2477    Sanniquellie Mah
2478    Sanniquellie Mah
2479    Sanniquellie Mah
2480           Tappita 1
2481           Tappita 1
2483          Saclepea 1
2492    Sanniquellie Mah
2506         Bain-Garr 1
2522              Buuyao
2523          Saclepea 1
2536           Tappita 2
2537             Zoe-Geh
2538             Zoe-Geh
2559        Bain- Garr 2
2565           Tappita 2
2570         Bain-Garr 1
2606         Bain-Garr 1
2663              Buuyao
2664          Gbelay-Geh
2667              Buuyao
2668          Saclepea 1
2675          Gbelay-Geh
2679           Tappita 1
2731          Yarpea Mah
2732    Sanniquellie Mah
2733    Sanniquellie Mah
2742    Sanniquellie Mah
2756              Buuyao
2769              Buuyao
2797          Gbelay-Geh
2798          Saclepea 1
2799              Buuyao
2801          Saclepea 1
2803          Saclepea 1
2808             Zoe-Geh
2815          Gbelay-Geh
2819    Yarwein Mensonoh
2820              Buuyao
2821              Buuyao
2822              Buuyao
2823              Buuyao
2831          Saclepea 1
2855    Yarwein Mensonoh
2869         Tuwah River
2874          Saclepea 1
2882              Buuyao
2897          Gbelay-Geh
2914          Saclepea 1
2932         Bain-Garr 1
2939         Bain-Garr 1
2968    Sanniquellie Mah
2974         Bain-Garr 1
2975    Sanniquellie Mah
2976    Sanniquellie Mah
2985           Tappita 1
3000             Zoe-Geh
3013    Sanniquellie Mah
3015          Saclepea 1
3020    Sanniquellie Mah
3035          Saclepea 1
3051           Tappita 1
3064           Tappita 1
3074    Sanniquellie Mah
3108             Zoe-Geh
3109             Zoe-Geh
3118          Gbelay-Geh
3141    Sanniquellie Mah
3161        Bain- Garr 2
3163          Saclepea 1
3171             Zoe-Geh
3172          Saclepea 1
3173          Saclepea 1
3174          Saclepea 1
3175          Saclepea 1
3176          Saclepea 1
3177          Saclepea 1
3181    Yarwein Mensonoh
3184         Bain-Garr 1
3212           Tappita 2
3214          Saclepea 1
3220             Zoe-Geh
3221           Tappita 2
3224    Sanniquellie Mah
3225    Sanniquellie Mah
3226    Sanniquellie Mah
3227    Sanniquellie Mah
3238          Gbelay-Geh
3239           Tappita 2
3244          Saclepea 1
3245         Bain-Garr 1
3246              Buuyao
3258              Buuyao
3280           Tappita 1
3281           Tappita 2
3282          Gbelay-Geh
3283          Saclepea 1
3284    Sanniquellie Mah
3285    Sanniquellie Mah
3292          Yarpea Mah
3293         Tuwah River
3321    Sanniquellie Mah
3322             Zoe-Geh
3326             Zoe-Geh
3345         Tuwah River
3374         Tuwah River
3394    Sanniquellie Mah
3401         Tuwah River
3409         Tuwah River
3410         Tuwah River
3411        Bain- Garr 2
3414          Gbelay-Geh
3415         Bain-Garr 1
3440          Saclepea 1
3441           Tappita 1
3442    Sanniquellie Mah
3447         Bain-Garr 1
3454    Sanniquellie Mah
3459              Buuyao
3462    Sanniquellie Mah
3465    Sanniquellie Mah
3474          Saclepea 1
3490    Sanniquellie Mah
3527           Tappita 2
3539             Zoe-Geh
3542         Bain-Garr 1
3544           Tappita 1
3551         Tuwah River
3552              Buuyao
3560           Tappita 1
3561           Tappita 1
3562           Tappita 1
3563           Tappita 1
3576         Tuwah River
3577           Tappita 2
3586             Zoe-Geh
3588              Buuyao
3589         Tuwah River
3590         Tuwah River
3599         Tuwah River
3602        Bain- Garr 2
3605          Saclepea 1
3614          Gbelay-Geh
3615         Bain-Garr 1
3621           Tappita 1
3644           Tappita 1
3645          Saclepea 1
3654         Bain-Garr 1
3671          Gbelay-Geh
3683        Bain- Garr 2
3685        Bain- Garr 2
3695           Tappita 2
3696           Tappita 2
3702          Gbelay-Geh
3706          Gbelay-Geh
3711    Yarwein Mensonoh
3713         Tuwah River
3714         Tuwah River
3715             Zoe-Geh
3717    Sanniquellie Mah
3728        Bain- Garr 2
3734          Saclepea 1
3748         Tuwah River
3749         Tuwah River
3752    Sanniquellie Mah
3766    Sanniquellie Mah
3767          Saclepea 1
3768        Bain- Garr 2
3796           Tappita 1
3799    Sanniquellie Mah
3834    Yarwein Mensonoh
3869             Zoe-Geh
3875              Buuyao
3876              Buuyao
3879              Buuyao
3880              Buuyao
3893    Yarwein Mensonoh
3895             Zoe-Geh
3896    Yarwein Mensonoh
3926        Bain- Garr 2
3927        Bain- Garr 2
3949          Saclepea 1
3973           Tappita 1
3993    Yarwein Mensonoh
4014              Buuyao
4029              Buuyao
4030              Buuyao
4031              Buuyao
4032              Buuyao
4034          Gbelay-Geh
4037          Saclepea 1
4046          Gbelay-Geh
4048           Tappita 1
4049    Yarwein Mensonoh
4051        Bain- Garr 2
4052          Saclepea 1
4053    Sanniquellie Mah
4058           Tappita 2
4059          Saclepea 1
4063           Tappita 2
4067          Gbelay-Geh
4069           Tappita 2
4070         Bain-Garr 1
4077    Yarwein Mensonoh
4078    Yarwein Mensonoh
4079             Zoe-Geh
4083          Gbelay-Geh
4084          Saclepea 1
4085          Gbelay-Geh
4088          Saclepea 1
4089           Tappita 1
4092             Zoe-Geh
4093             Zoe-Geh
4094    Sanniquellie Mah
4096          Gbelay-Geh
4097             Zoe-Geh
4101         Tuwah River
4102             Zoe-Geh
4103              Buuyao
4104    Yarwein Mensonoh
4108          Saclepea 1
4109         Tuwah River
4111           Tappita 1
4113           Tappita 1
4124          Gbelay-Geh
4127           Tappita 2
4131             Zoe-Geh
4134         Bain-Garr 1
4135          Saclepea 1
4137    Sanniquellie Mah
4139         Tuwah River
4140             Zoe-Geh
4141          Gbelay-Geh
4142          Gbelay-Geh
4144          Gbelay-Geh
4145          Gbelay-Geh
4149             Zoe-Geh
4151    Yarwein Mensonoh
4153          Gbelay-Geh
4155           Tappita 1
4156           Tappita 1
4157           Tappita 2
4159        Bain- Garr 2
Name: District in Nimba, dtype: object

In [96]:
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Greenville')].sum()
k_a = k_s[1:-2]
k_a.sum()

2028.0

In [97]:
ka_nur = k_a[:2].append(k_a[6:20])
#ka_nur

In [98]:
ka_nur.sum()

991.0

In [99]:
ka_pk = k_a[2:4].append(k_a[20:34])
#ka_pk

In [100]:
ka_pk.sum()

670.0

In [101]:
ka_k = k_a[4:6].append(k_a[34:])
#ka_k

In [102]:
ka_k.sum()

367.0

# Enrollment by District and Ownership

In [103]:


kece_c.head()

          County
0      Rivercess
1          Nimba
2      River Gee
3  Montserrado 1
4  Montserrado 1

In [104]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]

In [105]:
kece_cdso = pd.concat([kece_c, kece_o, kece_d, kece_s], axis = 1)
kece_cdso.columns

Index(['County', 'Type of school', 'District in Bong County',
       'District in Gbarpolu', 'District in River Gee', 'District in Sinoe',
       'District in Lofa', 'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],
      dtype='object')

In [106]:
kece_melto =kece_cdso.melt(id_vars=['County', 'Type of school','How many MALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?',
       'How many MALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Nursery?',
       'How many MALE students AGE 4 YEARS OLD are in Nursery?',
       'How many MALE students AGE 5 YEARS OLD are in Nursery?',
       'How many MALE students AGE 6 YEARS OLD are in Nursery?',
       'How many MALE students AGE 7 YEARS OLD are in Nursery?',
       'How many MALE students AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students Above AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Nursery?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Nursery?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?',
       'How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?',
       'How many MALE students AGE 3 YEARS OLD are in Kindergarten?',
       'How many MALE students AGE 4 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?',
       'How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?'],var_name = 'district',value_name='count')
#kece_melto.head()

In [107]:
k_so = kece_melto[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].head(2).groupby('Type of school').sum()#.sum(1)
k_so

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Public,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,3.0,0.0,0.0,0.0,0.0,4.0,7.0,4.0,1.0,0.0,0.0,0.0,0.0,3.0,10.0,6.0,10.0,4.0,0.0,0.0,0.0,5.0,5.0,17.0,0.0,0.0,0.0,0.0,2.0,5.0,6.0,3.0,0.0

In [141]:
k_so = kece_melto[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
k_so

Type of school
Faith-based    1313.0
Private         189.0
Public          526.0
dtype: float64

In [109]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]
kece_disa = kece_student.iloc[:,22:46]

In [145]:
kece_cdd = pd.concat([kece_c, kece_d, kece_disa], axis = 1)
kece_cdd.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],
      dtype='object')

In [147]:
dd = kece_cdd.groupby('County').sum()
#dd

In [148]:
k_od = kece_cdd[(kece_cdd['district']== 'District in Sinoe') & (kece_cdd['count']== 'Greenville')].groupby('Type of school').sum()#.sum(1)

KeyError: 'district'

In [113]:
#dd.iloc[:,:6].sum(1)#.sum() #+
dd.iloc[:,6:12].sum(1)#.sum()#+ 
#dd.iloc[:,12:18].sum(1).sum() + 
#dd.iloc[:,18:].sum(1).sum()

NameError: name 'dd' is not defined

In [114]:
dd.iloc[:,6:12].sum(1).sum()

NameError: name 'dd' is not defined

In [115]:
dd.iloc[:,12:18].sum(1).sum()

NameError: name 'dd' is not defined

In [116]:
kece_meltdd =kece_cdd.melt(id_vars=['County', 'How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kece_meltdd.head()

,County,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN
2,River Gee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN

In [152]:
kece_meltdd.iloc[:,18:]#.sum(1).sum()

,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN
...,...,...,...,...,...,...,...,...,...
66651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN
66652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN
66653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Districts in River Cess,NaN
66654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Districts in River Cess,NaN
66655,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Districts in River Cess,NaN

In [118]:
#ece disability disagregated by gender
#dd.iloc[:,0,3]

In [119]:
d_1 = dd.sum()

NameError: name 'dd' is not defined

In [155]:
#d_1.sum()

0        NaN
1        0.0
2        NaN
3        NaN
4        0.0
        ...
66651    0.0
66652    0.0
66653    NaN
66654    NaN
66655    0.0
Name: How many FEMALE students in Pre-Kindergarten are Visually impaired ?, Length: 66656, dtype: float64

In [121]:
district_dic =pd.Series(kece_cdso.columns[2:18])
district_dic.to_csv('district_dic.csv', index = False)

In [122]:
d_2 = dd.iloc[:,:6].sum()
d_2

NameError: name 'dd' is not defined

In [123]:
d_2[[0,3,5]].sum()

NameError: name 'd_2' is not defined

In [124]:
d_2.sum()

NameError: name 'd_2' is not defined

In [125]:
dd.iloc[:,6:12].sum()[[0,3,4]].sum()

NameError: name 'dd' is not defined

In [126]:
dd.iloc[:,6:12].sum().sum()

NameError: name 'dd' is not defined

In [127]:
dd.iloc[:,12:18].sum()[[0,3,4]].sum()

NameError: name 'dd' is not defined

In [128]:
dd.iloc[:,12:18].sum().sum()

NameError: name 'dd' is not defined

In [129]:
dd.iloc[:,18:].sum()[[0,2,4]].sum()

NameError: name 'dd' is not defined

In [130]:
dd.iloc[:,18:].sum().sum()

NameError: name 'dd' is not defined

In [131]:
dd

NameError: name 'dd' is not defined

In [132]:
dd.iloc[:].sum()[[22,23]].sum()

NameError: name 'dd' is not defined

In [133]:
kece_cdso.head()

,County,Type of school,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,Rivercess,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,Public,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,River Gee,Public,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [134]:
ece_vi_c=kece_cdso.iloc[:,[0,2,3,4,5,6,7]]
ece_vi_c

,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh
2,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4161,Bomi,NaN,NaN,NaN,NaN,NaN,NaN
4162,Lofa,NaN,NaN,NaN,NaN,Zorzor,NaN
4163,Grand Gedeh,NaN,NaN,NaN,NaN,NaN,NaN
4164,Grand Gedeh,NaN,NaN,NaN,NaN,NaN,NaN
4165,Grand Gedeh,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
ece_vi_c.groupby('County').sum().sum(1)

County
Bomi                0.0
Bong                0.0
Gbarpolu            0.0
Grand Bassa         0.0
Grand Cape Mount    0.0
Grand Gedeh         0.0
Grand Kru           0.0
Lofa                0.0
Margibi             0.0
Maryland            0.0
Montserrado 1       0.0
Montserrado 2       0.0
Nimba               0.0
River Gee           0.0
Rivercess           0.0
Sinoe               0.0
dtype: float64

In [136]:
ece_hp_c=kece_cdso.iloc[:,[0,8,9,10,11,12,13]]
ece_hp_c.groupby('County').sum().sum(1)

County
Bomi                0.0
Bong                0.0
Gbarpolu            0.0
Grand Bassa         0.0
Grand Cape Mount    0.0
Grand Gedeh         0.0
Grand Kru           0.0
Lofa                0.0
Margibi             0.0
Maryland            0.0
Montserrado 1       0.0
Montserrado 2       0.0
Nimba               0.0
River Gee           0.0
Rivercess           0.0
Sinoe               0.0
dtype: float64

In [137]:
ece_p_c=kece_cdso.iloc[:,[0,14,15,16,17,18,19]]
ece_p_c.groupby('County').sum().sum(1)

County
Bomi                 131.0
Bong                 563.0
Gbarpolu              90.0
Grand Bassa           94.0
Grand Cape Mount     475.0
Grand Gedeh          448.0
Grand Kru            339.0
Lofa                 334.0
Margibi              487.0
Maryland             166.0
Montserrado 1       3645.0
Montserrado 2       3310.0
Nimba                929.0
River Gee            310.0
Rivercess             20.0
Sinoe                207.0
dtype: float64

In [138]:
ece_m_c=kece_cdso.iloc[:,[0,20,21,22,23,24,25]]
ece_m_c.groupby('County').sum().sum(1)

County
Bomi                 781.0
Bong                1811.0
Gbarpolu             824.0
Grand Bassa          898.0
Grand Cape Mount    1677.0
Grand Gedeh         1234.0
Grand Kru            894.0
Lofa                1104.0
Margibi             1403.0
Maryland             381.0
Montserrado 1       7841.0
Montserrado 2       5643.0
Nimba               3466.0
River Gee            586.0
Rivercess            320.0
Sinoe                873.0
dtype: float64

In [390]:
k_od = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Central Kpanyan')].sum()#.sum(1)#.groupby('Type of school').sum()#.sum(1)

kdis=k_od[1:-2]

kdis

How many MALE students in nursery are Visually impaired ?                                             0.0
How many female students in Nursery are Visually impaired ?                                           0.0
How many FEMALE students in Pre-Kindergarten are Visually impaired ?                                  0.0
How many MALE students in pre-Kindergarten are Visually impaired ?                                    0.0
How many FEMALE students in kindergarten are Visually impaired ?                                      0.0
How many MALE students in kindergarten are Visually impaired ?                                        0.0
How many MALE students in  nursery have hearing impairment?                                           0.0
How many FEMALE students in nursery have hearing impairment?                                          0.0
How many FEMALE students in pre- kindergarten are hearing impairment?                                 0.0
How many MALE students in pre-kindergarten have hearing impairment?                                   0.0
How many MALE students in kindergarten have hearing impairment?                                       0.0
How many FEMALE students in  Kindergarten have hearing impairment?                                    0.0
How many MALE students in Nursery have other physical disabilities?                                   0.0
How many FEMALE students in Nursery have other physical disabilities ?                                1.0
How many FEMALE students in  Pre-Kindergarten have other physical disabilities?                       0.0
How many MALE students in  Pre-Kindergarten have other physical disabilities?                         0.0
How many MALE students in  Kindergarten have other physical disabilities?                             0.0
How many FEMALE students in  Kindergarten have other physical disabilities?                           0.0
How many MALE students in Nursery have other mental disability or learning difficulty?                0.0
How many FEMALE students in Nursery have other mental disability or learning difficulty?              0.0
How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?      0.0
How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?    0.0
How many MALE students in  Kindergarten have other mental disability or learning difficulty?          0.0
How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?        0.0
dtype: object

In [391]:
#visual
kdis[:6].sum()

0.0

In [392]:
#hearing
kdis[6:12].sum()

0.0

In [393]:
#physical
kdis[12:18].sum()

1.0

In [394]:
#mental
kdis[18:24].sum()

0.0

In [334]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kece_student.iloc[:,46:87]
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s = kece_student.iloc[:,46:87]
kece_disa = kece_student.iloc[:,22:46]

In [427]:
kece_cdd = pd.concat([kece_c, kece_d, kece_disa], axis = 1)
kece_cdd.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],
      dtype='object')

In [428]:
kece_cdd.head()

,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [952]:
kece_meltdd =kece_cdd.melt(id_vars=['County','How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kdd_1 = kece_meltdd
#kdd_1['district'].unique()
kdd_1['count'].unique()

array([nan, 'Zota', 'Gbarnga 2', 'Salala', 'Gbarnga 1', 'Kokoyah',
       'Panta-Kpaai', 'Sanoyea', 'Fuamah', 'Suakoko', 'Kongba', 'Belle',
       'Gbarma', 'Bokomu', 'Bopolu', 'Gorwalali', 'Tienpo', 'Chedepo',
       'Gbeapo', 'Webbo', 'Sarbo', 'Putupo', 'Upper Kpanyan', 'Tarjuwon',
       'Greenville', 'Sanquin', 'Central Kpanyan', 'Butaw',
       'Lower Kpanyan', 'Juarzon', 'Jeadea', 'Kolahun 1', 'Foya',
       'Zorzor', 'Voinjama', 'Kolahun 2', 'Salayea', 'Vahun', 'Zoe-Geh',
       'Bain- Garr 2', 'Saclepea 1', 'Sanniquellie Mah', 'Bain-Garr 1',
       'Tappita 1', 'Buuyao', 'Tappita 2', 'Tuwah River', 'Gbelay-Geh',
       'Yarpea Mah', 'Yarwein Mensonoh', 'Garwular', 'Tewor',
       'Tallah Tombay', 'Gola Konneh', 'Porkpa', 'Barrobo 1', 'Sodoken',
       'Barrobo 2', 'Karleway 1', 'Harper 2', 'Karleway 2', 'Kakata 2',
       'Gibi', 'Farmington', 'Marshall', 'Kakata 1', 'Mama kaba', 'Senji',
       'Suehn-Mecca', 'Klay', 'Dewoin', 'District 3A', 'District 5',
       'District 2', 'District 5B', 'District 1', 'District 3B',
       'District 4', 'Right Bank 1', 'Left Bank 2A', 'Left bank 2B',
       'Left bank  1C', 'Left Bank 1A', 'Left bank 1B', 'Left Bank 1D',
       'Right Bank 2', 'Right Bank 3', 'Careysburg', 'Todee',
       'Paynesville 4', 'Greater Monrovia 1A', 'Paynesville 2',
       'Greater Monrovia 2C', 'Paynesville 6', 'Greater Monrovia 1D',
       'Greater Monrovia 2D', 'Greater Monrovia 2A', 'Paynesville 5',
       'Greater Monrovia 1E', 'Greater Monrovia 2B',
       'Greater Monrovia 1B', 'Greater Monrovia 1C', 'Paynesville 3',
       'Paynesville 1', 'Barclayville', 'Jloh', 'Trehn', 'Grand Cess',
       'Dorbor', 'Wedabo', 'Buah', 'Sass Town', 'Cavalla', 'Tchien',
       'Putu', 'Gbarzon', 'Konobo', 'Timobo', 'Morwah',
       'Central Rivercess 1', 'Yarnee', 'Central Rivercess 2'],
      dtype=object)

In [77]:
d15 = kdd_1[(kdd_1['district']=='District in Montserrado 1') &(kdd_1['count']== 'Paynesville 1')].sum()
dk15 = d15[1:-2]
dk15

NameError: name 'kdd_1' is not defined

In [1170]:
dk15[:6].sum()

2.0

In [1171]:
dk15[6:12].sum()

3.0

In [1172]:
dk15[12:18].sum()

2.0

In [1173]:
dk15[18:].sum()

0.0

In [1174]:
kece_cdso.head()

,County,Type of school,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,Rivercess,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,River Gee,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,Montserrado 1,Private,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [1139]:
h = kece_cdso.iloc[:,:26].groupby('County').sum()
h.iloc[:,18:].sum(1)

County
Bomi                 27.0
Bong                 11.0
Gbarpolu              5.0
Grand Bassa           5.0
Grand Cape Mount     42.0
Grand Gedeh           2.0
Grand Kru            55.0
Lofa                438.0
Margibi              26.0
Maryland              7.0
Montserrado 1       120.0
Montserrado 2       103.0
Nimba                74.0
River Gee             0.0
Rivercess             3.0
Sinoe                 5.0
dtype: float64

In [69]:
kece_meltdd =kece_cdd.melt(id_vars=['County', 'How many MALE students in nursery are Visually impaired ?',
       'How many female students in Nursery are Visually impaired ?',
       'How many FEMALE students in Pre-Kindergarten are Visually impaired ?',
       'How many MALE students in pre-Kindergarten are Visually impaired ?',
       'How many FEMALE students in kindergarten are Visually impaired ?',
       'How many MALE students in kindergarten are Visually impaired ?',
       'How many MALE students in  nursery have hearing impairment?',
       'How many FEMALE students in nursery have hearing impairment?',
       'How many FEMALE students in pre- kindergarten are hearing impairment?',
       'How many MALE students in pre-kindergarten have hearing impairment?',
       'How many MALE students in kindergarten have hearing impairment?',
       'How many FEMALE students in  Kindergarten have hearing impairment?',
       'How many MALE students in Nursery have other physical disabilities?',
       'How many FEMALE students in Nursery have other physical disabilities ?',
       'How many FEMALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Pre-Kindergarten have other physical disabilities?',
       'How many MALE students in  Kindergarten have other physical disabilities?',
       'How many FEMALE students in  Kindergarten have other physical disabilities?',
       'How many MALE students in Nursery have other mental disability or learning difficulty?',
       'How many FEMALE students in Nursery have other mental disability or learning difficulty?',
       'How many MALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Pre-Kindergarten have other mental disability or learning difficulty?',
       'How many MALE students in  Kindergarten have other mental disability or learning difficulty?',
       'How many FEMALE students in  Kindergarten have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kece_meltdd.head()

,County,How many MALE students in nursery are Visually impaired ?,How many female students in Nursery are Visually impaired ?,How many FEMALE students in Pre-Kindergarten are Visually impaired ?,How many MALE students in pre-Kindergarten are Visually impaired ?,How many FEMALE students in kindergarten are Visually impaired ?,How many MALE students in kindergarten are Visually impaired ?,How many MALE students in nursery have hearing impairment?,How many FEMALE students in nursery have hearing impairment?,How many FEMALE students in pre- kindergarten are hearing impairment?,How many MALE students in pre-kindergarten have hearing impairment?,How many MALE students in kindergarten have hearing impairment?,How many FEMALE students in Kindergarten have hearing impairment?,How many MALE students in Nursery have other physical disabilities?,How many FEMALE students in Nursery have other physical disabilities ?,How many FEMALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Pre-Kindergarten have other physical disabilities?,How many MALE students in Kindergarten have other physical disabilities?,How many FEMALE students in Kindergarten have other physical disabilities?,How many MALE students in Nursery have other mental disability or learning difficulty?,How many FEMALE students in Nursery have other mental disability or learning difficulty?,How many MALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Pre-Kindergarten have other mental disability or learning difficulty?,How many MALE students in Kindergarten have other mental disability or learning difficulty?,How many FEMALE students in Kindergarten have other mental disability or learning difficulty?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN
2,River Gee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,District in Bong County,NaN

In [76]:
count_di = pd.Series(kece_meltdd['count'].unique())
count_dic = count_di[1:]
count_dic.to_csv('count_dic.csv', index = False)

In [399]:
# calculating number of ece students disagregated by grade level
kece_s = kece_student.iloc[:,46:87].sum()

kece_s

How many MALE students below AGE 3 YEARS OLD are in Nursery?                 5380.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?               6168.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?        1427.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?      1387.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?             764.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?           879.0
How many MALE students AGE 3 YEARS OLD are in Nursery?                      12562.0
How many MALE students AGE 4 YEARS OLD are in Nursery?                      12717.0
How many MALE students AGE 5 YEARS OLD are in Nursery?                      11408.0
How many MALE students AGE 6 YEARS OLD are in Nursery?                       8325.0
How many MALE students AGE 7 YEARS OLD are in Nursery?                       5347.0
How many MALE students AGE 8 YEARS OLD are in Nursery?                       3427.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?                 3226.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?                   12194.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?                   12828.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?                   10736.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?                    7835.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?                    5156.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?                    3233.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?              2883.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?              3115.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?              7076.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?              8430.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?              7788.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?              5832.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?              4156.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?        3895.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?           3264.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?           6971.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?           8308.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?           7484.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?           5689.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?           4025.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?     3699.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?                  1570.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?                  4136.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?               7919.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?              10039.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?               9562.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?               6833.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?         7234.0
dtype: float64

In [443]:
#nur 
knur = kece_s[:2].append(kece_s[6:20])
knur[:2].sum()
knur[[2,9]].sum()
knur.sum()

123425.0

In [458]:
#prk 
prk = kece_s[2:4].append(kece_s[20:34])
prk.sum()#[:2].sum()
#prk[[2,9]].sum()
#prk[[8,15]].sum()

82546.0

In [459]:
kk = kece_s[4:6].append(kece_s[34:])
kk[:2].sum()

How many MALE students below AGE 3 YEARS OLD are in Kindergarten?         764.0
How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?       879.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?              1570.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?              4136.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?           7919.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?          10039.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?           9562.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?           6833.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?     7234.0
dtype: float64

In [487]:
#knur_male
knur = kece_s[:2].append(kece_s[6:20])
knur_m=knur[[0]].append(knur[2:9])
knur_m[:]

How many MALE students below AGE 3 YEARS OLD are in Nursery?     5380.0
How many MALE students AGE 3 YEARS OLD are in Nursery?          12562.0
How many MALE students AGE 4 YEARS OLD are in Nursery?          12717.0
How many MALE students AGE 5 YEARS OLD are in Nursery?          11408.0
How many MALE students AGE 6 YEARS OLD are in Nursery?           8325.0
How many MALE students AGE 7 YEARS OLD are in Nursery?           5347.0
How many MALE students AGE 8 YEARS OLD are in Nursery?           3427.0
How many MALE students Above AGE 8 YEARS OLD are in Nursery?     3226.0
dtype: float64

In [486]:
#knur_female
knur = kece_s[:2].append(kece_s[6:20])
knur_f=knur[[1]].append(knur[9:])
knur_f[:]

How many FEMALE students below AGE 3 YEARS OLD are in Nursery?      6168.0
How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          12194.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          12828.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          10736.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?           7835.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?           5156.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?           3233.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?     2883.0
dtype: float64

In [473]:
#kpk_male
prk = kece_s[2:4].append(kece_s[20:34])
prk_m=prk[[0]].append(prk[2:9])
prk_m

How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?    1427.0
How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?          3115.0
How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?          7076.0
How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?          8430.0
How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?          7788.0
How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?          5832.0
How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?          4156.0
How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?    3895.0
dtype: float64

In [474]:
#kpk_female
prk = kece_s[2:4].append(kece_s[20:34])
prk_f=prk[[1]].append(prk[9:])
prk_f

How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?     1387.0
How many FEMALE students  AGE 3 YEARS OLD are in Pre-Kindergarten?          3264.0
How many FEMALE students  AGE 4 YEARS OLD are in Pre-Kindergarten?          6971.0
How many FEMALE students  AGE 5 YEARS OLD are in Pre-Kindergarten?          8308.0
How many FEMALE students  AGE 6 YEARS OLD are in Pre-Kindergarten?          7484.0
How many FEMALE students  AGE 7 YEARS OLD are in Pre-Kindergarten?          5689.0
How many FEMALE students  AGE 8 YEARS OLD are in Pre-Kindergarten?          4025.0
How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?    3699.0
dtype: float64

In [476]:
#kk_male
kk = kece_s[4:6].append(kece_s[34:])
kk[[0,2,3]]

How many MALE students below AGE 3 YEARS OLD are in Kindergarten?     764.0
How many MALE students AGE 3 YEARS OLD are in Kindergarten?          1570.0
How many MALE students AGE 4 YEARS OLD are in Kindergarten?          4136.0
dtype: float64

In [484]:
#kk_female
kk = kece_s[4:6].append(kece_s[34:])
kk[[1,4,5,6,7,8]]#.sum()

How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?       879.0
How many FEMALE students  AGE 5 YEARS OLD are in Kindergarten?           7919.0
How many FEMALE students  AGE 6 YEARS OLD are in Kindergarten?          10039.0
How many FEMALE students  AGE 7 YEARS OLD are in Kindergarten?           9562.0
How many FEMALE students  AGE 8 YEARS OLD are in Kindergarten?           6833.0
How many FEMALE students  above AGE 8 YEARS OLD are in Kindergarten?     7234.0
dtype: float64

In [490]:
# ece enrollment disagregated by age and county


kece_s.head()

How many MALE students below AGE 3 YEARS OLD are in Nursery?               5380.0
How many FEMALE students below AGE 3 YEARS OLD are in Nursery?             6168.0
How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?      1427.0
How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?    1387.0
How many MALE students below AGE 3 YEARS OLD are in Kindergarten?           764.0
dtype: float64

In [491]:
kece_st = kece_student.iloc[:,46:87]

In [498]:
ece_asc=pd.concat([kcensus.iloc[:,[2]],kece_st],axis=1).groupby("County").sum()
ece_asc.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
County,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,62.0,69.0,10.0,0.0,0.0,0.0,327.0,444.0,367.0,180.0,107.0,42.0,62.0,345.0,363.0,292.0,192.0,79.0,43.0,37.0,44.0,153.0,203.0,173.0,86.0,73.0,56.0,38.0,119.0,167.0,160.0,75.0,60.0,52.0,15.0,116.0,144.0,137.0,146.0,137.0,124.0
Bong,264.0,299.0,84.0,53.0,34.0,43.0,629.0,968.0,1147.0,958.0,755.0,578.0,529.0,588.0,1001.0,1030.0,891.0,606.0,459.0,421.0,167.0,354.0,458.0,595.0,534.0,420.0,474.0,153.0,337.0,428.0,532.0,495.0,395.0,488.0,125.0,249.0,381.0,428.0,1261.0,444.0,657.0
Gbarpolu,45.0,45.0,27.0,11.0,10.0,14.0,312.0,450.0,449.0,368.0,303.0,173.0,113.0,293.0,415.0,420.0,411.0,291.0,150.0,139.0,54.0,126.0,196.0,309.0,233.0,141.0,132.0,53.0,107.0,133.0,261.0,208.0,148.0,146.0,32.0,58.0,101.0,135.0,225.0,210.0,237.0
Grand Bassa,48.0,46.0,43.0,58.0,23.0,6.0,331.0,437.0,484.0,389.0,299.0,191.0,152.0,328.0,446.0,407.0,358.0,240.0,204.0,158.0,71.0,197.0,431.0,460.0,441.0,293.0,367.0,64.0,187.0,419.0,403.0,446.0,410.0,272.0,61.0,268.0,274.0,468.0,512.0,430.0,529.0
Grand Cape Mount,230.0,245.0,121.0,68.0,32.0,23.0,718.0,715.0,679.0,501.0,287.0,127.0,103.0,670.0,679.0,620.0,495.0,326.0,195.0,89.0,177.0,288.0,347.0,358.0,270.0,162.0,148.0,209.0,266.0,342.0,371.0,295.0,196.0,144.0,70.0,173.0,260.0,361.0,356.0,265.0,247.0

In [534]:
kece_repeat=kcensus.iloc[:,65:71]
kece_repeat

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
0,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,3.0,6.0
2,1.0,0.0,0.0,0.0,1.0,2.0
3,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...
4161,2.0,6.0,1.0,1.0,2.0,1.0
4162,0.0,0.0,4.0,3.0,3.0,3.0
4163,7.0,7.0,4.0,1.0,4.0,5.0
4164,NaN,NaN,NaN,NaN,NaN,NaN
4165,0.0,0.0,0.0,0.0,0.0,0.0

In [535]:
kece_repeat=pd.concat([kcensus.iloc[:,[2,39]],kece_repeat],axis=1)

kece_repeat

,County,Type of school,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
0,Rivercess,Private,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,Public,0.0,0.0,0.0,0.0,3.0,6.0
2,River Gee,Public,1.0,0.0,0.0,0.0,1.0,2.0
3,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,Private,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4161,Bomi,Public,2.0,6.0,1.0,1.0,2.0,1.0
4162,Lofa,Public,0.0,0.0,4.0,3.0,3.0,3.0
4163,Grand Gedeh,Public,7.0,7.0,4.0,1.0,4.0,5.0
4164,Grand Gedeh,Public,NaN,NaN,NaN,NaN,NaN,NaN
4165,Grand Gedeh,Faith-based,0.0,0.0,0.0,0.0,0.0,0.0

In [546]:
kece_repeat_o=kece_repeat.iloc[:,:]#.head#groupby('Type of school')

kece_repeat_o.groupby('Type of school').sum()#.sum(1).sum()

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
Type of school,,,,,,
Community,146.0,220.0,156.0,155.0,156.0,196.0
Faith-based,915.0,937.0,433.0,393.0,389.0,457.0
Private,1473.0,1429.0,819.0,874.0,847.0,825.0
Public,4787.0,4352.0,2919.0,3040.0,2647.0,2566.0

In [547]:
kece_repeat_o.groupby('County').sum()#.sum(1).sum()

,How many male students in nursery are repeaters,How many female students in nursery are repeaters,How many FEMALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Pre-Kindergarten are Repeaters?,How many MALE students in Kindergarten are Repeaters?,How many female students in Kindergarten are Repeaters?
County,,,,,,
Bomi,263.0,248.0,83.0,102.0,64.0,58.0
Bong,780.0,695.0,388.0,391.0,288.0,275.0
Gbarpolu,405.0,363.0,175.0,183.0,121.0,127.0
Grand Bassa,334.0,355.0,415.0,464.0,381.0,373.0
Grand Cape Mount,770.0,729.0,271.0,283.0,290.0,273.0
Grand Gedeh,244.0,186.0,141.0,169.0,198.0,177.0
Grand Kru,239.0,226.0,162.0,145.0,141.0,141.0
Lofa,320.0,273.0,377.0,406.0,323.0,351.0
Margibi,266.0,258.0,174.0,94.0,130.0,110.0
Maryland,73.0,66.0,47.0,42.0,103.0,98.0
Montserrado 1,515.0,524.0,230.0,242.0,230.0,270.0
Montserrado 2,705.0,736.0,317.0,331.0,392.0,421.0
Nimba,1712.0,1611.0,1177.0,1250.0,1073.0,1054.0
River Gee,176.0,166.0,117.0,112.0,98.0,101.0
Rivercess,134.0,129.0,62.0,65.0,43.0,51.0
Sinoe,385.0,373.0,191.0,183.0,164.0,164.0