In [236]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',2000)

In [240]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-240-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [241]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [242]:
kece_student =kcensus.iloc[:,448:514]
kece_student.head()
#kjhs_student = kcensus.iloc[:,448:514]
#kjhs_student.head()

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
kece_age = kcensus.iloc[:,448:514]
kece_age.head()

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
#kece_student_dic = pd.Series(kece_student.columns)
#kece_student_dic.to_csv('kece_student_dic.csv', index = False)

# Table 1: JHS Enrollment by Ownership and Gender

In [249]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_s = kcensus.iloc[:,448:514]
kece_s.head()

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [276]:
kece_og = pd.concat([kece_o, kece_s],axis=1).groupby('Type of school').sum()
kece_ogs = kece_og.sum(1)
kece_ogs

Type of school
Community       3501.0
Faith-based    27361.0
Private        48714.0
Public         37796.0
dtype: float64

In [269]:
kece_ogm  = pd.concat([kece_og.iloc[:,0:3],
kece_og.iloc[:,6:9],
kece_og.iloc[:,12:15],
kece_og.iloc[:,18:21],
kece_og.iloc[:,24:27],
kece_og.iloc[:,30:33],
kece_og.iloc[:,36:39],
kece_og.iloc[:,42:45],
kece_og.iloc[:,48:51],
kece_og.iloc[:,54:57],
kece_og.iloc[:,60:63]],axis=1)

kece_ogm.sum(1)

Type of school
Community       1799.0
Faith-based    13529.0
Private        25965.0
Public         21175.0
dtype: float64

In [277]:
kece_ogf = kece_ogs - kece_ogm.sum(1)
kece_ogf

Type of school
Community       1702.0
Faith-based    13832.0
Private        22749.0
Public         16621.0
dtype: float64

# Table 2: JHS Enrollment by Grade and Gender

In [312]:
kece_gg = kece_og.sum()
kece_gg.sum()

117372.0

In [293]:
kece_gg7 = kece_gg[::3]
kece_gg7.sum()

41650.0

In [294]:
kece_gg7m = kece_gg7[::2]
kece_gg7m.sum()

21664.0

In [295]:
kece_gg7f = kece_gg7[1::2]
kece_gg7f .sum()

19986.0

In [296]:
kece_gg8 =kece_gg[1::3]
kece_gg8.sum()

38384.0

In [297]:
kece_gg8m =kece_gg8[::2]
kece_gg8m.sum()

20320.0

In [298]:
kece_gg8f =kece_gg8[1::2]
kece_gg8f.sum()

18064.0

In [299]:
kece_gg9 = kece_gg[2::3]
kece_gg9.sum()

37338.0

In [300]:
kece_gg9m = kece_gg9[::2]
kece_gg9m.sum()

20484.0

In [301]:
kece_gg9f = kece_gg9[1::2]
kece_gg9f.sum()

16854.0

# Table 3: Number of JHS Students by County and Grade

In [317]:
kece_cos = pd.concat([kece_c, kece_o, kece_s], axis = 1).groupby(['County']).sum()
kece_cos.sum(1)

County
Bomi                 1075.0
Bong                 5735.0
Gbarpolu              843.0
Grand Bassa          1891.0
Grand Cape Mount     3668.0
Grand Gedeh          3684.0
Grand Kru            1535.0
Lofa                 2327.0
Margibi              7575.0
Maryland              752.0
Montserrado 1       39284.0
Montserrado 2       29787.0
Nimba               15041.0
River Gee            1023.0
Rivercess             323.0
Sinoe                2829.0
dtype: float64

In [323]:
kece_cos7 = kece_cos.iloc[:,::3]
kece_cos7.sum(1).sum()

41650.0

In [325]:
kece_cos8 =kece_cos.iloc[:,1::3]
kece_cos8.sum(1).sum()

38384.0

In [327]:
kece_cos9 = kece_cos.iloc[:,2::3]
kece_cos9.sum(1).sum()

37338.0

# Table 4: JHS Students by County and Gender

In [332]:
kece_cg = pd.concat([kece_c, kece_s], axis = 1).groupby(['County']).sum()
kece_cg.sum(1).sum()

117372.0

In [334]:
kece_cgm = pd.concat([kece_cg.iloc[:,0:3],
kece_cg.iloc[:,6:9],
kece_cg.iloc[:,12:15],
kece_cg.iloc[:,18:21],
kece_cg.iloc[:,24:27],
kece_cg.iloc[:,30:33],
kece_cg.iloc[:,36:39],
kece_cg.iloc[:,42:45],
kece_cg.iloc[:,48:51],
kece_cg.iloc[:,54:57],
kece_cg.iloc[:,60:63]],axis=1)
kece_cgm.sum(1).sum()

62468.0

In [335]:
kece_cgf = kece_cg.sum(1)-kece_cgm.sum(1)
kece_cgf

County
Bomi                  480.0
Bong                 2628.0
Gbarpolu              348.0
Grand Bassa           802.0
Grand Cape Mount     1699.0
Grand Gedeh          1654.0
Grand Kru             723.0
Lofa                 1032.0
Margibi              3522.0
Maryland              365.0
Montserrado 1       18291.0
Montserrado 2       14946.0
Nimba                6646.0
River Gee             443.0
Rivercess             131.0
Sinoe                1194.0
dtype: float64

# Table 5: ECE Enrollment by County and Ownership

In [337]:
pd.concat([kece_c, kece_o, kece_s], axis = 1).groupby(['County', 'Type of school']).sum().sum(1)

County            Type of school
Bomi              Community             0.0
                  Faith-based         153.0
                  Private             642.0
                  Public              280.0
Bong              Community            55.0
                  Faith-based         762.0
                  Private            1568.0
                  Public             3350.0
Gbarpolu          Community             0.0
                  Faith-based           0.0
                  Private              33.0
                  Public              810.0
Grand Bassa       Community            58.0
                  Faith-based          24.0
                  Private             502.0
                  Public             1307.0
Grand Cape Mount  Community            35.0
                  Faith-based         511.0
                  Private             659.0
                  Public             2463.0
Grand Gedeh       Community            93.0
                  Faith-based         888.0
                  Private            1153.0
                  Public             1550.0
Grand Kru         Faith-based         310.0
                  Private             104.0
                  Public             1121.0
Lofa              Community            86.0
                  Faith-based         221.0
                  Private             346.0
                  Public             1674.0
Margibi           Community          1179.0
                  Faith-based        1220.0
                  Private            1665.0
                  Public             3511.0
Maryland          Private             499.0
                  Public              253.0
Montserrado 1     Community          1023.0
                  Faith-based       10597.0
                  Private           22271.0
                  Public             5393.0
Montserrado 2     Community           170.0
                  Faith-based        8580.0
                  Private           15914.0
                  Public             5123.0
Nimba             Community           802.0
                  Faith-based        2898.0
                  Private            3025.0
                  Public             8316.0
River Gee         Faith-based         277.0
                  Private               0.0
                  Public              746.0
Rivercess         Community             0.0
                  Faith-based          76.0
                  Private              82.0
                  Public              165.0
Sinoe             Community             0.0
                  Faith-based         844.0
                  Private             251.0
                  Public             1734.0
dtype: float64

# Table 6: ECE Enrollment by District and Gender

In [338]:
kece_c = kcensus.iloc[:,[2]]
kece_d = kcensus.iloc[:,3:19]
kece_s.head()

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [339]:
kece_cds = pd.concat([kece_c, kece_d, kece_s], axis = 1)
kece_cds.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many students  below Age 12 years old in Grade 7 are MALES?',
       'How many students below Age 12 years old in Grade 8 are MALES?',
       'How many students below Age 12 years old in Grade 9 are MALES?',
       'How many students below Age 12 years old in Grade 7 are FEMALES?',
       'How many students below Age 12 years old in Grade 8 are FEMALES?',
       'How many students below Age 12 years old in Grade 9 are FEMALES?',
       'How many students Age 12 years old in Grade 7 are MALES?',
       'How many students Age 12 years old in Grade 8 are MALES?',
       'How many students Age 12 years old in Grade 9 are MALES?',
       'How many students Age 12 years old in Grade 7 are FEMALES?',
       'How many students Age 12 years old in Grade 8 are FEMALES?',
       'How many students Age 12 years old in Grade 9 are FEMALES?',
       'How many students  Age 13 years old in Grade 7 are MALES?',
       'How many students  Age 13 years old in Grade 8 are MALES?',
       'How many students  Age 13 years old in Grade 9 are MALES?',
       'How many students  Age 13 years old in Grade 7 are FEMALES?',
       'How many students  Age 13 years old in Grade 8 are FEMALES?',
       'How many students  Age 13 years old in Grade 9 are FEMALES?',
       'How many students Age 14 years old in Grade 7 are MALES?',
       'How many students Age 14 years old in Grade 8 are MALES?',
       'How many students Age 14 years old in Grade 9 are MALES?',
       'How many students  Age 14 years old in Grade 7 are FEMALES?',
       'How many students  Age 14 years old in Grade 8 are FEMALES?',
       'How many students  Age 14 years old in Grade 9 are FEMALES?',
       'How many students  Age 15 years old in Grade 7 are MALES?',
       'How many students  Age 15 years old in Grade 8 are MALES?',
       'How many students  Age 15 years old in Grade 9 are MALES?',
       'How many students  age 15 Years old  in Grade 7 are FEMALES?',
       'How many students   age 15 Years old  in Grade 8 are FEMALES?',
       'How many students  age 15 Years old  in Grade 9 are FEMALES?',
       'How many students age 16 Years old  in Grade 7 are MALES?',
       'How many students age 16 Years old  in Grade 8 are MALES?',
       'How many students age 16 Years old  in Grade 9 are MALES?',
       'How many students  above Age 16 in Grade 7 are FEMALES?',
       'How many students  above Age 16 in Grade 8 are FEMALES?',
       'How many students  above Age 16 in Grade 9 are FEMALES?',
       'How many students age 17 in Grade 7 are MALES?',
       'How many students age 17 in Grade 9 are MALES?',
       'How many students age 17 in Grade 8 are MALES?',
       'How many students age 17 in Grade 7 are FEMALES?',
       'How many students age 17 in Grade 8 are FEMALES?',
       'How many students age 17 in Grade 9 are FEMALES?',
       'How many students age 18 in Grade 7 are MALES?',
       'How many students age 18 in Grade 9 are MALES?',
       'How many students age 18 in Grade 8 are MALES?',
       'How many students age 18 in Grade 7 are FEMALES?',
       'How many students age 18 in Grade 8 are FEMALES?',
       'How many students age 18 in Grade 9 are FEMALES?',
       'How many students age 19 in Grade 7 are MALES?',
       'How many students age 19 in Grade 8 are MALES?',
       'How many students age 19 in Grade 9 are MALES?',
       'How many students age 19 in Grade 7 are FEMALES?',
       'How many students age 19 in Grade 8 are FEMALES?',
       'How many students age 19 in Grade 9 are FEMALES?',
       'How many students age 20 in Grade 7 are MALES?',
       'How many students age 20 in Grade 8 are MALES?',
       'How many students age 20 in Grade 9 are MALES?',
       'How many students age 20 in Grade 7 are FEMALES?',
       'How many students age 20 in Grade 8 are FEMALES?',
       'How many students age 20 in Grade 9 are FEMALES?',
       'How many students above age 20 in Grade 7 that are MALES?',
       'How many students above age 20 in Grade 8 that are MALES?',
       'How many students above age 20 in Grade 9 that are MALES?',
       'How many students above age 20 in Grade 7 that are FEMALES?',
       'How many students above age 20 in Grade 8 that are FEMALES?',
       'How many students above age 20 in Grade 9 that are FEMALES?'],
      dtype='object')

In [341]:
kece_melt =kece_cds.melt(id_vars=['County',
        'How many students  below Age 12 years old in Grade 7 are MALES?',
       'How many students below Age 12 years old in Grade 8 are MALES?',
       'How many students below Age 12 years old in Grade 9 are MALES?',
       'How many students below Age 12 years old in Grade 7 are FEMALES?',
       'How many students below Age 12 years old in Grade 8 are FEMALES?',
       'How many students below Age 12 years old in Grade 9 are FEMALES?',
       'How many students Age 12 years old in Grade 7 are MALES?',
       'How many students Age 12 years old in Grade 8 are MALES?',
       'How many students Age 12 years old in Grade 9 are MALES?',
       'How many students Age 12 years old in Grade 7 are FEMALES?',
       'How many students Age 12 years old in Grade 8 are FEMALES?',
       'How many students Age 12 years old in Grade 9 are FEMALES?',
       'How many students  Age 13 years old in Grade 7 are MALES?',
       'How many students  Age 13 years old in Grade 8 are MALES?',
       'How many students  Age 13 years old in Grade 9 are MALES?',
       'How many students  Age 13 years old in Grade 7 are FEMALES?',
       'How many students  Age 13 years old in Grade 8 are FEMALES?',
       'How many students  Age 13 years old in Grade 9 are FEMALES?',
       'How many students Age 14 years old in Grade 7 are MALES?',
       'How many students Age 14 years old in Grade 8 are MALES?',
       'How many students Age 14 years old in Grade 9 are MALES?',
       'How many students  Age 14 years old in Grade 7 are FEMALES?',
       'How many students  Age 14 years old in Grade 8 are FEMALES?',
       'How many students  Age 14 years old in Grade 9 are FEMALES?',
       'How many students  Age 15 years old in Grade 7 are MALES?',
       'How many students  Age 15 years old in Grade 8 are MALES?',
       'How many students  Age 15 years old in Grade 9 are MALES?',
       'How many students  age 15 Years old  in Grade 7 are FEMALES?',
       'How many students   age 15 Years old  in Grade 8 are FEMALES?',
       'How many students  age 15 Years old  in Grade 9 are FEMALES?',
       'How many students age 16 Years old  in Grade 7 are MALES?',
       'How many students age 16 Years old  in Grade 8 are MALES?',
       'How many students age 16 Years old  in Grade 9 are MALES?',
       'How many students  above Age 16 in Grade 7 are FEMALES?',
       'How many students  above Age 16 in Grade 8 are FEMALES?',
       'How many students  above Age 16 in Grade 9 are FEMALES?',
       'How many students age 17 in Grade 7 are MALES?',
       'How many students age 17 in Grade 9 are MALES?',
       'How many students age 17 in Grade 8 are MALES?',
       'How many students age 17 in Grade 7 are FEMALES?',
       'How many students age 17 in Grade 8 are FEMALES?',
       'How many students age 17 in Grade 9 are FEMALES?',
       'How many students age 18 in Grade 7 are MALES?',
       'How many students age 18 in Grade 9 are MALES?',
       'How many students age 18 in Grade 8 are MALES?',
       'How many students age 18 in Grade 7 are FEMALES?',
       'How many students age 18 in Grade 8 are FEMALES?',
       'How many students age 18 in Grade 9 are FEMALES?',
       'How many students age 19 in Grade 7 are MALES?',
       'How many students age 19 in Grade 8 are MALES?',
       'How many students age 19 in Grade 9 are MALES?',
       'How many students age 19 in Grade 7 are FEMALES?',
       'How many students age 19 in Grade 8 are FEMALES?',
       'How many students age 19 in Grade 9 are FEMALES?',
       'How many students age 20 in Grade 7 are MALES?',
       'How many students age 20 in Grade 8 are MALES?',
       'How many students age 20 in Grade 9 are MALES?',
       'How many students age 20 in Grade 7 are FEMALES?',
       'How many students age 20 in Grade 8 are FEMALES?',
       'How many students age 20 in Grade 9 are FEMALES?',
       'How many students above age 20 in Grade 7 that are MALES?',
       'How many students above age 20 in Grade 8 that are MALES?',
       'How many students above age 20 in Grade 9 that are MALES?',
       'How many students above age 20 in Grade 7 that are FEMALES?',
       'How many students above age 20 in Grade 8 that are FEMALES?',
       'How many students above age 20 in Grade 9 that are FEMALES?'],var_name = 'district',value_name='count')
kece_melt.head()

,County,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?,district,count
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
2,River Gee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN

## Districts in Bomi County

In [366]:
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Senji')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Dewoin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Klay')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Suehn-Mecca')].sum()

k_a = k_s[1:-2]
k_a.sum()

150.0

In [367]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

90.0

In [368]:
k_af = k_a.sum() - k_am.sum()
k_af

60.0

## Districts in Bong County

In [403]:
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Zota')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Salala')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Fuamah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Suakoko')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Sanoyea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Panta-Kpaai')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Kokoyah')].sum()

k_a = k_s[1:-2]
k_a.sum()

764.0

In [404]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

426.0

In [405]:
k_af = k_a.sum() - k_am.sum()
k_af

338.0

## Districts in Gbarpolu

In [421]:
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gorwalali')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bopolu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Belle')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bokomu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Kongba')].sum()

k_a = k_s[1:-2]
k_a.sum()

101.0

In [422]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

53.0

In [423]:
k_af = k_a.sum() - k_am.sum()
k_af

48.0

## Districts in Grand Bassa

In [440]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 4')].sum()
k_a = k_s[1:-2]
k_a.sum()

112.0

In [441]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

72.0

In [442]:
k_af = k_a.sum() - k_am.sum()
k_af

40.0

## Districts in Grand Cape Mount

In [455]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tewor')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Gola Konneh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Porkpa')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Garwular')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tallah Tombay')].sum()

k_a = k_s[1:-2]
k_a.sum()

240.0

In [456]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

134.0

In [454]:
k_af = k_a.sum() - k_am.sum()
k_af

844.0

## Districts in Grand Gedeh

In [467]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Konobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Putu')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Gbarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Tchien')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Cavalla')].sum()
k_a = k_s[1:-2]
k_a.sum()

651.0

In [468]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

386.0

In [466]:
k_af = k_a.sum() - k_am.sum()
k_af

1153.0

## Districts in Grand Kru

In [514]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Barclayville')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Trehn')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Buah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Grand Cess')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Dorbor')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Jloh')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Sass Town')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Wedabo')].sum()

k_a = k_s[1:-2]
k_a.sum()

157.0

In [515]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

98.0

In [516]:
k_af = k_a.sum() - k_am.sum()
k_af

59.0

## Districts in Lofa

In [534]:
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Foya')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Salayea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Vahun')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Voinjama')].sum()#
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Zorzor')].sum()

k_a = k_s[1:-2]
k_a.sum()

474.0

In [535]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

270.0

In [533]:
k_af = k_a.sum() - k_am.sum()
k_af

214.0

## Districts in Margibi

In [550]:
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Marshall')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Farmington')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Mama kaba')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Gibi')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

1608.0

In [551]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

802.0

In [549]:
k_af = k_a.sum() - k_am.sum()
k_af

594.0

## Districts in Maryland

In [575]:
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Sodoken')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Pleebo')].sum()

k_a = k_s[1:-2]
k_a.sum()

0.0

In [576]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

0.0

In [577]:
k_af = k_a.sum() - k_am.sum()
k_af

0.0

## Districts in Montserrado 1

In [614]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 3')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 4')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 6')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2D')].sum()

k_a = k_s[1:-2]
k_a.sum()

3304.0

In [615]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

1769.0

In [616]:
k_af = k_a.sum() - k_am.sum()
k_af

1535.0

## Districts in Montserrado 2

In [648]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank  1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Careysburg')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Todee')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 3')].sum()

k_a = k_s[1:-2]
k_a.sum()

2008.0

In [649]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

1002.0

In [650]:
k_af = k_a.sum() - k_am.sum()
k_af

1006.0

## Districts in Nimba

In [681]:
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Saclepea 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Zoe-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tuwah River')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Gbelay-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarpea Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Buuyao')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain-Garr 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain- Garr 2')].sum()

k_a = k_s[1:-2]
k_a.sum()

940.0

In [683]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

444.0

In [684]:
k_af = k_a.sum() - k_am.sum()
k_af

496.0

## Districts in River Gee

In [717]:
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Sarbo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Tienpo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Chedepo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Putupo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Gbeapo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Webbo')].sum()

k_a = k_s[1:-2]
k_a.sum()

190.0

In [718]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

103.0

In [719]:
k_af = k_a.sum() - k_am.sum()
k_af

87.0

## Districts in River Cess

In [732]:
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Timobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Morwah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Yarnee')].sum()

k_a = k_s[1:-2]
k_a.sum()

98.0

In [733]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

60.0

In [731]:
k_af = k_a.sum() - k_am.sum()
k_af

16.0

## Districts in Sinoe

In [758]:
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Upper Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Juarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Lower Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Butaw')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Tarjuwon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Jeadea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Sanquin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Greenville')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Central Kpanyan')].sum()

k_a = k_s[1:-2]
k_a.sum()

171.0

In [759]:
k_am = pd.concat([k_a[0:3],
k_a[6:9],
k_a[12:15],
k_a[18:21],
k_a[24:27],
k_a[30:33],
k_a[36:39],
k_a[42:45],
k_a[48:51],
k_a[54:57],
k_a[60:63]])
k_am.sum()

86.0

In [760]:
k_af = k_a.sum() - k_am.sum()
k_af

85.0

# Table 7: Enrollment by District and Grade

In [62]:
#kece_cds.columns

In [63]:
#pd.set_option('display.max_rows',2000)

#kece_cds['District in Nimba'].dropna() #[kece_cds['District in Montserrado 2']=='Left Bank 1B']

## Districts in Bomi County

In [849]:
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Senji')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Dewoin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Klay')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bomi') & (kece_melt['count']== 'Suehn-Mecca')].sum()
k_a = k_s[1:-2]
k_a.sum()

150.0

In [850]:
k_a7 =k_a[::3].sum()
k_a7

57.0

In [851]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

52.0

In [852]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

41.0

## Districts in Bong County

In [889]:
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Gbarnga 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Zota')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Salala')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Fuamah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Suakoko')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Sanoyea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Panta-Kpaai')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Bong County') & (kece_melt['count']== 'Kokoyah')].sum()
k_a = k_s[1:-2]
k_a.sum()

764.0

In [890]:
k_a7 =k_a[::3].sum()
k_a7

331.0

In [891]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

223.0

In [892]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

210.0

## Districts in Gbarpolu

In [913]:
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gorwalali')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bopolu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Belle')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Bokomu')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Kongba')].sum()

k_a = k_s[1:-2]
k_a.sum()

101.0

In [914]:
k_a7 =k_a[::3].sum()
k_a7

55.0

In [915]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

33.0

In [916]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

13.0

## Districts in Grand Bassa

In [941]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 5B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 3B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Bassa') & (kece_melt['count']== 'District 4')].sum()
k_a = k_s[1:-2]
k_a.sum()

112.0

In [942]:
k_a7 =k_a[::3].sum()
k_a7

52.0

In [943]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

39.0

In [944]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

21.0

## Districts in Grand Cape Mount

In [961]:
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tewor')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Gola Konneh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Porkpa')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Garwular')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Grand Cape Mount') & (kece_melt['count']== 'Tallah Tombay')].sum()
k_a = k_s[1:-2]
k_a.sum()

240.0

In [962]:
k_a7 =k_a[::3].sum()
k_a7

89.0

In [963]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

80.0

In [964]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

71.0

## Districts in Grand Gedeh

In [981]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Konobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Putu')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Gbarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Tchien')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Gedeh') & (kece_melt['count']== 'Cavalla')].sum()

k_a = k_s[1:-2]
k_a.sum()

651.0

In [982]:
k_a7 =k_a[::3].sum()
k_a7

268.0

In [983]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

207.0

In [984]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

176.0

## Districts in Grand Kru

In [1014]:
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Barclayville')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Trehn')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Buah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Grand Cess')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Dorbor')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Jloh')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Sass Town')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in Grand Kru') & (kece_melt['count']== 'Wedabo')].sum()

k_a = k_s[1:-2]
k_a.sum()

157.0

In [1015]:
k_a7 =k_a[::3].sum()
k_a7

66.0

In [1016]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

47.0

In [1017]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

44.0

## Districts in Lofa

In [1045]:
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Foya')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Kolahun 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Salayea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Vahun')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Voinjama')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Lofa') & (kece_melt['count']== 'Zorzor')].sum()
k_a = k_s[1:-2]
k_a.sum()

474.0

In [1042]:
k_a7 =k_a[::3].sum()
k_a7

192.0

In [1043]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

147.0

In [1044]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

135.0

## Districts in Margibi

In [1066]:
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Marshall')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Farmington')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Mama kaba')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Gibi')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Margibi') & (kece_melt['count']== 'Kakata 2')].sum()
k_a = k_s[1:-2]
k_a.sum()

1608.0

In [1067]:
k_a7 =k_a[::3].sum()
k_a7

501.0

In [1068]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

535.0

In [1069]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

572.0

## Districts in Maryland

In [1099]:
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Harper 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Barrobo 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Sodoken')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Karleway 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Maryland') & (kece_melt['count']== 'Pleebo')].sum()
k_a = k_s[1:-2]
k_a.sum()

0.0

In [1100]:
k_a7 =k_a[::3].sum()
k_a7

0.0

In [1101]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

0.0

In [1102]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

0.0

## Districts in Montserrado 1

In [1162]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 3')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 4')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 5')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 6')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 1E')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Greater Monrovia 2D')].sum()
k_a = k_s[1:-2]
k_a.sum()

3304.0

In [1163]:
k_a7 =k_a[::3].sum()
k_a7

1153.0

In [1164]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

1059.0

In [1165]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

1092.0

## Districts in Montserrado 2

In [1206]:
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 1B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank  1C')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 1D')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left Bank 2A')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Left bank 2B')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Careysburg')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Todee')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Montserrado 2') & (kece_melt['count']== 'Right Bank 3')].sum()
k_a = k_s[1:-2]
k_a.sum()

2008.0

In [1207]:
k_a7 =k_a[::3].sum()
k_a7

767.0

In [1208]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

629.0

In [1209]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

612.0

## Districts in Nimba

In [1284]:
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tappita 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Saclepea 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Sanniquellie Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Zoe-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Tuwah River')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Gbelay-Geh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarpea Mah')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Yarwein Mensonoh')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Buuyao')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain-Garr 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Nimba') & (kece_melt['count']== 'Bain- Garr 2')].sum()
k_a = k_s[1:-2]
k_a.sum()

940.0

In [1285]:
k_a7 =k_a[::3].sum()
k_a7

316.0

In [1286]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

321.0

In [1287]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

303.0

## Districts in River Gee

In [1308]:
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Sarbo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Tienpo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Chedepo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Putupo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Gbeapo')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in River Gee') & (kece_melt['count']== 'Webbo')].sum()
k_a = k_s[1:-2]
k_a.sum()

190.0

In [1309]:
k_a7 =k_a[::3].sum()
k_a7

95.0

In [1310]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

53.0

In [1311]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

42.0

## Districts in River Cess

In [1341]:
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Timobo')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 1')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Central Rivercess 2')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Morwah')].sum()
k_s = kece_melt[(kece_melt['district']== 'Districts in River Cess') & (kece_melt['count']== 'Yarnee')].sum()
k_a = k_s[1:-2]
k_a.sum()

98.0

In [1342]:
k_a7 =k_a[::3].sum()
k_a7

31.0

In [1343]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

36.0

In [1344]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

31.0

## Districts in Sinoe

In [1379]:
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Upper Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Juarzon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Lower Kpanyan')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Butaw')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Tarjuwon')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Jeadea')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Sanquin')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Greenville')].sum()
k_s = kece_melt[(kece_melt['district']== 'District in Sinoe') & (kece_melt['count']== 'Central Kpanyan')].sum()
k_a = k_s[1:-2]
k_a.sum()

171.0

In [1380]:
k_a7 =k_a[::3].sum()
k_a7

61.0

In [1381]:
k_a8 = k_a[1:37:3].append(
k_a[[38,40,44,46, 49,52,55, 58, 61, 64]]).sum()
k_a8

60.0

In [1382]:
k_a9 =k_a[2:37:3].append(
k_a[[37,41,43,47, 50,53,56, 59, 62, 65]]).sum()
k_a9

50.0

# Table 8: Enrollment by District and Ownership

In [1366]:
#kece_c.head()

In [1388]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_d = kcensus.iloc[:,3:19]

In [1389]:
kece_cdso = pd.concat([kece_c, kece_o, kece_d, kece_s], axis = 1)
kece_cdso.columns

Index(['County', 'Type of school', 'District in Bong County',
       'District in Gbarpolu', 'District in River Gee', 'District in Sinoe',
       'District in Lofa', 'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many students  below Age 12 years old in Grade 7 are MALES?',
       'How many students below Age 12 years old in Grade 8 are MALES?',
       'How many students below Age 12 years old in Grade 9 are MALES?',
       'How many students below Age 12 years old in Grade 7 are FEMALES?',
       'How many students below Age 12 years old in Grade 8 are FEMALES?',
       'How many students below Age 12 years old in Grade 9 are FEMALES?',
       'How many students Age 12 years old in Grade 7 are MALES?',
       'How many students Age 12 years old in Grade 8 are MALES?',
       'How many students Age 12 years old in Grade 9 are MALES?',
       'How many students Age 12 years old in Grade 7 are FEMALES?',
       'How many students Age 12 years old in Grade 8 are FEMALES?',
       'How many students Age 12 years old in Grade 9 are FEMALES?',
       'How many students  Age 13 years old in Grade 7 are MALES?',
       'How many students  Age 13 years old in Grade 8 are MALES?',
       'How many students  Age 13 years old in Grade 9 are MALES?',
       'How many students  Age 13 years old in Grade 7 are FEMALES?',
       'How many students  Age 13 years old in Grade 8 are FEMALES?',
       'How many students  Age 13 years old in Grade 9 are FEMALES?',
       'How many students Age 14 years old in Grade 7 are MALES?',
       'How many students Age 14 years old in Grade 8 are MALES?',
       'How many students Age 14 years old in Grade 9 are MALES?',
       'How many students  Age 14 years old in Grade 7 are FEMALES?',
       'How many students  Age 14 years old in Grade 8 are FEMALES?',
       'How many students  Age 14 years old in Grade 9 are FEMALES?',
       'How many students  Age 15 years old in Grade 7 are MALES?',
       'How many students  Age 15 years old in Grade 8 are MALES?',
       'How many students  Age 15 years old in Grade 9 are MALES?',
       'How many students  age 15 Years old  in Grade 7 are FEMALES?',
       'How many students   age 15 Years old  in Grade 8 are FEMALES?',
       'How many students  age 15 Years old  in Grade 9 are FEMALES?',
       'How many students age 16 Years old  in Grade 7 are MALES?',
       'How many students age 16 Years old  in Grade 8 are MALES?',
       'How many students age 16 Years old  in Grade 9 are MALES?',
       'How many students  above Age 16 in Grade 7 are FEMALES?',
       'How many students  above Age 16 in Grade 8 are FEMALES?',
       'How many students  above Age 16 in Grade 9 are FEMALES?',
       'How many students age 17 in Grade 7 are MALES?',
       'How many students age 17 in Grade 9 are MALES?',
       'How many students age 17 in Grade 8 are MALES?',
       'How many students age 17 in Grade 7 are FEMALES?',
       'How many students age 17 in Grade 8 are FEMALES?',
       'How many students age 17 in Grade 9 are FEMALES?',
       'How many students age 18 in Grade 7 are MALES?',
       'How many students age 18 in Grade 9 are MALES?',
       'How many students age 18 in Grade 8 are MALES?',
       'How many students age 18 in Grade 7 are FEMALES?',
       'How many students age 18 in Grade 8 are FEMALES?',
       'How many students age 18 in Grade 9 are FEMALES?',
       'How many students age 19 in Grade 7 are MALES?',
       'How many students age 19 in Grade 8 are MALES?',
       'How many students age 19 in Grade 9 are MALES?',
       'How many students age 19 in Grade 7 are FEMALES?',
       'How many students age 19 in Grade 8 are FEMALES?',
       'How many students age 19 in Grade 9 are FEMALES?',
       'How many students age 20 in Grade 7 are MALES?',
       'How many students age 20 in Grade 8 are MALES?',
       'How many students age 20 in Grade 9 are MALES?',
       'How many students age 20 in Grade 7 are FEMALES?',
       'How many students age 20 in Grade 8 are FEMALES?',
       'How many students age 20 in Grade 9 are FEMALES?',
       'How many students above age 20 in Grade 7 that are MALES?',
       'How many students above age 20 in Grade 8 that are MALES?',
       'How many students above age 20 in Grade 9 that are MALES?',
       'How many students above age 20 in Grade 7 that are FEMALES?',
       'How many students above age 20 in Grade 8 that are FEMALES?',
       'How many students above age 20 in Grade 9 that are FEMALES?'],
      dtype='object')

In [1392]:
kece_melto =kece_cdso.melt(id_vars=['County', 'Type of school',
        'How many students  below Age 12 years old in Grade 7 are MALES?',
       'How many students below Age 12 years old in Grade 8 are MALES?',
       'How many students below Age 12 years old in Grade 9 are MALES?',
       'How many students below Age 12 years old in Grade 7 are FEMALES?',
       'How many students below Age 12 years old in Grade 8 are FEMALES?',
       'How many students below Age 12 years old in Grade 9 are FEMALES?',
       'How many students Age 12 years old in Grade 7 are MALES?',
       'How many students Age 12 years old in Grade 8 are MALES?',
       'How many students Age 12 years old in Grade 9 are MALES?',
       'How many students Age 12 years old in Grade 7 are FEMALES?',
       'How many students Age 12 years old in Grade 8 are FEMALES?',
       'How many students Age 12 years old in Grade 9 are FEMALES?',
       'How many students  Age 13 years old in Grade 7 are MALES?',
       'How many students  Age 13 years old in Grade 8 are MALES?',
       'How many students  Age 13 years old in Grade 9 are MALES?',
       'How many students  Age 13 years old in Grade 7 are FEMALES?',
       'How many students  Age 13 years old in Grade 8 are FEMALES?',
       'How many students  Age 13 years old in Grade 9 are FEMALES?',
       'How many students Age 14 years old in Grade 7 are MALES?',
       'How many students Age 14 years old in Grade 8 are MALES?',
       'How many students Age 14 years old in Grade 9 are MALES?',
       'How many students  Age 14 years old in Grade 7 are FEMALES?',
       'How many students  Age 14 years old in Grade 8 are FEMALES?',
       'How many students  Age 14 years old in Grade 9 are FEMALES?',
       'How many students  Age 15 years old in Grade 7 are MALES?',
       'How many students  Age 15 years old in Grade 8 are MALES?',
       'How many students  Age 15 years old in Grade 9 are MALES?',
       'How many students  age 15 Years old  in Grade 7 are FEMALES?',
       'How many students   age 15 Years old  in Grade 8 are FEMALES?',
       'How many students  age 15 Years old  in Grade 9 are FEMALES?',
       'How many students age 16 Years old  in Grade 7 are MALES?',
       'How many students age 16 Years old  in Grade 8 are MALES?',
       'How many students age 16 Years old  in Grade 9 are MALES?',
       'How many students  above Age 16 in Grade 7 are FEMALES?',
       'How many students  above Age 16 in Grade 8 are FEMALES?',
       'How many students  above Age 16 in Grade 9 are FEMALES?',
       'How many students age 17 in Grade 7 are MALES?',
       'How many students age 17 in Grade 9 are MALES?',
       'How many students age 17 in Grade 8 are MALES?',
       'How many students age 17 in Grade 7 are FEMALES?',
       'How many students age 17 in Grade 8 are FEMALES?',
       'How many students age 17 in Grade 9 are FEMALES?',
       'How many students age 18 in Grade 7 are MALES?',
       'How many students age 18 in Grade 9 are MALES?',
       'How many students age 18 in Grade 8 are MALES?',
       'How many students age 18 in Grade 7 are FEMALES?',
       'How many students age 18 in Grade 8 are FEMALES?',
       'How many students age 18 in Grade 9 are FEMALES?',
       'How many students age 19 in Grade 7 are MALES?',
       'How many students age 19 in Grade 8 are MALES?',
       'How many students age 19 in Grade 9 are MALES?',
       'How many students age 19 in Grade 7 are FEMALES?',
       'How many students age 19 in Grade 8 are FEMALES?',
       'How many students age 19 in Grade 9 are FEMALES?',
       'How many students age 20 in Grade 7 are MALES?',
       'How many students age 20 in Grade 8 are MALES?',
       'How many students age 20 in Grade 9 are MALES?',
       'How many students age 20 in Grade 7 are FEMALES?',
       'How many students age 20 in Grade 8 are FEMALES?',
       'How many students age 20 in Grade 9 are FEMALES?',
       'How many students above age 20 in Grade 7 that are MALES?',
       'How many students above age 20 in Grade 8 that are MALES?',
       'How many students above age 20 in Grade 9 that are MALES?',
       'How many students above age 20 in Grade 7 that are FEMALES?',
       'How many students above age 20 in Grade 8 that are FEMALES?',
       'How many students above age 20 in Grade 9 that are FEMALES?'],var_name = 'district',value_name='count')
kece_melto.head()

,County,Type of school,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?,district,count
0,Rivercess,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
1,Nimba,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
2,River Gee,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
3,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN
4,Montserrado 1,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,District in Bong County,NaN

In [1399]:
#k_so = kece_melto[(kece_melt['district']== 'District in Gbarpolu') & (kece_melt['count']== 'Gbarma')].head(2).groupby('Type of school').sum()#.sum(1)
#k_so
#k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
k_so
k_so#.sum(1)

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Faith-based,1.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,7.0,3.0,1.0,10.0,4.0,2.0,14.0,7.0,4.0,6.0,3.0,6.0,11.0,6.0,9.0,7.0,7.0,10.0,1.0,2.0,2.0,1.0,2.0,6.0,1.0,1.0,0.0,0.0,1.0,4.0,2.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
Private,1.0,0.0,1.0,0.0,0.0,0.0,3.0,6.0,0.0,1.0,3.0,0.0,9.0,3.0,0.0,9.0,6.0,3.0,15.0,17.0,6.0,13.0,11.0,3.0,10.0,31.0,16.0,26.0,19.0,16.0,25.0,29.0,38.0,22.0,28.0,31.0,51.0,26.0,22.0,3.0,23.0,12.0,17.0,13.0,7.0,16.0,7.0,19.0,2.0,3.0,12.0,0.0,4.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,8.0,0.0,4.0,0.0,5.0,0.0,4.0,1.0,0.0,2.0,0.0,5.0,4.0,1.0,5.0,8.0,6.0,10.0,2.0,8.0,6.0,5.0,2.0,4.0,3.0,10.0,6.0,2.0,1.0,1.0,0.0,1.0,1.0,3.0,1.0,2.0,0.0,1.0,1.0

## Districts in Bomi County

In [1404]:
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Senji')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Dewoin')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Klay')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bomi') & (kece_melto['count']== 'Suehn-Mecca')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

150.0
Type of school
Private      0.0
Public     150.0
dtype: float64

## Districts in Bong County

In [1413]:
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Gbarnga 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Gbarnga 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Zota')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Salala')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Fuamah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Suakoko')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Sanoyea')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Panta-Kpaai')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Bong County') & (kece_melto['count']== 'Kokoyah')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

764.0
Type of school
Community        0.0
Faith-based      0.0
Private        209.0
Public         555.0
dtype: float64

## Districts in Gbarpolu

In [1419]:
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Gorwalali')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Bopolu')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Gbarma')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Belle')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Bokomu')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Gbarpolu') & (kece_melto['count']== 'Kongba')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

101.0
Type of school
Public    101.0
dtype: float64

## Districts in Grand Bassa

In [1426]:
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 5')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 5B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 3A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 3B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Bassa') & (kece_melto['count']== 'District 4')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

112.0
Type of school
Community        0.0
Faith-based      1.0
Private          0.0
Public         111.0
dtype: float64

## Districts in Grand Cape Mount

In [1431]:
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Tewor')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Gola Konneh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Porkpa')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Garwular')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Grand Cape Mount') & (kece_melto['count']== 'Tallah Tombay')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

240.0
Type of school
Community        0.0
Faith-based     54.0
Private          0.0
Public         186.0
dtype: float64

## Districts in Grand Gedeh

In [1436]:
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Konobo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Putu')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Gbarzon')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Tchien')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Gedeh') & (kece_melto['count']== 'Cavalla')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

651.0
Type of school
Community       66.0
Faith-based     62.0
Private        226.0
Public         297.0
dtype: float64

## Districts in Grand Kru

In [1444]:
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Barclayville')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Trehn')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Buah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Grand Cess')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Dorbor')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Jloh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Sass Town')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in Grand Kru') & (kece_melto['count']== 'Wedabo')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

157.0
Type of school
Faith-based      0.0
Public         157.0
dtype: float64

## Districts in Lofa

In [1451]:
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Foya')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Kolahun 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Kolahun 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Salayea')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Vahun')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Voinjama')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Lofa') & (kece_melto['count']== 'Zorzor')].groupby('Type of school').sum().sum(1)
print(k_so.sum())
print(k_so)

474.0
Type of school
Faith-based      0.0
Private         48.0
Public         426.0
dtype: float64

## Districts in Margibi

In [1457]:
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Marshall')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Farmington')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Mama kaba')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Gibi')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Kakata 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Margibi') & (kece_melto['count']== 'Kakata 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

1608.0
Type of school
Community      383.0
Faith-based    202.0
Private         34.0
Public         989.0
dtype: float64

## Districts in Maryland

In [1465]:
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Harper 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Harper 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Barrobo 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Barrobo 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Sodoken')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Karleway 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Karleway 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Maryland') & (kece_melto['count']== 'Pleebo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

0.0
Series([], dtype: float64)

## Districts in Montserrado 1

In [1481]:
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melt['count']== 'Paynesville 3')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 4')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 5')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Paynesville 6')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1C')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1D')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 1E')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2C')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 1') & (kece_melto['count']== 'Greater Monrovia 2D')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

3304.0
Type of school
Community       580.0
Faith-based     315.0
Private        1134.0
Public         1275.0
dtype: float64

## Districts in Montserrado 2

In [1492]:
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left Bank 1A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left bank 1B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left bank  1C')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left Bank 1D')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left Bank 2A')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Left bank 2B')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Careysburg')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Todee')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Right Bank 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Right Bank 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Montserrado 2') & (kece_melto['count']== 'Right Bank 3')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

2008.0
Type of school
Faith-based     313.0
Private        1205.0
Public          490.0
dtype: float64

## Districts in Nimba

In [1504]:
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Tappita 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Tappita 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Saclepea 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Sanniquellie Mah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Zoe-Geh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Tuwah River')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Gbelay-Geh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Yarpea Mah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Yarwein Mensonoh')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Buuyao')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Bain-Garr 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Nimba') & (kece_melto['count']== 'Bain- Garr 2')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

940.0
Type of school
Community      112.0
Faith-based    220.0
Private        403.0
Public         205.0
dtype: float64

## Districts in River Gee

In [1510]:
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Sarbo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Tienpo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Chedepo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Putupo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Gbeapo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in River Gee') & (kece_melto['count']== 'Webbo')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

190.0
Type of school
Public    190.0
dtype: float64

## Districts in River Cess

In [1515]:
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Timobo')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Central Rivercess 1')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Central Rivercess 2')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Morwah')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'Districts in River Cess') & (kece_melto['count']== 'Yarnee')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

98.0
Type of school
Faith-based    71.0
Public         27.0
dtype: float64

## Districts in Sinoe

In [1524]:
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Upper Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Juarzon')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Lower Kpanyan')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Butaw')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Tarjuwon')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Jeadea')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Sanquin')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Greenville')].groupby('Type of school').sum().sum(1)
k_so = kece_melto[(kece_melto['district']== 'District in Sinoe') & (kece_melto['count']== 'Central Kpanyan')].groupby('Type of school').sum().sum(1)

print(k_so.sum())
print(k_so)

171.0
Type of school
Public    171.0
dtype: float64

# Table 9: JHS Disability by Ownership

In [1531]:
kece_disa=kcensus.iloc[:,415:439]
#eceo=kece_disao.iloc[:,0]
#eceo.head()
kece_disa.head()
kece_disao=pd.concat([kece_o,kece_disa], axis =1)
kece_dis1 = kece_disao.groupby('Type of school').sum()
kece_dis1

,How many MALE students in Grade 7 are Visually impaired ?,How many FEMALE students in Grade 7 are Visually impaired?,How many MALE students in Grade 8 are Visually impaired ?,How many FEMALE students in Grade 8 are Visually impaired?,How many MALE students in Grade 9 are Visually impaired ?,How many FEMALE students in Grade 9 are Visually impaired?,How many MALE students in Grade 7 have hearing impairment?,How many FEMALE students in Grade 7 have hearing impairment?,How many MALE students in Grade 8 have hearing impairment?,How many FEMALE students in Grade 8 have hearing impairment?,How many MALE students in Grade 9 have hearing impairment?,How many FEMALE students in Grade 9 have hearing impairment?,How many MALE students in Grade 7 have other physical disabilities?,How many FEMALE students in Grade 7 have other physical disabilities?,How many MALE students in Grade 8 have other physical disabilities?,How many FEMALE students in Grade 8 have other physical disabilities?,How many MALE students in Grade 9 have other physical disabilities?,How many FEMALE students in Grade 9 have other physical disabilities?,How many MALE students in Grade 7 have other mental disability or learning difficulty?,How many FEMALE students in Grade 7 have other mental disability or learning difficulty?,How many MALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 9 have other mental disability or learning difficulty?,How many MALE students in Grade 9 have other mental disability or learning difficulty?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,
Community,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,9.0,8.0,8.0,1.0,0.0,1.0,16.0,0.0,0.0,2.0,0.0,8.0,8.0,0.0,0.0
Faith-based,8.0,12.0,6.0,10.0,1.0,4.0,11.0,7.0,12.0,15.0,4.0,4.0,6.0,10.0,5.0,8.0,4.0,0.0,4.0,7.0,10.0,15.0,2.0,6.0
Private,5.0,6.0,2.0,1.0,10.0,13.0,1.0,1.0,0.0,9.0,1.0,2.0,15.0,9.0,21.0,3.0,1.0,0.0,11.0,5.0,15.0,11.0,2.0,2.0
Public,12.0,12.0,3.0,5.0,13.0,4.0,9.0,4.0,10.0,1.0,112.0,0.0,7.0,13.0,4.0,12.0,6.0,1.0,9.0,3.0,9.0,0.0,1.0,3.0

In [1566]:
kece_dist = kece_dis1.sum(1)
kece_dist.sum()

639.0

In [1564]:
kece_disv = kece_dis1.iloc[:,:6].sum(1)
kece_disv

Type of school
Community       8.0
Faith-based    41.0
Private        37.0
Public         49.0
dtype: float64

In [1563]:
kece_dish = kece_dis1.iloc[:,6:12].sum(1)
kece_dish

Type of school
Community       25.0
Faith-based     53.0
Private         14.0
Public         136.0
dtype: float64

In [1562]:
kece_disp = kece_dis1.iloc[:,12:18].sum(1)
kece_disp

Type of school
Community      18.0
Faith-based    33.0
Private        49.0
Public         43.0
dtype: float64

In [1561]:
kece_disl = kece_dis1.iloc[:,18:].sum(1)
kece_disl

Type of school
Community      18.0
Faith-based    44.0
Private        46.0
Public         25.0
dtype: float64

# Table 10: ECE Disability by Gender

In [1596]:
#dd.sum().sum()
dd = pd.concat([kece_o,kece_disa], axis =1).sum()[1:]
dd.sum()

639.0

In [1569]:
dd_v = dd[:6]
dd_v#.sum().sum()

How many MALE students in Grade 7 are Visually impaired ?     25.0
How many FEMALE students in Grade 7 are Visually impaired?    30.0
How many MALE students in Grade 8 are Visually impaired ?     11.0
How many FEMALE students in Grade 8 are Visually impaired?    16.0
How many MALE students in Grade 9 are Visually impaired ?     24.0
How many FEMALE students in Grade 9 are Visually impaired?    29.0
dtype: object

In [1588]:
dd_vm = dd_v[::2]
dd_vm.sum()

60.0

In [1589]:
dd_vf = dd_v[1::2]
dd_vf.sum()

75.0

In [1572]:
dd_h = dd[6:12]
dd_h.sum()

How many MALE students in  Grade 7 have hearing impairment?      21.0
How many FEMALE students in Grade 7 have hearing impairment?     12.0
How many MALE students in  Grade 8 have hearing impairment?      22.0
How many FEMALE students in Grade 8 have hearing impairment?     34.0
How many MALE students in  Grade 9 have hearing impairment?     125.0
How many FEMALE students in Grade 9 have hearing impairment?     14.0
dtype: object

In [1590]:
dd_hm = dd_h[::2]
dd_hm.sum()

168.0

In [1591]:
dd_hf = dd_h[1::2]
dd_hf.sum()

60.0

In [1574]:
dd_p = dd[12:18]
dd_p#.sum().sum()

How many MALE students in  Grade 7 have other physical disabilities?      29.0
How many FEMALE students in  Grade 7 have other physical disabilities?    32.0
How many MALE students in  Grade 8 have other physical disabilities?      31.0
How many FEMALE students in  Grade 8 have other physical disabilities?    39.0
How many MALE students in  Grade 9 have other physical disabilities?      11.0
How many FEMALE students in  Grade 9 have other physical disabilities?     1.0
dtype: object

In [1592]:
dd_pm = dd_p[::2]
dd_pm.sum()

71.0

In [1593]:
dd_pf = dd_p[1::2]
dd_pf.sum()

72.0

In [1575]:
dd_l = dd[18:]
dd_l#.sum().sum()

How many MALE students in  Grade 7 have other mental disability or learning difficulty?      26.0
How many FEMALE students in  Grade 7 have other mental disability or learning difficulty?    15.0
How many MALE students in  Grade 8 have other mental disability or learning difficulty?      42.0
How many FEMALE students in  Grade 8 have other mental disability or learning difficulty?    34.0
How many FEMALE students in  Grade 9 have other mental disability or learning difficulty?     5.0
How many MALE students in  Grade 9 have other mental disability or learning difficulty?      11.0
dtype: object

In [1594]:
dd_lm = dd_l[[0,2,5]]
dd_lm.sum()

79.0

In [1595]:
dd_lm = dd_l[[1,3,4]]
dd_lm.sum()

54.0

# Table 11: JHS Disability by Grade

In [1598]:
dd_s = dd
dd_s

How many MALE students in Grade 7 are Visually impaired ?                                     25.0
How many FEMALE students in Grade 7 are Visually impaired?                                    30.0
How many MALE students in Grade 8 are Visually impaired ?                                     11.0
How many FEMALE students in Grade 8 are Visually impaired?                                    16.0
How many MALE students in Grade 9 are Visually impaired ?                                     24.0
How many FEMALE students in Grade 9 are Visually impaired?                                    29.0
How many MALE students in  Grade 7 have hearing impairment?                                   21.0
How many FEMALE students in Grade 7 have hearing impairment?                                  12.0
How many MALE students in  Grade 8 have hearing impairment?                                   22.0
How many FEMALE students in Grade 8 have hearing impairment?                                  34.0
How many MALE students in  Grade 9 have hearing impairment?                                  125.0
How many FEMALE students in Grade 9 have hearing impairment?                                  14.0
How many MALE students in  Grade 7 have other physical disabilities?                          29.0
How many FEMALE students in  Grade 7 have other physical disabilities?                        32.0
How many MALE students in  Grade 8 have other physical disabilities?                          31.0
How many FEMALE students in  Grade 8 have other physical disabilities?                        39.0
How many MALE students in  Grade 9 have other physical disabilities?                          11.0
How many FEMALE students in  Grade 9 have other physical disabilities?                         1.0
How many MALE students in  Grade 7 have other mental disability or learning difficulty?       26.0
How many FEMALE students in  Grade 7 have other mental disability or learning difficulty?     15.0
How many MALE students in  Grade 8 have other mental disability or learning difficulty?       42.0
How many FEMALE students in  Grade 8 have other mental disability or learning difficulty?     34.0
How many FEMALE students in  Grade 9 have other mental disability or learning difficulty?      5.0
How many MALE students in  Grade 9 have other mental disability or learning difficulty?       11.0
dtype: object

In [1600]:
dd_s[:2].sum()

55.0

In [1602]:
dd_s[2:4].sum()

27.0

In [1604]:
dd_s[4:6].sum()

53.0

In [1606]:
dd_s[6:8].sum()

33.0

In [1608]:
dd_s[8:10].sum()

56.0

In [1610]:
dd_s[10:12].sum()

139.0

In [1612]:
dd_s[12:14].sum()

61.0

In [1614]:
dd_s[14:16].sum()

70.0

In [1616]:
dd_s[16:18].sum()

12.0

In [1618]:
dd_s[18:20].sum()

41.0

In [1620]:
dd_s[20:22].sum()

76.0

In [1622]:
dd_s[22:].sum()

16.0

# Table 12: JHS by Enrollment by Disability and County

In [1623]:
kece_c = kcensus.iloc[:,[2]]
kece_o = kcensus.iloc[:,[39]]
kece_d = kcensus.iloc[:,3:19]
kece_disa.head()

,How many MALE students in Grade 7 are Visually impaired ?,How many FEMALE students in Grade 7 are Visually impaired?,How many MALE students in Grade 8 are Visually impaired ?,How many FEMALE students in Grade 8 are Visually impaired?,How many MALE students in Grade 9 are Visually impaired ?,How many FEMALE students in Grade 9 are Visually impaired?,How many MALE students in Grade 7 have hearing impairment?,How many FEMALE students in Grade 7 have hearing impairment?,How many MALE students in Grade 8 have hearing impairment?,How many FEMALE students in Grade 8 have hearing impairment?,How many MALE students in Grade 9 have hearing impairment?,How many FEMALE students in Grade 9 have hearing impairment?,How many MALE students in Grade 7 have other physical disabilities?,How many FEMALE students in Grade 7 have other physical disabilities?,How many MALE students in Grade 8 have other physical disabilities?,How many FEMALE students in Grade 8 have other physical disabilities?,How many MALE students in Grade 9 have other physical disabilities?,How many FEMALE students in Grade 9 have other physical disabilities?,How many MALE students in Grade 7 have other mental disability or learning difficulty?,How many FEMALE students in Grade 7 have other mental disability or learning difficulty?,How many MALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 9 have other mental disability or learning difficulty?,How many MALE students in Grade 9 have other mental disability or learning difficulty?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1624]:
kece_cdd = pd.concat([kece_c, kece_d, kece_disa], axis = 1)
kece_cdd.columns
kece_cdd.head()

,County,District in Bong County,District in Gbarpolu,District in River Gee,District in Sinoe,District in Lofa,District in Nimba,District in Grand Cape Mount,District in Maryland,District in Margibi,District in Bomi,District in Grand Bassa,District in Montserrado 2,District in Montserrado 1,Districts in Grand Kru,Districts in Grand Gedeh,Districts in River Cess,How many MALE students in Grade 7 are Visually impaired ?,How many FEMALE students in Grade 7 are Visually impaired?,How many MALE students in Grade 8 are Visually impaired ?,How many FEMALE students in Grade 8 are Visually impaired?,How many MALE students in Grade 9 are Visually impaired ?,How many FEMALE students in Grade 9 are Visually impaired?,How many MALE students in Grade 7 have hearing impairment?,How many FEMALE students in Grade 7 have hearing impairment?,How many MALE students in Grade 8 have hearing impairment?,How many FEMALE students in Grade 8 have hearing impairment?,How many MALE students in Grade 9 have hearing impairment?,How many FEMALE students in Grade 9 have hearing impairment?,How many MALE students in Grade 7 have other physical disabilities?,How many FEMALE students in Grade 7 have other physical disabilities?,How many MALE students in Grade 8 have other physical disabilities?,How many FEMALE students in Grade 8 have other physical disabilities?,How many MALE students in Grade 9 have other physical disabilities?,How many FEMALE students in Grade 9 have other physical disabilities?,How many MALE students in Grade 7 have other mental disability or learning difficulty?,How many FEMALE students in Grade 7 have other mental disability or learning difficulty?,How many MALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 9 have other mental disability or learning difficulty?,How many MALE students in Grade 9 have other mental disability or learning difficulty?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Timobo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,NaN,NaN,NaN,NaN,NaN,Zoe-Geh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,River Gee,NaN,NaN,Tienpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paynesville 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Montserrado 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Monrovia 1A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1636]:
dd = kece_cdd.groupby('County').sum()
dd.sum(1)

County
Bomi                  7.0
Bong                 72.0
Gbarpolu              5.0
Grand Bassa           3.0
Grand Cape Mount      0.0
Grand Gedeh           2.0
Grand Kru             6.0
Lofa                 10.0
Margibi              41.0
Maryland             10.0
Montserrado 1       194.0
Montserrado 2        66.0
Nimba                98.0
River Gee             2.0
Rivercess           110.0
Sinoe                13.0
dtype: float64

In [1629]:
dd.iloc[:,:6].sum(1)

County
Bomi                 0.0
Bong                25.0
Gbarpolu             2.0
Grand Bassa          1.0
Grand Cape Mount     0.0
Grand Gedeh          0.0
Grand Kru            1.0
Lofa                 1.0
Margibi              4.0
Maryland             0.0
Montserrado 1       42.0
Montserrado 2       38.0
Nimba               18.0
River Gee            0.0
Rivercess            0.0
Sinoe                3.0
dtype: float64

In [1631]:
dd.iloc[:,6:12].sum(1)

County
Bomi                  7.0
Bong                  9.0
Gbarpolu              1.0
Grand Bassa           0.0
Grand Cape Mount      0.0
Grand Gedeh           0.0
Grand Kru             0.0
Lofa                  5.0
Margibi              24.0
Maryland              0.0
Montserrado 1        45.0
Montserrado 2         2.0
Nimba                24.0
River Gee             1.0
Rivercess           110.0
Sinoe                 0.0
dtype: float64

In [1633]:
dd.iloc[:,12:18].sum(1)

County
Bomi                 0.0
Bong                20.0
Gbarpolu             1.0
Grand Bassa          2.0
Grand Cape Mount     0.0
Grand Gedeh          2.0
Grand Kru            0.0
Lofa                 4.0
Margibi             12.0
Maryland             2.0
Montserrado 1       40.0
Montserrado 2       23.0
Nimba               34.0
River Gee            1.0
Rivercess            0.0
Sinoe                2.0
dtype: float64

In [1635]:
dd.iloc[:,18:].sum(1)

County
Bomi                 0.0
Bong                18.0
Gbarpolu             1.0
Grand Bassa          0.0
Grand Cape Mount     0.0
Grand Gedeh          0.0
Grand Kru            5.0
Lofa                 0.0
Margibi              1.0
Maryland             8.0
Montserrado 1       67.0
Montserrado 2        3.0
Nimba               22.0
River Gee            0.0
Rivercess            0.0
Sinoe                8.0
dtype: float64

# Table 13: ECE Enrollment by Disability and Districts

In [1637]:
kece_cdd.columns

Index(['County', 'District in Bong County', 'District in Gbarpolu',
       'District in River Gee', 'District in Sinoe', 'District in Lofa',
       'District in Nimba', 'District in Grand Cape Mount',
       'District in Maryland', 'District in Margibi', 'District in Bomi',
       'District in Grand Bassa', 'District in Montserrado 2',
       'District in Montserrado 1', 'Districts in Grand Kru',
       'Districts in Grand Gedeh', 'Districts in River Cess',
       'How many MALE students in Grade 7 are Visually impaired ?',
       'How many FEMALE students in Grade 7 are Visually impaired?',
       'How many MALE students in Grade 8 are Visually impaired ?',
       'How many FEMALE students in Grade 8 are Visually impaired?',
       'How many MALE students in Grade 9 are Visually impaired ?',
       'How many FEMALE students in Grade 9 are Visually impaired?',
       'How many MALE students in  Grade 7 have hearing impairment?',
       'How many FEMALE students in Grade 7 have hearing impairment?',
       'How many MALE students in  Grade 8 have hearing impairment?',
       'How many FEMALE students in Grade 8 have hearing impairment?',
       'How many MALE students in  Grade 9 have hearing impairment?',
       'How many FEMALE students in Grade 9 have hearing impairment?',
       'How many MALE students in  Grade 7 have other physical disabilities?',
       'How many FEMALE students in  Grade 7 have other physical disabilities?',
       'How many MALE students in  Grade 8 have other physical disabilities?',
       'How many FEMALE students in  Grade 8 have other physical disabilities?',
       'How many MALE students in  Grade 9 have other physical disabilities?',
       'How many FEMALE students in  Grade 9 have other physical disabilities?',
       'How many MALE students in  Grade 7 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 7 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 8 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 8 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 9 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 9 have other mental disability or learning difficulty?'],
      dtype='object')

In [1638]:
kece_meltdd =kece_cdd.melt(id_vars=['How many MALE students in Grade 7 are Visually impaired ?',
       'How many FEMALE students in Grade 7 are Visually impaired?',
       'How many MALE students in Grade 8 are Visually impaired ?',
       'How many FEMALE students in Grade 8 are Visually impaired?',
       'How many MALE students in Grade 9 are Visually impaired ?',
       'How many FEMALE students in Grade 9 are Visually impaired?',
       'How many MALE students in  Grade 7 have hearing impairment?',
       'How many FEMALE students in Grade 7 have hearing impairment?',
       'How many MALE students in  Grade 8 have hearing impairment?',
       'How many FEMALE students in Grade 8 have hearing impairment?',
       'How many MALE students in  Grade 9 have hearing impairment?',
       'How many FEMALE students in Grade 9 have hearing impairment?',
       'How many MALE students in  Grade 7 have other physical disabilities?',
       'How many FEMALE students in  Grade 7 have other physical disabilities?',
       'How many MALE students in  Grade 8 have other physical disabilities?',
       'How many FEMALE students in  Grade 8 have other physical disabilities?',
       'How many MALE students in  Grade 9 have other physical disabilities?',
       'How many FEMALE students in  Grade 9 have other physical disabilities?',
       'How many MALE students in  Grade 7 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 7 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 8 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 8 have other mental disability or learning difficulty?',
       'How many FEMALE students in  Grade 9 have other mental disability or learning difficulty?',
       'How many MALE students in  Grade 9 have other mental disability or learning difficulty?'],var_name = 'district',value_name='count')
kece_meltdd.head()

,How many MALE students in Grade 7 are Visually impaired ?,How many FEMALE students in Grade 7 are Visually impaired?,How many MALE students in Grade 8 are Visually impaired ?,How many FEMALE students in Grade 8 are Visually impaired?,How many MALE students in Grade 9 are Visually impaired ?,How many FEMALE students in Grade 9 are Visually impaired?,How many MALE students in Grade 7 have hearing impairment?,How many FEMALE students in Grade 7 have hearing impairment?,How many MALE students in Grade 8 have hearing impairment?,How many FEMALE students in Grade 8 have hearing impairment?,How many MALE students in Grade 9 have hearing impairment?,How many FEMALE students in Grade 9 have hearing impairment?,How many MALE students in Grade 7 have other physical disabilities?,How many FEMALE students in Grade 7 have other physical disabilities?,How many MALE students in Grade 8 have other physical disabilities?,How many FEMALE students in Grade 8 have other physical disabilities?,How many MALE students in Grade 9 have other physical disabilities?,How many FEMALE students in Grade 9 have other physical disabilities?,How many MALE students in Grade 7 have other mental disability or learning difficulty?,How many FEMALE students in Grade 7 have other mental disability or learning difficulty?,How many MALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 8 have other mental disability or learning difficulty?,How many FEMALE students in Grade 9 have other mental disability or learning difficulty?,How many MALE students in Grade 9 have other mental disability or learning difficulty?,district,count
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Rivercess
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Nimba
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,River Gee
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,County,Montserrado 1

## Districts in Bomi County

In [1661]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Senji')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Dewoin')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Klay')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bomi') & (kece_meltdd['count']== 'Suehn-Mecca')]
#k_dd.sum(1).sum()

In [1662]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [1663]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1664]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [1665]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Bong County

In [1706]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Gbarnga 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Gbarnga 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Zota')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Salala')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Fuamah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Suakoko')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Sanoyea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Panta-Kpaai')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Bong County') & (kece_meltdd['count']== 'Kokoyah')]
#k_dd.sum(1).sum()

In [1707]:
k_dd.iloc[:,:6].sum().sum()

8.0

In [1708]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1709]:
k_dd.iloc[:,12:18].sum().sum()

2.0

In [1710]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Gbarpolu

In [1742]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Gorwalali')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Bopolu')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Gbarma')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Belle')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Bokomu')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Gbarpolu') & (kece_meltdd['count']== 'Kongba')]
#k_dd.sum(1).sum()

In [1743]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [1744]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1745]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [1746]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Grand Bassa

In [1782]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 5')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 5B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 3A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 3B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Bassa') & (kece_meltdd['count']== 'District 4')]

#k_dd.sum(1).sum()

In [1783]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [1784]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1785]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [1786]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Grand Cape Mount

In [1807]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Tewor')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Gola Konneh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Porkpa')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Garwular')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Grand Cape Mount') & (kece_meltdd['count']== 'Tallah Tombay')]
#k_dd.sum(1).sum()

In [1808]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [1809]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1810]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [1812]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Grand Gedeh

In [1833]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Konobo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Putu')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Gbarzon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Tchien')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Gedeh') & (kece_meltdd['count']== 'Cavalla')]
#k_so
k_dd.sum(1).sum()

1.0

In [1834]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [1835]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1836]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [1837]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Grand Kru

In [1877]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Barclayville')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Trehn')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Buah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Grand Cess')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Dorbor')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Jloh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Sass Town')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in Grand Kru') & (kece_meltdd['count']== 'Wedabo')]

k_dd.sum(1).sum()

0.0

In [1878]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [1879]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1890]:
k_dd.iloc[:,12:18].sum().sum()

3.0

In [1881]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Lofa

In [1955]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Foya')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Kolahun 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Kolahun 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Salayea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Vahun')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Voinjama')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Lofa') & (kece_meltdd['count']== 'Zorzor')]

#k_dd.sum(1).sum()

In [1956]:
k_dd.iloc[:,:6].sum().sum()

1.0

In [1957]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [1958]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [1959]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Margibi

In [1985]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Marshall')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Farmington')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Mama kaba')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Gibi')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Kakata 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Margibi') & (kece_meltdd['count']== 'Kakata 2')]
#k_dd.sum(1).sum()

In [1986]:
k_dd.iloc[:,:6].sum().sum()

2.0

In [1987]:
k_dd.iloc[:,6:12].sum().sum()

1.0

In [1988]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [1989]:
k_dd.iloc[:,18:24].sum().sum()

0.0

#####

## Districts in Maryland

In [2032]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Harper 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Harper 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Barrobo 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Barrobo 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Sodoken')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Karleway 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Karleway 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Maryland') & (kece_meltdd['count']== 'Pleebo')]

#k_dd.sum(1).sum()

In [2033]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [2034]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [2035]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [2036]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Montserrado 1

In [2116]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 3')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 4')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 5')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Paynesville 6')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1D')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 1E')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 1') & (kece_meltdd['count']== 'Greater Monrovia 2D')]

#k_dd.sum(1).sum()

In [2117]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [2118]:
k_dd.iloc[:,6:12].sum().sum()

8.0

In [2119]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [2120]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Montserrado 2

In [2171]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 1A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank 1B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank  1C')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 1D')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left Bank 2A')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Left bank 2B')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Careysburg')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Todee')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Montserrado 2') & (kece_meltdd['count']== 'Right Bank 3')]

#k_dd.sum(1).sum()

In [2172]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [2173]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [2174]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [2175]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Nimba

In [2236]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tappita 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tappita 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Saclepea 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Sanniquellie Mah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Zoe-Geh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Tuwah River')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Gbelay-Geh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Yarpea Mah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Yarwein Mensonoh')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Buuyao')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Bain-Garr 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Nimba') & (kece_meltdd['count']== 'Bain- Garr 2')]

#k_dd.sum(1).sum()

In [2237]:
k_dd.iloc[:,:6].sum().sum()

2.0

In [2238]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [2239]:
k_dd.iloc[:,12:18].sum().sum()

1.0

In [2240]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in River Gee

In [2283]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Sarbo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Tienpo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Chedepo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Putupo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Gbeapo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in River Gee') & (kece_meltdd['count']== 'Webbo')]

k_dd.sum(1).sum()

1.0

In [2284]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [2285]:
k_dd.iloc[:,6:12].sum().sum()

1.0

In [2286]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [2287]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in River Cess

In [2308]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Timobo')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Central Rivercess 1')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Central Rivercess 2')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Morwah')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'Districts in River Cess') & (kece_meltdd['count']== 'Yarnee')]

#k_dd.sum(1).sum()

In [2309]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [2310]:
k_dd.iloc[:,6:12].sum().sum()

110.0

In [2311]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [2312]:
k_dd.iloc[:,18:24].sum().sum()

0.0

## Districts in Sinoe

In [2353]:
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Upper Kpanyan')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Juarzon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Lower Kpanyan')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Butaw')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Tarjuwon')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Jeadea')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Sanquin')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Greenville')]
k_dd = kece_meltdd[(kece_meltdd['district']== 'District in Sinoe') & (kece_meltdd['count']== 'Central Kpanyan')]

#k_dd.sum(1).sum()

In [2354]:
k_dd.iloc[:,:6].sum().sum()

0.0

In [2355]:
k_dd.iloc[:,6:12].sum().sum()

0.0

In [2356]:
k_dd.iloc[:,12:18].sum().sum()

0.0

In [2357]:
k_dd.iloc[:,18:24].sum().sum()

0.0

# Table 14 ECE Enrollment by Age and Grade

In [2358]:
kece_s.head()

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2380]:
kece_s7 = kece_s.iloc[:,::3].sum()
kece_s7

How many students  below Age 12 years old in Grade 7 are MALES?      936.0
How many students below Age 12 years old in Grade 7 are FEMALES?    1657.0
How many students Age 12 years old in Grade 7 are MALES?            1642.0
How many students Age 12 years old in Grade 7 are FEMALES?          1829.0
How many students  Age 13 years old in Grade 7 are MALES?           2444.0
How many students  Age 13 years old in Grade 7 are FEMALES?         2295.0
How many students Age 14 years old in Grade 7 are MALES?            3254.0
How many students  Age 14 years old in Grade 7 are FEMALES?         3058.0
How many students  Age 15 years old in Grade 7 are MALES?           3638.0
How many students  age 15 Years old  in Grade 7 are FEMALES?        3000.0
How many students age 16 Years old  in Grade 7 are MALES?           3033.0
How many students  above Age 16 in Grade 7 are FEMALES?             2624.0
How many students age 17 in Grade 7 are MALES?                      2426.0
How many students age 17 in Grade 7 are FEMALES?                    1989.0
How many students age 18 in Grade 7 are MALES?                      1750.0
How many students age 18 in Grade 7 are FEMALES?                    1480.0
How many students age 19 in Grade 7 are MALES?                      1146.0
How many students age 19 in Grade 7 are FEMALES?                     909.0
How many students age 20 in Grade 7 are MALES?                       730.0
How many students age 20 in Grade 7 are FEMALES?                     643.0
How many students above age 20 in Grade 7 that are MALES?            665.0
How many students above age 20 in Grade 7 that are FEMALES?          502.0
dtype: float64

In [2397]:
kece_s7[:2].sum()
kece_s7[2:4].sum()
kece_s7[4:6].sum()
kece_s7[6:8].sum()
kece_s7[8:10].sum()
kece_s7[10:12].sum()
kece_s7[12:14].sum()
kece_s7[14:16].sum()
kece_s7[16:18].sum()
kece_s7[18:20].sum()
kece_s7[20:22].sum()

1167.0

In [2382]:
kece_s8 = pd.concat([ kece_s.iloc[:,1:37:3],kece_s.iloc[:,[38,40,44,46, 49,52,55, 58, 61, 64]]], axis = 1).sum()
kece_s8

How many students below Age 12 years old in Grade 8 are MALES?      1867.0
How many students below Age 12 years old in Grade 8 are FEMALES?    1164.0
How many students Age 12 years old in Grade 8 are MALES?             902.0
How many students Age 12 years old in Grade 8 are FEMALES?           921.0
How many students  Age 13 years old in Grade 8 are MALES?           1927.0
How many students  Age 13 years old in Grade 8 are FEMALES?         1746.0
How many students Age 14 years old in Grade 8 are MALES?            2582.0
How many students  Age 14 years old in Grade 8 are FEMALES?         2228.0
How many students  Age 15 years old in Grade 8 are MALES?           2860.0
How many students   age 15 Years old  in Grade 8 are FEMALES?       2742.0
How many students age 16 Years old  in Grade 8 are MALES?           2935.0
How many students  above Age 16 in Grade 8 are FEMALES?             2653.0
How many students age 17 in Grade 8 are MALES?                      2367.0
How many students age 17 in Grade 8 are FEMALES?                    2220.0
How many students age 18 in Grade 8 are MALES?                      1903.0
How many students age 18 in Grade 8 are FEMALES?                    1675.0
How many students age 19 in Grade 8 are MALES?                      1354.0
How many students age 19 in Grade 8 are FEMALES?                    1159.0
How many students age 20 in Grade 8 are MALES?                       811.0
How many students age 20 in Grade 8 are FEMALES?                     782.0
How many students above age 20 in Grade 8 that are MALES?            794.0
How many students above age 20 in Grade 8 that are FEMALES?          774.0
dtype: float64

In [2398]:
print(kece_s8[:2].sum())
print(kece_s8[2:4].sum())
print(kece_s8[4:6].sum())
print(kece_s8[6:8].sum())
print(kece_s8[8:10].sum())
print(kece_s8[10:12].sum())
print(kece_s8[12:14].sum())
print(kece_s8[14:16].sum())
print(kece_s8[16:18].sum())
print(kece_s8[18:20].sum())
print(kece_s8[20:22].sum())

3031.0
1823.0
3673.0
4810.0
5602.0
5588.0
4587.0
3578.0
2513.0
1593.0
1568.0

In [2383]:
kece_s9 = pd.concat([kece_s.iloc[:,2:37:3],kece_s.iloc[:,[37,41,43,47, 50,53,56, 59, 62, 65]]],axis = 1).sum()
kece_s9

How many students below Age 12 years old in Grade 9 are MALES?      3919.0
How many students below Age 12 years old in Grade 9 are FEMALES?    1027.0
How many students Age 12 years old in Grade 9 are MALES?             422.0
How many students Age 12 years old in Grade 9 are FEMALES?           418.0
How many students  Age 13 years old in Grade 9 are MALES?            945.0
How many students  Age 13 years old in Grade 9 are FEMALES?          957.0
How many students Age 14 years old in Grade 9 are MALES?            1965.0
How many students  Age 14 years old in Grade 9 are FEMALES?         1804.0
How many students  Age 15 years old in Grade 9 are MALES?           2354.0
How many students  age 15 Years old  in Grade 9 are FEMALES?        2284.0
How many students age 16 Years old  in Grade 9 are MALES?           2653.0
How many students  above Age 16 in Grade 9 are FEMALES?             2691.0
How many students age 17 in Grade 9 are MALES?                      2344.0
How many students age 17 in Grade 9 are FEMALES?                    2304.0
How many students age 18 in Grade 9 are MALES?                      1944.0
How many students age 18 in Grade 9 are FEMALES?                    1855.0
How many students age 19 in Grade 9 are MALES?                      1574.0
How many students age 19 in Grade 9 are FEMALES?                    1351.0
How many students age 20 in Grade 9 are MALES?                      1119.0
How many students age 20 in Grade 9 are FEMALES?                    1075.0
How many students above age 20 in Grade 9 that are MALES?           1263.0
How many students above age 20 in Grade 9 that are FEMALES?         1088.0
dtype: float64

In [2399]:
print(kece_s9[:2].sum())
print(kece_s9[2:4].sum())
print(kece_s9[4:6].sum())
print(kece_s9[6:8].sum())
print(kece_s9[8:10].sum())
print(kece_s9[10:12].sum())
print(kece_s9[12:14].sum())
print(kece_s9[14:16].sum())
print(kece_s9[16:18].sum())
print(kece_s9[18:20].sum())
print(kece_s9[20:22].sum())

4946.0
840.0
1902.0
3769.0
4638.0
5344.0
4648.0
3799.0
2925.0
2194.0
2351.0

# Table 15 ECE Enrollment by Age, Grade and Gender

In [2404]:
kece_s7.sum()

41650.0

In [2406]:
kece_s8#.sum()

How many students below Age 12 years old in Grade 8 are MALES?      1867.0
How many students below Age 12 years old in Grade 8 are FEMALES?    1164.0
How many students Age 12 years old in Grade 8 are MALES?             902.0
How many students Age 12 years old in Grade 8 are FEMALES?           921.0
How many students  Age 13 years old in Grade 8 are MALES?           1927.0
How many students  Age 13 years old in Grade 8 are FEMALES?         1746.0
How many students Age 14 years old in Grade 8 are MALES?            2582.0
How many students  Age 14 years old in Grade 8 are FEMALES?         2228.0
How many students  Age 15 years old in Grade 8 are MALES?           2860.0
How many students   age 15 Years old  in Grade 8 are FEMALES?       2742.0
How many students age 16 Years old  in Grade 8 are MALES?           2935.0
How many students  above Age 16 in Grade 8 are FEMALES?             2653.0
How many students age 17 in Grade 8 are MALES?                      2367.0
How many students age 17 in Grade 8 are FEMALES?                    2220.0
How many students age 18 in Grade 8 are MALES?                      1903.0
How many students age 18 in Grade 8 are FEMALES?                    1675.0
How many students age 19 in Grade 8 are MALES?                      1354.0
How many students age 19 in Grade 8 are FEMALES?                    1159.0
How many students age 20 in Grade 8 are MALES?                       811.0
How many students age 20 in Grade 8 are FEMALES?                     782.0
How many students above age 20 in Grade 8 that are MALES?            794.0
How many students above age 20 in Grade 8 that are FEMALES?          774.0
dtype: float64

In [2403]:
kece_s9

How many students below Age 12 years old in Grade 9 are MALES?      3919.0
How many students below Age 12 years old in Grade 9 are FEMALES?    1027.0
How many students Age 12 years old in Grade 9 are MALES?             422.0
How many students Age 12 years old in Grade 9 are FEMALES?           418.0
How many students  Age 13 years old in Grade 9 are MALES?            945.0
How many students  Age 13 years old in Grade 9 are FEMALES?          957.0
How many students Age 14 years old in Grade 9 are MALES?            1965.0
How many students  Age 14 years old in Grade 9 are FEMALES?         1804.0
How many students  Age 15 years old in Grade 9 are MALES?           2354.0
How many students  age 15 Years old  in Grade 9 are FEMALES?        2284.0
How many students age 16 Years old  in Grade 9 are MALES?           2653.0
How many students  above Age 16 in Grade 9 are FEMALES?             2691.0
How many students age 17 in Grade 9 are MALES?                      2344.0
How many students age 17 in Grade 9 are FEMALES?                    2304.0
How many students age 18 in Grade 9 are MALES?                      1944.0
How many students age 18 in Grade 9 are FEMALES?                    1855.0
How many students age 19 in Grade 9 are MALES?                      1574.0
How many students age 19 in Grade 9 are FEMALES?                    1351.0
How many students age 20 in Grade 9 are MALES?                      1119.0
How many students age 20 in Grade 9 are FEMALES?                    1075.0
How many students above age 20 in Grade 9 that are MALES?           1263.0
How many students above age 20 in Grade 9 that are FEMALES?         1088.0
dtype: float64

# Table 16: ECE Repeater by School Types

In [2407]:
kece_r = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,409:415]], axis=1).groupby('Type of school').sum()
kece_r

,How many FEMALE students in Grade 7 are Repeaters?,How many MALE students in Grade 7 are Repeaters?,How many FEMALE students in Grade 8 are Repeaters?,How many MALE students in Grade 8 are Repeaters?,How many FEMALE students in Grade 9 are Repeaters?,How many MALE students in Grade 9 are Repeaters?
Type of school,,,,,,
Community,28.0,23.0,17.0,15.0,24.0,17.0
Faith-based,243.0,205.0,154.0,159.0,176.0,132.0
Private,333.0,370.0,293.0,271.0,256.0,223.0
Public,731.0,825.0,590.0,661.0,452.0,541.0

# Table 17: ECE Repeaters by County, Gender and Grade

In [2408]:
kece_rc = pd.concat([kcensus.iloc[:,[2,39]],kcensus.iloc[:,409:415]], axis=1).groupby('County').sum()
kece_rc

,How many FEMALE students in Grade 7 are Repeaters?,How many MALE students in Grade 7 are Repeaters?,How many FEMALE students in Grade 8 are Repeaters?,How many MALE students in Grade 8 are Repeaters?,How many FEMALE students in Grade 9 are Repeaters?,How many MALE students in Grade 9 are Repeaters?
County,,,,,,
Bomi,2.0,7.0,0.0,2.0,1.0,1.0
Bong,88.0,82.0,52.0,60.0,39.0,42.0
Gbarpolu,29.0,33.0,11.0,8.0,5.0,6.0
Grand Bassa,33.0,39.0,30.0,43.0,18.0,18.0
Grand Cape Mount,62.0,68.0,48.0,59.0,38.0,35.0
Grand Gedeh,126.0,176.0,157.0,187.0,117.0,181.0
Grand Kru,49.0,53.0,27.0,25.0,12.0,27.0
Lofa,55.0,75.0,64.0,48.0,31.0,19.0
Margibi,87.0,78.0,76.0,72.0,91.0,80.0
Maryland,28.0,48.0,34.0,33.0,27.0,16.0
Montserrado 1,247.0,228.0,184.0,177.0,200.0,160.0
Montserrado 2,203.0,210.0,165.0,146.0,155.0,127.0
Nimba,240.0,251.0,154.0,182.0,135.0,144.0
River Gee,23.0,18.0,16.0,14.0,3.0,15.0
Rivercess,10.0,6.0,5.0,5.0,5.0,8.0
Sinoe,53.0,51.0,31.0,45.0,31.0,34.0