In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
pd.set_option('display.max_rows',7000)
pd.set_option('display.max_columns',7000)

In [2]:
kcensus = pd.read_csv('kobo_data.csv')
tcensus = pd.read_csv('tamma_data.csv')
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10
kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]

/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,648,745,746,753,772,773,796,801,806,811,816,821,826,831,836,841,846,851,856,861,866,871,876,881,886,891,896,901,902,903,904,974,1197,1222,1241,1250,1261,1269,1299,1399,1401,1403,1405,1408,1409,1413,1414,1415,1419,1421,1423,1425,1427,1429,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1452) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/home/alton/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2,12,13,14,115,893,995,1019,1020,1021,1022,1023) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
<ipython-input-2-8fec5fc5cfc6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kcensus['How many FEMALE students  above AGE 8 YEARS OLD are in Pre-Kindergarten?'][3776]= 10

10.0

In [3]:
kstaff = pd.read_csv('kobo_staff.csv')
tstaff = pd.read_csv('tamma_staff.csv')

In [4]:
kcensus_schema = pd.Series(kcensus.columns)
tcensus_schema = pd.Series(kcensus.columns)
kstaff_schema = pd.Series(kstaff.columns)
tstaff_schema = pd.Series(tstaff.columns)

In [5]:
kcensus_schema.to_csv('kcensus_schema.csv', index = False)

In [6]:
tcensus_schema.to_csv('tcensus_schema.csv', index = False)

In [7]:
kstaff_schema.to_csv('kstaff_schema.csv', index = False)

In [8]:
tstaff_schema.to_csv('tstaff_schema.csv', index = False)

In [9]:
kcensus_ece_owner=kcensus.iloc[:,[39,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137]]
kcensus_ece_owner.head()

,Type of school,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Public,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,Public,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,Private,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,Private,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [10]:
kcensus_ece_owner.groupby('Type of school').sum().sum(1).sum()

254907.0

In [11]:
kcensus_pri_owner=pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,243:387]], axis=1)
kcensus_pri_owner.head()

,Type of school,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,Public,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Private,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
kcensus_pri_owner.groupby('Type of school').sum().sum(1).sum()

395808.0

In [13]:
kcensus.iloc[:,243:386].head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
kcensus_jhs_owner=pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,448:514]], axis=1)
kcensus_jhs_owner.head()

,Type of school,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
0,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
kcensus_jhs_owner.groupby('Type of school').sum().sum(1).sum()

118565.0

In [16]:
kcensus_shs_owner = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,568:634]], axis=1)
kcensus_shs_owner.head()

,Type of school,How many students below Age 12 years old in Grade 10 are MALES?,How many students below Age 12 years old in Grade 11 are MALES?,How many students below Age 12 years old in Grade 12 are MALES?,How many students below Age 12 years old in Grade 10 are FEMALES?,How many students below Age 12 years old in Grade 11 are FEMALES?,How many students below Age 12 years old in Grade 12 are FEMALES?,How many students Age 12 years old in Grade 10 are MALES?,How many students Age 12 years old in Grade 11 are MALES?,How many students Age 12 years old in Grade 12 are MALES?,How many students Age 12 years old in Grade 10 are FEMALES?,How many students Age 12 years old in Grade 11 are FEMALES?,How many students Age 12 years old in Grade 12 are FEMALES?,How many students Age 13 years old in Grade 10 are MALES?,How many students Age 13 years old in Grade 11 are MALES?,How many students Age 13 years old in Grade 12 are MALES?,How many students Age 13 years old in Grade 10 are FEMALES?,How many students Age 13 years old in Grade 11 are FEMALES?,How many students Age 13 years old in Grade 12 are FEMALES?,How many students Age 14 years old in Grade 10 are MALES?,How many students Age 14 years old in Grade 11 are MALES?,How many students Age 14 years old in Grade 12 are MALES?,How many students Age 14 years old in Grade 10 are FEMALES?,How many students Age 14 years old in Grade 11 are FEMALES?,How many students Age 14 years old in Grade 12 are FEMALES?,How many students Age 15 years old in Grade 10 are MALES?,How many students Age 15 years old in Grade 11 are MALES?,How many students Age 15 years old in Grade 12 are MALES?,How many students age 15 Years old in Grade 10 are FEMALES?,How many students age 15 Years old in Grade 11 are FEMALES?,How many students age 15 Years old in Grade 12 are FEMALES?,How many students age 16 Years old in Grade 10 are MALES?,How many students age 16 Years old in Grade 11 are MALES?,How many students age 16 Years old in Grade 12 are MALES?,How many students above Age 16 in Grade 10 are FEMALES?,How many students above Age 16 in Grade 11 are FEMALES?,How many students above Age 16 in Grade 12 are FEMALES?,How many students age 17 in Grade 10 are MALES?,How many students age 17 in Grade 11 are MALES?,How many students age 17 in Grade 12 are MALES?,How many students age 17 in Grade 10 are FEMALES?,How many students age 17 in Grade 11 are FEMALES?,How many students age 17 in Grade 12 are FEMALES?,How many students age 18 in Grade 10 are MALES?,How many students age 18 in Grade 11 are MALES?,How many students age 18 in Grade 12 are MALES?,How many students age 18 in Grade 10 are FEMALES?,How many students age 18 in Grade 11 are FEMALES?,How many students age 18 in Grade 12 are FEMALES?,How many students age 19 in Grade 10 are MALES?,How many students age 19 in Grade 11 are MALES?,How many students age 19 in Grade 12 are MALES?,How many students age 19 in Grade 10 are FEMALES?,How many students age 19 in Grade 11 are FEMALES?,How many students age 19 in Grade 12 are FEMALES?,How many students age 20 in Grade 10 are MALES?,How many students age 20 in Grade 11 are MALES?,How many students age 20 in Grade 12 are MALES?,How many students age 20 in Grade 10 are FEMALES?,How many students age 20 in Grade 11 that are FEMALES?,How many students age 20 in Grade 12 that are FEMALES?,How many students above age 20 in Grade 10 that are MALES?,How many students above age 20 in Grade 11 that are MALES?,How many students above age 20 in Grade 12 that are MALES?,How many students above age 20 in Grade 10 that are FEMALES?,How many students above age 20 in Grade 11 that are FEMALES?,How many students above age 20 in Grade 12 that are FEMALES?
0,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
kcensus_shs_owner.groupby('Type of school').sum().sum(1).sum()

70316.0

In [18]:
kcensus_alp_owner = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,692:734]], axis=1)
kcensus_alp_owner.head()

,Type of school,How many students age less than 10 enrolled in Level I of Alternative Education are MALES?,How many students age less than 10 enrolled in Level II of Alternative Education are MALES?,How many students age less than 10 enrolled in Level III of Alternative Education are MALES?,How many students age less than 10 enrolled in Level I of Alternative Education are FEMALES?,How many students age less than 10 enrolled in Level II of Alternative Education are FEMALES?,How many students age less than 10 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 10 to 15 enrolled in Level I of Alternative Education are MALES?,How many students age between 10 to 15 enrolled in Level II of Alternative Education are MALES?,How many students age between 10 to 15 enrolled in Level III of Alternative Education are MALES?,How many students age between 10 to 15 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 10 to 15 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 10 to 15 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 15 to 20 enrolled in Level I of Alternative Education are MALES?,How many students age between 15 to 20 enrolled in Level II of Alternative Education are MALES?,How many students age between 15 to 20 enrolled in Level III of Alternative Education are MALES?,How many students age between 15 to 20 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 15 to 20 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 15 to 20 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 20 to 25 enrolled in Level I of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level II of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level III of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 20 to 25 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 20 to 25 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 25 to 30 enrolled in Level I of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level II of Alternative Education are MALES?.1,How many students age between 25 to 30 enrolled in Level III of Alternative Education are MALES?,How many students age between 25 to 30 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 25 to 30 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 25 to 30 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 30 to 35 enrolled in Level I of Alternative Education are MALES?,How many students age between 30 to 35 enrolled in Level II of Alternative Education are MALES?,How many students age between 30 to 35 enrolled in Level III of Alternative Education are MALES?,How many students age between 30 to 35 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 30 to 35 enrolled in Level II of Alternative Education are FE MALES?,How many students age between 30 to 35 enrolled in Level III of Alternative Education are FEMALES?,How many students age greater than 35 enrolled in Level I of Alternative Education are MALES?,How many students age greater than 35 enrolled in Level II of Alternative Education are MALES?,How many students age greater than 35 enrolled in Level III of Alternative Education are MALES?,How many students age greater than 35 enrolled in Level I of Alternative Education are FEMALES?,How many students age greater than 35 enrolled in Level II of Alternative Education are FEMALES?,How many students age greater than 35 enrolled in Level III of Alternative Education are FEMALES?
0,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Public,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
kcensus_alp_owner.groupby('Type of school').sum().sum(1).sum()

8851.0

In [20]:
#kcensus_male_owner = 
#pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,97:103]], axis=1)
#kcensus_male_owner.head()

In [21]:
kcensus_male_owner1 = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,97:103]], axis=1)
kcensus_m1 =kcensus_male_owner1.groupby('Type of school').sum()
k_1 =kcensus_m1.iloc[:,[0,2, 4]].sum(1)
k_1

#kcensus_male_owner.head()

Type of school
Community       200.0
Faith-based    1740.0
Private        3381.0
Public         2250.0
dtype: float64

In [22]:
kcensus_male_owner2 = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,103:110]], axis=1)
k_2 = kcensus_male_owner2.groupby('Type of school').sum().sum(1)
k_2

Type of school
Community       1985.0
Faith-based     9164.0
Private        16158.0
Public         29705.0
dtype: float64

In [23]:
kcensus_male_owner3 = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,117:124]], axis=1)
k_3 = kcensus_male_owner3.groupby('Type of school').sum().sum(1)
k_3

Type of school
Community       1615.0
Faith-based     6266.0
Private        11398.0
Public         21013.0
dtype: float64

In [24]:
kcensus_male_owner4 = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,131:133]], axis=1)
k_4 = kcensus_male_owner4.groupby('Type of school').sum().sum(1)
k_4

Type of school
Community       339.0
Faith-based    1186.0
Private        2017.0
Public         2164.0
dtype: float64

In [25]:
k_5 = k_1 + k_2 + k_3 + k_4
k_5#.sum()

Type of school
Community       4139.0
Faith-based    18356.0
Private        32954.0
Public         55132.0
dtype: float64

In [26]:
# Primary Student by Sex and Ownership



kcensus_owner_male_pri1 = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,243:249]], axis=1)
kp1 =kcensus_owner_male_pri1.groupby('Type of school').sum().sum(1)
kp1

Type of school
Community       234.0
Faith-based     582.0
Private        1869.0
Public         1183.0
dtype: float64

In [27]:

kcensus_owner_male_pri2 = pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,255:261]], axis=1)
kp2 =kcensus_owner_male_pri2.groupby('Type of school').sum().sum(1)
kp2

Type of school
Community       392.0
Faith-based    1782.0
Private        4092.0
Public         3322.0
dtype: float64

In [28]:

kcensus_owner_male_pri3 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,267:273]], axis=1)
kp3 =kcensus_owner_male_pri3.groupby('Type of school').sum().sum(1)
kp3

Type of school
Community       719.0
Faith-based    2977.0
Private        6234.0
Public         4722.0
dtype: float64

In [29]:

kcensus_owner_male_pri4 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,279:285]], axis=1)
kp4 =kcensus_owner_male_pri4.groupby('Type of school').sum().sum(1)
kp4

Type of school
Community       856.0
Faith-based    3651.0
Private        7144.0
Public         6870.0
dtype: float64

In [30]:

kcensus_owner_male_pri5 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,291:297]], axis=1)
kp5 =kcensus_owner_male_pri5.groupby('Type of school').sum().sum(1)
kp5

Type of school
Community       920.0
Faith-based    3820.0
Private        7863.0
Public         8346.0
dtype: float64

In [31]:
kcensus_owner_male_pri6 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,303:309]], axis=1)
kp6 =kcensus_owner_male_pri6.groupby('Type of school').sum().sum(1)
kp6

Type of school
Community        886.0
Faith-based     4092.0
Private         7770.0
Public         10116.0
dtype: float64

In [32]:
kcensus_owner_male_pri7 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,315:321]],axis=1)
kp7 =kcensus_owner_male_pri7.groupby('Type of school').sum().sum(1)
kp7

Type of school
Community        711.0
Faith-based     3689.0
Private         6991.0
Public         13079.0
dtype: float64

In [33]:
kcensus_owner_male_pri8 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,327:333]],axis=1)
kp8 =kcensus_owner_male_pri8.groupby('Type of school').sum().sum(1)
kp8

Type of school
Community        729.0
Faith-based     4060.0
Private         6252.0
Public         11108.0
dtype: float64

In [34]:
kcensus_owner_male_pri9 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,339:345]],axis=1)
kp9 =kcensus_owner_male_pri9.groupby('Type of school').sum().sum(1)
kp9

Type of school
Community        701.0
Faith-based     3251.0
Private         5085.0
Public         10756.0
dtype: float64

In [35]:
kcensus_owner_male_pri10 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,351:357]],axis=1)
kp10 =kcensus_owner_male_pri10.groupby('Type of school').sum().sum(1)
kp10

Type of school
Community        527.0
Faith-based     2652.0
Private         3783.0
Public         10455.0
dtype: float64

In [36]:
kcensus_owner_male_pri11 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,363:369]],axis=1)
kp11 =kcensus_owner_male_pri11.groupby('Type of school').sum().sum(1)
kp11

Type of school
Community       395.0
Faith-based    1884.0
Private        2488.0
Public         9304.0
dtype: float64

In [37]:
kcensus_owner_male_pri12 = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,375:381]],axis=1)
kp12 =kcensus_owner_male_pri12.groupby('Type of school').sum().sum(1)
kp12

Type of school
Community        349.0
Faith-based     2006.0
Private         2135.0
Public         10302.0
dtype: float64

In [38]:
kp =kp1 +kp2 + kp3 +kp4 +kp5 + kp6 +kp7 +kp8 + kp9 + kp10 +kp11 + kp12
kp

Type of school
Community       7419.0
Faith-based    34446.0
Private        61706.0
Public         99563.0
dtype: float64

# Junior High Student by Sex and Owndership

In [39]:
kcensus_owner_male_jhs = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,448:514]],axis=1)
jhs =kcensus_owner_male_jhs.groupby('Type of school').sum()
jhs1 = jhs.iloc[:,[0,1,2,6,7,8,12,13,14,18,19,20,24,25,26,30,31,32,36,37,38,42,43,44,48,49,50,54,55,56,60,61,62]]
jhs2 = jhs1.sum(1)
jhs2

Type of school
Community       1799.0
Faith-based    13529.0
Private        26247.0
Public         21633.0
dtype: float64

In [40]:
kcensus_owner_male_shs = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,568:634]],axis=1)
shs =kcensus_owner_male_shs.groupby('Type of school').sum()
shs1 = shs.iloc[:,[0,1,2,6,7,8,12,13,14,18,19,20,24,25,26,30,31,32,36,37,38,42,43,44,48,49,50,54,55,56,60,61,62]]
shs2 = shs1.sum(1)
shs2

Type of school
Community        630.0
Faith-based     9505.0
Private        15177.0
Public         10457.0
dtype: float64

In [41]:
kcensus_owner_male_alp = \
pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,692:734]],axis=1)
alp =kcensus_owner_male_alp.groupby('Type of school').sum()
alp1 =alp.iloc[:,[0,1,2,6,7,8,12,13,14,18,19,20,24,25,26,30,31,32,36,37,38]]
alp2 = alp1.sum(1)
alp2

Type of school
Community        27.0
Faith-based      35.0
Private         610.0
Public         3862.0
dtype: float64

In [42]:
k_5 + kp + jhs2 + shs2 + alp2

Type of school
Community       14014.0
Faith-based     75871.0
Private        136694.0
Public         190647.0
dtype: float64

# Students by County and level

In [43]:
kcensus_ece_county=kcensus.iloc[:,[2,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137]]
kcensus_ece_county1 =kcensus_ece_county.groupby('County').sum()
kcensus_ece_county1.sum(1)

County
Bomi                 5299.0
Bong                20712.0
Gbarpolu             7684.0
Grand Bassa         11651.0
Grand Cape Mount    12228.0
Grand Gedeh         10270.0
Grand Kru            6950.0
Lofa                11722.0
Margibi             13450.0
Maryland             1698.0
Montserrado 1       46338.0
Montserrado 2       39748.0
Nimba               46371.0
River Gee            6245.0
Rivercess            3781.0
Sinoe               10760.0
dtype: float64

In [44]:
#k_cor =kcensus_ece_county[ kcensus_ece_county['County']=='Sinoe'].reset_index()
#k_cor.iloc[:,2:]

In [45]:
kcensus_pri_county=pd.concat([kcensus.iloc[:,[2]], kcensus.iloc[:,243:387]], axis=1)
kcensus_pri_county1 =kcensus_pri_county.groupby('County').sum()
kcensus_pri_county1.sum(1)

County
Bomi                 5697.0
Bong                27912.0
Gbarpolu             8168.0
Grand Bassa         13863.0
Grand Cape Mount    14674.0
Grand Gedeh         17872.0
Grand Kru            9644.0
Lofa                16838.0
Margibi             21292.0
Maryland             2189.0
Montserrado 1       90769.0
Montserrado 2       73551.0
Nimba               63788.0
River Gee           11428.0
Rivercess            4003.0
Sinoe               14120.0
dtype: float64

In [46]:
kcensus_jhs_county=pd.concat([kcensus.iloc[:,[2]], kcensus.iloc[:,448:514]], axis=1)
kcensus_jhs_county1 =kcensus_jhs_county.groupby('County').sum()
kcensus_jhs_county1.sum(1)

County
Bomi                 1075.0
Bong                 5937.0
Gbarpolu              843.0
Grand Bassa          1891.0
Grand Cape Mount     3668.0
Grand Gedeh          3684.0
Grand Kru            1535.0
Lofa                 2327.0
Margibi              7575.0
Maryland              752.0
Montserrado 1       39663.0
Montserrado 2       30301.0
Nimba               15139.0
River Gee            1023.0
Rivercess             323.0
Sinoe                2829.0
dtype: float64

In [47]:
kcensus_shs_county = pd.concat([kcensus.iloc[:,[2]], kcensus.iloc[:,568:634]], axis=1)
kcensus_shs_county1 =kcensus_shs_county.groupby('County').sum()
kcensus_shs_county1.sum(1)

County
Bomi                 1949.0
Bong                 2880.0
Gbarpolu              140.0
Grand Bassa          1493.0
Grand Cape Mount     1172.0
Grand Gedeh          2786.0
Grand Kru             438.0
Lofa                 1649.0
Margibi              4073.0
Maryland              230.0
Montserrado 1       25613.0
Montserrado 2       19732.0
Nimba                6007.0
River Gee             409.0
Rivercess             153.0
Sinoe                1592.0
dtype: float64

In [48]:
kcensus_alp_county = pd.concat([kcensus.iloc[:,[2]], kcensus.iloc[:,692:734]], axis=1)
kcensus_alp_county1 =kcensus_alp_county.groupby('County').sum()
kcensus_alp_county1.sum(1)

County
Bomi                   0.0
Bong                1179.0
Gbarpolu              39.0
Grand Bassa          701.0
Grand Cape Mount       0.0
Grand Gedeh            0.0
Grand Kru              0.0
Lofa                 831.0
Margibi              808.0
Maryland               0.0
Montserrado 1       1131.0
Montserrado 2        974.0
Nimba               3188.0
River Gee              0.0
Rivercess              0.0
Sinoe                  0.0
dtype: float64

# Students by Sex and Level

## ECE

In [49]:
kcensus_ece_sex = kcensus.iloc[:,97:133]
kcensus_ece_sex.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0

In [50]:
kcensus_ece_male = kcensus_ece_sex.iloc[:,[0,2,4,6,7,8,9,10,11,12,20,21,22,23,24,25,26,34,35]]
kcensus_ece_male.sum().sum()

110581.0

# Primary

In [51]:
kcensus_pri_sex = kcensus.iloc[:,243:387]
kcensus_pri_sex.sum().iloc[::]

How many students  below Age 6 in Grade 1 are MALES?               1514.0
How many students  below Age 6 in Grade 2 are MALES?                794.0
How many students  below Age 6 in Grade 3 are MALES?                593.0
How many students  below Age 6 in Grade 4 are MALES?                348.0
How many students  below Age 6 in Grade 5 are MALES?                266.0
How many students  below Age 6 in Grade 6 are MALES?                353.0
How many students  below Age 6 in Grade 1 are FEMALES?             1647.0
How many students  below Age 6 in Grade 2 are FEMALES?              808.0
How many students  below Age 6 in Grade 3 are FEMALES?              407.0
How many students  below Age 6 in Grade 4 are FEMALES?              357.0
How many students  below Age 6 in Grade 5 are FEMALES?              513.0
How many students  below Age 6 in Grade 6 are FEMALES?             3181.0
How many students  Age 6 years old in Grade 1 are MALES?           5906.0
How many students  Age 6 years old in Grade 2 are MALES?           1802.0
How many students  Age 6 years old in Grade 3 are MALES?            822.0
How many students  Age 6 years old in Grade 4 are MALES?            417.0
How many students  Age 6 years old in Grade 5 are MALES?            366.0
How many students  Age 6 years old in Grade 6 are MALES?            275.0
How many students  Age 6 years old in Grade 1 are FEMALES?         4794.0
How many students  Age 6 years old in Grade 2 are FEMALES?         1924.0
How many students  Age 6 years old in Grade 3 are FEMALES?          900.0
How many students  Age 6 years old in Grade 4 are FEMALES?          450.0
How many students  Age 6 years old in Grade 5 are FEMALES?          347.0
How many students  Age 6 years old in Grade 6 are FEMALES?          290.0
How many students  Age 7 years old in Grade 1 are MALES?           5925.0
How many students  Age 7 years old in Grade 2 are MALES?           4578.0
How many students  Age 7 years old in Grade 3 are MALES?           2208.0
How many students  Age 7 years old in Grade 4 are MALES?            972.0
How many students  Age 7 years old in Grade 5 are MALES?            619.0
How many students  Age 7 years old in Grade 6 are MALES?            350.0
How many students  Age 7 years old in Grade 1 are FEMALES?         5807.0
How many students  Age 7 years old in Grade 2 are FEMALES?         4581.0
How many students  Age 7 years old in Grade 3 are FEMALES?         1961.0
How many students  Age 7 years old in Grade 4 are FEMALES?          963.0
How many students  Age 7 years old in Grade 5 are FEMALES?          512.0
How many students  Age 7 years old in Grade 6 are FEMALES?          421.0
How many students  Age 8 years old  in Grade 1 are MALES?          6082.0
How many students  Age 8 years old  in Grade 2 are MALES?          4972.0
How many students  Age 8 years old  in Grade 3 are MALES?          4062.0
How many students  Age 8 years old  in Grade 4 are MALES?          1864.0
How many students  Age 8 years old  in Grade 5 are MALES?           992.0
How many students  Age 8 years old  in Grade 6 are MALES?           549.0
How many students  Age 8 years old  in Grade 1 are FEMALES?        5773.0
How many students  Age 8 years old  in Grade 2 are FEMALES?        4810.0
How many students  Age 8 years old  in Grade 3 are FEMALES?        4175.0
How many students  Age 8 years old  in Grade 4 are FEMALES?        2045.0
How many students  Age 8 years old  in Grade 5 are FEMALES?        1005.0
How many students  Age 8 years old  in Grade 6 are FEMALES?         528.0
How many students   Age 9 years old in Grade 1 are MALES?          5440.0
How many students   Age 9 years old in Grade 2 are MALES?          5081.0
How many students   Age 9 years old in Grade 3 are MALES?          4211.0
How many students   Age 9 years old in Grade 4 are MALES?          3319.0
How many students   Age 9 years old in Grade 5 are MALES?          1903.0
How many students   Age 9 years old in Grade 6 are MALES?           995.0
How many students  Age 9 years old in Grade 1 are FEMALES?         4901.0
How many students  Age 9 years old in Grade 2 are FEMALES?         4685.0
How many students  Age 9 years old in Grade 3 are FEMALES?         4258.0
How many students  Age 9 years old in Grade 4 are FEMALES?         3344.0
How many students  Age 9 years old in Grade 5 are FEMALES?         1598.0
How many students  Age 9 years old in Grade 6 are FEMALES?          831.0
How many students  Age 10 years old in Grade 1 are MALES?          5151.0
How many students  Age 10 years old in Grade 2 are MALES?          4827.0
How many students  Age 10 years old in Grade 3 are MALES?          4570.0
How many students  Age 10 years old in Grade 4 are MALES?          3864.0
How many students  Age 10 years old in Grade 5 are MALES?          3001.0
How many students  Age 10 years old in Grade 6 are MALES?          1451.0
How many students  Age 10 years old in Grade 1 are FEMALES?        4764.0
How many students  Age 10 years old in Grade 2 are FEMALES?        4573.0
How many students   Age 10 years old in Grade 3 are FEMALES?       4485.0
How many students   Age 10 years old in Grade 4 are FEMALES?       3619.0
How many students   Age 10 years old in Grade 5 are FEMALES?       2978.0
How many students   Age 10 years old in Grade 6 are FEMALES?       1386.0
How many students   Age 11 years old in Grade 1 are MALES?         3652.0
How many students   Age 11 years old in Grade 2 are MALES?         3971.0
How many students   Age 11 years old in Grade 3 are MALES?         4104.0
How many students   Age 11 years old in Grade 4 are MALES?         3804.0
How many students   Age 11 years old in Grade 5 are MALES?         6428.0
How many students   Age 11 years old in Grade 6 are MALES?         2511.0
How many students   Age 11 years old in Grade 1 are FEMALES?       3367.0
How many students   Age 11 years old in Grade 2 are FEMALES?       3730.0
How many students   Age 11 years old in Grade 3 are FEMALES?       4148.0
How many students   Age 11 years old in Grade 4 are FEMALES?       3884.0
How many students   Age 11 years old in Grade 5 are FEMALES?       3228.0
How many students   Age 11 years old in Grade 6 are FEMALES?       2439.0
How many students  Age 12 years old in Grade 1 are MALES?          3163.0
How many students  Age 12 years old in Grade 2 are MALES?          3822.0
How many students  Age 12 years old in Grade 3 are MALES?          4076.0
How many students  Age 12 years old in Grade 4 are MALES?          4328.0
How many students  Age 12 years old in Grade 5 are MALES?          3747.0
How many students  Age 12 years old in Grade 6 are MALES?          3013.0
How many students  Age 12 years old in Grade 1 are FEMALES?        2800.0
How many students  Age 12 years old in Grade 2 are FEMALES?        3637.0
How many students  Age 12 years old in Grade 3 are FEMALES?        4170.0
How many students   12 years old in Grade 4 are FEMALES?           4298.0
How many students  Age 12 years old in Grade 5 are FEMALES?        3794.0
How many students  Age 12 years old in Grade 6 are FEMALES?        3059.0
How many students  Age 13 years old in Grade 1 are MALES?          2010.0
How many students  Age 13 years old in Grade 2 are MALES?          2636.0
How many students  Age 13 years old in Grade 3 are MALES?          3670.0
How many students  Age 13 years old in Grade 4 are MALES?          3992.0
How many students  Age 13 years old in Grade 5 are MALES?          4028.0
How many students  Age 13 years old in Grade 6 are MALES?          3457.0
How many students  Age 13 years old in Grade 1 are FEMALES?        1768.0
How many students  Age 13 years old in Grade 2 are FEMALES?        2548.0
How many students  Age 13 years old in Grade 3 are FEMALES?        3482.0
How many students  Age 13 years old in Grade 4 are FEMALES?        3963.0
How many students  Age 13 years old in Grade 5 are FEMALES?        3915.0
How many students  Age 13 years old in Grade 6 are FEMALES?        3363.0
How many students Age 14 years old in Grade 1 are MALES?           1298.0
How many students Age 14 years old in Grade 2 are MALES?           1768.0
How many students Age 14 years old in Grade 3 are MALES?           2722.0
How many students Age 14 years old in Grade 4 are MALES?           3621.0
How many students Age 14 years old in Grade 5 are MALES?           3978.0
How many students Age 14 years old in Grade 6 are MALES?           4030.0
How many students  Age 14 years old in Grade 1 are FEMALES?         153.0
How many students  Age 14 years old in Grade 2 are FEMALES?        1629.0
How many students  Age 14 years old in Grade 3 are FEMALES?        2451.0
How many students  Age 14 years old in Grade 4 are FEMALES?        3449.0
How many students  Age 14 years old in Grade 5 are FEMALES?        3950.0
How many students  Age 14 years old in Grade 6 are FEMALES?        4175.0
How many students  Age 15 years old in Grade 1 are MALES?           889.0
How many students  Age 15 years old in Grade 2 are MALES?          1143.0
How many students  Age 15 years old in Grade 3 are MALES?          1811.0
How many students  Age 15 years old in Grade 4 are MALES?          2754.0
How many students  Age 15 years old in Grade 5 are MALES?          3479.0
How many students  Age 15 years old in Grade 6 are MALES?          3995.0
How many students  Age 15 years old in Grade 1 are FEMALES?         756.0
How many students  Age 15 years old in Grade 2 are FEMALES?         966.0
How many students  Age 15 years old in Grade 3 are FEMALES?        1746.0
How many students  Age 15 years old in Grade 4 are FEMALES?        2436.0
How many students  age 15 Years old  in Grade 5 are FEMALES?       3357.0
How many students  age 15 Years old  in Grade 6 are FEMALES?       3874.0
How many students above age 15 Years old  in Grade 1 are MALES?     793.0
How many students above age 15 Years old  in Grade 2 are MALES?     997.0
How many students above age 15 Years old  in Grade 3 are MALES?    1496.0
How many students above age 15 Years old  in Grade 4 are MALES?    2498.0
How many students above age 15 Years old  in Grade 5 are MALES?    3578.0
How many students above age 15 Years old  in Grade 6 are MALES?    5430.0
How many students  above Age 15 in Grade 1 are FEMALES?             675.0
How many students  above Age 15 in Grade 2 are FEMALES?             776.0
How many students  above Age 15 in Grade 3 are FEMALES?            1262.0
How many students  above Age 15 in Grade 4 are FEMALES?            2078.0
How many students  above Age 15 in Grade 5 are FEMALES?            3016.0
How many students  above Age 15 in Grade 6 are FEMALES?            4711.0
dtype: float64

In [52]:
k_a =kcensus_pri_sex.sum().iloc[:6]
k_a

How many students  below Age 6 in Grade 1 are MALES?    1514.0
How many students  below Age 6 in Grade 2 are MALES?     794.0
How many students  below Age 6 in Grade 3 are MALES?     593.0
How many students  below Age 6 in Grade 4 are MALES?     348.0
How many students  below Age 6 in Grade 5 are MALES?     266.0
How many students  below Age 6 in Grade 6 are MALES?     353.0
dtype: float64

In [53]:
k_b =kcensus_pri_sex.sum().iloc[12:18]
k_b

How many students  Age 6 years old in Grade 1 are MALES?    5906.0
How many students  Age 6 years old in Grade 2 are MALES?    1802.0
How many students  Age 6 years old in Grade 3 are MALES?     822.0
How many students  Age 6 years old in Grade 4 are MALES?     417.0
How many students  Age 6 years old in Grade 5 are MALES?     366.0
How many students  Age 6 years old in Grade 6 are MALES?     275.0
dtype: float64

In [54]:
k_c = kcensus_pri_sex.sum().iloc[24:30]
k_c

How many students  Age 7 years old in Grade 1 are MALES?    5925.0
How many students  Age 7 years old in Grade 2 are MALES?    4578.0
How many students  Age 7 years old in Grade 3 are MALES?    2208.0
How many students  Age 7 years old in Grade 4 are MALES?     972.0
How many students  Age 7 years old in Grade 5 are MALES?     619.0
How many students  Age 7 years old in Grade 6 are MALES?     350.0
dtype: float64

In [55]:
k_d = kcensus_pri_sex.sum().iloc[36:42]
k_d

How many students  Age 8 years old  in Grade 1 are MALES?    6082.0
How many students  Age 8 years old  in Grade 2 are MALES?    4972.0
How many students  Age 8 years old  in Grade 3 are MALES?    4062.0
How many students  Age 8 years old  in Grade 4 are MALES?    1864.0
How many students  Age 8 years old  in Grade 5 are MALES?     992.0
How many students  Age 8 years old  in Grade 6 are MALES?     549.0
dtype: float64

In [56]:
k_e = kcensus_pri_sex.sum().iloc[48:54]
k_e

How many students   Age 9 years old in Grade 1 are MALES?    5440.0
How many students   Age 9 years old in Grade 2 are MALES?    5081.0
How many students   Age 9 years old in Grade 3 are MALES?    4211.0
How many students   Age 9 years old in Grade 4 are MALES?    3319.0
How many students   Age 9 years old in Grade 5 are MALES?    1903.0
How many students   Age 9 years old in Grade 6 are MALES?     995.0
dtype: float64

In [57]:
k_f = kcensus_pri_sex.sum().iloc[60:66]
k_f

How many students  Age 10 years old in Grade 1 are MALES?    5151.0
How many students  Age 10 years old in Grade 2 are MALES?    4827.0
How many students  Age 10 years old in Grade 3 are MALES?    4570.0
How many students  Age 10 years old in Grade 4 are MALES?    3864.0
How many students  Age 10 years old in Grade 5 are MALES?    3001.0
How many students  Age 10 years old in Grade 6 are MALES?    1451.0
dtype: float64

In [58]:
k_g = kcensus_pri_sex.sum().iloc[72:78]
k_g

How many students   Age 11 years old in Grade 1 are MALES?    3652.0
How many students   Age 11 years old in Grade 2 are MALES?    3971.0
How many students   Age 11 years old in Grade 3 are MALES?    4104.0
How many students   Age 11 years old in Grade 4 are MALES?    3804.0
How many students   Age 11 years old in Grade 5 are MALES?    6428.0
How many students   Age 11 years old in Grade 6 are MALES?    2511.0
dtype: float64

In [59]:
k_h = kcensus_pri_sex.sum().iloc[84:90]
k_i =k_h.append([kcensus_pri_sex.sum().iloc[96:102],kcensus_pri_sex.sum().iloc[108:114],kcensus_pri_sex.sum().iloc[120:126],
            kcensus_pri_sex.sum().iloc[132:138]])
k_pri_male =k_i.append([k_a,k_b,k_c,k_d, k_e, k_f, k_g])
k_pri_male.sum()

203134.0

# Junior High

In [60]:
kcensus_jhs_sex= \
kcensus.iloc[:,448:514].sum()
kcensus_jhs_sex

How many students  below Age 12 years old in Grade 7 are MALES?      936.0
How many students below Age 12 years old in Grade 8 are MALES?      1867.0
How many students below Age 12 years old in Grade 9 are MALES?      3919.0
How many students below Age 12 years old in Grade 7 are FEMALES?    1657.0
How many students below Age 12 years old in Grade 8 are FEMALES?    1164.0
How many students below Age 12 years old in Grade 9 are FEMALES?    1027.0
How many students Age 12 years old in Grade 7 are MALES?            1642.0
How many students Age 12 years old in Grade 8 are MALES?             902.0
How many students Age 12 years old in Grade 9 are MALES?             422.0
How many students Age 12 years old in Grade 7 are FEMALES?          1829.0
How many students Age 12 years old in Grade 8 are FEMALES?           921.0
How many students Age 12 years old in Grade 9 are FEMALES?           418.0
How many students  Age 13 years old in Grade 7 are MALES?           2444.0
How many students  Age 13 years old in Grade 8 are MALES?           1927.0
How many students  Age 13 years old in Grade 9 are MALES?            945.0
How many students  Age 13 years old in Grade 7 are FEMALES?         2295.0
How many students  Age 13 years old in Grade 8 are FEMALES?         1746.0
How many students  Age 13 years old in Grade 9 are FEMALES?          957.0
How many students Age 14 years old in Grade 7 are MALES?            3321.0
How many students Age 14 years old in Grade 8 are MALES?            2582.0
How many students Age 14 years old in Grade 9 are MALES?            1965.0
How many students  Age 14 years old in Grade 7 are FEMALES?         3126.0
How many students  Age 14 years old in Grade 8 are FEMALES?         2293.0
How many students  Age 14 years old in Grade 9 are FEMALES?         1910.0
How many students  Age 15 years old in Grade 7 are MALES?           3684.0
How many students  Age 15 years old in Grade 8 are MALES?           2925.0
How many students  Age 15 years old in Grade 9 are MALES?           2354.0
How many students  age 15 Years old  in Grade 7 are FEMALES?        3039.0
How many students   age 15 Years old  in Grade 8 are FEMALES?       2782.0
How many students  age 15 Years old  in Grade 9 are FEMALES?        2284.0
How many students age 16 Years old  in Grade 7 are MALES?           3370.0
How many students age 16 Years old  in Grade 8 are MALES?           2935.0
How many students age 16 Years old  in Grade 9 are MALES?           2653.0
How many students  above Age 16 in Grade 7 are FEMALES?             2624.0
How many students  above Age 16 in Grade 8 are FEMALES?             2653.0
How many students  above Age 16 in Grade 9 are FEMALES?             2691.0
How many students age 17 in Grade 7 are MALES?                      2486.0
How many students age 17 in Grade 9 are MALES?                      2344.0
How many students age 17 in Grade 8 are MALES?                      2367.0
How many students age 17 in Grade 7 are FEMALES?                    1989.0
How many students age 17 in Grade 8 are FEMALES?                    2220.0
How many students age 17 in Grade 9 are FEMALES?                    2304.0
How many students age 18 in Grade 7 are MALES?                      1808.0
How many students age 18 in Grade 9 are MALES?                      1944.0
How many students age 18 in Grade 8 are MALES?                      1903.0
How many students age 18 in Grade 7 are FEMALES?                    1615.0
How many students age 18 in Grade 8 are FEMALES?                    1675.0
How many students age 18 in Grade 9 are FEMALES?                    1855.0
How many students age 19 in Grade 7 are MALES?                      1199.0
How many students age 19 in Grade 8 are MALES?                      1354.0
How many students age 19 in Grade 9 are MALES?                      1574.0
How many students age 19 in Grade 7 are FEMALES?                     909.0
How many students age 19 in Grade 8 are FEMALES?                    1159.0
How many students age 19 in Grade 9 are FEMALES?                    1351.0
How many students age 20 in Grade 7 are MALES?                       784.0
How many students age 20 in Grade 8 are MALES?                       811.0
How many students age 20 in Grade 9 are MALES?                      1119.0
How many students age 20 in Grade 7 are FEMALES?                     643.0
How many students age 20 in Grade 8 are FEMALES?                     782.0
How many students age 20 in Grade 9 are FEMALES?                    1075.0
How many students above age 20 in Grade 7 that are MALES?            665.0
How many students above age 20 in Grade 8 that are MALES?            794.0
How many students above age 20 in Grade 9 that are MALES?           1263.0
How many students above age 20 in Grade 7 that are FEMALES?          502.0
How many students above age 20 in Grade 8 that are FEMALES?          774.0
How many students above age 20 in Grade 9 that are FEMALES?         1088.0
dtype: float64

In [61]:
k_jhs_male = kcensus_jhs_sex[:3].append([kcensus_jhs_sex[6:9],kcensus_jhs_sex[12:15],kcensus_jhs_sex[18:21],kcensus_jhs_sex[24:27],kcensus_jhs_sex[30:33],
kcensus_jhs_sex[36:39],kcensus_jhs_sex[42:45],kcensus_jhs_sex[48:51],kcensus_jhs_sex[54:57],kcensus_jhs_sex[60:63]])
k_jhs_male.sum()

63208.0

# Senior High School

In [62]:
kcensus_shs_sex = \
kcensus.iloc[:,568:634].sum()
kcensus_shs_sex

How many students below Age 12 years old in Grade 10 are MALES?        95.0
How many students below Age 12 years old in Grade 11 are MALES?        99.0
How many students below Age 12 years old in Grade 12 are MALES?        97.0
How many students below Age 12 years old in Grade 10 are FEMALES?      43.0
How many students below Age 12 years old in Grade 11 are FEMALES?      66.0
How many students below Age 12 years old in Grade 12 are FEMALES?      62.0
How many students Age 12 years old in Grade 10 are MALES?              68.0
How many students Age 12 years old in Grade 11 are MALES?              28.0
How many students Age 12 years old in Grade 12 are MALES?              38.0
How many students Age 12 years old in Grade 10 are FEMALES?            41.0
How many students Age 12 years old in Grade 11 are FEMALES?            25.0
How many students Age 12 years old in Grade 12 are FEMALES?            10.0
How many students  Age 13 years old in Grade 10 are MALES?             66.0
How many students  Age 13 years old in Grade 11 are MALES?             29.0
How many students  Age 13 years old in Grade 12 are MALES?             26.0
How many students  Age 13 years old in Grade 10 are FEMALES?           72.0
How many students  Age 13 years old in Grade 11 are FEMALES?           39.0
How many students  Age 13 years old in Grade 12 are FEMALES?           11.0
How many students  Age 14 years old in Grade 10 are MALES?            595.0
How many students  Age 14 years old in Grade 11 are MALES?            310.0
How many students  Age 14 years old in Grade 12 are MALES?            160.0
How many students  Age 14 years old in Grade 10 are FEMALES?          618.0
How many students  Age 14 years old in Grade 11 are FEMALES?          266.0
How many students  Age 14 years old in Grade 12 are FEMALES?          114.0
How many students  Age 15 years old in Grade 10 are MALES?           1063.0
How many students  Age 15 years old in Grade 11 are MALES?            548.0
How many students  Age 15 years old in Grade 12 are MALES?            232.0
How many students  age 15 Years old  in Grade 10 are FEMALES?        1361.0
How many students  age 15 Years old  in Grade 11 are FEMALES?         640.0
How many students  age 15 Years old  in Grade 12 are FEMALES?         302.0
How many students age 16 Years old  in Grade 10 are MALES?           1941.0
How many students age 16 Years old  in Grade 11 are MALES?           1490.0
How many students age 16 Years old  in Grade 12 are MALES?            666.0
How many students  above Age 16 in Grade 10 are FEMALES?             2305.0
How many students  above Age 16 in Grade 11 are FEMALES?             1875.0
How many students  above Age 16 in Grade 12 are FEMALES?             1222.0
How many students age 17 in Grade 10 are MALES?                      2387.0
How many students age 17 in Grade 11 are MALES?                      1797.0
How many students age 17 in Grade 12 are MALES?                      1372.0
How many students age 17 in Grade 10 are FEMALES?                    2121.0
How many students age 17 in Grade 11 are FEMALES?                    1921.0
How many students age 17 in Grade 12 are FEMALES?                    1390.0
How many students age 18 in Grade 10 are MALES?                      2227.0
How many students age 18 in Grade 11 are MALES?                      2252.0
How many students age 18 in Grade 12 are MALES?                      1788.0
How many students age 18 in Grade 10 are FEMALES?                    2112.0
How many students age 18 in Grade 11 are FEMALES?                    2053.0
How many students age 18 in Grade 12 are FEMALES?                    1921.0
How many students age 19 in Grade 10 are MALES?                      1811.0
How many students age 19 in Grade 11 are MALES?                      1955.0
How many students age 19 in Grade 12 are MALES?                      2267.0
How many students age 19 in Grade 10 are FEMALES?                    1534.0
How many students age 19 in Grade 11 are FEMALES?                    1627.0
How many students age 19 in Grade 12 are FEMALES?                    1889.0
How many students age 20 in Grade 10 are MALES?                      1284.0
How many students age 20 in Grade 11 are MALES?                      1486.0
How many students age 20 in Grade 12 are MALES?                      2044.0
How many students age 20 in Grade 10 are FEMALES?                    1128.0
How many students age 20 in Grade 11 that are FEMALES?               1309.0
How many students age 20 in Grade 12 that are FEMALES?               1867.0
How many students above age 20 in Grade 10 that are MALES?           1436.0
How many students above age 20 in Grade 11 that are MALES?           1704.0
How many students above age 20 in Grade 12 that are MALES?           2408.0
How many students above age 20 in Grade 10 that are FEMALES?         1205.0
How many students above age 20 in Grade 11 that are FEMALES?         1441.0
How many students above age 20 in Grade 12 that are FEMALES?         1957.0
dtype: float64

In [63]:
k_shs_male = kcensus_shs_sex[:3].append([kcensus_shs_sex[6:9],kcensus_shs_sex[12:15],kcensus_shs_sex[18:21],kcensus_shs_sex[24:27],kcensus_shs_sex[30:33],kcensus_shs_sex[36:39],kcensus_shs_sex[42:45],kcensus_shs_sex[48:51],kcensus_shs_sex[54:57],kcensus_shs_sex[60:63]])
k_shs_male.sum()

35769.0

# ALP

In [64]:
kcensus_alp_sex = \
kcensus.iloc[:,692:734].sum()
kcensus_alp_sex

How many students age less than 10 enrolled in Level I of Alternative Education  are MALES?             653.0
How many students age less than 10 enrolled in Level II of Alternative Education  are MALES?            235.0
How many students age less than 10 enrolled in Level III of Alternative Education  are MALES?            37.0
How many students age less than 10 enrolled in Level I of Alternative Education  are FEMALES?           755.0
How many students age less than 10 enrolled in Level II of Alternative Education  are FEMALES?          214.0
How many students age less than 10 enrolled in Level III of Alternative Education  are FEMALES?          63.0
How many students age between 10 to 15  enrolled in Level I of Alternative Education  are MALES?       1339.0
How many students age between 10 to 15  enrolled in Level II of Alternative Education  are MALES?       892.0
How many students age between 10 to 15  enrolled in Level III of Alternative Education  are MALES?      279.0
How many students age between 10 to 15 enrolled in Level I of Alternative Education  are FEMALES?      1206.0
How many students age between 10 to 15 enrolled in Level II of Alternative Education  are FEMALES?      754.0
How many students age between 10 to 15 enrolled in Level III of Alternative Education  are FEMALES?     254.0
How many students age between 15 to 20 enrolled in Level I of Alternative Education  are MALES?         289.0
How many students age between 15 to 20 enrolled in Level II of Alternative Education  are MALES?        330.0
How many students age between 15 to 20 enrolled in Level III of Alternative Education  are MALES?       186.0
How many students age between 15 to 20 enrolled in Level I of Alternative Education  are FEMALES?       287.0
How many students age between 15 to 20 enrolled in Level II of Alternative Education  are FEMALES?      382.0
How many students age between 15 to 20 enrolled in Level III of Alternative Education  are FEMALES?     157.0
How many students age between 20 to 25 enrolled in Level I of Alternative Education  are MALES?          45.0
How many students age between 20 to 25 enrolled in Level II of Alternative Education  are MALES?         48.0
How many students age between 20 to 25 enrolled in Level III of Alternative Education  are MALES?        43.0
How many students age between 20 to 25 enrolled in Level I of Alternative Education  are FEMALES?        43.0
How many students age between 20 to 25 enrolled in Level II of Alternative Education  are FEMALES?       20.0
How many students age between 20 to 25 enrolled in Level III of Alternative Education  are FEMALES?      40.0
How many students age between 25 to 30 enrolled in Level I of Alternative Education  are MALES?          53.0
How many students age between 20 to 25 enrolled in Level II of Alternative Education  are MALES?.1       27.0
How many students age between 25 to 30 enrolled in Level III of Alternative Education  are MALES?        27.0
How many students age between 25 to 30 enrolled in Level I of Alternative Education  are FEMALES?        24.0
How many students age between 25 to 30 enrolled in Level II of Alternative Education  are FEMALES?       15.0
How many students age between 25 to 30 enrolled in Level III of Alternative Education  are FEMALES?      21.0
How many students age between 30 to 35 enrolled in Level I of Alternative Education  are MALES?          12.0
How many students age between 30 to 35 enrolled in Level II of Alternative Education  are MALES?         13.0
How many students age between 30 to 35 enrolled in Level III of Alternative Education  are MALES?         6.0
How many students age between 30 to 35 enrolled in Level I of Alternative Education  are FEMALES?        31.0
How many students age between 30 to 35 enrolled in Level II of Alternative Education  are FE MALES?      10.0
How many students age between 30 to 35 enrolled in Level III of Alternative Education  are FEMALES?      11.0
How many students age greater than  35 enrolled in Level I of Alternative Education  are MALES?           9.0
How many students age greater than  35 enrolled in Level II of Alternative Education  are MALES?          5.0
How many students age greater than  35 enrolled in Level III of Alternative Education  are MALES?         6.0
How many students age greater than  35 enrolled in Level I of Alternative Education  are FEMALES?        13.0
How many students age greater than  35 enrolled in Level II of Alternative Education  are FEMALES?       10.0
How many students age greater than  35 enrolled in Level III of Alternative Education  are FEMALES?       7.0
dtype: float64

In [65]:
k_alp_male = kcensus_alp_sex[:3].append([kcensus_alp_sex[6:9],kcensus_alp_sex[12:15],kcensus_alp_sex[18:21]
                            ,kcensus_alp_sex[24:27],
                            kcensus_alp_sex[30:33],
                            kcensus_alp_sex[36:39]
    
                           ])
k_alp_male.sum()

4534.0

# Student by Ownership and Sex

In [66]:
kcensus_ece_owng =pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,97:133]], axis=1).groupby('Type of school').sum()
kcensus_ece_owngm = kcensus_ece_owng.iloc[:,[0,2,4,6,7,8,9,10,11,12,20,21,22,23,24,25,26,34,35]]
k_eom = kcensus_ece_owngm.sum(1)#.sum()
k_eom

Type of school
Community       4139.0
Faith-based    18356.0
Private        32954.0
Public         55132.0
dtype: float64

In [67]:
kcensus_pri_owng =pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,243:387]], axis=1).groupby('Type of school').sum()
k_pom = kcensus_pri_owng
k_pom

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,84.0,31.0,84.0,18.0,11.0,6.0,72.0,29.0,20.0,25.0,15.0,6.0,180.0,75.0,72.0,30.0,30.0,5.0,138.0,69.0,62.0,30.0,32.0,2.0,269.0,196.0,133.0,57.0,50.0,14.0,291.0,179.0,120.0,59.0,35.0,24.0,253.0,223.0,206.0,86.0,46.0,42.0,236.0,220.0,167.0,76.0,39.0,23.0,221.0,217.0,181.0,170.0,78.0,53.0,159.0,201.0,198.0,122.0,88.0,58.0,151.0,136.0,218.0,169.0,113.0,99.0,168.0,168.0,202.0,165.0,141.0,105.0,122.0,94.0,140.0,162.0,91.0,102.0,120.0,95.0,131.0,143.0,102.0,66.0,106.0,98.0,114.0,131.0,165.0,115.0,95.0,121.0,138.0,133.0,147.0,135.0,102.0,75.0,112.0,127.0,176.0,109.0,73.0,84.0,104.0,132.0,150.0,130.0,32.0,52.0,63.0,105.0,143.0,132.0,11.0,55.0,70.0,106.0,120.0,154.0,29.0,42.0,46.0,73.0,92.0,113.0,34.0,27.0,52.0,71.0,127.0,112.0,23.0,21.0,19.0,53.0,102.0,131.0,19.0,17.0,32.0,41.0,87.0,131.0
Faith-based,279.0,113.0,76.0,36.0,34.0,44.0,346.0,155.0,69.0,49.0,289.0,44.0,1028.0,372.0,142.0,91.0,91.0,58.0,1041.0,463.0,177.0,76.0,76.0,71.0,1185.0,928.0,488.0,217.0,107.0,52.0,1253.0,1085.0,387.0,198.0,92.0,52.0,1113.0,948.0,860.0,397.0,228.0,105.0,1206.0,975.0,1029.0,515.0,213.0,118.0,884.0,933.0,827.0,667.0,311.0,198.0,846.0,851.0,933.0,846.0,378.0,212.0,709.0,801.0,842.0,744.0,693.0,303.0,754.0,862.0,934.0,837.0,708.0,303.0,465.0,624.0,690.0,699.0,700.0,511.0,438.0,672.0,862.0,943.0,833.0,642.0,474.0,604.0,657.0,821.0,785.0,719.0,378.0,563.0,788.0,928.0,867.0,858.0,234.0,315.0,464.0,675.0,785.0,778.0,257.0,311.0,604.0,789.0,828.0,846.0,113.0,183.0,333.0,556.0,671.0,796.0,21.0,165.0,351.0,529.0,747.0,925.0,111.0,115.0,165.0,306.0,481.0,706.0,102.0,114.0,216.0,290.0,582.0,753.0,106.0,116.0,137.0,247.0,402.0,998.0,87.0,102.0,153.0,225.0,370.0,730.0
Private,720.0,447.0,240.0,189.0,122.0,151.0,901.0,455.0,247.0,182.0,167.0,135.0,2293.0,862.0,381.0,192.0,185.0,179.0,2430.0,926.0,501.0,295.0,180.0,167.0,2276.0,2127.0,857.0,486.0,298.0,190.0,2370.0,2153.0,925.0,505.0,299.0,251.0,1870.0,1904.0,1775.0,843.0,483.0,269.0,1916.0,2040.0,1873.0,927.0,575.0,293.0,1508.0,1739.0,1774.0,1496.0,847.0,499.0,1507.0,1756.0,1826.0,1553.0,770.0,404.0,1133.0,1434.0,1561.0,1572.0,1375.0,695.0,1184.0,1377.0,1682.0,1542.0,1466.0,667.0,734.0,915.0,1336.0,1415.0,1294.0,1297.0,727.0,1014.0,1371.0,1545.0,1514.0,1319.0,488.0,668.0,1019.0,1263.0,1529.0,1285.0,475.0,767.0,1079.0,1504.0,1638.0,1350.0,246.0,429.0,714.0,993.0,1334.0,1369.0,275.0,446.0,745.0,1102.0,1389.0,1347.0,170.0,278.0,447.0,620.0,960.0,1308.0,63.0,259.0,492.0,733.0,1110.0,1394.0,124.0,110.0,232.0,398.0,673.0,951.0,133.0,136.0,254.0,451.0,652.0,1018.0,98.0,114.0,179.0,312.0,509.0,923.0,101.0,126.0,175.0,271.0,529.0,887.0
Public,431.0,203.0,193.0,105.0,99.0,152.0,328.0,169.0,71.0,101.0,42.0,2996.0,2405.0,493.0,227.0,104.0,60.0,33.0,1185.0,466.0,160.0,49.0,59.0,50.0,2195.0,1327.0,730.0,212.0,164.0,94.0,1893.0,1164.0,529.0,201.0,86.0,94.0,2846.0,1897.0,1221.0,538.0,235.0,133.0,2415.0,1575.0,1106.0,527.0,178.0,94.0,2827.0,2192.0,1429.0,986.0,667.0,245.0,2389.0,1877.0,1301.0,823.0,362.0,157.0,3158.0,2456.0,1949.0,1379.0,820.0,354.0,2658.0,2166.0,1667.0,1075.0,663.0,311.0,2331.0,2338.0,1938.0,1528.0,4343.0,601.0,2082.0,1949.0,1784.0,1253.0,779.0,412.0,2095.0,2452.0,2286.0,2113.0,1268.0,894.0,1852.0,2186.0,2165.0,1733.0,1142.0,716.0,1428.0,1817.0,2380.0,2197.0,1733.0,1201.0,1163.0,1707.0,2029.0,1940.0,1548.0,1040.0,983.0,1255.0,1879.0,2340.0,2204.0,1794.0,58.0,1150.0,1538.0,2081.0,1973.0,1702.0,625.0,876.0,1368.0,1977.0,2233.0,2225.0,487.0,689.0,1224.0,1624.0,1996.0,1991.0,566.0,746.0,1161.0,1886.0,2565.0,3378.0,468.0,531.0,902.0,1541.0,2030.0,2963.0

In [68]:
k_pom1 = k_pom.iloc[:,:6].append([k_pom.iloc[:,12:18]
                     ,k_pom.iloc[:,24:30]
                    ,k_pom.iloc[:,36:42],
                      k_pom.iloc[:,48:54],k_pom.iloc[:,60:66],k_pom.iloc[:,72:78],
                      k_pom.iloc[:,84:90],k_pom.iloc[:,96:102],k_pom.iloc[:,108:114],
                      k_pom.iloc[:,120:126],k_pom.iloc[:,132:138]
                         ]).groupby('Type of school').sum()
k_pom2 = k_pom1.sum(1)
k_pom2

Type of school
Community       7419.0
Faith-based    34446.0
Private        61706.0
Public         99563.0
dtype: float64

# Junior High by Ownership and Sex

In [69]:
kcensus_jhs_owng =pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,448:514]], axis=1).groupby('Type of school').sum()
k_jom =kcensus_jhs_owng
k_jom.head()

,How many students below Age 12 years old in Grade 7 are MALES?,How many students below Age 12 years old in Grade 8 are MALES?,How many students below Age 12 years old in Grade 9 are MALES?,How many students below Age 12 years old in Grade 7 are FEMALES?,How many students below Age 12 years old in Grade 8 are FEMALES?,How many students below Age 12 years old in Grade 9 are FEMALES?,How many students Age 12 years old in Grade 7 are MALES?,How many students Age 12 years old in Grade 8 are MALES?,How many students Age 12 years old in Grade 9 are MALES?,How many students Age 12 years old in Grade 7 are FEMALES?,How many students Age 12 years old in Grade 8 are FEMALES?,How many students Age 12 years old in Grade 9 are FEMALES?,How many students Age 13 years old in Grade 7 are MALES?,How many students Age 13 years old in Grade 8 are MALES?,How many students Age 13 years old in Grade 9 are MALES?,How many students Age 13 years old in Grade 7 are FEMALES?,How many students Age 13 years old in Grade 8 are FEMALES?,How many students Age 13 years old in Grade 9 are FEMALES?,How many students Age 14 years old in Grade 7 are MALES?,How many students Age 14 years old in Grade 8 are MALES?,How many students Age 14 years old in Grade 9 are MALES?,How many students Age 14 years old in Grade 7 are FEMALES?,How many students Age 14 years old in Grade 8 are FEMALES?,How many students Age 14 years old in Grade 9 are FEMALES?,How many students Age 15 years old in Grade 7 are MALES?,How many students Age 15 years old in Grade 8 are MALES?,How many students Age 15 years old in Grade 9 are MALES?,How many students age 15 Years old in Grade 7 are FEMALES?,How many students age 15 Years old in Grade 8 are FEMALES?,How many students age 15 Years old in Grade 9 are FEMALES?,How many students age 16 Years old in Grade 7 are MALES?,How many students age 16 Years old in Grade 8 are MALES?,How many students age 16 Years old in Grade 9 are MALES?,How many students above Age 16 in Grade 7 are FEMALES?,How many students above Age 16 in Grade 8 are FEMALES?,How many students above Age 16 in Grade 9 are FEMALES?,How many students age 17 in Grade 7 are MALES?,How many students age 17 in Grade 9 are MALES?,How many students age 17 in Grade 8 are MALES?,How many students age 17 in Grade 7 are FEMALES?,How many students age 17 in Grade 8 are FEMALES?,How many students age 17 in Grade 9 are FEMALES?,How many students age 18 in Grade 7 are MALES?,How many students age 18 in Grade 9 are MALES?,How many students age 18 in Grade 8 are MALES?,How many students age 18 in Grade 7 are FEMALES?,How many students age 18 in Grade 8 are FEMALES?,How many students age 18 in Grade 9 are FEMALES?,How many students age 19 in Grade 7 are MALES?,How many students age 19 in Grade 8 are MALES?,How many students age 19 in Grade 9 are MALES?,How many students age 19 in Grade 7 are FEMALES?,How many students age 19 in Grade 8 are FEMALES?,How many students age 19 in Grade 9 are FEMALES?,How many students age 20 in Grade 7 are MALES?,How many students age 20 in Grade 8 are MALES?,How many students age 20 in Grade 9 are MALES?,How many students age 20 in Grade 7 are FEMALES?,How many students age 20 in Grade 8 are FEMALES?,How many students age 20 in Grade 9 are FEMALES?,How many students above age 20 in Grade 7 that are MALES?,How many students above age 20 in Grade 8 that are MALES?,How many students above age 20 in Grade 9 that are MALES?,How many students above age 20 in Grade 7 that are FEMALES?,How many students above age 20 in Grade 8 that are FEMALES?,How many students above age 20 in Grade 9 that are FEMALES?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,5.0,41.0,48.0,36.0,22.0,35.0,25.0,11.0,10.0,20.0,12.0,16.0,64.0,32.0,13.0,22.0,27.0,6.0,99.0,80.0,34.0,100.0,52.0,23.0,116.0,103.0,42.0,94.0,71.0,45.0,71.0,99.0,73.0,70.0,93.0,89.0,62.0,68.0,71.0,76.0,82.0,106.0,70.0,92.0,73.0,72.0,69.0,96.0,75.0,52.0,70.0,53.0,58.0,82.0,29.0,41.0,46.0,28.0,34.0,56.0,18.0,25.0,41.0,20.0,19.0,18.0
Faith-based,272.0,264.0,209.0,498.0,350.0,304.0,513.0,299.0,188.0,514.0,269.0,167.0,727.0,481.0,287.0,713.0,583.0,335.0,785.0,629.0,493.0,752.0,576.0,585.0,872.0,723.0,565.0,812.0,775.0,635.0,671.0,684.0,690.0,627.0,711.0,689.0,539.0,590.0,518.0,409.0,580.0,621.0,275.0,365.0,381.0,335.0,344.0,440.0,138.0,226.0,282.0,117.0,183.0,233.0,119.0,130.0,204.0,98.0,121.0,183.0,113.0,101.0,196.0,69.0,103.0,207.0
Private,466.0,606.0,3444.0,825.0,593.0,514.0,820.0,464.0,167.0,978.0,512.0,180.0,1168.0,1034.0,478.0,1113.0,857.0,427.0,1498.0,1196.0,958.0,1509.0,1157.0,1005.0,1507.0,1281.0,1199.0,1278.0,1317.0,1124.0,1090.0,1099.0,1196.0,966.0,1056.0,1335.0,786.0,869.0,822.0,638.0,775.0,948.0,579.0,629.0,599.0,382.0,555.0,668.0,315.0,382.0,484.0,241.0,299.0,370.0,226.0,183.0,238.0,133.0,173.0,302.0,151.0,139.0,174.0,131.0,160.0,228.0
Public,193.0,956.0,218.0,298.0,199.0,174.0,284.0,128.0,57.0,317.0,128.0,55.0,485.0,380.0,167.0,447.0,279.0,189.0,939.0,677.0,480.0,765.0,508.0,297.0,1189.0,818.0,548.0,855.0,619.0,480.0,1538.0,1053.0,694.0,961.0,793.0,578.0,1099.0,817.0,956.0,866.0,783.0,629.0,884.0,858.0,850.0,826.0,707.0,651.0,671.0,694.0,738.0,498.0,619.0,666.0,410.0,457.0,631.0,384.0,454.0,534.0,383.0,529.0,852.0,282.0,492.0,635.0

In [70]:
k_jom1 =k_jom.iloc[:,:3].append([k_jom.iloc[:,6:9],k_jom.iloc[:,12:15],k_jom.iloc[:,18:21],k_jom.iloc[:,24:27],k_jom.iloc[:,30:33],
k_jom.iloc[:,36:39],k_jom.iloc[:,42:45],k_jom.iloc[:,48:51],k_jom.iloc[:,54:57],k_jom.iloc[:,60:63]
                        ]).groupby('Type of school').sum()
k_jom2 =k_jom1.sum(1)
k_jom2

Type of school
Community       1799.0
Faith-based    13529.0
Private        26247.0
Public         21633.0
dtype: float64

# Senior High by Sex and Ownership

In [71]:
kcensus_shs_owng =pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,568:634]], axis=1).groupby('Type of school').sum()
k_som =kcensus_shs_owng
k_som.head()

,How many students below Age 12 years old in Grade 10 are MALES?,How many students below Age 12 years old in Grade 11 are MALES?,How many students below Age 12 years old in Grade 12 are MALES?,How many students below Age 12 years old in Grade 10 are FEMALES?,How many students below Age 12 years old in Grade 11 are FEMALES?,How many students below Age 12 years old in Grade 12 are FEMALES?,How many students Age 12 years old in Grade 10 are MALES?,How many students Age 12 years old in Grade 11 are MALES?,How many students Age 12 years old in Grade 12 are MALES?,How many students Age 12 years old in Grade 10 are FEMALES?,How many students Age 12 years old in Grade 11 are FEMALES?,How many students Age 12 years old in Grade 12 are FEMALES?,How many students Age 13 years old in Grade 10 are MALES?,How many students Age 13 years old in Grade 11 are MALES?,How many students Age 13 years old in Grade 12 are MALES?,How many students Age 13 years old in Grade 10 are FEMALES?,How many students Age 13 years old in Grade 11 are FEMALES?,How many students Age 13 years old in Grade 12 are FEMALES?,How many students Age 14 years old in Grade 10 are MALES?,How many students Age 14 years old in Grade 11 are MALES?,How many students Age 14 years old in Grade 12 are MALES?,How many students Age 14 years old in Grade 10 are FEMALES?,How many students Age 14 years old in Grade 11 are FEMALES?,How many students Age 14 years old in Grade 12 are FEMALES?,How many students Age 15 years old in Grade 10 are MALES?,How many students Age 15 years old in Grade 11 are MALES?,How many students Age 15 years old in Grade 12 are MALES?,How many students age 15 Years old in Grade 10 are FEMALES?,How many students age 15 Years old in Grade 11 are FEMALES?,How many students age 15 Years old in Grade 12 are FEMALES?,How many students age 16 Years old in Grade 10 are MALES?,How many students age 16 Years old in Grade 11 are MALES?,How many students age 16 Years old in Grade 12 are MALES?,How many students above Age 16 in Grade 10 are FEMALES?,How many students above Age 16 in Grade 11 are FEMALES?,How many students above Age 16 in Grade 12 are FEMALES?,How many students age 17 in Grade 10 are MALES?,How many students age 17 in Grade 11 are MALES?,How many students age 17 in Grade 12 are MALES?,How many students age 17 in Grade 10 are FEMALES?,How many students age 17 in Grade 11 are FEMALES?,How many students age 17 in Grade 12 are FEMALES?,How many students age 18 in Grade 10 are MALES?,How many students age 18 in Grade 11 are MALES?,How many students age 18 in Grade 12 are MALES?,How many students age 18 in Grade 10 are FEMALES?,How many students age 18 in Grade 11 are FEMALES?,How many students age 18 in Grade 12 are FEMALES?,How many students age 19 in Grade 10 are MALES?,How many students age 19 in Grade 11 are MALES?,How many students age 19 in Grade 12 are MALES?,How many students age 19 in Grade 10 are FEMALES?,How many students age 19 in Grade 11 are FEMALES?,How many students age 19 in Grade 12 are FEMALES?,How many students age 20 in Grade 10 are MALES?,How many students age 20 in Grade 11 are MALES?,How many students age 20 in Grade 12 are MALES?,How many students age 20 in Grade 10 are FEMALES?,How many students age 20 in Grade 11 that are FEMALES?,How many students age 20 in Grade 12 that are FEMALES?,How many students above age 20 in Grade 10 that are MALES?,How many students above age 20 in Grade 11 that are MALES?,How many students above age 20 in Grade 12 that are MALES?,How many students above age 20 in Grade 10 that are FEMALES?,How many students above age 20 in Grade 11 that are FEMALES?,How many students above age 20 in Grade 12 that are FEMALES?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,8.0,5.0,0.0,0.0,20.0,2.0,1.0,15.0,3.0,1.0,24.0,6.0,5.0,25.0,8.0,4.0,70.0,11.0,18.0,29.0,17.0,8.0,51.0,70.0,25.0,46.0,43.0,14.0,72.0,47.0,15.0,27.0,22.0,13.0,38.0,26.0,32.0,18.0,9.0,37.0,43.0,20.0,20.0,20.0,13.0,16.0
Faith-based,46.0,35.0,32.0,14.0,21.0,2.0,40.0,17.0,8.0,30.0,19.0,1.0,38.0,21.0,3.0,29.0,15.0,8.0,297.0,188.0,83.0,308.0,123.0,62.0,325.0,193.0,82.0,457.0,241.0,107.0,517.0,522.0,203.0,697.0,510.0,266.0,656.0,541.0,437.0,665.0,675.0,472.0,527.0,653.0,527.0,630.0,619.0,630.0,416.0,440.0,597.0,372.0,442.0,505.0,244.0,293.0,445.0,278.0,336.0,509.0,267.0,340.0,472.0,240.0,278.0,465.0
Private,3.0,19.0,21.0,0.0,0.0,8.0,8.0,0.0,20.0,3.0,0.0,0.0,12.0,0.0,0.0,27.0,8.0,0.0,238.0,103.0,55.0,271.0,134.0,47.0,501.0,262.0,127.0,671.0,316.0,177.0,958.0,721.0,352.0,1222.0,989.0,543.0,1126.0,960.0,677.0,1003.0,884.0,695.0,1041.0,993.0,863.0,928.0,912.0,947.0,712.0,862.0,1064.0,641.0,744.0,883.0,393.0,564.0,911.0,349.0,517.0,837.0,296.0,499.0,816.0,254.0,433.0,628.0
Public,45.0,45.0,44.0,29.0,45.0,52.0,19.0,10.0,10.0,8.0,6.0,9.0,16.0,8.0,23.0,16.0,16.0,3.0,57.0,19.0,14.0,34.0,9.0,5.0,217.0,91.0,22.0,218.0,80.0,17.0,442.0,241.0,106.0,361.0,368.0,409.0,535.0,285.0,240.0,424.0,345.0,215.0,608.0,536.0,373.0,508.0,479.0,330.0,611.0,606.0,591.0,494.0,419.0,488.0,609.0,603.0,656.0,483.0,447.0,484.0,830.0,845.0,1100.0,691.0,717.0,848.0

In [72]:
k_som1 = k_som.iloc[:,:3].append([k_som.iloc[:,6:9],k_som.iloc[:,12:15],k_som.iloc[:,18:21],k_som.iloc[:,24:27],k_som.iloc[:,30:33],
k_som.iloc[:,36:39],k_som.iloc[:,42:45],k_som.iloc[:,48:51],k_som.iloc[:,54:57],k_som.iloc[:,60:63]
                        ]).groupby('Type of school').sum()
k_som2 =k_som1.sum(1)
k_som2

Type of school
Community        630.0
Faith-based     9505.0
Private        15177.0
Public         10457.0
dtype: float64

# ALP Students by Sex and Ownership

In [73]:
kcensus_alp_owng =pd.concat([kcensus.iloc[:,[39]], kcensus.iloc[:,692:734]], axis=1).groupby('Type of school').sum()
k_alp =kcensus_alp_owng
k_alp.head()

,How many students age less than 10 enrolled in Level I of Alternative Education are MALES?,How many students age less than 10 enrolled in Level II of Alternative Education are MALES?,How many students age less than 10 enrolled in Level III of Alternative Education are MALES?,How many students age less than 10 enrolled in Level I of Alternative Education are FEMALES?,How many students age less than 10 enrolled in Level II of Alternative Education are FEMALES?,How many students age less than 10 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 10 to 15 enrolled in Level I of Alternative Education are MALES?,How many students age between 10 to 15 enrolled in Level II of Alternative Education are MALES?,How many students age between 10 to 15 enrolled in Level III of Alternative Education are MALES?,How many students age between 10 to 15 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 10 to 15 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 10 to 15 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 15 to 20 enrolled in Level I of Alternative Education are MALES?,How many students age between 15 to 20 enrolled in Level II of Alternative Education are MALES?,How many students age between 15 to 20 enrolled in Level III of Alternative Education are MALES?,How many students age between 15 to 20 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 15 to 20 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 15 to 20 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 20 to 25 enrolled in Level I of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level II of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level III of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 20 to 25 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 20 to 25 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 25 to 30 enrolled in Level I of Alternative Education are MALES?,How many students age between 20 to 25 enrolled in Level II of Alternative Education are MALES?.1,How many students age between 25 to 30 enrolled in Level III of Alternative Education are MALES?,How many students age between 25 to 30 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 25 to 30 enrolled in Level II of Alternative Education are FEMALES?,How many students age between 25 to 30 enrolled in Level III of Alternative Education are FEMALES?,How many students age between 30 to 35 enrolled in Level I of Alternative Education are MALES?,How many students age between 30 to 35 enrolled in Level II of Alternative Education are MALES?,How many students age between 30 to 35 enrolled in Level III of Alternative Education are MALES?,How many students age between 30 to 35 enrolled in Level I of Alternative Education are FEMALES?,How many students age between 30 to 35 enrolled in Level II of Alternative Education are FE MALES?,How many students age between 30 to 35 enrolled in Level III of Alternative Education are FEMALES?,How many students age greater than 35 enrolled in Level I of Alternative Education are MALES?,How many students age greater than 35 enrolled in Level II of Alternative Education are MALES?,How many students age greater than 35 enrolled in Level III of Alternative Education are MALES?,How many students age greater than 35 enrolled in Level I of Alternative Education are FEMALES?,How many students age greater than 35 enrolled in Level II of Alternative Education are FEMALES?,How many students age greater than 35 enrolled in Level III of Alternative Education are FEMALES?
Type of school,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Community,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,5.0,1.0,2.0,16.0,6.0,1.0,6.0,4.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Faith-based,19.0,10.0,6.0,20.0,11.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
Private,66.0,22.0,10.0,93.0,24.0,15.0,89.0,131.0,101.0,89.0,142.0,94.0,3.0,99.0,83.0,42.0,154.0,61.0,0.0,0.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Public,568.0,203.0,21.0,642.0,179.0,41.0,1250.0,760.0,178.0,1117.0,612.0,160.0,286.0,230.0,103.0,243.0,226.0,96.0,45.0,47.0,36.0,36.0,19.0,38.0,37.0,21.0,26.0,18.0,11.0,20.0,12.0,13.0,6.0,27.0,10.0,9.0,9.0,5.0,6.0,13.0,10.0,7.0

In [74]:
k_alp1 =k_alp.iloc[:,:3].append([k_alp.iloc[:,6:9],k_alp.iloc[:,12:15],k_alp.iloc[:,18:21],k_alp.iloc[:,24:27],k_alp.iloc[:,30:33],
k_alp.iloc[:,36:39]]).groupby('Type of school').sum()
k_alp2 =k_alp1.sum(1)
k_alp2

Type of school
Community        27.0
Faith-based      35.0
Private         610.0
Public         3862.0
dtype: float64

# Number of Students by Sex
## Nursery

In [75]:
k_es = kcensus.iloc[:,97:133]
k_es. head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0

In [76]:
k_nur =k_es.iloc[:,:2].append([k_es.iloc[:,6:20]
                        #,k_alp.iloc[:,12:15],k_alp.iloc[:,18:21],k_alp.iloc[:,24:27],k_alp.iloc[:,30:33],
#k_alp.iloc[:,36:39]
                       ])
k_nur.sum().sum()

123425.0

In [77]:
k_nur_male =k_nur.iloc[:,[0,2,3,4,5,6,7,8]]
k_nur_male.sum().sum()

62392.0

# Pre-Primary

In [78]:
k_es. head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0

In [79]:
k_pk =kcensus.iloc[:,97:133].iloc[:,[2,3,20,21,22,23,24,25,26,27,28,29,30,31,32,33]]
k_pk.sum().sum()

82546.0

In [80]:
k_pk.head()

,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0
2,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0
3,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0

In [81]:
k_pk_m =k_pk.iloc[:,[0,2,3,4,5,6,7,8]]
k_pk_m.sum().sum()

41719.0

In [82]:
k_es.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0
3,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0

In [83]:
k_ek =k_es.iloc[:,[4,5,34,35]]
k_ek.sum().sum()

7349.0

In [84]:
k_ek.head()

,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,3.0
3,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0

In [85]:
k_ek_m =k_ek.iloc[:,[0,2,3]]
k_ek_m.sum().sum()

6470.0

In [86]:
kcensus.iloc[:,97:133].sum().sum()


#kcensus_ece_male

213320.0

In [87]:
knur_1=kcensus.iloc[:,97:103].iloc[:,[0,1]]
knur_m = knur_1.iloc[:,[0]].sum()
knur_m

How many MALE students below AGE 3 YEARS OLD are in Nursery?    5380.0
dtype: float64

In [88]:
#knur_2 = 
kcensus.iloc[:,103:110].head()

,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,2.0,2.0,3.0,3.0,8.0,10.0
2,2.0,1.0,1.0,1.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,3.0,1.0,0.0,0.0,0.0,0.0

In [89]:
#knur_3 =
kcensus.iloc[:,117:124].head()

,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2.0,3.0,2.0,0.0,2.0,2.0
2,1.0,2.0,0.0,1.0,0.0,0.0,0.0
3,30.0,20.0,NaN,NaN,NaN,NaN,NaN
4,4.0,1.0,3.0,0.0,0.0,0.0,0.0

In [90]:
#knur_4 = 
kcensus.iloc[:,131:133].head()

,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN
1,0.0,2.0
2,0.0,3.0
3,NaN,NaN
4,0.0,0.0

In [91]:
kcensus_m1.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?
Type of school,,,,,,
Community,173.0,178.0,26.0,35.0,1.0,27.0
Faith-based,1310.0,1468.0,234.0,318.0,196.0,171.0
Private,2566.0,3134.0,536.0,493.0,279.0,361.0
Public,1331.0,1388.0,631.0,541.0,288.0,320.0

In [92]:
kece_1 = kcensus.iloc[:,97:103]
kece_1.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0
3,12.0,13.0,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0

In [93]:
kece_2 =kcensus.iloc[:,103:110]
kece_2.head()

,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,2.0,2.0,3.0,3.0,8.0,10.0
2,2.0,1.0,1.0,1.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,3.0,1.0,0.0,0.0,0.0,0.0

In [94]:
kece_3 = kcensus.iloc[:,117:124]
kece_3.head()

,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2.0,3.0,2.0,0.0,2.0,2.0
2,1.0,2.0,0.0,1.0,0.0,0.0,0.0
3,30.0,20.0,NaN,NaN,NaN,NaN,NaN
4,4.0,1.0,3.0,0.0,0.0,0.0,0.0

In [95]:
kece_4 = kcensus.iloc[:,131:133]
kece_4.head()

,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN
1,0.0,2.0
2,0.0,3.0
3,NaN,NaN
4,0.0,0.0

In [96]:
knu1 = kece_1.iloc[:,[0,1]]
knu1_m = knu1.iloc[:,[0]]
knu1_f = knu1.iloc[:,[1]]
knu1_sum = knu1.sum().sum()
knu1_sum

11548.0

In [97]:
knu2_m =kece_2
knu2_m_sum =knu2_m.sum().sum()
knu2_m_sum

57012.0

In [98]:
kece_4.head()

,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?
0,NaN,NaN
1,0.0,2.0
2,0.0,3.0
3,NaN,NaN
4,0.0,0.0

In [99]:
knu2_f = kcensus.iloc[:,110:117]
knu2_f_sum = knu2_f.sum()
knu2_f_sum

How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          12194.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          12828.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          10736.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?           7835.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?           5156.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?           3233.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?     2883.0
dtype: float64

In [100]:
knu = knu1_sum + knu2_m_sum +knu2_f_sum
knu

How many FEMALE students  AGE 3 YEARS OLD are in Nursery?          80754.0
How many FEMALE students  AGE 4 YEARS OLD are in Nursery?          81388.0
How many FEMALE students  AGE 5 YEARS OLD are in Nursery?          79296.0
How many FEMALE students  AGE 6 YEARS OLD are in Nursery?          76395.0
How many FEMALE students  AGE 7 YEARS OLD are in Nursery?          73716.0
How many FEMALE students  AGE 8 YEARS OLD are in Nursery?          71793.0
How many FEMALE students  above AGE 8 YEARS OLD are in Nursery?    71443.0
dtype: float64

In [101]:
knu1_m.sum() +knu2_m_sum

How many MALE students below AGE 3 YEARS OLD are in Nursery?    62392.0
dtype: float64

In [102]:
 
kece_1.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0
3,12.0,13.0,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0

In [103]:
kpk_1 =kece_1.iloc[:,2:4]
kpk1_sum = kpk_1.sum().sum()
kpk1_sum

2814.0

In [104]:
kece_3.head()

,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2.0,3.0,2.0,0.0,2.0,2.0
2,1.0,2.0,0.0,1.0,0.0,0.0,0.0
3,30.0,20.0,NaN,NaN,NaN,NaN,NaN
4,4.0,1.0,3.0,0.0,0.0,0.0,0.0

In [105]:
kpk_2_m = kece_3
kpk_2_m_sum = kpk_2_m.sum().sum()
kpk_2_m_sum

40292.0

In [106]:
kpk_f = kcensus.iloc[:,124:131]
kpk_2_f_sum = kpk_f.sum().sum()
kpk_2_f_sum

39440.0

In [107]:
kpk1_sum +kpk_2_m_sum + kpk_2_f_sum

82546.0

In [108]:
kpk_1_m =kece_1.iloc[:,2:4].iloc[:,0]
kpk_1_m_sum = kpk_1_m.sum()
kpk_1_m_sum + kpk_2_m_sum

41719.0

In [109]:
kece_1.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?
0,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0
3,12.0,13.0,NaN,NaN,NaN,NaN
4,5.0,10.0,0.0,0.0,0.0,0.0

In [110]:
kk_1 = kece_1.iloc[:,-2:]
kk_1_sum = kk_1.sum().sum()
kk_1_sum

1643.0

In [111]:
kk_m = kece_4
kk_m_sum = kk_m.sum().sum()
kk_m_sum

5706.0

In [112]:
kk_f = kcensus.iloc[:,133:138]
kk_f_sum = kk_f.sum().sum()
kk_f_sum

41587.0

In [113]:
kk_1_sum + kk_m_sum + kk_f_sum

48936.0

In [114]:
kk_1_m = kece_1.iloc[:,-2:].iloc[:,0]
kk_1_m_sum =kk_1_m.sum()
kk_1_m_sum

764.0

In [115]:
kk_m = kece_4
kk_m_sum = kk_m.sum().sum()
kk_m_sum

5706.0

In [116]:
kk_1_m_sum + kk_m_sum

6470.0

# Students by ECE and County

In [117]:
kcensus_ece_county=kcensus.iloc[:,[2,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,
                121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137]]
kcensus_ece_county1 =kcensus_ece_county.groupby('County').sum()
kcensus_ece_county1.head()

,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
County,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,62.0,69.0,10.0,0.0,0.0,0.0,327.0,444.0,367.0,180.0,107.0,42.0,62.0,345.0,363.0,292.0,192.0,79.0,43.0,37.0,44.0,153.0,203.0,173.0,86.0,73.0,56.0,38.0,119.0,167.0,160.0,75.0,60.0,52.0,15.0,116.0,144.0,137.0,146.0,137.0,124.0
Bong,264.0,299.0,84.0,53.0,34.0,43.0,629.0,968.0,1147.0,958.0,755.0,578.0,529.0,588.0,1001.0,1030.0,891.0,606.0,459.0,421.0,167.0,354.0,458.0,595.0,534.0,420.0,474.0,153.0,337.0,428.0,532.0,495.0,395.0,488.0,125.0,249.0,381.0,428.0,1261.0,444.0,657.0
Gbarpolu,45.0,45.0,27.0,11.0,10.0,14.0,312.0,450.0,449.0,368.0,303.0,173.0,113.0,293.0,415.0,420.0,411.0,291.0,150.0,139.0,54.0,126.0,196.0,309.0,233.0,141.0,132.0,53.0,107.0,133.0,261.0,208.0,148.0,146.0,32.0,58.0,101.0,135.0,225.0,210.0,237.0
Grand Bassa,48.0,46.0,43.0,58.0,23.0,6.0,331.0,437.0,484.0,389.0,299.0,191.0,152.0,328.0,446.0,407.0,358.0,240.0,204.0,158.0,71.0,197.0,431.0,460.0,441.0,293.0,367.0,64.0,187.0,419.0,403.0,446.0,410.0,272.0,61.0,268.0,274.0,468.0,512.0,430.0,529.0
Grand Cape Mount,230.0,245.0,121.0,68.0,32.0,23.0,718.0,715.0,679.0,501.0,287.0,127.0,103.0,670.0,679.0,620.0,495.0,326.0,195.0,89.0,177.0,288.0,347.0,358.0,270.0,162.0,148.0,209.0,266.0,342.0,371.0,295.0,196.0,144.0,70.0,173.0,260.0,361.0,356.0,265.0,247.0

In [118]:
kece_county_nur = kcensus_ece_county1.iloc[:,[0,1,6,7,8,9,10,11,12,13,14,15,16,17,18,19]]
kece_county_nur.groupby('County').sum().sum(1).sum()

123425.0

In [119]:
kcensus_ece_county.head()

,County,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,River Gee,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,Montserrado 1,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,Montserrado 1,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [120]:
kece_county_pk=kcensus_ece_county.iloc[:,[0,3,4, 21, 22,23,24,25,26,27,28,29,30,31,32,33,34]]
kece_county_pk.groupby('County').sum().sum(1).sum()

82546.0

In [121]:
kcensus_ece_county.head()

,County,How many MALE students below AGE 3 YEARS OLD are in Nursery?,How many FEMALE students below AGE 3 YEARS OLD are in Nursery?,How many MALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Pre-kindergarten?,How many MALE students below AGE 3 YEARS OLD are in Kindergarten?,How many FEMALE students below AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Nursery?,How many MALE students AGE 4 YEARS OLD are in Nursery?,How many MALE students AGE 5 YEARS OLD are in Nursery?,How many MALE students AGE 6 YEARS OLD are in Nursery?,How many MALE students AGE 7 YEARS OLD are in Nursery?,How many MALE students AGE 8 YEARS OLD are in Nursery?,How many MALE students Above AGE 8 YEARS OLD are in Nursery?,How many FEMALE students AGE 3 YEARS OLD are in Nursery?,How many FEMALE students AGE 4 YEARS OLD are in Nursery?,How many FEMALE students AGE 5 YEARS OLD are in Nursery?,How many FEMALE students AGE 6 YEARS OLD are in Nursery?,How many FEMALE students AGE 7 YEARS OLD are in Nursery?,How many FEMALE students AGE 8 YEARS OLD are in Nursery?,How many FEMALE students above AGE 8 YEARS OLD are in Nursery?,How many MALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 3 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 4 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Pre-Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Pre-Kindergarten?,How many MALE students AGE 3 YEARS OLD are in Kindergarten?,How many MALE students AGE 4 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 5 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 6 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 7 YEARS OLD are in Kindergarten?,How many FEMALE students AGE 8 YEARS OLD are in Kindergarten?,How many FEMALE students above AGE 8 YEARS OLD are in Kindergarten?
0,Rivercess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nimba,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,2.0,3.0,3.0,8.0,10.0,2.0,1.0,3.0,2.0,4.0,3.0,5.0,1.0,2.0,3.0,2.0,0.0,2.0,2.0,0.0,2.0,2.0,4.0,5.0,2.0,5.0,0.0,2.0,1.0,1.0,5.0,6.0,2.0
2,River Gee,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0,0.0
3,Montserrado 1,12.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,20.0,NaN,NaN,NaN,NaN,NaN,20.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,2.0,NaN,NaN,10.0
4,Montserrado 1,5.0,10.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0,5.0,5.0,0.0

In [122]:
kece_county_k=kcensus_ece_county.iloc[:,[0,5,6,35,36,37,38,39,40,41]]
kece_county_k.groupby('County').sum().sum(1).sum()

48936.0

# Primary Students by Grade and Sex
## Grade 1

In [123]:
kcensus.iloc[:,243:387].head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,2.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,4.0,2.0,2.0,3.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,6.0,5.0,8.0,NaN,NaN,NaN,6.0,7.0,8.0,NaN,NaN,NaN,5.0,5.0,8.0,4.0,NaN,NaN,5.0,7.0,3.0,4.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,4.0,1.0,10.0,NaN,NaN,NaN,NaN,4.0,5.0,NaN,2.0,NaN,2.0,12.0,5.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,10.0,NaN,NaN,NaN,4.0,10.0,10.0,NaN,NaN,NaN,4.0,10.0,12.0,NaN,NaN,NaN,NaN,3.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
kp_g1 = kcensus.iloc[:,243:387].sum()[::6]
kp_g1

How many students  below Age 6 in Grade 1 are MALES?               1514.0
How many students  below Age 6 in Grade 1 are FEMALES?             1647.0
How many students  Age 6 years old in Grade 1 are MALES?           5906.0
How many students  Age 6 years old in Grade 1 are FEMALES?         4794.0
How many students  Age 7 years old in Grade 1 are MALES?           5925.0
How many students  Age 7 years old in Grade 1 are FEMALES?         5807.0
How many students  Age 8 years old  in Grade 1 are MALES?          6082.0
How many students  Age 8 years old  in Grade 1 are FEMALES?        5773.0
How many students   Age 9 years old in Grade 1 are MALES?          5440.0
How many students  Age 9 years old in Grade 1 are FEMALES?         4901.0
How many students  Age 10 years old in Grade 1 are MALES?          5151.0
How many students  Age 10 years old in Grade 1 are FEMALES?        4764.0
How many students   Age 11 years old in Grade 1 are MALES?         3652.0
How many students   Age 11 years old in Grade 1 are FEMALES?       3367.0
How many students  Age 12 years old in Grade 1 are MALES?          3163.0
How many students  Age 12 years old in Grade 1 are FEMALES?        2800.0
How many students  Age 13 years old in Grade 1 are MALES?          2010.0
How many students  Age 13 years old in Grade 1 are FEMALES?        1768.0
How many students Age 14 years old in Grade 1 are MALES?           1298.0
How many students  Age 14 years old in Grade 1 are FEMALES?         153.0
How many students  Age 15 years old in Grade 1 are MALES?           889.0
How many students  Age 15 years old in Grade 1 are FEMALES?         756.0
How many students above age 15 Years old  in Grade 1 are MALES?     793.0
How many students  above Age 15 in Grade 1 are FEMALES?             675.0
dtype: float64

In [125]:
#kp_g1_m =
kp_g1[::2].sum()

41823.0

In [126]:
kp_g1.sum()

79028.0

# Grade 2

In [127]:
kp_g2 = kcensus.iloc[:,243:387].sum()[1::6]
kp_g2

How many students  below Age 6 in Grade 2 are MALES?                794.0
How many students  below Age 6 in Grade 2 are FEMALES?              808.0
How many students  Age 6 years old in Grade 2 are MALES?           1802.0
How many students  Age 6 years old in Grade 2 are FEMALES?         1924.0
How many students  Age 7 years old in Grade 2 are MALES?           4578.0
How many students  Age 7 years old in Grade 2 are FEMALES?         4581.0
How many students  Age 8 years old  in Grade 2 are MALES?          4972.0
How many students  Age 8 years old  in Grade 2 are FEMALES?        4810.0
How many students   Age 9 years old in Grade 2 are MALES?          5081.0
How many students  Age 9 years old in Grade 2 are FEMALES?         4685.0
How many students  Age 10 years old in Grade 2 are MALES?          4827.0
How many students  Age 10 years old in Grade 2 are FEMALES?        4573.0
How many students   Age 11 years old in Grade 2 are MALES?         3971.0
How many students   Age 11 years old in Grade 2 are FEMALES?       3730.0
How many students  Age 12 years old in Grade 2 are MALES?          3822.0
How many students  Age 12 years old in Grade 2 are FEMALES?        3637.0
How many students  Age 13 years old in Grade 2 are MALES?          2636.0
How many students  Age 13 years old in Grade 2 are FEMALES?        2548.0
How many students Age 14 years old in Grade 2 are MALES?           1768.0
How many students  Age 14 years old in Grade 2 are FEMALES?        1629.0
How many students  Age 15 years old in Grade 2 are MALES?          1143.0
How many students  Age 15 years old in Grade 2 are FEMALES?         966.0
How many students above age 15 Years old  in Grade 2 are MALES?     997.0
How many students  above Age 15 in Grade 2 are FEMALES?             776.0
dtype: float64

In [128]:
kp_g2_m = kp_g2[::2]
kp_g2_m.sum()

36391.0

# Grade 3

In [129]:
kp_g3 = kcensus.iloc[:,243:387].sum()[2::6]
kp_g3

How many students  below Age 6 in Grade 3 are MALES?                593.0
How many students  below Age 6 in Grade 3 are FEMALES?              407.0
How many students  Age 6 years old in Grade 3 are MALES?            822.0
How many students  Age 6 years old in Grade 3 are FEMALES?          900.0
How many students  Age 7 years old in Grade 3 are MALES?           2208.0
How many students  Age 7 years old in Grade 3 are FEMALES?         1961.0
How many students  Age 8 years old  in Grade 3 are MALES?          4062.0
How many students  Age 8 years old  in Grade 3 are FEMALES?        4175.0
How many students   Age 9 years old in Grade 3 are MALES?          4211.0
How many students  Age 9 years old in Grade 3 are FEMALES?         4258.0
How many students  Age 10 years old in Grade 3 are MALES?          4570.0
How many students   Age 10 years old in Grade 3 are FEMALES?       4485.0
How many students   Age 11 years old in Grade 3 are MALES?         4104.0
How many students   Age 11 years old in Grade 3 are FEMALES?       4148.0
How many students  Age 12 years old in Grade 3 are MALES?          4076.0
How many students  Age 12 years old in Grade 3 are FEMALES?        4170.0
How many students  Age 13 years old in Grade 3 are MALES?          3670.0
How many students  Age 13 years old in Grade 3 are FEMALES?        3482.0
How many students Age 14 years old in Grade 3 are MALES?           2722.0
How many students  Age 14 years old in Grade 3 are FEMALES?        2451.0
How many students  Age 15 years old in Grade 3 are MALES?          1811.0
How many students  Age 15 years old in Grade 3 are FEMALES?        1746.0
How many students above age 15 Years old  in Grade 3 are MALES?    1496.0
How many students  above Age 15 in Grade 3 are FEMALES?            1262.0
dtype: float64

In [130]:
kp_g3_m = kp_g3[::2]
kp_g3_m.sum()

34345.0

# Grade 4

In [131]:
kp_g4 = kcensus.iloc[:,243:387].sum()[3::6]
kp_g4

How many students  below Age 6 in Grade 4 are MALES?                348.0
How many students  below Age 6 in Grade 4 are FEMALES?              357.0
How many students  Age 6 years old in Grade 4 are MALES?            417.0
How many students  Age 6 years old in Grade 4 are FEMALES?          450.0
How many students  Age 7 years old in Grade 4 are MALES?            972.0
How many students  Age 7 years old in Grade 4 are FEMALES?          963.0
How many students  Age 8 years old  in Grade 4 are MALES?          1864.0
How many students  Age 8 years old  in Grade 4 are FEMALES?        2045.0
How many students   Age 9 years old in Grade 4 are MALES?          3319.0
How many students  Age 9 years old in Grade 4 are FEMALES?         3344.0
How many students  Age 10 years old in Grade 4 are MALES?          3864.0
How many students   Age 10 years old in Grade 4 are FEMALES?       3619.0
How many students   Age 11 years old in Grade 4 are MALES?         3804.0
How many students   Age 11 years old in Grade 4 are FEMALES?       3884.0
How many students  Age 12 years old in Grade 4 are MALES?          4328.0
How many students   12 years old in Grade 4 are FEMALES?           4298.0
How many students  Age 13 years old in Grade 4 are MALES?          3992.0
How many students  Age 13 years old in Grade 4 are FEMALES?        3963.0
How many students Age 14 years old in Grade 4 are MALES?           3621.0
How many students  Age 14 years old in Grade 4 are FEMALES?        3449.0
How many students  Age 15 years old in Grade 4 are MALES?          2754.0
How many students  Age 15 years old in Grade 4 are FEMALES?        2436.0
How many students above age 15 Years old  in Grade 4 are MALES?    2498.0
How many students  above Age 15 in Grade 4 are FEMALES?            2078.0
dtype: float64

In [132]:
kp_g4_m = kp_g4[::2]
kp_g4_m.sum()

31781.0

# Grade 5

In [133]:
kp_g5 = kcensus.iloc[:,243:387].sum()[4::6]
kp_g5

How many students  below Age 6 in Grade 5 are MALES?                266.0
How many students  below Age 6 in Grade 5 are FEMALES?              513.0
How many students  Age 6 years old in Grade 5 are MALES?            366.0
How many students  Age 6 years old in Grade 5 are FEMALES?          347.0
How many students  Age 7 years old in Grade 5 are MALES?            619.0
How many students  Age 7 years old in Grade 5 are FEMALES?          512.0
How many students  Age 8 years old  in Grade 5 are MALES?           992.0
How many students  Age 8 years old  in Grade 5 are FEMALES?        1005.0
How many students   Age 9 years old in Grade 5 are MALES?          1903.0
How many students  Age 9 years old in Grade 5 are FEMALES?         1598.0
How many students  Age 10 years old in Grade 5 are MALES?          3001.0
How many students   Age 10 years old in Grade 5 are FEMALES?       2978.0
How many students   Age 11 years old in Grade 5 are MALES?         6428.0
How many students   Age 11 years old in Grade 5 are FEMALES?       3228.0
How many students  Age 12 years old in Grade 5 are MALES?          3747.0
How many students  Age 12 years old in Grade 5 are FEMALES?        3794.0
How many students  Age 13 years old in Grade 5 are MALES?          4028.0
How many students  Age 13 years old in Grade 5 are FEMALES?        3915.0
How many students Age 14 years old in Grade 5 are MALES?           3978.0
How many students  Age 14 years old in Grade 5 are FEMALES?        3950.0
How many students  Age 15 years old in Grade 5 are MALES?          3479.0
How many students  age 15 Years old  in Grade 5 are FEMALES?       3357.0
How many students above age 15 Years old  in Grade 5 are MALES?    3578.0
How many students  above Age 15 in Grade 5 are FEMALES?            3016.0
dtype: float64

In [134]:
kp_g5_m = kp_g5[::2]
kp_g5_m.sum()

32385.0

# Grade 6

In [135]:
kp_g6 = kcensus.iloc[:,243:387].sum()[5::6]
kp_g6

How many students  below Age 6 in Grade 6 are MALES?                353.0
How many students  below Age 6 in Grade 6 are FEMALES?             3181.0
How many students  Age 6 years old in Grade 6 are MALES?            275.0
How many students  Age 6 years old in Grade 6 are FEMALES?          290.0
How many students  Age 7 years old in Grade 6 are MALES?            350.0
How many students  Age 7 years old in Grade 6 are FEMALES?          421.0
How many students  Age 8 years old  in Grade 6 are MALES?           549.0
How many students  Age 8 years old  in Grade 6 are FEMALES?         528.0
How many students   Age 9 years old in Grade 6 are MALES?           995.0
How many students  Age 9 years old in Grade 6 are FEMALES?          831.0
How many students  Age 10 years old in Grade 6 are MALES?          1451.0
How many students   Age 10 years old in Grade 6 are FEMALES?       1386.0
How many students   Age 11 years old in Grade 6 are MALES?         2511.0
How many students   Age 11 years old in Grade 6 are FEMALES?       2439.0
How many students  Age 12 years old in Grade 6 are MALES?          3013.0
How many students  Age 12 years old in Grade 6 are FEMALES?        3059.0
How many students  Age 13 years old in Grade 6 are MALES?          3457.0
How many students  Age 13 years old in Grade 6 are FEMALES?        3363.0
How many students Age 14 years old in Grade 6 are MALES?           4030.0
How many students  Age 14 years old in Grade 6 are FEMALES?        4175.0
How many students  Age 15 years old in Grade 6 are MALES?          3995.0
How many students  age 15 Years old  in Grade 6 are FEMALES?       3874.0
How many students above age 15 Years old  in Grade 6 are MALES?    5430.0
How many students  above Age 15 in Grade 6 are FEMALES?            4711.0
dtype: float64

In [136]:
kp_g6_m = kp_g6[::2]
kp_g6_m.sum()

26409.0

# Primary Students by Sex and County

In [137]:
kp_county_sex = pd.concat([kcensus.iloc[:,[2]],kcensus.iloc[:,243:387]], axis = 1).groupby('County').sum()

kp_county_sex .head()

,How many students below Age 6 in Grade 1 are MALES?,How many students below Age 6 in Grade 2 are MALES?,How many students below Age 6 in Grade 3 are MALES?,How many students below Age 6 in Grade 4 are MALES?,How many students below Age 6 in Grade 5 are MALES?,How many students below Age 6 in Grade 6 are MALES?,How many students below Age 6 in Grade 1 are FEMALES?,How many students below Age 6 in Grade 2 are FEMALES?,How many students below Age 6 in Grade 3 are FEMALES?,How many students below Age 6 in Grade 4 are FEMALES?,How many students below Age 6 in Grade 5 are FEMALES?,How many students below Age 6 in Grade 6 are FEMALES?,How many students Age 6 years old in Grade 1 are MALES?,How many students Age 6 years old in Grade 2 are MALES?,How many students Age 6 years old in Grade 3 are MALES?,How many students Age 6 years old in Grade 4 are MALES?,How many students Age 6 years old in Grade 5 are MALES?,How many students Age 6 years old in Grade 6 are MALES?,How many students Age 6 years old in Grade 1 are FEMALES?,How many students Age 6 years old in Grade 2 are FEMALES?,How many students Age 6 years old in Grade 3 are FEMALES?,How many students Age 6 years old in Grade 4 are FEMALES?,How many students Age 6 years old in Grade 5 are FEMALES?,How many students Age 6 years old in Grade 6 are FEMALES?,How many students Age 7 years old in Grade 1 are MALES?,How many students Age 7 years old in Grade 2 are MALES?,How many students Age 7 years old in Grade 3 are MALES?,How many students Age 7 years old in Grade 4 are MALES?,How many students Age 7 years old in Grade 5 are MALES?,How many students Age 7 years old in Grade 6 are MALES?,How many students Age 7 years old in Grade 1 are FEMALES?,How many students Age 7 years old in Grade 2 are FEMALES?,How many students Age 7 years old in Grade 3 are FEMALES?,How many students Age 7 years old in Grade 4 are FEMALES?,How many students Age 7 years old in Grade 5 are FEMALES?,How many students Age 7 years old in Grade 6 are FEMALES?,How many students Age 8 years old in Grade 1 are MALES?,How many students Age 8 years old in Grade 2 are MALES?,How many students Age 8 years old in Grade 3 are MALES?,How many students Age 8 years old in Grade 4 are MALES?,How many students Age 8 years old in Grade 5 are MALES?,How many students Age 8 years old in Grade 6 are MALES?,How many students Age 8 years old in Grade 1 are FEMALES?,How many students Age 8 years old in Grade 2 are FEMALES?,How many students Age 8 years old in Grade 3 are FEMALES?,How many students Age 8 years old in Grade 4 are FEMALES?,How many students Age 8 years old in Grade 5 are FEMALES?,How many students Age 8 years old in Grade 6 are FEMALES?,How many students Age 9 years old in Grade 1 are MALES?,How many students Age 9 years old in Grade 2 are MALES?,How many students Age 9 years old in Grade 3 are MALES?,How many students Age 9 years old in Grade 4 are MALES?,How many students Age 9 years old in Grade 5 are MALES?,How many students Age 9 years old in Grade 6 are MALES?,How many students Age 9 years old in Grade 1 are FEMALES?,How many students Age 9 years old in Grade 2 are FEMALES?,How many students Age 9 years old in Grade 3 are FEMALES?,How many students Age 9 years old in Grade 4 are FEMALES?,How many students Age 9 years old in Grade 5 are FEMALES?,How many students Age 9 years old in Grade 6 are FEMALES?,How many students Age 10 years old in Grade 1 are MALES?,How many students Age 10 years old in Grade 2 are MALES?,How many students Age 10 years old in Grade 3 are MALES?,How many students Age 10 years old in Grade 4 are MALES?,How many students Age 10 years old in Grade 5 are MALES?,How many students Age 10 years old in Grade 6 are MALES?,How many students Age 10 years old in Grade 1 are FEMALES?,How many students Age 10 years old in Grade 2 are FEMALES?,How many students Age 10 years old in Grade 3 are FEMALES?,How many students Age 10 years old in Grade 4 are FEMALES?,How many students Age 10 years old in Grade 5 are FEMALES?,How many students Age 10 years old in Grade 6 are FEMALES?,How many students Age 11 years old in Grade 1 are MALES?,How many students Age 11 years old in Grade 2 are MALES?,How many students Age 11 years old in Grade 3 are MALES?,How many students Age 11 years old in Grade 4 are MALES?,How many students Age 11 years old in Grade 5 are MALES?,How many students Age 11 years old in Grade 6 are MALES?,How many students Age 11 years old in Grade 1 are FEMALES?,How many students Age 11 years old in Grade 2 are FEMALES?,How many students Age 11 years old in Grade 3 are FEMALES?,How many students Age 11 years old in Grade 4 are FEMALES?,How many students Age 11 years old in Grade 5 are FEMALES?,How many students Age 11 years old in Grade 6 are FEMALES?,How many students Age 12 years old in Grade 1 are MALES?,How many students Age 12 years old in Grade 2 are MALES?,How many students Age 12 years old in Grade 3 are MALES?,How many students Age 12 years old in Grade 4 are MALES?,How many students Age 12 years old in Grade 5 are MALES?,How many students Age 12 years old in Grade 6 are MALES?,How many students Age 12 years old in Grade 1 are FEMALES?,How many students Age 12 years old in Grade 2 are FEMALES?,How many students Age 12 years old in Grade 3 are FEMALES?,How many students 12 years old in Grade 4 are FEMALES?,How many students Age 12 years old in Grade 5 are FEMALES?,How many students Age 12 years old in Grade 6 are FEMALES?,How many students Age 13 years old in Grade 1 are MALES?,How many students Age 13 years old in Grade 2 are MALES?,How many students Age 13 years old in Grade 3 are MALES?,How many students Age 13 years old in Grade 4 are MALES?,How many students Age 13 years old in Grade 5 are MALES?,How many students Age 13 years old in Grade 6 are MALES?,How many students Age 13 years old in Grade 1 are FEMALES?,How many students Age 13 years old in Grade 2 are FEMALES?,How many students Age 13 years old in Grade 3 are FEMALES?,How many students Age 13 years old in Grade 4 are FEMALES?,How many students Age 13 years old in Grade 5 are FEMALES?,How many students Age 13 years old in Grade 6 are FEMALES?,How many students Age 14 years old in Grade 1 are MALES?,How many students Age 14 years old in Grade 2 are MALES?,How many students Age 14 years old in Grade 3 are MALES?,How many students Age 14 years old in Grade 4 are MALES?,How many students Age 14 years old in Grade 5 are MALES?,How many students Age 14 years old in Grade 6 are MALES?,How many students Age 14 years old in Grade 1 are FEMALES?,How many students Age 14 years old in Grade 2 are FEMALES?,How many students Age 14 years old in Grade 3 are FEMALES?,How many students Age 14 years old in Grade 4 are FEMALES?,How many students Age 14 years old in Grade 5 are FEMALES?,How many students Age 14 years old in Grade 6 are FEMALES?,How many students Age 15 years old in Grade 1 are MALES?,How many students Age 15 years old in Grade 2 are MALES?,How many students Age 15 years old in Grade 3 are MALES?,How many students Age 15 years old in Grade 4 are MALES?,How many students Age 15 years old in Grade 5 are MALES?,How many students Age 15 years old in Grade 6 are MALES?,How many students Age 15 years old in Grade 1 are FEMALES?,How many students Age 15 years old in Grade 2 are FEMALES?,How many students Age 15 years old in Grade 3 are FEMALES?,How many students Age 15 years old in Grade 4 are FEMALES?,How many students age 15 Years old in Grade 5 are FEMALES?,How many students age 15 Years old in Grade 6 are FEMALES?,How many students above age 15 Years old in Grade 1 are MALES?,How many students above age 15 Years old in Grade 2 are MALES?,How many students above age 15 Years old in Grade 3 are MALES?,How many students above age 15 Years old in Grade 4 are MALES?,How many students above age 15 Years old in Grade 5 are MALES?,How many students above age 15 Years old in Grade 6 are MALES?,How many students above Age 15 in Grade 1 are FEMALES?,How many students above Age 15 in Grade 2 are FEMALES?,How many students above Age 15 in Grade 3 are FEMALES?,How many students above Age 15 in Grade 4 are FEMALES?,How many students above Age 15 in Grade 5 are FEMALES?,How many students above Age 15 in Grade 6 are FEMALES?
County,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Bomi,38.0,18.0,7.0,7.0,4.0,4.0,53.0,13.0,11.0,4.0,7.0,5.0,53.0,13.0,5.0,2.0,0.0,0.0,41.0,15.0,1.0,1.0,0.0,0.0,73.0,43.0,18.0,11.0,5.0,2.0,71.0,50.0,20.0,6.0,2.0,3.0,75.0,65.0,60.0,25.0,3.0,11.0,82.0,61.0,41.0,18.0,10.0,4.0,116.0,101.0,57.0,27.0,2.0,3.0,86.0,69.0,70.0,22.0,7.0,3.0,117.0,104.0,87.0,30.0,11.0,6.0,112.0,98.0,70.0,42.0,10.0,7.0,60.0,87.0,65.0,59.0,27.0,4.0,94.0,68.0,53.0,68.0,23.0,12.0,51.0,85.0,86.0,91.0,81.0,27.0,49.0,80.0,93.0,74.0,69.0,19.0,49.0,61.0,62.0,69.0,109.0,41.0,31.0,26.0,76.0,74.0,79.0,31.0,22.0,23.0,47.0,60.0,71.0,53.0,0.0,22.0,38.0,66.0,80.0,53.0,18.0,15.0,30.0,47.0,60.0,61.0,11.0,9.0,28.0,37.0,52.0,45.0,9.0,4.0,9.0,25.0,42.0,70.0,11.0,5.0,3.0,20.0,41.0,59.0
Bong,73.0,35.0,100.0,35.0,58.0,22.0,77.0,47.0,35.0,30.0,14.0,12.0,209.0,84.0,50.0,36.0,30.0,22.0,198.0,84.0,42.0,36.0,16.0,20.0,351.0,234.0,124.0,61.0,54.0,23.0,268.0,190.0,88.0,55.0,41.0,32.0,396.0,273.0,158.0,101.0,54.0,40.0,378.0,228.0,143.0,89.0,49.0,25.0,407.0,295.0,202.0,123.0,65.0,53.0,358.0,298.0,178.0,120.0,68.0,27.0,432.0,406.0,284.0,157.0,108.0,62.0,371.0,305.0,262.0,146.0,128.0,53.0,386.0,403.0,284.0,212.0,138.0,109.0,294.0,313.0,261.0,177.0,116.0,60.0,319.0,343.0,377.0,296.0,186.0,130.0,288.0,323.0,350.0,250.0,130.0,118.0,254.0,285.0,345.0,359.0,224.0,148.0,165.0,259.0,305.0,325.0,232.0,138.0,194.0,249.0,298.0,357.0,365.0,270.0,44.0,218.0,264.0,306.0,351.0,301.0,119.0,184.0,218.0,289.0,367.0,366.0,105.0,124.0,166.0,206.0,269.0,357.0,131.0,156.0,230.0,337.0,431.0,515.0,102.0,144.0,170.0,253.0,349.0,477.0
Gbarpolu,15.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,10.0,1.0,0.0,49.0,14.0,5.0,5.0,5.0,4.0,27.0,8.0,6.0,4.0,3.0,3.0,144.0,37.0,35.0,9.0,3.0,2.0,84.0,27.0,5.0,2.0,0.0,0.0,159.0,60.0,38.0,30.0,3.0,7.0,109.0,70.0,61.0,18.0,1.0,1.0,146.0,113.0,71.0,37.0,24.0,10.0,116.0,80.0,47.0,32.0,17.0,5.0,181.0,126.0,98.0,61.0,20.0,10.0,159.0,93.0,65.0,33.0,19.0,9.0,125.0,135.0,105.0,61.0,30.0,11.0,129.0,102.0,65.0,35.0,20.0,6.0,139.0,161.0,132.0,74.0,41.0,25.0,114.0,117.0,94.0,65.0,32.0,11.0,90.0,118.0,134.0,83.0,53.0,53.0,68.0,105.0,109.0,86.0,36.0,29.0,50.0,65.0,89.0,80.0,80.0,53.0,1.0,63.0,77.0,63.0,45.0,37.0,34.0,46.0,71.0,88.0,81.0,69.0,45.0,38.0,63.0,61.0,55.0,59.0,83.0,85.0,150.0,130.0,148.0,125.0,66.0,64.0,116.0,109.0,107.0,142.0
Grand Bassa,5.0,1.0,0.0,8.0,8.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,65.0,23.0,11.0,8.0,14.0,12.0,64.0,48.0,6.0,4.0,4.0,6.0,197.0,61.0,38.0,10.0,9.0,8.0,179.0,76.0,28.0,6.0,6.0,9.0,236.0,151.0,59.0,12.0,10.0,6.0,187.0,144.0,63.0,11.0,6.0,6.0,247.0,173.0,144.0,38.0,18.0,10.0,179.0,161.0,103.0,24.0,9.0,10.0,280.0,235.0,179.0,117.0,42.0,25.0,234.0,156.0,136.0,98.0,32.0,10.0,214.0,182.0,154.0,142.0,94.0,41.0,162.0,167.0,113.0,111.0,88.0,30.0,171.0,201.0,186.0,145.0,115.0,96.0,161.0,208.0,149.0,109.0,91.0,70.0,135.0,159.0,210.0,158.0,119.0,104.0,105.0,170.0,178.0,134.0,106.0,67.0,135.0,136.0,172.0,170.0,143.0,112.0,2.0,128.0,139.0,137.0,134.0,112.0,65.0,91.0,127.0,166.0,179.0,131.0,40.0,77.0,121.0,105.0,122.0,119.0,49.0,59.0,126.0,175.0,208.0,316.0,53.0,53.0,102.0,132.0,175.0,235.0
Grand Cape Mount,41.0,23.0,27.0,7.0,4.0,1.0,112.0,28.0,18.0,6.0,2.0,1.0,185.0,74.0,40.0,10.0,5.0,2.0,139.0,70.0,36.0,9.0,10.0,4.0,259.0,143.0,89.0,47.0,23.0,17.0,202.0,137.0,74.0,43.0,8.0,6.0,296.0,174.0,125.0,57.0,28.0,25.0,259.0,161.0,126.0,52.0,28.0,22.0,283.0,185.0,135.0,107.0,48.0,26.0,224.0,220.0,156.0,75.0,34.0,20.0,248.0,209.0,224.0,157.0,85.0,31.0,269.0,197.0,160.0,98.0,66.0,31.0,177.0,197.0,157.0,142.0,106.0,56.0,145.0,157.0,163.0,132.0,61.0,48.0,158.0,169.0,189.0,173.0,139.0,83.0,144.0,167.0,168.0,132.0,92.0,79.0,61.0,101.0,132.0,164.0,175.0,99.0,90.0,142.0,143.0,164.0,159.0,105.0,47.0,71.0,100.0,158.0,151.0,123.0,11.0,81.0,125.0,137.0,156.0,120.0,13.0,44.0,71.0,89.0,135.0,138.0,24.0,46.0,163.0,164.0,200.0,121.0,16.0,28.0,39.0,73.0,134.0,168.0,11.0,15.0,51.0,83.0,110.0,146.0

In [138]:
kp_county_male= kp_county_sex.iloc[:,0:6].append([ 
kp_county_sex.iloc[:,12:18],
kp_county_sex.iloc[:,24:30],
kp_county_sex.iloc[:,36:42],
kp_county_sex.iloc[:,48:54],
kp_county_sex.iloc[:,60:66],
kp_county_sex.iloc[:,72:78],
kp_county_sex.iloc[:,84:90],
kp_county_sex.iloc[:,96:102],
kp_county_sex.iloc[:,108:114],
kp_county_sex.iloc[:,120:126],
kp_county_sex.iloc[:,132:138]]).groupby('County').sum()
kp_county_male.sum(1)

County
Bomi                 2983.0
Bong                15091.0
Gbarpolu             4618.0
Grand Bassa          7646.0
Grand Cape Mount     7516.0
Grand Gedeh          9191.0
Grand Kru            5311.0
Lofa                 9226.0
Margibi             10637.0
Maryland             1219.0
Montserrado 1       43445.0
Montserrado 2       35969.0
Nimba               35727.0
River Gee            4681.0
Rivercess            2291.0
Sinoe                7583.0
dtype: float64

In [139]:
kp_county_sex.sum(1)#.sum()

County
Bomi                 5697.0
Bong                27912.0
Gbarpolu             8168.0
Grand Bassa         13863.0
Grand Cape Mount    14674.0
Grand Gedeh         17872.0
Grand Kru            9644.0
Lofa                16838.0
Margibi             21292.0
Maryland             2189.0
Montserrado 1       90769.0
Montserrado 2       73551.0
Nimba               63788.0
River Gee           11428.0
Rivercess            4003.0
Sinoe               14120.0
dtype: float64

# Junior High by Grade  and Sex